// main-page + form-pages
@font-face {font-family: mainheader;  src: url(../fonts/RobotoBold.ttf);}
@font-face {font-family: mainsub;     src: url(../fonts/RobotoMedium.ttf);}
@font-face {font-family: maintext;    src: url(../fonts/RobotoLight.ttf);}

// info-pages
@font-face {font-family: infoheader; src: url(../fonts/RobotoCondensedBold.ttf);}
@font-face {font-family: infosub;    src: url(../fonts/RobotoCondensedRegular.ttf);}
@font-face {font-family: infotext;   src: url(../fonts/RobotoCondensedLight.ttf);}
@font-face {font-family: infoital;   src: url(../fonts/RobotoCondensedLightItalic.ttf);}