@import "fonts";
@import "reset";
@import "style_general";

// @import "index/index_768+";
// @media screen and (min-width: 768px) {}
body {
  position         : relative;
}

.main {
  border-top       : 1px solid transparent;
  margin-top       : 67px;
  min-height       : calc(100vh - 67px);
  padding-bottom   : calc( 441px + 15px );
}

.section {
  min-height       : calc( 100vh - 67px );
  &__inner {
    max-width      : 1000px;
    margin         : 0 auto;
    font           : 16px infotext;
    text-align     : justify;
  }
  h2 {
    font           : 26px infoheader;
    text-transform : uppercase;
    padding-bottom : 30px;
  }
  p {
    padding-bottom : 10px;
  }
}

.content {
  max-width        : 600px;
  margin           : 0 auto;
  &__link {
    display        : flex;
    padding        : 10px 0;
    &:nth-of-type(odd) {
      background-color : rgba(94, 143, 166, 0.1);
    }
    &:nth-of-type(even) {
      background-color : rgba(94, 143, 166, 0.3);
    }
  }
  &__img {
    font-size      : 2em;
    margin         : 0 10px;
  }
  &__text {
    font-size      : 1.4em;
  }
}

.contacts {
  &__text {}
  &__phone {
    margin-bottom: 10px;
    span {
      margin-right: 20px;
      font-weight: 900;
    }
    a {
      font-family: maintext;
    }
  }
}

//modules
// @import "../modules/header/header.scss";