@font-face {
  font-family: gost;
  src: url(../fonts/GOST_Type_AU.ttf);
}

.p1 {
  font: 30px gost;
  font-weight: 100;
}

.p2 {
  font: 30px gost;
  font-weight: 900;
}

body {
  background-color: grey;lightskyblue;
}