// @font-face {font-family: gostAU; src: url('../fonts/GOST_Type_AU.ttf');}

//gost
@font-face { font-family : gost; src : url('../fonts/gost_type_au.ttf'); }
@font-face { font-family : bold; src : url('../fonts/gost_bold.ttf'); }
@font-face { font-family : semibold_regular; src : url('../fonts/gost_semibold_regular.ttf'); }
@font-face { font-family : regular_italic; src : url('../fonts/gost_regular_italic.ttf'); }
@font-face { font-family : monotype; src : url('../fonts/gost_monotype.ttf'); }
@font-face { font-family : monotype_italic; src : url('../fonts/gost_monotype_italic.ttf'); }
@font-face { font-family : regular; src : url('../fonts/gost_regular.ttf'); }
@font-face { font-family : semibold_small; src : url('../fonts/gost_semibold_small.ttf'); }
@font-face { font-family : condensed_small; src : url('../fonts/gost_condensed_small.ttf'); }
@font-face { font-family : condensed_italic; src : url('../fonts/gost_condensed_italic.ttf'); }

//arial
@font-face { font-family : ab; src : url('../fonts/ArialBold.ttf'); }
@font-face { font-family : ar; src : url('../fonts/ArialRegular.ttf'); }
@font-face { font-family : ai; src : url('../fonts/ArialItalic.ttf'); }

//consola
@font-face { font-family : cb; src : url('../fonts/consolab.ttf'); }
@font-face { font-family : cr; src : url('../fonts/consola.ttf'); }
@font-face { font-family : ci; src : url('../fonts/consolai.ttf'); }

//roboto
@font-face { font-family : rb; src : url('../fonts/RobotoBold.ttf'); }
@font-face { font-family : rr; src : url('../fonts/RobotoRegular.ttf'); }
@font-face { font-family : ri; src : url('../fonts/RobotoItalic.ttf'); }

//bulgariaModernaPro
@font-face { font-family : bmp;  src : url('../fonts/Bulgaria_Moderna_Pro.otf'); }

//segoe
@font-face { font-family : segb; src : url('../fonts/SegoeUIBold.ttf'); }
@font-face { font-family : segr; src : url('../fonts/SegoeUIRegular.ttf'); }
@font-face { font-family : segi; src : url('../fonts/SegoeUIItalic.ttf'); }

//timesNewRoman
@font-face { font-family : tnrb; src : url('../fonts/TimesNewRomanBold.ttf'); }
@font-face { font-family : tnrr; src : url('../fonts/TimesNewRomanRegular.ttf'); }
@font-face { font-family : tnri; src : url('../fonts/TimesNewRomanItalic.ttf'); }