////////////////////////////////////////////////////////////////////////////////
/* ↓↓↓ top-book-panel module ↓↓↓ */
.top-book-panel {
  background-color: black;
  padding: 6px 10px 0;
  height: 66px;
  overflow: hidden;
  &__inner {
    max-width      : 1200px;
    margin         : 0 auto;
  }
  &__info {
    display: flex;
    max-width: 100%;
    background-color: black;
    color: lightgrey;
  }
  &__tags {
    flex-grow: 1;
    flex-shrink: 1000;
    max-width: 100%;
    overflow: hidden;
  }
  &__author {
    overflow: hidden;
    font-family: bold;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__book-name {
    overflow: hidden;
    font-family: gost;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__btn {
    height: 35px;
    width: 35px;
    // border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 0;
    margin: 0;
    svg {
      height: 25px;
      width: 25px;
      fill: white;
      margin: auto;
      &:last-of-type {
        display: none;
      }
    }
    &_active {
      svg {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: block;
        }
      }
    }
  }
  &__pages {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font: 14px monotype;
    background-color: black;
    color: lightgrey;
  }
  &__read,
  &__not-read,
  &__symbol {
    font: 14px semibold_small;
    padding: 0 3px;
  }

  &__read-line-wrapper {
    height: 2px;
    width: 100%;
    display: flex;
    background-color: white;
    border-bottom: 1px solid black;
  }
  &__read-line {
    width: 0px;
    background-color: #4df552;//#2d5773;
    transition: width .3s;
  }
}
/* ↑↑↑ top-book-panel module ↑↑↑ */
////////////////////////////////////////////////////////////////////////////////