html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
}

@font-face {
  font-family: gost;
  src: url("../fonts/gost_type_au.ttf");
}

@font-face {
  font-family: bold;
  src: url("../fonts/gost_bold.ttf");
}

@font-face {
  font-family: semibold_regular;
  src: url("../fonts/gost_semibold_regular.ttf");
}

@font-face {
  font-family: regular_italic;
  src: url("../fonts/gost_regular_italic.ttf");
}

@font-face {
  font-family: monotype;
  src: url("../fonts/gost_monotype.ttf");
}

@font-face {
  font-family: monotype_italic;
  src: url("../fonts/gost_monotype_italic.ttf");
}

@font-face {
  font-family: regular;
  src: url("../fonts/gost_regular.ttf");
}

@font-face {
  font-family: semibold_small;
  src: url("../fonts/gost_semibold_small.ttf");
}

@font-face {
  font-family: condensed_small;
  src: url("../fonts/gost_condensed_small.ttf");
}

@font-face {
  font-family: condensed_italic;
  src: url("../fonts/gost_condensed_italic.ttf");
}

@font-face {
  font-family: ab;
  src: url("../fonts/ArialBold.ttf");
}

@font-face {
  font-family: ar;
  src: url("../fonts/ArialRegular.ttf");
}

@font-face {
  font-family: ai;
  src: url("../fonts/ArialItalic.ttf");
}

@font-face {
  font-family: cb;
  src: url("../fonts/consolab.ttf");
}

@font-face {
  font-family: cr;
  src: url("../fonts/consola.ttf");
}

@font-face {
  font-family: ci;
  src: url("../fonts/consolai.ttf");
}

@font-face {
  font-family: rb;
  src: url("../fonts/RobotoBold.ttf");
}

@font-face {
  font-family: rr;
  src: url("../fonts/RobotoRegular.ttf");
}

@font-face {
  font-family: ri;
  src: url("../fonts/RobotoItalic.ttf");
}

@font-face {
  font-family: bmp;
  src: url("../fonts/Bulgaria_Moderna_Pro.otf");
}

@font-face {
  font-family: segb;
  src: url("../fonts/SegoeUIBold.ttf");
}

@font-face {
  font-family: segr;
  src: url("../fonts/SegoeUIRegular.ttf");
}

@font-face {
  font-family: segi;
  src: url("../fonts/SegoeUIItalic.ttf");
}

@font-face {
  font-family: tnrb;
  src: url("../fonts/TimesNewRomanBold.ttf");
}

@font-face {
  font-family: tnrr;
  src: url("../fonts/TimesNewRomanRegular.ttf");
}

@font-face {
  font-family: tnri;
  src: url("../fonts/TimesNewRomanItalic.ttf");
}

html {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: gost;
  font-size: 20px;
  text-align: justify;
}

.main {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-wrapper {
  position: relative;
}

h1 {
  font-family: bold;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  letter-spacing: 1px;
}

.books-panel {
  height: 40px;
  width: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.books-panel__search-field {
  height: 35px;
  width: 0px;
  max-width: 300px;
  display: block;
  font: 20px gost;
  padding: 0;
  border: 1px solid transparent;
}

.books-panel__btn {
  width: 35px;
  height: 35px;
  margin-left: 3px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  background-color: lightgrey;
  cursor: pointer;
}

.books-panel__btn svg {
  margin: auto;
  height: 30px;
  width: 30px;
  padding: 0;
  fill: grey;
}

.books-panel__btn_active {
  border: 1px solid grey;
}

.books-panel__btn_active svg {
  fill: black;
}

.books-sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.books-sort span {
  margin-right: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select {
  width: 111px;
  height: 26px;
  border: 1px solid lightgrey;
  font: 1em gost;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 1;
}

.select__field-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.select__field {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 6px;
}

.select__btn {
  height: 24px;
  width: 24px;
  background-color: lightgrey;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.select__btn:after {
  content: '';
  display: block;
  margin: auto;
  border-top: 7px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 0px solid transparent;
}

.select__list {
  border: 1px solid lightgrey;
  border-top: 0px solid transparent;
  background-color: #fff;
  width: calc(100% + 2px);
  -webkit-transform: translate(-1px);
      -ms-transform: translate(-1px);
          transform: translate(-1px);
  height: 0px;
  overflow: hidden;
  -webkit-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}

.select__list-item {
  padding-left: 6px;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  cursor: pointer;
}

.select__list-item:hover {
  background-color: lightgrey;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#booksAmount {
  position: absolute;
  right: 0;
  padding: 0;
  font: 16px bold;
}

.books-list {
  border: 1px solid lightgrey;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  padding: 6px;
}

.book {
  border: 1px solid lightgrey;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  position: relative;
}

.book:last-of-type {
  margin-bottom: 6px;
}

.book__img-wrapper {
  height: 70px;
  width: 70px;
  border: 1px solid maroon;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin: 5px 15px 5px 5px;
}

.book__img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.book__name-wrapper {
  -webkit-flex-shrink: 1000;
      -ms-flex-negative: 1000;
          flex-shrink: 1000;
  padding: 5px;
}

.book__author {
  text-align: left;
  font-weight: 900;
}

.book__name {
  text-align: left;
  border-bottom: 1px solid black;
  padding-bottom: 6px;
  margin-bottom: 2px;
}

.book__genre {
  font: 16px semibold_small;
}

.book__id {
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 12px;
  font-family: monotype;
}

.markered-text {
  background-color: yellow;
}

.books-parser-wrapper {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: none;
}

@media (min-width: 768px) and (min-height: 786px) {
  .books-parser-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.books-parser-wrapper .parserforFrank {
  border: 1px solid lightgrey;
  padding: 4px 8px;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color .3s, background-color .3s;
  -o-transition: border-color .3s, background-color .3s;
  transition: border-color .3s, background-color .3s;
}

.books-parser-wrapper .parserforFrank:hover {
  border-color: lightskyblue;
  background-color: lightcyan;
}
