@charset "UTF-8";
/* ↓↓↓ tabs ↓↓↓ */
.wjs-tab__headers-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.wjs-tab__header {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wjs-tab__header_active {
  cursor: default;
}

.wjs-tab__body {
  display: none;
}

.wjs-tab__body_active {
  display: block;
}

/* ↑↑↑ tabs ↑↑↑ */
/* ↓↓↓ scroll table with fix header ↓↓↓ */
.wjs-scrollTable-wrapper {
  overflow: auto;
}

/* ↑↑↑ scroll table with fix header ↑↑↑ */
