// ↓↓↓ modules: acc-types (start) ↓↓↓

//- style
  include acc-types.css

.offers__container

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star-outline
      span.offers__name STANDART
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 250 - 30 000
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Acquaintance with the platform
      li.offers__list-item
        i.ifont-mdi-action-done
        span Account manager
      li.offers__list-item
        i.ifont-mdi-action-done
        span Video tutorials (full access)
      li.offers__list-item
        i.ifont-mdi-action-done
        span Profitability min 50%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Margin Requirements 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Deposit bonus 20%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Professional analytics
      li.offers__list-item
        i.ifont-mdi-action-done
        span Social trade
      li.offers__list-item
        i.ifont-mdi-action-done
        span Individual training plan
      li.offers__list-item
        i.ifont-mdi-action-done
        span Accelerated withdrawal
      li.offers__list-item
        i.ifont-mdi-action-done
        span 24/7 support
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_en.html") open an account

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star
      span.offers__name BUSINESS
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 30 000 - 50 000
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Acquaintance with the platform
      li.offers__list-item
        i.ifont-mdi-action-done
        span Personal Account Manager
      li.offers__list-item
        i.ifont-mdi-action-done
        span PLUS
      li.offers__list-item
        i.ifont-mdi-action-done
        span Profitability 60%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Margin Requirements 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Deposit bonus 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Professional analytics
      li.offers__list-item
        i.ifont-mdi-action-done
        span Participation in seminars and webinars
      li.offers__list-item
        i.ifont-mdi-action-done
        span Individual training plan
      li.offers__list-item
        i.ifont-mdi-action-done
        span Accelerated withdrawal
      li.offers__list-item
        i.ifont-mdi-action-done
        span 24/7 support
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_en.html") open an account

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star
      i.offers__img.ifont-mdi-toggle-star
      span.offers__name PREMIUM
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 50 000+
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Acquaintance with the platform
      li.offers__list-item
        i.ifont-mdi-action-done
        span Personal Account Manager
      li.offers__list-item
        i.ifont-mdi-action-done
        span PLUS
      li.offers__list-item
        i.ifont-mdi-action-done
        span Profitability 72%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Margin Requirements 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Partner Bank Refinancing
      li.offers__list-item
        i.ifont-mdi-action-done
        span Professional analytics
      li.offers__list-item
        i.ifont-mdi-action-done
        span Participation in seminars and webinars
      li.offers__list-item
        i.ifont-mdi-action-done
        span Participation in company events
      li.offers__list-item
        i.ifont-mdi-action-done
        span Express transfers
      li.offers__list-item
        i.ifont-mdi-action-done
        span Referral Finance Return Programs
      li.offers__list-item
        i.ifont-mdi-action-done
        span Accelerated withdrawal
      li.offers__list-item
        i.ifont-mdi-action-done
        span 24/7 support
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_en.html") open an account

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star
      i.offers__img.ifont-mdi-toggle-star
      i.offers__img.ifont-mdi-toggle-star
      span.offers__name VIP
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 100 000+
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Acquaintance with the platform
      li.offers__list-item
        i.ifont-mdi-action-done
        span Personal Account Manager
      li.offers__list-item
        i.ifont-mdi-action-done
        span PLUS
      li.offers__list-item
        i.ifont-mdi-action-done
        span Profitability 82%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Margin Requirements 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Partner Bank Refinancing
      li.offers__list-item
        i.ifont-mdi-action-done
        span Professional analytics
      li.offers__list-item
        i.ifont-mdi-action-done
        span Participation in seminars and webinars
      li.offers__list-item
        i.ifont-mdi-action-done
        span Participation in company events
      li.offers__list-item
        i.ifont-mdi-action-done
        span Express transfers
      li.offers__list-item
        i.ifont-mdi-action-done
        span Referral Finance Return Programs
      li.offers__list-item
        i.ifont-mdi-action-done
        span Priority Withdrawal
      li.offers__list-item
        i.ifont-mdi-action-done
        span No commission for withdrawing funds
      li.offers__list-item
        i.ifont-mdi-action-done
        span 24/7 support
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_en.html") open an account

  //- .offers__item
  //-   h2.offers__header
  //-     i.offers__img.ifont-mdi-toggle-star-half
  //-     span.offers__name Robot
  //-   .offers__price
  //-     i.ifont-mdi-editor-attach-money
  //-     span 5 000+
  //-   ul.offers__list
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Acquaintance with the platform
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Account manager
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Additional support for Robot and Algo Trading
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Creating a trading strategy
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Trading according to the algorithm
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Accelerated withdrawal
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span 24/7 support
  //-   button.offers__btn(type='button'): a.offers__link(href="forms_registration_en.html") open an account

//- script
  include ../minjs/navigation/navigation.js

// ↑↑↑ modules: acc-types (end) ↑↑↑