// ↓↓↓ modules: acc-types (start) ↓↓↓

//- style
  include acc-types.css

.offers__container

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star-outline
      span.offers__name STANDART
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 250 - 30 000
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Знакомство с платформой
      li.offers__list-item
        i.ifont-mdi-action-done
        span Аккаунт менеджер
      li.offers__list-item
        i.ifont-mdi-action-done
        span Видео уроки (полный доступ)
      li.offers__list-item
        i.ifont-mdi-action-done
        span Доходность min 50%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Маржинальные требования 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Бонус на депозит 20%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Профессиональная аналитика
      li.offers__list-item
        i.ifont-mdi-action-done
        span Социальная торговля
      li.offers__list-item
        i.ifont-mdi-action-done
        span Индивидуальный план обучения
      li.offers__list-item
        i.ifont-mdi-action-done
        span Ускоренный вывод
      li.offers__list-item
        i.ifont-mdi-action-done
        span Круглосуточная поддержка
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_ru.html") открыть счет

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star
      span.offers__name BUSINESS
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 30 000 - 50 000
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Знакомство с платформой
      li.offers__list-item
        i.ifont-mdi-action-done
        span Персональный аккаунт менеджер
      li.offers__list-item
        i.ifont-mdi-action-done
        span PLUS
      li.offers__list-item
        i.ifont-mdi-action-done
        span Доходность 60%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Маржинальные требования 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Бонус на депозит 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Профессиональная аналитика
      li.offers__list-item
        i.ifont-mdi-action-done
        span Участие в семинарах и вебинарах
      li.offers__list-item
        i.ifont-mdi-action-done
        span Индивидуальный план обучения
      li.offers__list-item
        i.ifont-mdi-action-done
        span Ускоренный вывод
      li.offers__list-item
        i.ifont-mdi-action-done
        span Круглосуточная поддержка
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_ru.html") открыть счет

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star
      i.offers__img.ifont-mdi-toggle-star
      span.offers__name PREMIUM
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 50 000+
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Знакомство с платформой
      li.offers__list-item
        i.ifont-mdi-action-done
        span Персональный аккаунт менеджер
      li.offers__list-item
        i.ifont-mdi-action-done
        span PLUS
      li.offers__list-item
        i.ifont-mdi-action-done
        span Доходность 72%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Маржинальные требования 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Рефинансирование банком-партнером
      li.offers__list-item
        i.ifont-mdi-action-done
        span Профессиональная аналитика
      li.offers__list-item
        i.ifont-mdi-action-done
        span Участие в семинарах и вебинарах
      li.offers__list-item
        i.ifont-mdi-action-done
        span Участие в мероприятиях компании
      li.offers__list-item
        i.ifont-mdi-action-done
        span Экспресс переводы
      li.offers__list-item
        i.ifont-mdi-action-done
        span Реферальные программы возврата финансов
      li.offers__list-item
        i.ifont-mdi-action-done
        span Ускоренный вывод
      li.offers__list-item
        i.ifont-mdi-action-done
        span Круглосуточная поддержка
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_ru.html") открыть счет

  .offers__item
    h2.offers__header
      i.offers__img.ifont-mdi-toggle-star
      i.offers__img.ifont-mdi-toggle-star
      i.offers__img.ifont-mdi-toggle-star
      span.offers__name VIP
    .offers__price
      i.ifont-mdi-editor-attach-money
      span 100 000+
    ul.offers__list
      li.offers__list-item
        i.ifont-mdi-action-done
        span Знакомство с платформой
      li.offers__list-item
        i.ifont-mdi-action-done
        span Персональный аккаунт менеджер
      li.offers__list-item
        i.ifont-mdi-action-done
        span PLUS
      li.offers__list-item
        i.ifont-mdi-action-done
        span Доходность 82%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Маржинальные требования 100%
      li.offers__list-item
        i.ifont-mdi-action-done
        span Рефинансирование банком-партнером
      li.offers__list-item
        i.ifont-mdi-action-done
        span Профессиональная аналитика
      li.offers__list-item
        i.ifont-mdi-action-done
        span Участие в семинарах и вебинарах
      li.offers__list-item
        i.ifont-mdi-action-done
        span Участие в мероприятиях компании
      li.offers__list-item
        i.ifont-mdi-action-done
        span Экспресс переводы
      li.offers__list-item
        i.ifont-mdi-action-done
        span Реферальные программы возврата финансов
      li.offers__list-item
        i.ifont-mdi-action-done
        span Приоритетный вывод средств
      li.offers__list-item
        i.ifont-mdi-action-done
        span Отсутствие комиссии за вывод средств
      li.offers__list-item
        i.ifont-mdi-action-done
        span Круглосуточная поддержка
    button.offers__btn(type='button'): a.offers__link(href="forms_registration_ru.html") открыть счет

  //- .offers__item
  //-   h2.offers__header
  //-     i.offers__img.ifont-mdi-toggle-star-half
  //-     span.offers__name Robot
  //-   .offers__price
  //-     i.ifont-mdi-editor-attach-money
  //-     span 5 000+
  //-   ul.offers__list
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Знакомство с платформой
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Аккаунт менеджер
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Дополнительная поддержка Robot и Algo Trading
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Создание торговой стратегии
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Ведение торговли по алгоритму
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Ускоренный вывод
  //-     li.offers__list-item
  //-       i.ifont-mdi-action-done
  //-       span Круглосуточная поддержка
  //-   button.offers__btn(type='button'): a.offers__link(href="forms_registration_ru.html") открыть счет

//- script
  include ../minjs/navigation/navigation.js

// ↑↑↑ modules: acc-types (end) ↑↑↑