#demo-wrapper.simulator.one-touch{
	width:825px; height:455px; background:url(../images/one_touch/bg.png) no-repeat; float:left; 
}


#demo-wrapper.simulator.one-touch #demo-content .d-head ul {
    padding-top: 49px; position:relative; 
}
#demo-wrapper.simulator.one-touch #demo-content .d-head ul li{
	/* font-size: 15px; */ 
}


#demo-wrapper.simulator.one-touch #demo-content .d-head ul li.assets {
    width: 235px; position:absolute; top: 1px;
}


#demo-wrapper.simulator.one-touch #demo-content .d-head ul li.asset-text{
    margin-left: 10px;
    width: 162px;	
}

#demo-wrapper.simulator.one-touch #demo-content .d-head ul li.expiry {
    margin-left: 45px;
    width: 238px; 
}

#demo-wrapper.simulator.one-touch #demo-content .d-head ul li.amount {
    margin-left: 40px;
    width: 230px;
}

#demo-wrapper.simulator.one-touch #demo-content {
    margin: 0px 34px 2px 24px;
    position: relative;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.chart {
    top: 95px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.chart .chart-wrapper #chart {
    width: 440px;
    height: 150px;
    margin-bottom: 10px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.chart,
#demo-wrapper.simulator.one-touch .d-body .d-body-el.chart .inner1,
#demo-wrapper.simulator.one-touch .d-body .d-body-el.chart .inner2 {
    width: 445px;
    height: 225px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.symbol-value {
    top: 36px;
}



#demo-wrapper.simulator.one-touch .d-body .d-body-el.direction ul li.above a {
    background-position: 57px 0px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.direction ul li.below a {
    background-position: 57px -83px;
}
#demo-wrapper.simulator.one-touch .d-body .d-body-el.direction ul li label{
	display:block; padding-top:11px;
}
#demo-wrapper.simulator.one-touch .d-body .d-body-el.direction ul li.price-value {
    background-color: #76cb84; line-height: normal;
}


#demo-wrapper.simulator.one-touch .d-body .d-body-el.direction {
    top: 85px;
}


#demo-wrapper.simulator.one-touch #demo-content .d-head ul li.amount.open select{
	z-index:3; 
}



#demo-wrapper.simulator.one-touch .d-body .d-body-el.info {
    top: 28px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.info table td {
    height: auto;
}
#demo-wrapper.simulator.one-touch .d-body .d-body-el.info .option-expiry{
	height:63px;
}
#demo-wrapper.simulator.one-touch .d-body .d-body-el.info .option-expiry span{
	font-size: 14px;
}
#demo-wrapper.simulator.one-touch .d-body .d-body-el.info .potencial{
	height: 83px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.info table td.potencial small{
	display:block;
}


#demo-wrapper.simulator.one-touch .d-body .d-body-el.symbol-value .flag.GOOGLE{
	background-position: -595px -181px;
    width: 80px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.symbol-value .flag.FACEBOOK{
	background-position: -595px -245px;
    width: 80px;
}
#demo-wrapper.simulator.one-touch .d-body .d-body-el.symbol-value .flag.APPLE{
    background-position: -514px -246px;
    width: 42px;
}
#demo-wrapper.simulator.one-touch .d-body .d-body-el.symbol-value .flag.AMAZON{
    background-position: -396px -247px;
    width: 80px;
}

#demo-wrapper.simulator.one-touch #demo-content .tips .tip.assets {
    background: url(../images/one_touch/tip1.png);
}
#demo-wrapper.simulator.one-touch #demo-content .tips .tip.amount {
    background: url(../images/one_touch/tip3.png);
}
#demo-wrapper.simulator.one-touch #demo-content .tips .tip.direction {
    background: url(../images/one_touch/tip4.png);
}



#demo-wrapper.simulator.one-touch #profit-popup {
    height: 291px;
    top: 108px;
}

#demo-wrapper.simulator.one-touch .d-body .d-body-el.direction ul li a {
    padding-left: 8px;
}


#demo-wrapper.simulator.one-touch #demo-content .tips .tip.assets .hint{
    left: 25px;
    top: 148px;
}

#demo-wrapper.simulator.one-touch #demo-content .tips .tip.amount .hint{
	top: 188px;
    right: 21px;
    left:auto;
}
#demo-wrapper.simulator.one-touch #demo-content .tips .tip.direction .hint{
	left: 112px;
    top: 173px;
}