// ↓↓↓ modules: form-contact (start) ↓↓↓

//- style
  include form-contact.css

form.form-contact#contactForm(name='contact form' action='#' method='post')
  .form-contact__tassel
    i.ifont-mdi-content-markunread
    span contact us
    i.ifont-mdi-hardware-keyboard-arrow-left.form-contact__tassel-arrow
  .form-contact__form-group
    label.form-contact__label(for='name') Ваше имя:
    input.form-contact__input#name(name='name' placeholder='Введите имя' type='text')

  .form-contact__form-group
    label.form-contact__label(for='email') Email:
    input.form-contact__input#contact-email(name='email' placeholder='Ваш Email' type='text')

  .form-contact__form-group
    label.form-contact__label(for='textarea') Введите сообщение:
    textarea.form-contact__textarea#textarea(name='textarea' placeholder='Введите сообщение')

  .form-contact__form-group.form-contact__form-group_errors-list.errors-list
    p.form-contact__form-error.form-error Имя обязательно
    p.form-contact__form-error.form-error Email обязателен
    p.form-contact__form-error.form-error Не правильный email
    p.form-contact__form-error.form-error Введите сообщение

  .form-contact__form-group
    button(type='button').form-contact__btn#submitContact
      i.ifont-mdi-content-markunread
      | Отправить сообщение

//- script
  include ../minjs/form-contact/form-contact.js

// ↑↑↑ modules: form-contact (end) ↑↑↑