.accordion {
  a {
    display            : block;
    text-decoration    : none;
    color              : black;
  }
  .inner {
    display            : none;
    background-color   : #eeeeee;
  }
  .inner.show {
    /*display: block;*/
  }
  .toggle {
    font               : 18px mpb;
    height             : 40px;
    line-height        : 39px;
    border-bottom      : 1px solid #d7d7d7;
  }
  &__item {
    padding-left       : 15px;
    min-height         : 30px;
    padding-top        : 5px;
    font               : 16px mpr;
    transition         : background-color .3s;
    &:hover {
      background-color : #d7d7d7;
    }
    &_active {
      position         : relative;
      background-color : #d7d7d7;
      &::after {
        content        : '';
        position       : absolute;
        top            : 11px;
        left           : 3px;
        border         : {
          left         : 8px solid #6a9a1f;
          top          : 4px solid transparent;
          bottom       : 4px solid transparent;
        }
      }
    }
  }
}