// ↓↓↓ BEM-blocks: aside-nav (start) ↓↓↓

//- style
//-   include aside-nav.css

.aside-nav

  ul.accordion
    li
      a.toggle(href="#") GlobalTradeInvesting
      .inner
        a.accordion__item(href="about_company.html" data-name='about') О компании
        a.accordion__item(href="account_types.html" data-name='accs') Типы аккаунтов
        a.accordion__item(href="contacts.html" data-name='contacts') Контакты
        a.accordion__item(href="verification.html" data-name='verification') Верификация
    li
      a.toggle(href="#") Документация
      .inner
        a.accordion__item(href="terms_and_conditions.html" data-name='terms') Условия и соглашения
        a.accordion__item(href="notification_of_risks.html" data-name='risks') Уведомление о рисках
        a.accordion__item(href="privacy_policy.html" data-name='privacy') Политика конфиденциальности
        a.accordion__item(href="aml_and_kyc_policies.html" data-name='aml') Политика AML и KYC
        a.accordion__item(href="refund_policy.html" data-name='refund') Политика возврата
        a.accordion__item(href="denial_of_responsibility.html" data-name='denial') Политика отказа от ответственности
    li
      a.toggle(href="#") Учетная запись
      .inner
        a.accordion__item(href="registration.html" data-name='registration') Зарегистрироваться
        a.accordion__item(href="password_recovery.html" data-name='recovery') Восстановить пароль
        a.accordion__item(href="contacts.html" data-name='contacts') Обратная связь
    li
      a.toggle(href="#") Наши партнеры
      .inner
        a.accordion__item(href="https://www.tradingview.com" data-name='1') TradingView
        a.accordion__item(href="https://www.investing.com" data-name='1') Investing
        a.accordion__item(href="https://www.cbr.ru" data-name='1') Центробанк РФ

script
  include ../minjs/aside-nav/aside-nav.js

// ↑↑↑ BEM-blocks: aside-nav (end) ↑↑↑