#demo-wrapper.simulator.ladder{
	width:821px; height:540px; background:url(../images/ladder/bg.png) no-repeat; float:left; 
}

#demo-wrapper.simulator.ladder #demo-content {
    margin: 0px 31px 0px 25px;
    position: relative;
    height: 505px;
}

#demo-wrapper.simulator.ladder #demo-content .d-head {
    height: 138px;
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.symbol-value {
    top: 10px;
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.chart {
    top: 25px; left: 23px;
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.chart .chart-wrapper {
    width: 447px;
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.chart,
#demo-wrapper.simulator.ladder .d-body .d-body-el.chart .inner1,
#demo-wrapper.simulator.ladder .d-body .d-body-el.chart .inner2{
	width:447px; height: 291px;
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.chart ul.periods li {
    width: 72.5px;
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.chart .inner2 {
    transform: rotateY( 19deg );
    -moz-transform: rotateY( 19deg );
    -ms-transform: rotateY( 19deg );
    -o-transform: rotateY( 19deg );
    -webkit-transform: rotateY( 19deg );
    z-index: 2;
    position: relative;
    -ms-transform-origin: 50% 40%;
    -ms-transform: perspective(1000px) rotateY(19deg);
}


#demo-wrapper.simulator.ladder .d-body .d-body-el.chart .chart-wrapper #chart {
    height: 260px;
}






#demo-wrapper.simulator.ladder ul.assets.open{
	overflow:hidden; z-index:3; position:relative;
}
#demo-wrapper.simulator.ladder ul.assets.open li{
	z-index:3; 
}
#demo-wrapper.simulator.ladder ul.assets li{
	float:left; margin-right:20px; background-color:#78b9d6; width: 166px; cursor:pointer; 
}
#demo-wrapper.simulator.ladder ul.assets li.active{
	background-color:#172d3b;
}
#demo-wrapper.simulator.ladder ul.assets li.last{
	margin:0px;
}
#demo-wrapper.simulator.ladder ul.assets li i{
	display:block; width:60px; height:48px; float:left; margin-right:10px;
	background: url(../images/binary_options/sprite.png) no-repeat;
}

#demo-wrapper.simulator.ladder ul.assets li i.EUR-USD{
	background-position: -108px -120px;
}
#demo-wrapper.simulator.ladder ul.assets li i.GBP-USD{
	background-position: -196px -120px;
}
#demo-wrapper.simulator.ladder ul.assets li i.USD-JPY{
	background-position: -290px -120px;
}
#demo-wrapper.simulator.ladder ul.assets li i.EUR-GBP{
	background-position: -111px -184px;
}


#demo-wrapper.simulator.ladder #demo-content .d-head > ul {
    padding-top: 21px;
}


#demo-wrapper.simulator.ladder #demo-content .tips .tip.assets {
    background: url(../images/ladder/tip1.png);
}
#demo-wrapper.simulator.ladder #demo-content .tips .tip.assets.part.center-arrows{
	position:absolute; width:194px; height:108px; left:auto; right:auto; top:auto; bottom:auto; 
	background:url(../images/ladder/tip1_arrows.png) no-repeat;
	left: 50%;
    margin-left: -100px;
    top: 54px;
}
#demo-wrapper.simulator.ladder #demo-content .tips .tip.assets.part.center-arrows.open{
	z-index:4; 
}

#demo-wrapper.simulator.ladder #demo-content .tips .tip.amount {
    background: url(../images/ladder/tip3.png);
}

#demo-wrapper.simulator.ladder #demo-content .tips .tip.expiry {
    background: url(../images/ladder/tip2.png);
}


#demo-wrapper.simulator.ladder #demo-content .tips .tip.direction {
    background: url(../images/ladder/tip4.png);
}


#demo-wrapper.simulator.ladder #demo-content .d-head ul li.asset-text {
    width: 188px;
}



#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount {
    margin-left: 40px;
    width: 246px; 
}
#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount label{
	float:left; 
}
#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount .amount-row{
	position:relative; padding:0 30px; height:32px; float: left; margin-top:7px;
}
#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount.open .amount-row{
	z-index:3;
}
#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount .amount-row input[type="text"]{
	width:80px; margin:0px; padding:0px; height:32px; padding:0 10px; border:0px; 
	background-color:#FFF; 
}
#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount .amount-row button{
	margin:0px; padding:0px; position:absolute; top:0px; width:30px; border:0px; height:32px; line-height:32px;
	color:#172d3b; cursor:pointer;
}

#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount .amount-row button.minus{
	left:0px; background-color:#899eab;
}
#demo-wrapper.simulator.ladder #demo-content .d-head ul li.amount .amount-row button.plus{
	right:0px; background-color:#79bbd9;
}





#demo-wrapper.simulator.ladder .d-body .d-body-el.info {
    right: 0px;
    right: -1px;
    width: 307px;
    height: 294px;
    top: 17px;
}


#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table-header{
	font-size:14px; overflow:hidden; padding-left: 159px; margin-bottom: 2px;
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table-header span{
	float:left; display:block; margin-left:12px;
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table.act.direction.open{
	z-index:3; position:relative; 
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table{
	width:100%; 
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .row{
	margin-bottom:5px; overflow:hidden; 
}

/* colors */
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .color-yellow{
	background-color:#c9e488
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .color-blue1{
	background-color:#88e4cb; 
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .color-blue2{
	background-color:#88d1ff; 
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .color-pink1{
	background-color:#b4b0f7; 
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .color-pink2{
	background-color:#e3b5e6; 
}



#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell{
	height:53px; float:left; overflow:hidden; text-align:center; margin-left:3px;
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell._price-value{
	width:70px; line-height:53px;
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.directions{
	width:77px;
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.directions a{
	display:block; height:25px; width:100%; margin-bottom:3px; text-decoration:none; background-color:#172d3b; 
	line-height:25px; color:#FFF; font-size:11px;
}




#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.payout-profit{
	width:130px; 
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.payout-profit ul{
	list-style:none; display:block; margin:0px; padding:0px; height:53px; margin-left:10px;
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.payout-profit ul li{
	margin-bottom:3px; font-size:13px; line-height: 25px; height:25px; background-color:#79bbd9;
	position:relative;  
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.payout-profit ul li:before{
	content:'';
	position:absolute; width:8px; height:8px; background-color:#79bbd9; left:-4px; top:8px;
	-webkit-transform: rotate(45deg);  
	-ms-transform: rotate(45deg);  
	transform: rotate(45deg);  	
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.payout-profit ul li span{
	display:block; width:58px; height:22px; border:solid #5492af; border-width:0 1px 0 0; float:left; 
	margin-top:2px;
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.payout-profit ul li span:last-child{
	border:0px;
}


#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell.last{
	float:right; margin-left:5px; width:10px;
}


#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell i[class^="icon-"]{
	display: block;
    width: 31px;
    height: 25px;
    background: url(../images/binary_options/sprite.png) no-repeat;
    float: right;
}

#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell i.icon-below{
	background-position: -376px -53px; 
}
#demo-wrapper.simulator.ladder .d-body .d-body-el.info .table .cell i.icon-above{
	background-position: -376px -25px;
}


#demo-wrapper.simulator.ladder #profit-popup {
    top: 145px;
}



#demo-wrapper.simulator.ladder #demo-content .tips .tip.assets .hint{
    left: 256px;
    top: 152px;
}
#demo-wrapper.simulator.ladder #demo-content .tips .tip.expiry .hint{
	left: 246px;
    top: 233px;
}
#demo-wrapper.simulator.ladder #demo-content .tips .tip.amount .hint{
	top: 231px;
    right: 21px;
    left:auto;
}
#demo-wrapper.simulator.ladder #demo-content .tips .tip.direction .hint{
	left: 142px;
    top: 243px;
}