/*Header*/
.site-header .container {
    display: block;
}
.site-header .site-branding {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}
.site-header .user-authorization {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 69%;
}
.main-navigation {
    padding-top: 50px;
    padding-bottom: 5px;
    width: 100%;
    float: none;
}
.main-navigation ul {
    float: none;
}
.navigation-links {
    position:absolute;
    top:74px;
    right:0;
}
.navigation-links a {
    display: inline-block;
    background: #fff;
    color: #167ac6;
    border:1px solid #fff;
    border-radius: 3px;
    font:500 13px/38px "Roboto",sans-serif;
    text-align:center;
    text-transform:uppercase;
    min-width:130px;
    padding: 0 7px;
    margin: 0 0 0 7px;
}
.navigation-links a:hover {
    background:#e2e2e2;
}
.navigation-links a:active {
    box-shadow:0 0 3px 0 #000 inset;
}
.navigation-links a.light-button {
    color:#fff;
    background: transparent;
    border-color:#ffffff;
    min-width:75px;
}
.navigation-links a.light-button:hover {
    background:#fff;
    color:#167ac6;
}
/*user balance*/
.user-balance {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 15px;
    color: #ffffff;
    font: 12px/1.2 "Roboto",sans-serif;
}
.user-balance div {
    display:inline-block;
    vertical-align:middle;
}

/*user name*/
.user-name {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.user-name button,
.user-name button:hover,
.user-name button:active {
    color: #ffffff;
    position: relative;
    padding: 0 15px 0 0;
    text-transform: capitalize;
    background: none;
}
.user-name button:after {
    position: absolute;
    right: 0;
    width: 9px;
    height: 5px;
    top: 50%;
    margin: -2px 0 0;
    content: '';
    background: url(../img/arr_d.png) no-repeat;
}
.user-name .dropdown-menu {
    top: 100%;
    z-index: 1000;
    margin: 2px 0 0;
    padding:20px;
    background: #001d35;
    position: absolute;
    right: 0;
    min-width: 165px;
    display:none;
}
.user-name .dropdown-menu li {
    padding:0 0 5px;
    text-align:left;
}
.user-name .dropdown-menu li:last-child {
    padding-bottom:0;
}
.user-name .dropdown-menu li a {
    color: #fff;
    font-size:13px;
    line-height:1.2;
    display:inline-block;
    border-bottom:1px solid transparent;
}
.user-name.open .dropdown-menu {
    display:block;
}
.user-name .dropdown-menu li a:hover {
    border-bottom-color:#fad11d;
}
/*Forms*/
.content-wrap {
    margin: 60px auto;
}
.form-wrap {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.form-blocks {
    width: 41.66666667%;
    float:left;
    padding:0 15px;
}
.form-blocks:first-of-type {
    margin-left: 8.33333333%;
}
.forgot_password_form,
.change_password {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    padding: 0 10px;
}
.form-row {
    position: relative;
    width: 100%;
    clear: both;
}
.form-wrap h3 {
    color: #ffffff; 
    margin: 0 0 25px;
    text-transform: uppercase;
    font: 600 22px/26px "Roboto",sans-serif !important;
}
.form-wrap .desription {
    font: 12px/16px "Roboto",sans-serif;
    margin: 0 0 5px;
    color: #858585;
    display: block;
}
.form-row input,
.form-row select {
    width: 100%;
    color: #5d5d5d;
    font:400 13px/22px "Roboto",sans-serif;
    margin: 0 0 13px;
    background: #ffffff;
    padding: 0 20px;
    height: 44px;
    border-radius: 2px;
}
.form-row select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 5px 25px 5px 20px;
    background: #ffffff url(../img/select-arrow.png) 95% 50% no-repeat;
}
.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="url"]:focus,
.form-row input[type="password"]:focus,
.form-row input[type="search"]:focus,
.form-error select:focus {
    border: 1px solid #72b1e7;
}
.form-row button[disabled], 
html .form-row input[disabled] {
    background: #484747;
    cursor: not-allowed; 
    color: #ffffff;
}
.form-wrap input[type="submit"] {
    width: 100%;
    height: 50px;
    color: #000000;
    background: #fad11d;
    border: 0 none;
    margin: 20px 3% 0;
    font: 600 14px/22px "Roboto",sans-serif;
    border-radius: 2px;
    cursor: pointer;
    max-width: 240px;
}
.form-wrap input[type="submit"]:hover,
.withdrawal-block .form-group .btn-lg:hover {
    background: #ecb40a;
}
.form-wrap input[type="submit"]:active,
.withdrawal-block .form-group  .btn-lg:active {
    background: #d8a406;
}
.form-wrap .center {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.form-wrap .center span {
    display:block;
    margin-top:15px;
    color:#5d5d5d;
    font-size:13px;
}
.form-wrap .center span a {
    color: #5d5d5d;
    border-bottom: 1px solid #d8a406;
    line-height: 0.8;
    display: inline-block;
}

.form-wrap .center span a:hover {
    border-color: transparent;
}
.password-rules {
    position: relative;
    width: 340px;
    border: 1px solid #ebebeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 15px 12px;
    position: absolute;
    right: 0;
    margin: 18px 0 0;
    background: #ffffff;
    text-align: left;
    z-index: 1;
    display: none;
    top: 100%;
}
.password-rules:after,
.password-rules:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.password-rules:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 17px;
    margin-left: -17px;
}
.password-rules:before {
    border-color: rgba(235, 235, 235, 0);
    border-bottom-color: #ebebeb;
    border-width: 18px;
    margin-left: -18px;
}
.password-rules ul {
    padding: 0;
    overflow: hidden;
    margin: 0;
    display: block;
}
.password-rules ul li {
    padding: 0 0 0 14px;
    position: relative;
    margin: 0 0 6px;
    list-style: none;
    letter-spacing: 0;
    color: #858585;
    font:  300 13px/15px "Roboto",sans-serif;
}
.password-rules ul li:before {
    position: absolute;
    width: 8px;
    height: 6px;
    content: '';
    background: url('../img/list-arrow.png') no-repeat;
    left: 0;
    top: 4px;
    pointer-events: none;
}
.password-rules ul li span {
    font-weight: 400;
    display: block;
}
/*Form phone*/
.form-row-phone {
    float: left;
}
.form-row-phone > div {
    float: left;
}
.form-row-phone .phone-code {
    width: 19.5%;
    margin: 0 1.5% 0 0;
}
.form-row-phone .phone-code input {
    text-align: center;
    padding: 13px 5px;
}
.form-row-phone .phone-number {
    width: 79%;
}
/*Error Style*/
.error {
    color: #E67A2A;
    font: 12px/12px "Roboto",sans-serif;
    margin: 0 0 3px;
}
.form-error input[type="text"],
.form-error input[type="email"], 
.form-error input[type="url"], 
.form-error input[type="password"],
.form-error input[type="search"],
.form-error textarea,
.form-error select {
    border: 1px solid #ef7a7a !important;
}
.form-error input[type="text"]:focus,
.form-error input[type="email"]:focus,
.form-error input[type="url"]:focus,
.form-error input[type="password"]:focus,
.form-error input[type="search"]:focus,
.form-error textarea:focus,
.form-error select:focus {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(239, 122, 122, 1);
    -moz-box-shadow:    inset 0px 0px 0px 1px rgba(239, 122, 122, 1);
    box-shadow:         inset 0px 0px 0px 1px rgba(239, 122, 122, 1);
}
small.error {
    position: absolute;
    left: 20px;
    bottom: 5px;
    background: #ffffff;
    padding: 0 4px;
    font: 10px/11px "Roboto",sans-serif !important;
    border-radius: 7px;
}
.checkbox-wrap small.error {
    bottom: -18px;
}
.checkbox-wrap + small.error {
     bottom:auto;
    top:100%;
    left: 15px;
} 
.phone-number small.error,
.phone-code small.error {
    left: 26%;
}

/*Authorization*/
.keep-logged-block,
.checkbox-block {
    margin: 0 0 30px;
    text-align: left;
    line-height: 13px;
}
.checkbox-block {
    margin: 0 0 25px;
}
.keep-logged,
.checkbox-wrap {
    display: inline-block;
    vertical-align: top;
    margin: 10px 30px 0;
    max-width: 50%;
}
.keep-logged input,
.checkbox-wrap input {
    float: left;
    margin: 0 12px 0 0;
    width: 13px;
    height: 13px;
}
.checkbox-wrap input {
    margin: 3px 12px 0 0;
}
.keep-logged label {
    display: inline-block;
    vertical-align: top;
    font: 300 14px/13px "Roboto",sans-serif;
}
.checkbox-wrap label {
    display: inline-block;
    vertical-align: top;
    font: 11px/17px "Roboto",sans-serif;
    max-width: 100%;
    padding: 0 0 0 29px;
}
.keep-logged-block a {
    font: 300 14px/13px "Roboto",sans-serif;
    color: #315b9d;
    float: right;
}
/*Account details*/
.form-row-birthday {
    float: left;
}
.form-row-birthday .form-row-select {
    margin: 0 0 0 1.5%;
    float: left;
}
.form-row-birthday .form-row-select:first-child {
    margin: 0;
}
.form-row-birthday .form-row-day,
.form-row-birthday .form-row-month {
    width: 28%;
}
.form-row-birthday .form-row-year {
    width: 41%;
}
/*Forgot password*/
.forgot_password_form h3 {
    margin: 0 0 12px;
}
/*Success block*/
.success-block {
    margin: 0 auto;
    border: 2px dashed #f2f2f2;
    max-width: 447px;
    width: 100%;
    padding: 66px 0 80px;
    text-align: center;
}
.success-block img {
    margin: 0 auto 18px;
}
.success-block span {
    display: block;
    color: #5d5d5d;
    font: 20px/24px "Roboto",sans-serif;
}
/*After-forgot-password*/
.after-forgot-password {
    margin: 0px auto;
    border: 2px solid #f2f2f2;
    max-width: 720px;
    width: 100%;
    padding: 64px 9%;
    text-align: left;
}
.after-forgot-password .title {
    color: #d8a406;
    font: 20px/24px "Roboto",sans-serif;
    margin: 0 0 13px;
}
.after-forgot-password p {
    color: #ffffff;
    font: 300 14px/20px "Roboto",sans-serif;
    margin: 0 0 6px;
}
.after-forgot-password p span {
    font-weight: 400;
}
@media screen and (max-width: 1180px) {
    .navigation-links {
        top:62px;
    }
    .keep-logged, .checkbox-wrap {
        max-width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .site-header .user-authorization {
        display: block;
        text-align: center;
        width: 100%;
        margin: 20px 0 0;
    }
    .site-header .site-branding {
        width: 90%;
        text-align: left;
    }
    .site-header .user-authorization {
        margin: 15px 0 0;
    }
    .site-header .container {
        position: relative;
    }
    .mobile-nav {
        position: absolute;
        right: 5px;
        top: -15px;
    }
}

@media only screen and (max-width: 980px) {
    .password-rules {
        width: 100%;
    }    
}

@media only screen and (max-width: 768px){
    .form-blocks {
        width: 100%;
    }
    .form-blocks:first-of-type {
        margin:0;
    }    
    input[type="checkbox"] + label::before, 
    input[type="radio"] + label::before {
        margin: 0 12px -5px -29px;
    }
}
@media only screen and (max-width: 640px) {
    .navigation-links {
        top: 53px;
    }
}
@media only screen and (max-width: 480px) {
    .navigation-links {
        position:relative;
        top:0;
        display:table;
        margin:10px auto 0;
    }   
    .user-name, .user-balance {
        display: table;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
    .user-balance {
        margin: 10px auto 15px;
    }
    .user-name .dropdown-menu {
        position:relative;
        width:100%;
        top:0;
        margin:10px 0 0;
    }

    .form-wrap h3 {
        font: 600 20px/24px "Roboto",sans-serif !important;
    }
    /*Authorization*/
    .keep-logged label {
        font: 300 12px/13px "Roboto",sans-serif;
    }
    .keep-logged input {
        margin: 0 7px 0 0;
    }
    .keep-logged-block a {
        font: 300 12px/13px "Roboto",sans-serif;
    }
    .success-block {
        padding: 50px 0 60px;
    }
    .success-block img {
        max-width: 70px;
    }
    .success-block span {
        font: 16px/20px "Roboto",sans-serif;
    }
    .after-forgot-password {
        padding: 35px 9%;
    }
    .after-forgot-password .title {
        font: 16px/20px "Roboto",sans-serif;
    }
    .after-forgot-password p {
        font: 300 12px/16px "Roboto",sans-serif;
    }
    .slicknav_btn {
        display: inline-block;
        margin: 5px 5px 6px;
    }
}





















