extends ../../templates/template_en.pug

block name
  .name-section
    .name-section__author
    .name-section__book
    p.tac Уильям Сомерсет Моэм
    p.tac Немец Гарри
    p.tac адаптировала Ольга Ламонова
    p.tac Метод чтения Ильи Франка


block text
  section
    p
      span.btext I was in Thursday Island and I wanted very much to go to New Guinea
      |
      |(я был на острове Четверга и очень хотел поехать в Новую Гвинею;
      |
      span.f-coni Thursday Island — о. Четверга, административный и торговый центр группы островов Торресова пролива
      |)
      span.btext . Now the only way in which I could do this
      |
      |(так вот, единственный способ, которым я мог это сделать;
      |
      span.f-coni way — путь, дорога; образ действия, способ, путь, средство
      |)
      |
      span.btext  was by getting a pearling lugger to take me across the Arafura Sea
      |
      |(/так это/ нанять люггер ловцов жемчуга, который перевез бы меня через Арафурское море = чтобы пересечь Арафурское море;
      |
      span.f-coni pearl — жемчуг; to pearl — украшать жемчугом; добывать жемчуг; lugger — люггер — трехмачтовое судно с рейковым парусным вооружением
      |)
      span.btext . The pearl fishery at that time was in a bad way
      |
      |(в то время /года/ ловля жемчуга шла плохо;
      |
      span.f-coni fish — рыба; to fish — ловить рыбу; fishery — рыболовство; bad — плохой, дурной; неблагоприятный, неудачный
      |)
      |
      span.btext  and a flock of neat little craft lay anchored in the harbour
      |
      |(и множество аккуратных небольших суденышек стояло в гавани на якоре;
      |
      span.f-coni flock — стадо; толпа, скопление /людей/; craft — ремесло; судно, собир. суда; to lie — лежать; быть, оставаться /в каком-либо состоянии или положении/; anchor — якорь; to anchor — ставить на якорь
      |)
      span.btext . I found a skipper with nothing much to do
      |
      |(я отыскал капитана /торгового/ судна, который был не особенно занят)
      |
      span.btext 
      |
      |(
      span.f-coni the journey to Merauke and back could hardly take him less than a month (путешествие до Мерауке и назад вряд ли заняло бы у него меньше месяца)
      |)
      |
      span.btext  and with him I made the necessary arrangements
      |
      |(и /вместе/ с ним я сделал /все/ необходимые приготовления;
      |
      span.f-coni arrangements — приведение в порядок; меры, приготовления /к чему-либо/
      |)
      span.btext .

    br

    p.btext Guinea ['gInI], pearling ['pWlIN], anchor ['xNkq], harbour ['hQ:bq]

    br

    p.btext I was in Thursday Island and I wanted very much to go to New Guinea. Now the only way in which I could do this was by getting a pearling lugger to take me across the Arafura Sea. The pearl fishery at that time was in a bad way and a flock of neat little craft lay anchored in the harbour. I found a skipper with nothing much to do (the journey to Merauke and back could hardly take him less than a month) and with him I made the necessary arrangements.

    br

    p
      span.btext He engaged four Torres Straits islanders as crew
      |
      |(в качестве /судовой/ команды он нанял четырех островитян /с Торресова пролива/;
      |
      span.f-coni island — остров; islander — островитянин, житель острова
      |)
      |
      span.btext 
      |
      |(
      span.f-coni the boat was but nineteen tons (судно было /водоизмещением/ всего лишь в девятнадцать тон; boat — лодка, шлюпка; судно, корабль)
      |)
      |
      span.btext  and we ransacked the local store for canned goods
      |
      |(и мы совершили набег на местный /продуктовый/ магазин, чтобы запастись консервами;
      |
      span.f-coni to ransack — обыскивать; грабить, разграбить; store — запас, резерв; склад, магазин; can — жестянка; консервная банка; to can — консервировать /пищевые продукты/
      |)
      span.btext . A day or two before I sailed a man who owned a number of pearlers came to me
      |
      |(за день или два до того как я отплыл, ко мне пришел один человек, владевший несколькими судами для ловли жемчуга;
      |
      span.f-coni number — число, количество; некоторое количество; pearler — ловец жемчуга; небольшое судно для ловли жемчуга
      |)
      |
      span.btext  and asked whether on my way I would stop at the island of Trebucket
      |
      |(и спросил, не остановлюсь ли я по пути: «на моем пути» на острове Требукет)
      |
      span.btext  and leave a sack of flour, another of rice, and some magazines for the hermit who lived there
      |
      |(и /не/ оставлю мешок муки, мешок риса: «другой /мешок с/ рисом» и несколько журналов для отшельника, живущего там)
      span.btext .

    br

    p.btext islander ['aIlqndq], pearler ['pWlq], hermit ['hWmIt]

    br

    p.btext He engaged four Torres Straits islanders as crew (the boat was but nineteen tons) and we ransacked the local store for canned goods. A day or two before I sailed a man who owned a number of pearlers came to me and asked whether on my way I would stop at the island of Trebucket and leave a sack of flour, another of rice, and some magazines for the hermit who lived there.

    br

    p
      span.btext I pricked up my ears
      |
      |(я навострил уши = я заинтересовался;
      |
      span.f-coni to prick — колоть; to prick up one’s ears — навострить уши; насторожиться
      |)
      span.btext . It appeared that the hermit had lived by himself on this remote and tiny island for thirty years
      |
      |(оказалось, что этот самый отшельник жил в одиночестве на этом удаленном/уединенном и крошечном островке уже тридцать лет;
      |
      span.f-coni by oneself — один, без посторонней помощи; один, в одиночестве
      |)
      span.btext , and when opportunity occurred provisions were sent to him by kindly souls
      |
      |(и при удобном случае добрые люди отсылали ему съестные припасы: «продукты отправлялись ему добряками»;
      |
      span.f-coni to occur — случаться происходить; provision(s) — снабжение; провизия, пищевые продукты; soul — душа, сердце; человек
      |)
      span.btext . He said that he was a Dane
      |
      |(он говорил, что он датчанин)
      span.btext , but in the Torres Straits he was known as German Harry
      |
      |(но на /островах/ Торресова пролива его звали немцем Гарри: «он был известен как немец Гарри»;
      |
      span.f-coni to know — знать
      |)
      span.btext .

    br

    p.btext appear [q'pIq], opportunity ["Opq'tju:nItI], provision [prq'vIZ(q)n]

    br

    p.btext I pricked up my ears. It appeared that the hermit had lived by himself on this remote and tiny island for thirty years, and when opportunity occurred provisions were sent to him by kindly souls. He said that he was a Dane, but in the Torres Straits he was known as German Harry.

    br

    p
      span.btext His history went back a long way
      |
      |(его история началась очень давно;
      |
      span.f-coni to go back — возвращаться /на прежнее место/; брать начало
      |)
      span.btext . Thirty years before, he had been an able seaman on a sailing vessel that was wrecked
      |
      |(тридцать лет назад он был матросом на парусном судне, которое потерпело крушение;
      |
      span.f-coni able seaman = able-bodied seaman — матрос /звание/; vessel — сосуд, посудина; судно, корабль
      |)
      |
      span.btext  in those treacherous waters
      |
      |(в тех ненадежных водах = в этом коварном море;
      |
      span.f-coni treacherous — предательский, вероломный; ненадежный; water(s) — вода; воды, водное пространство
      |)
      span.btext . Two boats managed to get away
      |
      |(двум лодкам /с моряками с потерпевшего крушение парусника/ удалось спастись;
      |
      span.f-coni to manage — руководить; суметь /сделать/, ухитриться; to get away — удрать, ускользнуть
      |)
      |
      span.btext  and eventually hit upon the desert island of Trebucket
      |
      |(и, в конечном счете, обнаружить этот необитаемый остров Требукет;
      |
      span.f-coni to hit /upon/ — ударять; найти, напасть, обнаружить; desert — пустынный, безлюдный, необитаемый
      |)
      span.btext . This is well out of the line of traffic
      |
      |(он расположен далеко от транспортного пути;
      |
      span.f-coni well — хорошо, отлично; значительно, out — зд. указывает на нахождение за пределами чего-либо; line — линия; путь, линия сообщения; traffic — движение, сообщение, транспорт; торговля
      |)
      |
      span.btext  and it was three years before any ship sighted the castaways
      |
      |(и прошло три года, прежде чем хоть /какой-то/ корабль /смог/ обнаружить потерпевших кораблекрушение;
      |
      span.f-coni to sight — увидеть; обнаружить
      |)
      span.btext .

    br

    p.btext vessel ['ves(q)l], treacherous ['tretS(q)rqs], eventually [I'ventSu(q)lI], desert ['dezqt]

    br

    p.btext His history went back a long way. Thirty years before, he had been an able seaman on a sailing vessel that was wrecked in those treacherous waters. Two boats managed to get away and eventually hit upon the desert island of Trebucket. This is well out of the line of traffic and it was three years before any ship sighted the castaways.

    br

    p
      span.btext Sixteen men had landed on the island
      |
      |(шестнадцать человек высадились на остров /после кораблекрушения/;
      |
      span.f-coni land — земля, суша; to land — высаживаться /на берег/
      |)
      span.btext , but when at last a schooner, driven from her course by stress of weather
      |
      |(но когда наконец шхуна, сбившаяся с курса из-за шторма: «согнанная со своего курса бурей»;
      |
      span.f-coni to drive — гнать, нести; stress of weather — непогода, буря
      |)
      span.btext , put in for shelter, no more than five were left
      |
      |(встала на рейде, чтобы укрыться /от шторма/, осталось не более пяти /человек/;
      |
      span.f-coni to put in — зд. мор. следовать, плыть; заходить в порт, вставать на рейде; shelter — кров, пристанище, убежище
      |)
      span.btext . When the storm abated the skipper took four of these on board
      |
      |(когда шторм утих, шкипер = капитан того торгового судна взял на борт четырех /из тех моряков/;
      |
      span.f-coni to abate — ослаблять; уменьшаться, утихать /чаще о буре, эпидемии и т.п./; to take — брать, хватать; брать, сажать, везти /пассажиров/; board — доска; борт /корабля/
      |)
      |
      span.btext  and eventually landed them at Sydney
      |
      |(и в конечном счете высадил их на берег в Сиднее)
      span.btext . German Harry refused to go with them
      |
      |(Немец Гарри отказался ехать с ними)
      span.btext . He said that during those three years he had seen such terrible things
      |
      |(он сказал, что за время тех трех лет он увидел такие страшные/ужасные вещи;
      |
      span.f-coni thing — вещь, предмет; вещь, явление
      |)
      |
      span.btext  that he had a horror of his fellow-men
      |
      |(что он с отвращением и страхом относился к людям;
      |
      span.f-coni horror — отвращение и страх, ужас, омерзение; fellow-man /pl. fellow-men/ — ближний, другой человек, собрат
      |)
      |
      span.btext  and wished never to live with them again
      |
      |(и больше никогда не хотел жить вместе с ними)
      span.btext .

    br

    p.btext schooner ['sku:nq], skipper ['skIpq], eventually [I'ventSu(q)lI], terrible ['terqbl]

    br

    p.btext Sixteen men had landed on the island, but when at last a schooner, driven from her course by stress of weather, put in for shelter, no more than five were left. When the storm abated the skipper took four of these on board and eventually landed them at Sydney. German Harry refused to go with them. He said that during those three years he had seen such terrible things that he had a horror of his fellow-men and wished never to live with them again.

    br

    p
      span.btext He would say no more
      |
      |(больше он ничего не говорил)
      span.btext . He was absolutely fixed in his determination to stay, entirely by himself
      |
      |(он был совершенно непоколебим в своем решении остаться в совершенном одиночестве;
      |
      span.f-coni fixed — неподвижный, закрепленный; постоянный, неменяющийся; determination — решимость, решительность
      |)
      span.btext , in that lonely place
      |
      |(в том безлюдном месте;
      |
      span.f-coni lonely — одинокий; глухой, заброшенный
      |)
      span.btext . Though now and then opportunity had been given him to leave he had never taken it
      |
      |(и хотя время от времени ему предоставлялась возможность уехать, он так никогда ею и не воспользовался)
      span.btext .

    br

    p.btext absolutely ["xbsq'lu:tlI], determination [dI"tWmI'neIS(q)n], entirely [In'taIqlI]

    br

    p.btext He would say no more. He was absolutely fixed in his determination to stay, entirely by himself, in that lonely place. Though now and then opportunity had been given him to leave he had never taken it.

    br

    p
      span.btext A strange man and a strange story
      |
      |(странный человек и странная история;
      |
      span.f-coni strange — незнакомый; странный, необычный, чудной
      |)
      span.btext . I learned more about him as we sailed across the desolate sea
      |
      |(я узнал о нем больше, пока мы плыли по пустынному морю;
      |
      span.f-coni to learn — изучать, учить; узнавать
      |)
      span.btext . The Torres Straits are peppered with islands
      |
      |(Торресов пролив усыпан островками;
      |
      span.f-coni pepper — перец; to pepper — перчить, посыпать перцем; осыпать, усеивать
      |)
      |
      span.btext  and at night we anchored on the lee of one or other of them
      |
      |(и ночью мы становились на якорь под ветром одного или другого из них = под прикрытием одного из этих островков;
      |
      span.f-coni lee — защита, укрытие; подветренная сторона; on the lee — мор. под ветром
      |)
      span.btext . Of late new pearling grounds have been discovered near Trebucket
      |
      |(недавно рядом с Требукетом были обнаружены новые участки для добычи жемчуга;
      |
      span.f-coni ground — земля; участок земли; дно моря; to discover — открывать, делать открытие; обнаруживать, находить
      |)
      |
      span.btext  and in the autumn pearlers, visiting it now and then
      |
      |(и осенью ловцы жемчуга, посещая его /остров/ время от времени)
      span.btext , have given German Harry various necessities
      |
      |(давали немцу Гарри различные предметы первой необходимости;
      |
      span.f-coni necessity — необходимость, нужда; предмет первой необходимости
      |)
      |
      span.btext  so that he has been able to make himself sufficiently comfortable
      |
      |(чтобы он мог устроиться достаточно удобно)
      span.btext .

    br

    p.btext desolate ['desqlqt, 'dezqlqt], various ['ve(q)rIqs], necessity [nI'sesItI]

    br

    p.btext A strange man and a strange story. I learned more about him as we sailed across the desolate sea. The Torres Straits are peppered with islands and at night we anchored on the lee of one or other of them. Of late new pearling grounds have been discovered near Trebucket and in the autumn pearlers, visiting it now and then, have given German Harry various necessities so that he has been able to make himself sufficiently comfortable.

    br

    p
      span.btext They bring him papers
      |
      |(они привозят ему газеты;
      |
      span.f-coni paper — бумага; газета, журнал
      |)
      span.btext , bags of flour and rice
      |
      |(мешки с мукой и рисом)
      span.btext , and canned meats
      |
      |(и мясные консервы;
      |
      span.f-coni canned — консервированный; can — жестяная банка; meat — мясо
      |)
      span.btext . He has a whale boat and used to go fishing in it
      |
      |(у него был вельбот, и он, бывало, отправлялся на нем ловить рыбу;
      |
      span.f-coni whale boat — китобойное судно; used to do smth. — иметь в прошлом обыкновение делать что-либо
      |)
      span.btext , but now he is no longer strong enough to manage its unwieldy bulk
      |
      |(но теперь он уже не достаточно силен, чтобы справляться с его громоздкой массой;
      |
      span.f-coni to wield — уметь обращаться
      |)
      span.btext . There is abundant pearl shell on the reef that surrounds his island
      |
      |(огромное количество жемчужных раковин находится на рифе, что окружает его остров;
      |
      span.f-coni abundant — обильный, изобильный
      |)
      |
      span.btext  and this he used to collect and sell to the pearlers for tobacco
      |
      |(и их он, бывало, собирал и продавал ловцам жемчуга за табак)
      span.btext , and sometimes he found a good pearl for which he got a considerable sum
      |
      |(а иногда он находил хорошую = крупную жемчужину, за которую он получал значительную сумму /денег/;
      |
      span.f-coni to get — доставать, добывать; зарабатывать, получать
      |)
      span.btext .

    br

    p.btext enough [I'nAf], unwieldy [An'wi:ldI], abundant [q'bAndqnt], tobacco [tq'bxkqu]

    br

    p.btext They bring him papers, bags of flour and rice, and canned meats. He has a whale boat and used to go fishing in it, but now he is no longer strong enough to manage its unwieldy bulk. There is abundant pearl shell on the reef that surrounds his island and this he used to collect and sell to the pearlers for tobacco, and sometimes he found a good pearl for which he got a considerable sum.

    br

    p
      span.btext It is believed that he has, hidden away somewhere, a collection of magnificent pearls
      |
      |(считается, что у него где-то запрятана коллекция великолепных жемчужин;
      |
      span.f-coni to believe — верить; думать, полагать, считать; to hide
      |)
      span.btext . During the war no pearlers came out
      |
      |(во время войны ловцы жемчуга не приплывали;
      |
      span.f-coni to come out — появляться, являться, приходить
      |)
      |
      span.btext  and for years he never saw a living soul
      |
      |(и /долгие/ годы он не видел ни одной живой души)
      span.btext . For all he knew, a terrible epidemic had killed off the entire human race
      |
      |(не исключено /думал он/, что ужасная эпидемия уничтожила всю человеческую расу;
      |
      span.f-coni for all I know — насколько мне известно; не исключено; to kill /off/ — убивать, лишать жизни; ликвидировать, уничтожать
      |)
      |
      span.btext  and he was the only man alive
      |
      |(и что он был единственным живым человеком)
      span.btext . He was asked later what he thought
      |
      |(позже его спросили, о чем он подумал)
      span.btext .
    p
      span.btext "I thought something had happened
      |
      |(я думал, что что-то случилось)
      span.btext ," he said.

    br

    p.btext magnificent [mxg'nIfIs(q)nt], epidemic ["epI'demIk], thought [TO:t]

    br

    p.btext It is believed that he has, hidden away somewhere, a collection of magnificent pearls. During the war no pearlers came out and for years he never saw a living soul. For all he knew, a terrible epidemic had killed off the entire human race and he was the only man alive. He was asked later what he thought.
    p.btext "I thought something had happened," he said.

    br

    p
      span.btext He ran out of matches and was afraid that his fire would go out
      |
      |(у него закончились спички, и он боялся, что /его/ огонь потухнет;
      |
      span.f-coni to run out — кончаться, иссякать; остаться без чего-либо /когда иссякнет запас/; to go out — погаснуть
      |)
      span.btext , so he only slept in snatches
      |
      |(поэтому спал он /только/ урывками;
      |
      span.f-coni snatch — хватание, попытка схватить; момент, мгновение, короткий промежуток времени
      |)
      span.btext , putting wood on his fire from time to time all day and all night
      |
      |(подкладывая дрова в огонь время от времени, весь день и всю ночь;
      |
      span.f-coni wood — лес, роща; дрова, древесное топливо
      |)
      span.btext . He came to the end of his provisions
      |
      |(съестные припасы у него закончились;
      |
      span.f-coni to come to an end — прийти к концу, кончиться
      |)
      |
      span.btext  and lived on chickens
      |
      |(и он питался курятиной;
      |
      span.f-coni to live /on/ — жить, существовать; питаться /чем-либо/; chicken — цыпленок; курятина, куриное мясо
      |)
      span.btext , fish
      |
      |(рыбой)
      |
      span.btext  and coconuts
      |
      |(и кокосами)
      span.btext . Sometimes he got a turtle
      |
      |(иногда он добывал черепаху)
      span.btext .

    br

    p.btext match [mxtS], snatch [snxtS], turtle [tWtl]

    br

    p.btext He ran out of matches and was afraid that his fire would go out, so he only slept in snatches, putting wood on his fire from time to time all day and all night. He came to the end of his provisions and lived on chickens, fish and coconuts. Sometimes he got a turtle.

    br

    p
      span.btext During the last four months of the year there may be two or three pearlers about
      |
      |(в последние четыре месяца года, где-то рядом с его островом, могут находиться двое или трое ловцов жемчуга;
      |
      span.f-coni to be about — быть поблизости
      |)
      |
      span.btext  and not infrequently after the day’s work
      |
      |(и довольно часто, после рабочего дня;
      |
      span.f-coni frequent — частый, infrequent — редкий
      |)
      |
      span.btext  they will row in and spend an evening with him
      |
      |(они приплывают /к нему на остров/, и проводят с ним вечер;
      |
      span.f-coni to row — грести /на лодке/; to spend — тратить, растрачивать; проводить /время/
      |)
      span.btext . They try to make him drunk
      |
      |(они пытаются напоить его: «сделать его пьяным»;
      |
      span.f-coni to drink — пить; выпивать, пьянствовать; drunk — пьяный
      |)
      |
      span.btext  and then they ask him what happened during those three years
      |
      |(и тогда они спрашивают его /о том/, что же произошло во время тех трех лет)
      |
      span.btext  after the two boat-loads came to the island
      |
      |(после того как две /груженые/ лодки приплыли на этот остров;
      |
      span.f-coni boat — лодка, шлюпка; load — груз; нагрузка, загрузка; boatload — полная нагрузка лодки
      |)
      span.btext . How was it that sixteen landed
      |
      |(как же случилось так, что сошло на берег шестнадцать /человек/)
      |
      span.btext  and at the end of that time only five were left
      |
      |(и к концу того времени = спустя три года, остались только пятеро)
      span.btext ? He never says a word
      |
      |(он никогда ничего не говорит: «он не говорит ни слова»)
      span.btext . Drunk or sober he is equally silent on that subject
      |
      |(пьяный или трезвый — он /всегда/ одинаково неразговорчив на эту тему;
      |
      span.f-coni equally — поровну; в равной степени, одинаково; silent — молчаливый, безмолвный; немногословный, замкнутый
      |)
      |
      span.btext  and if they insist grows angry and leaves them
      |
      |(и если они настаивают, /то он/ сердится, и уходит от них;
      |
      span.f-coni to grow — расти, вырастать; делаться, становиться; angry — сердитый, гневный
      |)
      span.btext .

    br

    p.btext infrequently [In'fri:kwqntlI], boatload ['bqutlqud], subject ['sAbdZIkt]

    br

    p.btext During the last four months of the year there may be two or three pearlers about and not infrequently after the day’s work they will row in and spend an evening with him. They try to make him drunk and then they ask him what happened during those three years after the two boat-loads came to the island. How was it that sixteen landed and at the end of that time only five were left? He never says a word. Drunk or sober he is equally silent on that subject and if they insist grows angry and leaves them.

    br

    p
      span.btext I forget if it was four or five days
      |
      |(я не помню, /прошло/ ли четыре или пять дней)
      |
      span.btext  before we sighted the hermit’s little kingdom
      |
      |(прежде чем мы увидели маленькое царство отшельника)
      span.btext . We had been driven by bad weather to take shelter
      |
      |(из-за плохой погоды мы были вынуждены укрыться;
      |
      span.f-coni shelter — кров, пристанище, убежище
      |)
      |
      span.btext  and had spent a couple of days at an island on the way
      |
      |(и провести несколько дней на каком-то острове на /нашем/ пути)
      span.btext . Trebucket is a low island, perhaps a mile round
      |
      |(Требукет — невысокий остров, может быть, с милю в радиусе;
      |
      span.f-coni round — зд. указывает на измерение площади по радиусу
      |)
      span.btext , covered with coconuts
      |
      |(покрытый кокосовыми пальмами;
      |
      span.f-coni to cover — покрывать, накрывать; coco — кокосовая пальма; coconut — кокос, плод кокосовой пальмы
      |)
      span.btext , just raised above the level of the sea
      |
      |(едва возвышающийся над уровнем моря;
      |
      span.f-coni to raise — поднимать, повышать
      |)
      |
      span.btext  and surrounded by a reef so
      |
      |(и окруженный рифами таким образом)
      |
      span.btext  that it can be approached only on one side
      |
      |(что к нему можно приблизиться только с одной стороны;
      |
      span.f-coni side — стенка; сторона
      |)
      span.btext . There is no opening in the reef
      |
      |(в рифах нет прохода;
      |
      span.f-coni opening — отверстие, щель; расщелина, проход
      |)
      |
      span.btext  and the lugger had to anchor a mile from the shore
      |
      |(и /наш/ люггер был вынужден встать на якорь /на расстоянии/ мили от берега)
      span.btext . We got into a dinghy with the provisions
      |
      |(мы забрались в корабельную шлюпку, /прихватив с собой/ съестные припасы)
      span.btext .

    br

    p.btext sight [saIt], weather ['weDq], approach [q'prqutS], dinghy ['dINgI]

    br

    p.btext I forget if it was four or five days before we sighted the hermit’s little kingdom. We had been driven by bad weather to take shelter and had spent a couple of days at an island on the way. Trebucket is a low island, perhaps a mile round, covered with coconuts, just raised above the level of the sea and surrounded by a reef so that it can be approached only on one side. There is no opening in the reef and the lugger had to anchor a mile from the shore. We got into a dinghy with the provisions.

    br

    p
      span.btext It was a stiff pull
      |
      |(грести было тяжело: «это была тяжелая прогулка /на лодке/»;
      |
      span.f-coni stiff — жесткий, крепкий; тяжелый, труднопроходимый /о спуске, подъеме и т.п./; pull — тяга, дерганье; удар весла, гребля, короткая прогулка по воде
      |)
      |
      span.btext  and even within the reef the sea was choppy
      |
      |(и даже внутри рифов море было неспокойным;
      |
      span.f-coni chop — удар /топором и т.п./; зыбь /на море/; choppy — порывистый /о ветре/; неспокойный, покрытый зыбью /о море/
      |)
      span.btext . I saw the little hut, sheltered by trees in which German Harry lived
      |
      |(я увидел маленькую хижину, защищенную деревьями, в которой и жил немец Гарри;
      |
      span.f-coni to shelter — приютить, дать приют; защищать, укрывать
      |)
      span.btext , and as we approached he sauntered down slowly to the water’s edge
      |
      |(и, когда мы подходили, он медленно двинулся к берегу: «к краю воды»;
      |
      span.f-coni to saunter — прогуливаться, гулять не спеша; edge — острие, лезвие; край, кромка
      |)
      span.btext . We shouted a greeting, but he did not answer
      |
      |(мы прокричали приветствие = мы громко поприветствовали его, но он не ответил)
      span.btext . He was a man of over seventy
      |
      |(ему было за семьдесят)
      span.btext , very bald
      |
      |(/он был/ совершенно лысый)
      span.btext , hatchet-faced
      |
      |(с продолговатым лицом /с выступающими скулами и резко очерченным носом/;
      |
      span.f-coni hatchet — топорик, секач
      |)
      span.btext , with a grey beard
      |
      |(с седой бородой;
      |
      span.f-coni grey — серый; седой
      |)
      span.btext , and he walked with a roll
      |
      |(и ходил он вразвалку;
      |
      span.f-coni roll — походка вразвалку; to roll — катиться, перекатываться
      |)
      |
      span.btext  so that you could never have taken him for anything but a sea-faring man
      |
      |(так что невозможно было принять его за кого-либо еще, кроме как за моряка;
      |
      span.f-coni to take smb. for smb. — принимать кого-либо за кого-либо; sea-faring — мореплавание
      |)
      span.btext .

    br

    p.btext saunter ['sO:ntq], shout [Saut], hatchet-faced ["hxtSIt'feIst], beard [bIqd]

    br

    p.btext It was a stiff pull and even within the reef the sea was choppy. I saw the little hut, sheltered by trees, in which German Harry lived, and as we approached he sauntered down slowly to the water’s edge. We shouted a greeting, but he did not answer. He was a man of over seventy, very bald, hatchet-faced, with a grey beard, and he walked with a roll so that you could never have taken him for anything but a sea-faring man.

    br

    p
      span.btext His sunburn made his blue eyes look very pale and they were surrounded by wrinkles
      |
      |(/из-за/ загара его голубые глаза казались очень блеклыми, и они были окружены морщинками;
      |
      span.f-coni to look — смотреть; выглядеть, иметь вид; pale — бледный; слабый, тусклый /о цвете, свете/
      |)
      |
      span.btext  as though for long years he had spent interminable hours scanning the vacant sea
      |
      |(словно долгие годы он провел бесконечные часы, всматриваясь в пустынное море;
      |
      span.f-coni to scan — бегло просматривать; внимательно смотреть, разглядывать; vacant — пустой, незаполненный
      |)
      span.btext . He wore dungarees and a singlet
      |
      |(на нем были рабочие брюки /из хлопчатобумажной саржи/ и тельняшка/фуфайка;
      |
      span.f-coni to wear — быть одетым /во что-либо/, носить /одежду/
      |)
      span.btext , patched, but neat and clean
      |
      |(залатанные, но опрятные и чистые;
      |
      span.f-coni patch — заплата
      |)
      span.btext . The house to which he presently led us
      |
      |(дом, к которому он вскоре повел нас)
      |
      span.btext  consisted of a single room with a roof of corrugated iron
      |
      |(состоял из одного помещения, с крышей из гофрированного железа;
      |
      span.f-coni to corrugate — сморщивать, морщить; гофрировать
      |)
      span.btext . There was a bed in it
      |
      |(в нем находилась кровать)
      span.btext , some rough stools
      |
      |(несколько грубо /сделанных/ табуретов;
      |
      span.f-coni rough — неровный, шероховатый; грубый
      |)
      |
      span.btext  which he himself had made
      |
      |(которые он сделал сам)
      span.btext , a table
      |
      |(стол)
      span.btext , and his various household utensils
      |
      |(и различные предметы домашнего обихода;
      |
      span.f-coni household — домашний, бытовой, хозяйственный; utensil — посуда, утварь
      |)
      span.btext . Under a tree in front of it was a table and a bench
      |
      |(под деревом перед ней /хижиной/ находились стол и скамья)
      span.btext . Behind was an enclosed run for his chickens
      |
      |(позади /нее/ располагался огороженный вольер для кур;
      |
      span.f-coni to enclose — окружать, огораживать; run — бег, пробег; загон /для скота/, вольер /для птицы/
      |)
      span.btext .

    br

    p.btext interminable [In'tWmInqb(q)l], dungaree ["dANgq'ri:], singlet ['sInglIt], corrugated ['kOrqgeItId], rough [rAf], utensil [ju:'tens(q)l]

    br

    p.btext His sunburn made his blue eyes look very pale and they were surrounded by wrinkles as though for long years he had spent interminable hours scanning the vacant sea. He wore dungarees and a singlet, patched, but neat and clean. The house to which he presently led us consisted of a single room with a roof of corrugated iron. There was a bed in it, some rough stools which he himself had made, a table, and his various household utensils. Under a tree in front of it was a table and a bench. Behind was an enclosed run for his chickens.

    br

    p
      span.btext I cannot say that he was pleased to see us
      |
      |(не могу сказать, что он был рад видеть нас;
      |
      span.f-coni pleased — довольный
      |)
      span.btext . He accepted our gifts as a right, without thanks
      |
      |(он принял наши дары как должное, без благодарностей;
      |
      span.f-coni right — правильность, правота; право, привилегия
      |)
      span.btext , and grumbled a little because something or other he needed had not been brought
      |
      |(и немного поворчал, оттого, что что-то: «то или другое», что ему было необходимо, не привезли: «не было привезено»;
      |
      span.f-coni to need — нуждаться, иметь надобность
      |)
      span.btext . He was silent and morose
      |
      |(он был молчалив и угрюм)
      span.btext . He was not interested in the news we had to give him
      |
      |(его не интересовали новости, которые мы хотели сообщить ему;
      |
      span.f-coni to give — давать; сообщать
      |)
      span.btext , for the outside world was no concern of his
      |
      |(потому что внешний мир его совершенно не волновал: «не был его заботой»;
      |
      span.f-coni concern — отношение, касательство; беспокойство, забота; участие, интерес
      |)
      span.btext : the only thing he cared about was his island
      |
      |(единственное, о чем он беспокоился — /был/ его остров;
      |
      span.f-coni thing — вещь, предмет; нечто, что-то
      |)
      span.btext . He looked upon it with a jealous, proprietary right
      |
      |(он смотрел на него с ревностным правом собственности;
      |
      span.f-coni proprietary — собственнический
      |)
      span.btext ; he called it "my health resort"
      |
      |(он называл его "мой курорт";
      |
      span.f-coni health — здоровье; resort — прибежище; курорт
      |)
      |
      span.btext  and he feared that the coconuts that covered it
      |
      |(и он боялся, что кокосовые пальмы, покрывающие его = растущие на нем)
      |
      span.btext  would tempt some enterprising trader
      |
      |(соблазнят какого-нибудь предприимчивого торговца;
      |
      span.f-coni to tempt — уговаривать, склонять; соблазнять, прельщать; to enterprise — предпринимать; to trade — торговать
      |)
      span.btext .

    br

    p.btext accept [qk'sept], brought [brO:t], morose [mq'rqus], jealous ['dZelqs], proprietary [prq'praIqt(q)rI], enterprising ['entqpraIzIN]

    br

    p.btext I cannot say that he was pleased to see us. He accepted our gifts as a right, without thanks, and grumbled a little because something or other he needed had not been brought. He was silent and morose. He was not interested in the news we had to give him, for the outside world was no concern of his: the only thing he cared about was his island. He looked upon it with a jealous, proprietary right; he called it "my health resort" and he feared that the coconuts that covered it would tempt some enterprising trader.

    br

    p
      span.btext He looked at me with suspicion
      |
      |(он взглянул на меня подозрительно: «с подозрением»)
      span.btext . He was sombrely curious to know what I was doing in these seas
      |
      |(он были исполнен мрачного любопытства, что я делал в этих морях;
      |
      span.f-coni somber — темный; мрачный, унылый
      |)
      span.btext . He used words with difficulty
      |
      |(он с трудом подбирал слова: «он употреблял слова с трудностью»)
      span.btext , talking to himself rather than to us
      |
      |(разговаривая, скорее, с самим собой, чем с нами)
      span.btext , and it was a little uncanny to hear him mumble away as though we were not there
      |
      |(и было немного жутковато слышать, как он бормочет себе под нос, словно нас и не было /там/)
      span.btext . But he was moved when my skipper told him
      |
      |(но он был растроган, когда капитан моего судна сказал ему;
      |
      span.f-coni to move — двигать, передвигать; трогать, волновать
      |)
      |
      span.btext  that an old man of his own age whom he had known for a long time was dead
      |
      |(что некий старик того же возраста что и он, которого он знал долгое время, умер;
      |
      span.f-coni own — свой собственный, принадлежащий /кому-либо или чему-либо/
      |)
      span.btext .
    p
      span.btext "Old Charlie dead
      |
      |(старик Чарли мертв)
      |
      span.btext  — that’s too bad
      |
      |(это очень плохо)
      span.btext . Old Charlie dead."
    p
      span.btext He repeated it over and over again
      |
      |(он повторял это снова и снова)
      span.btext . I asked him if he read
      |
      |(я спросил его, читает ли он /что-нибудь/)
      span.btext .
    p
      span.btext "Not much
      |
      |(не много)
      span.btext ," he answered indifferently
      |
      |(ответил он равнодушно/безразличным тоном)
      span.btext .

    br

    p.btext suspicion [sq'spIS(q)n], curious ['kju(q)rIqs], indifferently [In'dIf(q)rqntlI]

    br

    p.btext He looked at me with suspicion. He was sombrely curious to know what I was doing in these seas. He used words with difficulty, talking to himself rather than to us, and it was a little uncanny to hear him mumble away as though we were not there. But he was moved when my skipper told him that an old man of his own age whom he had known for a long time was dead.
    p.btext "Old Charlie dead — that’s too bad. Old Charlie dead."
    p.btext He repeated it over and over again. I asked him if he read.
    p.btext "Not much," he answered indifferently.

    br

    p
      span.btext He seemed to be occupied with nothing
      |
      |(казалось, что он не был занят ничем;
      |
      span.f-coni to occupy — занимать /место, пространство и т.п./; заниматься /чем-либо/, уделять время /чему-либо/
      |)
      |
      span.btext  but his food
      |
      |(кроме своего пропитания;
      |
      span.f-coni food — пища, питание, еда
      |)
      span.btext , his dogs
      |
      |(своих собак)
      |
      span.btext  and his chickens
      |
      |(и своих кур)
      span.btext . If what they tell us in books were true
      |
      |(если то, что говорят нам в книгах, было бы правдой)
      |
      span.btext  his long communion with nature and the sea
      |
      |(то его долгое единение с природой и морем;
      |
      span.f-coni communion — общность; общение, связь
      |)
      |
      span.btext  should have taught him many subtle secrets
      |
      |(должно было бы научить его множеству искусных уловок;
      |
      span.f-coni to teach — учить, обучать; научить; subtle — тонкий, нежный; искусный, умелый, ловкий; secret — секрет, тайна; загадка, нечто необъяснимое, скрытое
      |)
      span.btext . It hadn’t
      |
      |(но этого не было: «оно не /научило/»)
      span.btext . He was a savage
      |
      |(он был дикарем)
      span.btext . He was nothing but a narrow, ignorant and cantankerous seafaring man
      |
      |(он был просто: «ничем кроме как» ограниченным, невежественным и сварливым моряком;
      |
      span.f-coni narrow — узкий, тесный; узкий, ограниченный /об уме и т.п./
      |)
      span.btext .

    br

    p.btext communion [kq'mju:nIqn], nature ['neItSq], taught [tO:t], subtle [sAtl], savage ['sxvIdZ], ignorant ['Ignqrqnt], cantankerous [kxn'txNk(q)rqs]

    br

    p.btext He seemed to be occupied with nothing but his food, his dogs and his chickens. If what they tell us in books were true his long communion with nature and the sea should have taught him many subtle secrets. It hadn’t. He was a savage. He was nothing but a narrow, ignorant and cantankerous seafaring man.

    br

    p
      span.btext As I looked at the wrinkled, mean old face
      |
      |(когда я глядел на это морщинистое, неприветливое, старое лицо;
      |
      span.f-coni wrinkle — морщина, складка; mean — посредственный, плохой; придирчивый, злобный
      |)
      |
      span.btext  I wondered what was the story of those three dreadful years
      |
      |(мне было интересно, что же это была за история тех трех ужасных лет;
      |
      span.f-coni story — повесть, рассказ; история
      |)
      |
      span.btext  that had made him welcome this long imprisonment
      |
      |(которая заставила его желать этого долгого заточения;
      |
      span.f-coni to welcome — приветствовать /гостя/; приветствовать, одобрять; prison — тюрьма; to imprison — заключать в тюрьму; imprisonment — тюремное заключение, лишение свободы
      |)
      span.btext . I sought to see behind those pale blue eyes of his
      |
      |(я пытался разглядеть за теми блеклыми голубыми глазами;
      |
      span.f-coni to seek — искать, разыскивать; to seek to do smth. — пытаться, стараться что-либо сделать
      |)
      |
      span.btext  what secrets they were that he would carry to his grave
      |
      |(что же за секреты это были, которые он унесет в могилу)
      span.btext . And then I foresaw the end
      |
      |(а затем я предугадал конец;
      |
      span.f-coni to foresee — предвидеть, знать заранее
      |)
      span.btext .

    br

    p.btext wrinkled ['rINk(q)ld], dreadful ['dredS(q)l], imprisonment [Im'prIz(q)nmqnt]

    br

    p.btext As I looked at the wrinkled, mean old face I wondered what was the story of those three dreadful years that had made him welcome this long imprisonment. I sought to see behind those pale blue eyes of his what secrets they were that he would carry to his grave. And then I foresaw the end.

    br

    p
      span.btext One day a pearl fisher would land on the island
      |
      |(однажды какой-нибудь ловец жемчуга высадится на остров)
      |
      span.btext  and German Harry would not be waiting for him
      |
      |(и немец Гарри не будет ожидать его)
      span.btext , silent and suspicious, at the water’s edge
      |
      |(молчаливый и подозрительный/недоверчивый, у кромки воды)
      span.btext . He would go up to the hut
      |
      |(он /ловец жемчуга/ дойдет до хижины;
      |
      span.f-coni to go up /to/ — подниматься /на гору и т.п./; приближаться, подходить
      |)
      |
      span.btext  and there, lying on the bed, unrecognizable
      |
      |(и там, лежащим на кровати, неузнаваемым;
      |
      span.f-coni to recognize — узнавать, опознавать
      |)
      span.btext , he would see all that remained of what had once been a man
      |
      |(он увидит все, что осталось от того, кто когда-то был человеком)
      span.btext . Perhaps then he would hunt high and low
      |
      |(возможно, тогда он /ловец жемчуга/ будет рыскать повсюду;
      |
      span.f-coni to hunt — охотиться, ловить; искать, рыскать; high — высоко; low — низко; high and low — повсюду, везде
      |)
      |
      span.btext  for the great mass of pearls
      |
      |(в поисках того огромного количества жемчужин;
      |
      span.f-coni mass — масса; множество, большое количество
      |)
      |
      span.btext  that has haunted the fancy of so many adventurers
      |
      |(что волновало воображение такого большого числа авантюристов;
      |
      span.f-coni to haunt — часто посещать, навещать /какое-либо место/; преследовать, тревожить, терзать /о мысли и т.п./; adventure — приключение; смелое предприятие, авантюра
      |)
      span.btext .

    br

    p.btext unrecognizable [An'rekqgnaIzqb(q)l], haunt [hO:nt], adventurer [qd'ventS(q)rq]

    br

    p.btext One day a pearl fisher would land on the island and German Harry would not be waiting for him, silent and suspicious, at the water’s edge. He would go up to the hut and there, lying on the bed, unrecognisable, he would see all that remained of what had once been a man. Perhaps then he would hunt high and low for the great mass of pearls that has haunted the fancy of so many adventurers.

    br

    p
      span.btext But I do not believe he would find it
      |
      |(но не думаю, что он найдет его;
      |
      span.f-coni to believe — верить; думать, полагать, считать
      |)
      span.btext : German Harry would have seen to it that none should discover the treasure
      |
      |(немец Гарри /заранее/ позаботится о том, чтобы никто не обнаружил это сокровище;
      |
      span.f-coni to see to smth. — следить, присматривать, заботиться о чем-либо; to discover — открывать; обнаруживать, находить
      |)
      span.btext , and the pearls would rot in their hiding place
      |
      |(и жемчужины сгниют в тайнике;
      |
      span.f-coni to hide — прятать; place — место
      |)
      span.btext . Then the pearl fisher would go back into his dinghy
      |
      |(тогда ловец жемчуга вернется назад, в свою корабельную шлюпку)
      |
      span.btext  and the island once more be deserted of man
      |
      |(и этот остров снова станет безлюдным;
      |
      span.f-coni to desert — бросать, покидать; deserted — пустынный, безлюдный
      |)
      span.btext .

    br

    p.btext discover [dIs'kAvq], treasure ['treZq], deserted [dI'zWtId]

    br

    p.btext But I do not believe he would find it: German Harry would have seen to it that none should discover the treasure, and the pearls would rot in their hiding place. Then the pearl fisher would go back into his dinghy and the island once more be deserted of man.