// @font-face {font-family: fa;   src: url(../fonts/fa-solid-900.ttf);}

@font-face {font-family: mpb;  src: url(../fonts/MyriadPro-Bold.ttf);}
@font-face {font-family: mpbc; src: url(../fonts/MyriadPro-BoldCond.ttf);}
@font-face {font-family: mpc;  src: url(../fonts/MyriadPro-Cond.ttf);}
@font-face {font-family: mpci; src: url(../fonts/MyriadPro-CondIt.ttf);}
@font-face {font-family: mpr;  src: url(../fonts/MyriadPro-Regular.ttf);}