@import "fonts";
@import "reset";
@import "style_general";
// @import "index/index_768+";

body {
  // background-color: #dbdbdb;
}

.header-section1-wrapper {
  background-color: black;
}

.header-section1 {
  max-width          : 1280px;
  margin             : 0 auto;
  height             : 381px;
  background         : url('../img/wumen%26car.jpg') center center no-repeat;
  padding            : 0 15px;
  position           : relative;
  &__header {
    font             : 32px mpb;
    color            : white;
    padding-top      : 120px;
    text-transform   : uppercase;
    text-align       : center;
  }
  &__form {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .header-section1 {
    &__header {
      font             : 40px mpb;
      color            : white;
      padding-top      : 160px;
      text-transform   : uppercase;
      text-align       : left;
    }
    &__form {
      display          : block;
      max-width        : 340px;
      position         : absolute;
      top              : 50%;
      right            : 15px;
      transform        : translate(0,-50%);
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-section1 {
    padding            : 0 160px;
    &__header {
      font             : 53px mpb;
      padding-top      : 193px;
    }
    &__form {
      right            : 140px;
    }
  }
}

.header-section2-wrapper {
  background-color: black;
}

.header-section2 {
  max-width          : 1280px;
  margin             : 0 auto;
  min-height         : 38px;
  background-color   : black;
  display            : flex;
  flex-wrap          : wrap;
  justify-content    : flex-start;
  align-items        : center;
  padding-left       : 15px;
  &__reuters {
    margin           : 0 5px;
  }
  &__widget-wrapper {
    border           : 1px solid transparent;
    flex-grow        : 1;
    height           : 28px;
    overflow         : hidden;
    position         : relative;
  }
}

@media screen and (min-width: 1200px) {
  .header-section2 {
    padding-left       : 160px;
  }
}

.main-wrapper {
  position: relative;
}
.main-bg {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
}
.main {
  max-width          : 1280px;
  margin             : 0 auto;
  position           : relative;
  padding-bottom: 15px;
}

.section-flex-wrapper {
  margin             : 10px auto;
  max-width          : 1000px;
  display            : flex;
  justify-content    : center;
  align-items        : flex-start;
  flex-wrap          : wrap;
  position           : relative;
  background         : white;
  .section-flex-wrapper-left-column {
    max-width            : 710px;
    width            : 100%;
    padding          : 0 10px 0 15px;
  }
  .section-flex-wrapper-right-column {
    min-width            : 270px;
    max-width            : 710px;
    padding              : 15px;

  }
}

@media screen and (min-width: 1000px) {
  .section-flex-wrapper {
    flex-wrap          : nowrap;
    justify-content    : space-between;
    .section-flex-wrapper-left-column {
      border-right     : 2px dotted lightgrey;
    }
    .section-flex-wrapper-right-column {
      padding          : 18px 10px 0 0;
    }
  }
}

.section1 {
  position           : relative;
  padding            : 12px 0 0 5px;
  margin-bottom      : 20px;
  &__name {
    font             : 48px mpbc;
    color            : #6a9a1f;
    position         : relative;
    z-index          : 2;
  }
  &__img {
    position         : absolute;
    top              : 10px;
    right            : 0;
  }
  &__iframe {
    position         : relative;
    z-index          : 2;
    overflow         : hidden;
    margin           : 0 auto;
  }
  #frame1, #frame2 {
    display          : none;
  }
  #frame3 {
    display          : block;
    left             : -10px;
    width            : 300px;
    height           : 160px
  }

  @media screen and (min-width: 576px) {
    #frame2 {
      display        : block;
      width          : 550px;
      height         : 300px;
    }
    #frame1, #frame3 {
      display        : none;
    }
  }
  @media screen and (min-width: 700px) {
    #frame1 {
      display        : block;
      width          : 678px;
      height         : 350px;
    }
    #frame2, #frame3 {
      display        : none;
    }
  }

}

.section2 {
  display            : flex;
  justify-content    : start;
  flex-wrap          : wrap;
  margin-bottom      : 32px;
  background-color   : white;
  &__name {
    font             : 48px mpbc;
    color            : #6a9a1f;
    padding-bottom   : 10px;
  }
  .account {
    width            : 226px;
    height           : 106px;
    color            : white;
    padding          : 6px 12px;
    margin           : 1px;
    &__name {
      font           : 28px mpbc;
    }
    &__description {
      font           : 14px mpr;
      width          : 110px;
    }
    &:nth-of-type(1) {
      background     : url('../img/account-type-starter.jpg') left top no-repeat;
    }
    &:nth-of-type(2) {
      background     : url('../img/account-type-experienced.jpg') left top no-repeat;
    }
    &:nth-of-type(3) {
      background     : url('../img/account-type-pro.jpg') left top no-repeat;
    }
  }
}

@media screen and (min-width: 710px) {
  .section2 {
    flex-wrap          : nowrap;
  }
}

.section3 {
  min-height         : 195px;
  background         : url('../img/try-it.jpg') left top no-repeat;
  background-size    : auto 100%;
  padding            : 60px 0 0 0;
  color              : white;
  text-align         : center;
  margin-bottom      : 23px;
  &__name {
    font             : 30px mpc;
    letter-spacing   : 3px;
    text-transform   : uppercase;
  }
  &__description {
    font             : 50px mpbc;
    text-transform   : uppercase;
  }
}

.section4 {
  position           : relative;
  &__name {
    font             : 32px mpbc;
    color            : #6a9a1f;
    padding-bottom   : 10px;
  }
  &__steps-wrapper {
    max-width            : 680px;
    display          : flex;
    justify-content  : flex-start;
    align-items      : flex-start;
    flex-wrap        : wrap;
    position         : absolute;
    left             : 15px;
    top              : 80px;
    padding-left     : 0px;
  }
  &__img {
    width            : 100%;
  }
  &__step {
    font             : 26px mpci;
    position         : relative;
    width            : 100%;
    &:not(:nth-of-type(3)) {
      margin-right   : 75px;
    }
    &:nth-of-type(1)::after,
    &:nth-of-type(2)::after,
    &:nth-of-type(3)::after {
      font           : 30px mpci;
      display        : block;
      position       : absolute;
      top            : -3px;
      left           : -20px
    }
    &:nth-of-type(1)::after {
      content        : '1';
    }
    &:nth-of-type(2)::after {
      content        : '2';
    }
    &:nth-of-type(3)::after {
      content        : '3';
    }
  }
}

@media screen and (min-width: 710px) {
  .section4 {
    &__name {
      font             : 48px mpbc;
    }
    &__steps-wrapper {
      top              : 250px;
      padding-left     : 35px;
    }
    &__step {
      font             : 36px mpci;
      width            : 150px;
      &:nth-of-type(1)::after,
      &:nth-of-type(2)::after,
      &:nth-of-type(3)::after {
        font           : 101px mpci;
        display        : block;
        position       : absolute;
        top            : -18px;
        left           : -40px
      }
    }
  }
}

.section5 {
  position           : relative;
  padding            : 0;
  margin-bottom      : 25px;
  &__name {
    font             : 48px mpbc;
    color            : #6a9a1f;
    line-height      : 1em;
    padding-bottom   : 12px;
  }
  &__img {
    position         : absolute;
    top              : 0;
    right            : 0;
  }
}
.trend-element-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.trend-element {
  width              : 260px;
  height             : 100px;
  background-color   : #ebebeb;
  border             : 1px solid #ebebeb;
  border-bottom      : 3px solid #8d8a8a;
  border-radius      : 4px;
  font               : 16px mpr;
  padding            : 7px 12px;
  display            : flex;
  justify-content    : flex-start;
  margin-right       : 3px;
  &:not(:last-of-type) {
    margin-bottom    : 13px;
  }
  &__left-column {
    width            : 52%;
  }
  &__price {}
  &__price-value {
    font-family      : mpb;
  }
  &__payout {}
  &__payout-value {
    font-family      : mpb;
  }
  &__right-column {
    flex-grow        : 1;
  }
  &__currency-pair {
    text-align       : center;
    text-transform   : uppercase;
    padding-bottom   : 20px;
  }
  &__percents-wrapper {
    display          : flex;
    justify-content  : space-between;

  }
  &__percent {
    font-family      : mpb;
  }
  &__line-wrapper {
    width            : 100px;
    height           : 7px;
    overflow         : hidden;
    margin           : 10px auto 0;
    display          : flex;
  }
  &__red-line {
    background-color : #a83723;
    height           : 100%;
    width            : 51%;
  }
  &__divider {
    background-color : transparent;
    width            : 2px;
  }
  &__green-line {
    background-color : #90ba34;
    height           : 100%;
    flex-grow        : 1;
  }
}

.section6 {
  margin-bottom      : 10px;
  &__name {
    font             : 48px mpbc;
    color            : #436a0c;
    text-transform   : uppercase;
    line-height      : .9em;
    padding-bottom   : 30px;
  }   
}

.section7 {
  position           : relative;
  margin-bottom      : -7px;
  &__name {
    font             : 48px mpbc;
    color            : #6a9a1f;
    padding-bottom   : 10px;
  }
  &__img {
    position         : absolute;
    top              : 2px;
    right            : 7px;
  }
  &__news {
    font             : 16px mpr;
    padding-bottom   : 12px;
  }
}

.section8 {
  &__btn {
    display          : block;
    text-decoration  : none;
    position         : relative;
    padding-top      : 45px;
    padding-left     : 119px;
  }
  &__img {
    position         : absolute;
    top              : 0;
    left             : 0;
  }
  &__name {
    position         : relative;
    font             : 30px mpb;
    text-transform   : uppercase;
    color            : #6a9a1f;
    line-height      : .95em;
    text-shadow      : 0  2 0 #23330a;
    width: 150px;
  }
  &__description {
    position         : relative;
    font             : 18px mpr;
    color            : black
  }
}

.section9 {
  display            : flex;
  max-width          : 1000px;
  min-height         : 279px;
  margin             : 0 auto;
  position           : relative;
  flex-wrap          : wrap;
  &__left-column {
    position         : relative;
    width            : 100%;
    padding          : 15px;
    min-height       : 279px;
  }
  &__right-column {
    position         : relative;
    padding          : 28px 0 0 45px;
    width            : 100%;
    min-height       : 279px;
    background-color : #212121;
  }
  &__left-column-img {
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : 100%;
    min-height       : 100%;
  }
  &__right-column-img {
    position         : absolute;
    top              : 0;
    right            : 0;
  }
  &__header {
    font             : 24px mpb;
    color            : #6a9a1f;
    position         : relative;
    text-align       : center;
  }
  &__description {
    font             : 22px mpc;
    color            : white;
    position         : relative;
    text-align       : center;
  }
  &__name {
    position         : relative;
    font             : 24px mpb;
    color            : white;
    padding-bottom   : 25px;
  }
  &__preferences {
    position         : relative;
    font             : 14px mpb;
    color            : white;
  }
  &__link {
    font             : 20px mpb;
    color            : white;
    text-decoration  : none;
    position         : absolute;
    z-index          : 2;
    display          : block;
    background       : url('../img/green-arrow.png') left top no-repeat;
    width            : 285px;
    height           : 49px;
    padding-top      : 10px;
    text-align       : center;
    cursor           : default;
    transform        : translate(-50%, 0);
    &:nth-of-type(1) {
      top            : 140px;
      left           : 50%;
    }
    &:nth-of-type(2) {
      top            : 210px;
      left           : 50%;
    }
  }
  &__arrow-img {
    display          : none;
  }
}

@media screen and (min-width: 670px) {
  .section9 {
    &__left-column {
      padding          : 15px 0 0 15px;
    }
    &__header {
      font           : 48px mpb;
      text-align     : left;
    }
    &__description {
      font           : 30px mpc;
      text-align     : left;
    }
    &__link {
      font             : 22px mpb;
      transform        : translate(0, 0);
      &:nth-of-type(1) {
        top            : 200px;
        left           : 60px;
      }
      &:nth-of-type(2) {
        top            : 200px;
        left           : 370px;
      }
    }
    &__arrow-img {
      display          : block;
      position         : absolute;
      top              : 200px;
      left             : 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  .section9 {
    flex-wrap          : nowrap;
    &__left-column {
      width        : 580px;
    }
    &__right-column {
      width            : 420px;
    }
  }
}

.section10 {
  display            : flex;
  justify-content    : center;
  align-items        : center;
  max-width          : 1000px;
  margin             : 15px auto 0;
  position           : relative;
  background-color   : white;
  min-height         : 44px;
  padding            : 0 15px;
  flex-wrap          : wrap;
  img {
    margin           : 6px;
  }
}

@media screen and (min-width: 800px) {
  .section10 {
    justify-content  : space-between;
  }
}

// //BEM-blocks
@import "../BEM-blocks/header/header.scss";
@import "../BEM-blocks/login-form/login-form.scss";
@import "../BEM-blocks/language-switcher/language-switcher.scss";
@import "../BEM-blocks/navigation/navigation.scss";
@import "../BEM-blocks/form-registration/form-registration.scss";
@import "../BEM-blocks/timer/timer.scss";
@import "../BEM-blocks/footer/footer.scss";