@import "fonts";
@import "reset";
@import "style_general";
// @import "index/index_768+";

body {
  // background-color: #dbdbdb;
}

.header-section2 {
  max-width          : 1280px;
  margin             : 0 auto;
  min-height         : 38px;
  background-color   : black;
  display            : flex;
  justify-content    : flex-start;
  align-items        : center;
  padding-left       : 160px;
  &__reuters {
    margin           : 0 25px;
  }
  &__widget-wrapper {
    border           : 1px solid transparent;
    flex-grow        : 1;
    height           : 28px;
    overflow         : hidden;
    position         : relative;
  }
}

.main {
  max-width          : 1280px;
  margin             : 0 auto;
  position           : relative;
  background         : url('../img/bg-main.jpg') left top no-repeat;
  min-height         : calc(100vh - 105px - 38px);
}
.content-wrapper {
  max-width          : 1000px;
  margin             : 0 auto;
  position           : relative;
  background-color   : white;
  min-height         : calc(100vh - 105px - 38px);
  display            : flex;
  justify-content    : space-between;
  align-items        : flex-start;
  .section-flex-wrapper-left-column {
    width            : 700px;
  }
  .aside-nav-wrapper {
    width            : 270px;
    padding          : 10px 20px 0;
  }
}

.section1 {
  position           : relative;
  &__header {
    font             : 53px mpb;
    position         : absolute;
    top              : 20px;
    left             : 30px;
    text-shadow      : 0 0 10px white;
  }
  &__img {
    width            : 100%;
    padding-bottom   : 30px;
  }
  &__subheader {
    font             : 36px mpbc;
    color            : #6a9a1f;
    padding          : 0 0 10px 20px;
  }
  &__text {
    padding-left     : 20px;
    font             : 16px mpr;
    padding-bottom   : 10px;
  }
}

// //BEM-blocks
@import "../BEM-blocks/header/header.scss";
@import "../BEM-blocks/login-form/login-form.scss";
@import "../BEM-blocks/language-switcher/language-switcher.scss";
@import "../BEM-blocks/navigation/navigation.scss";
// @import "../BEM-blocks/form-registration/form-registration.scss";
@import "../BEM-blocks/timer/timer.scss";
@import "../BEM-blocks/aside-nav/aside-nav.scss";
@import "../BEM-blocks/footer/footer.scss";