.recoveryform {
  max-width          : 660px;
  margin             : 50px auto 0;
  display            : flex;
  justify-content    : space-between;
  align-items        : center;
  position           : relative;
  &__label,
  &__btn {
    display          : block;
    font             : 20px mpc;
    color            : white;
    height           : 40px;
    line-height      : 40px;
    min-width        : 70px;
    background-color : #6a9a1f;
    padding-left     : 12px;
    border           : 1px solid #6a9a1f;
    border-radius    : 4px 0 0 4px / 4px 0 0 4px;
  }
  &__input {
    display          : block;
    min-width        : 100px;
    height           : 40px;
    border           : 1px solid #6a9a1f;
    flex-grow        : 1;
    padding-left     : 12px;
  }
  &__btn {
    padding          : 0 12px;
    cursor           : pointer;
    border-radius    : 0 4px 4px 0 / 0 4px 4px 0;
  }
  &__error {
    min-height       : 30px;
    min-width        : 250px;
    max-width        : 318px;
    position         : absolute;
    top              : 0;
    left             : 10px;
    font             : 16px mpbc;
    text-align       : justify;
    background-color : white;
    padding          : 6px;
    border           : 1px solid #23cd45;
    border-radius    : 4px;
  }
  .error-triangle {
    position         : absolute;
    z-index          : 1;
    top              : -10px;
    border           : {
      bottom         : 10px solid #23cd45;
      left           : 10px solid transparent;
      right          : 10px solid transparent;
    }
    &::after {
      content        : '';
      display        : block;
      position       : absolute;
      z-index        : 1;
      left           : -8px;
      top            : 2px;
      border         : {
        bottom       : 8px solid white;
        left         : 8px solid transparent;
        right        : 8px solid transparent;
      }
    }
  }
}