
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Black.eot");
  src: url("../fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.eot");
  src: url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.eot");
  src: url("../fonts/montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

/** {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: "Montserrat", sans-serif; }



li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }*/
/*.main-nav a{
   font-family: "Montserrat" !important;
}*/
section{
  overflow-x: hidden;
}
.section--news .container {
  max-width: 1132px;
  margin: auto; }
.link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .link:hover {
    color: #fff;
    text-decoration: none; }
  .link--main-nav {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    position: relative; }
    .link--main-nav:before {
      content: "";
      position: absolute;
      bottom: -4px;
      height: 3px;
      width: 0;
      background-color: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .link--main-nav:hover:before {
      width: 100%; }
  .link--main-nav-login {
    color: #fff;
    padding: 6px;
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 1.2; }
    .link--main-nav-login:hover {
      background-color: #fff;
      color: #1C2E3D; }
  .link--main-nav-open-account {
    color: #1C2E3D;
    font-size: 12px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #fff; }
    .link--main-nav-open-account:hover {
      background-color: transparent;
      color: #fff; }
  .link--read-more {
    color: #1C2E3D;
    font-size: 9px;
    margin-top: 15px;
    text-align: center; }
    .link--read-more:hover {
      color: #999; }
  .link--pre-footer {
    font-size: 14px;
    line-height: 24px;
    border-bottom: 3px solid transparent; }
    .link--pre-footer:hover {
      border-color: #fff; }
  .link--social:hover {
    -webkit-animation: .3s bounce;
            animation: .3s bounce; }

@-webkit-keyframes bounce {
  0 {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bounce {
  0 {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.title--secondary {
  font-size: 49px;
  font-weight: bold;
  color: #1C2E3D;
  text-transform: uppercase;
  text-align: center; }

.news .title--third {
  font-size: 20px;
  font-weight: bold;
  color: #1C2E3D; }

.button {
  cursor: pointer; }

input, button, select {
  outline: none; }

.header {
  background-color: #1C2E3D;
  border: 1px solid #707070;
  padding: 24px 0; }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .logo img {
    width: 178px; }
  .header .nav {
    width: 100%;
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
    .header .nav .button {
      width: 22px;
      height: 22px;
      background: none;
      border: none;
      background-image: url(../img/news-image/menu-button.svg);
      background-size: cover;
      display: none; }

.section--tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../img/news-image/bg_tabs.svg);
  background-size: cover;
  background-position: center 80%;
  z-index: 1;
  position: relative; }
  .section--tabs .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px; }
  .section--tabs .tabs {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 70px auto;
    width: auto; }
    .section--tabs .tabs__item {
      width: 100%;
      white-space: nowrap;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border: 1px solid #1C2E3D;
      color: #1C2E3D;
      text-align: center;
      padding: 00px;
      font-size: 12px;
      font-weight: bold;
      position: relative; }
      .section--tabs .tabs__item a{
        padding: 10px 20px;
        display: block;
      }
      .section--tabs .tabs__item.current_page_item {
        color: #fff;
        background-color: #1C2E3D; }
        .section--tabs .tabs__item.current_page_item .marker {
          position: absolute;
          left: 0;
          top: 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .section--tabs .tabs__item.current_page_item .marker:after {
            content: "";
            position: absolute;
            left: -1px;
            top: -1px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 20px 0 0;
            border-color: #ff0000 transparent transparent transparent; }
          .section--tabs .tabs__item.current_page_item .marker:before {
            content: "";
            position: absolute;
            left: -1px;
            top: -1px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 26px 26px 0 0;
            border-color: #fff transparent transparent transparent; }
        .section--tabs .tabs__item.current_page_item:hover.current_page_item .marker {
          -webkit-transform: translate(-4px, -4px);
              -ms-transform: translate(-4px, -4px);
                  transform: translate(-4px, -4px); }
      .section--tabs .tabs__item:hover {
        background-color: #1C2E3D;
        color: #fff; }
      .section--tabs .tabs__item:not(:last-child) {
        margin-right: 40px; }
        .section--tabs .tabs__item:not(:last-child):before {
          content: "";
          position: absolute;
          right: -41px;
          top: calc(50% - 1px);
          width: 40px;
          height: 1px;
          background-color: #829BAC; }

.section--news {
  position: relative; }
  .section--news .container {
    overflow: hidden;
    padding: 0; }
  .section--news .news {
    width: 100%;
    position: relative;
    padding-bottom: 90px;
    left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 20px 10px 100px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 840px; }
    .section--news .news__item {
      position: relative;
      text-align: center;
      width: 348px;
      align-self: center;
      height: 280px;
      margin: 0 14px;
      -webkit-box-shadow: 0 3px 6px #999;
              box-shadow: 0 3px 6px #999; }
      .section--news .news__item:not(.new) {
        margin-bottom: 20px; }
      .section--news .news__item .description {
        text-align: left;
        font-size: 12px;
        margin-top: 30px;
        color: #1C2E3D;
        position: relative;
        max-height: 40px;
        overflow: hidden;
        padding: 0 20px; }
        .section--news .news__item .description:before {
          content: "\02026";
          position: absolute;
          bottom: 2px;
          right: 15px;
          font-size: 20px;
          background-color: #f7f7f7; }
      .section--news .news__item.new {
        height: 580px; }
        .section--news .news__item.new:before {
          content: "";
          position: absolute;
          left: 0px;
          top: -22px;
          background-image: url(../img/news-image/new_badge.svg);
          width: 86px;
          height: 38px;
          background-repeat: no-repeat;
          background-size: cover; }
        .section--news .news__item.new .description {
          max-height: 338px; }
      .section--news .news__item img {
        width: 348px;
        object-fit: cover;
        height: 130px; }
      .section--news .news__item .title {
        position: relative;
        margin-bottom: 28px;
        margin-top: 10px;
        text-align: left;
        padding: 0 20px; }
        .section--news .news__item .title:after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: -20px;
          background-image: url(../img/news-image/redline.svg);
          height: 3px;
          background-repeat: no-repeat;
          width: 100%; }
      .section--news .news__item .button--accordeon {
        display: none;
        position: absolute;
        right: 40px;
        background: none;
        border: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 15px 0 15px;
        border-color: #ff0000 transparent transparent transparent;
        padding: 0; }
  .section--news .nav-btns-wrapper {
    position: absolute;
    bottom: 6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 15px;
    -webkit-box-shadow: 0 3px 6px #999;
            box-shadow: 0 3px 6px #999;
    padding: 2px 3px 3px 3px; }
    .section--news .nav-btns-wrapper .button {
      background-color: #fff;
      width: 42px;
      height: 22px;
      border: 1px solid #1C2E3D;
      position: relative; }
      .section--news .nav-btns-wrapper .button:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        background-size: cover;
        width: 18px;
        height: 16px;
        background-position: center; }
      .section--news .nav-btns-wrapper .button--prev {
        border-radius: 15px 0 0 15px; }
        .section--news .nav-btns-wrapper .button--prev:before {
          background-image: url(../img/news-image/prev.svg); }
      .section--news .nav-btns-wrapper .button--next {
        border-radius: 0 15px 15px 0; }
        .section--news .nav-btns-wrapper .button--next:before {
          background-image: url(../img/news-image/next.svg); }

.section--pre-footer {
  background-color: #1C2E3D;
  margin-top: 60px;
  padding: 40px 0; }
  .section--pre-footer .logo {
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .section--pre-footer .logo img {
      width: 180px; }
  .section--pre-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .section--pre-footer .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 10px; }
    .section--pre-footer .nav__list .title-pre-footer {
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 19px;
      color: #fff;
      text-transform: uppercase; }

.payment-strip {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  overflow: hidden; }
  .payment-strip img {
    margin-right: 120px; }

.footer {
  background-color: #1C2E3D;
  color: #fff;
  padding: 40px 0; }
  .footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px; }
    .footer .top .mobile-apps__item {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .footer .top .mobile-apps__item:hover {
        opacity: 0.7; }
      .footer .top .mobile-apps__item img {
        width: 120px; }
    .footer .top .social {
      width: 300px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .top .social .title-social {
        color: #fff;
        position: relative;
        font-size: 14px;
        text-transform: uppercase; }
  .footer .bottom {
    text-align: center;
    font-size: 12px;
    padding-top: 20px;
    border-top: 1px solid #5F5F5F; }
.cur-month{
  cursor: pointer;
}
.label__text{
  cursor: pointer;
}
.sort-tooltip {
  position: fixed;
  right: 0;
  top: 0%;
  background-color: #fff;
  padding: 15px;
  -webkit-transform: translatex(100%);
      -ms-transform: translatex(100%);
          transform: translatex(100%);
  -webkit-box-shadow: 0 3px 36px rgba(0, 0, 0, 0.11);
          box-shadow: 0 3px 36px rgba(0, 0, 0, 0.11);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 105;
  -webkit-animation: 1s load_tooltip;
          animation: 1s load_tooltip; }
  .sort-tooltip:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 24px 0 0;
    border-color: #ff0000 transparent transparent transparent; }

@-webkit-keyframes load_tooltip {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%); }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes load_tooltip {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%); }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }
  .sort-tooltip .flatpickr-calendar {
    margin-top: -22px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .sort-tooltip .flatpickr-input {
    opacity: 0;
    pointer-events: none; }
  .sort-tooltip .flatpickr-day {
    border-radius: 0;
    height: 30px;
    line-height: 26px; }
  .sort-tooltip .flatpickr-day.selected {
    background-color: red; }
  .sort-tooltip .button--show {
    background: transparent;
    background-image: url(../img/news-image/btn_bg.svg);
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    position: absolute;
    left: -60px;
    -webkit-transform: rotate(90deg) translatex(-120%);
        -ms-transform: rotate(90deg) translatex(-120%);
            transform: rotate(90deg) translatex(-120%);
    top: 50%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 25px;
    overflow: hidden; }
  .sort-tooltip .button--close-tooltip {
    position: absolute;
    border: none;
    line-height: 1;
    border: 2px solid transparent;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 24px;
    -webkit-box-shadow: 0 0 36px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 36px rgba(0, 0, 0, 0.3); }
  .sort-tooltip .title-tooltip {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
    .sort-tooltip .title-tooltip--secondary {
      margin-top: 20px; }
  .sort-tooltip .category-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 140px;
    margin-top: 20px;
    text-align: center; }
    .sort-tooltip .category-wrapper .label {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      min-width: 100px;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 10px;
      -ms-flex-item-align: center;
          align-self: center; }
      .sort-tooltip .category-wrapper .label [type="checkbox"] {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        width: 20px;
        height: 20px;
        background-color: #F6F6F6;
        cursor: pointer;
        position: relative;
        margin-right: 6px; }
        .sort-tooltip .category-wrapper .label [type="checkbox"]:checked:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background-color: #ff0000;
          width: 14px;
          height: 14px; }
        .sort-tooltip .category-wrapper .label [type="checkbox"]:checked:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 0;
          border-color: #F6F6F6 transparent transparent transparent; }

.slider-news-wrapper {
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 101;
  overflow: hidden; }
  .slider-news-wrapper.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .slider-news-wrapper.active .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8); }
    .slider-news-wrapper.active .slider-news {
      z-index: 10;
      max-width: 1130px;
      margin: 0 20px;
      white-space: nowrap;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .slider-news-wrapper.active .slider-news__item {
        border: 4px solid #fff;
        position: relative;
        display: inline-block;
        white-space: normal;
        margin: 80px 40px 0;
        opacity: 0.5;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
        .slider-news-wrapper.active .slider-news__item.current {
          opacity: 1; }
        .slider-news-wrapper.active .slider-news__item:before {
          content: "";
          position: absolute;
          left: -8px;
          top: 10px;
          height: 4px;
          width: 40px;
          background-color: #fff;
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
        .slider-news-wrapper.active .slider-news__item.new .title:after {
          content: "new";
          position: absolute;
          font-size: 20px;
          color: #fff;
          right: 20px;
          bottom: 0;
          text-transform: uppercase; }
      .slider-news-wrapper.active .slider-news .title {
        font-size: 60px;
        color: #fff;
        font-weight: bold;
        padding: 20px 40px;
        position: relative; }
        .slider-news-wrapper.active .slider-news .title:before {
          content: "";
          position: absolute;
          left: -4px;
          top: -4px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 29px 29px 0 0;
          border-color: #ff0000 transparent transparent transparent; }
        .slider-news-wrapper.active .slider-news .title .indicate-new:before, .slider-news-wrapper.active .slider-news .title .indicate-new:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 200px;
          background-image: url(../img/news-image/new_slider.png);
          background-repeat: no-repeat;
          background-size: cover; }
        .slider-news-wrapper.active .slider-news .title .indicate-new:after {
          background-image: url(../img/news-image/new_slider_02.png); }
      .slider-news-wrapper.active .slider-news .description {
        background-color: #fff;
        font-size: 14px;
        padding: 20px 40px;
        max-height: 400px;
        overflow: auto; }
    .slider-news-wrapper.active .controls {
      position: absolute;
      left: 50%;
      bottom: 8px;
      background-color: #fff;
      z-index: 10;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      border-radius: 25px;
      padding: 4px 6px 0px 6px; }
      .slider-news-wrapper.active .controls .button {
        background-color: #fff;
        width: 42px;
        height: 22px;
        border: 1px solid #1C2E3D;
        position: relative; }
        .slider-news-wrapper.active .controls .button:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          background-size: cover;
          width: 18px;
          height: 16px;
          background-position: center; }
        .slider-news-wrapper.active .controls .button--prev {
          border-radius: 15px 0 0 15px;
          margin-right: 24px; }
          .slider-news-wrapper.active .controls .button--prev:before {
            background-image: url(../img/news-image/prev.svg); }
        .slider-news-wrapper.active .controls .button--next {
          border-radius: 0 15px 15px 0;
          margin-left: 24px; }
          .slider-news-wrapper.active .controls .button--next:before {
            background-image: url(../img/news-image/next.svg); }
        .slider-news-wrapper.active .controls .button--close {
          position: absolute;
          background-image: url(../img/news-image/close.svg);
          background-size: 14px 14px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #294F6E;
          border: 2px solid #fff;
          padding: 0;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 38px;
          height: 38px;
          border-radius: 50%; }

.main-slider-overlay {
  display: none; }
  .main-slider-overlay.active {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    bottom: -80px;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    overflow: hidden; }
    .main-slider-overlay.active:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 10; }
    .main-slider-overlay.active img, .main-slider-overlay.active .bg_image_slider {
      position: absolute;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      will-change: background;
      background-repeat: no-repeat;
      background-size: cover; }

/*#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 555; }
  #preloader.load {
    -webkit-animation: 1s fade forwards;
            animation: 1s fade forwards; }

@-webkit-keyframes fade {
  0 {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }

@keyframes fade {
  0 {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }
  #preloader img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
*/
.b-marquee-line__flow {
  overflow: hidden; }

@media screen and (max-width: 1172px) {
  .section--news .container {
    max-width: 760px;
    overflow: hidden; }
  .section--news .news {
    max-width: 760px;
    margin: auto; }
  .slider-news-wrapper.active {
    position: fixed;
    max-height: calc(100vh - 20px);
    overflow-y: auto; }
    .slider-news-wrapper.active .slider-news {
      max-width: 100%;
      max-height: calc(100% - 40px); }
    .slider-news-wrapper.active .controls {
      bottom: 100%;
      -webkit-transform: translate(-50%, calc(100% + 40px));
          -ms-transform: translate(-50%, calc(100% + 40px));
              transform: translate(-50%, calc(100% + 40px)); }
  .main-slider-overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100; } }

@media screen and (max-width: 900px) {
  .section--pre-footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .section--pre-footer .container .nav {
      width: 100%; } }

@media screen and (max-width: 778px) {
  .section--news .container {
    padding: 40px 0; }
    .section--news .container .nav-btns-wrapper {
      display: none; }
  .section--news .news {
    max-height: 100%;
    padding: 0 20px;
    left: 0 !important; }
    .section--news .news__item {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
      height: 450px;
      height: 80px;
      background-image: url(../img/news-image/bg_news.svg);
      -webkit-box-shadow: none;
              box-shadow: none;
      background-size: cover;
      background-position: 100% 98%;
      background-repeat: no-repeat;
      padding: 0 20px; }
      .section--news .news__item .button--accordeon {
        display: block;
        top: 50%;
        -webkit-transform: translateY(calc(-50% - 14px));
            -ms-transform: translateY(calc(-50% - 14px));
                transform: translateY(calc(-50% - 14px)); }
      .section--news .news__item.new {
        height: 80px; }
        .section--news .news__item.new:before {
          display: none;
          content: 'new';
          color: #fff;
          text-transform: uppercase;
          font-weight: bold;
          left: 100%;
          -webkit-transform: translateX(calc(-100% - 20px));
              -ms-transform: translateX(calc(-100% - 20px));
                  transform: translateX(calc(-100% - 20px));
          background-image: none;
          top: 0;
          width: 120px;
          font-size: 14px;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          background-image: url(../img/news-image/btn_bg.svg);
          background-repeat: no-repeat; }
        .section--news .news__item.new .description {
          display: none;
          max-height: 160px;
          overflow: hidden; }
      .section--news .news__item.active {
        max-height: 600px;
        height: 100%;
        padding-bottom: 20px;
        background-position: 100% 96%; }
        .section--news .news__item.active .description, .section--news .news__item.active img, .section--news .news__item.active .link {
          display: block; }
        .section--news .news__item.active .title:after {
          display: block; }
        .section--news .news__item.active .button--accordeon {
          border-width: 0 15px 20px 15px;
          border-color: transparent transparent #ff0000 transparent;
          top: 172px; }
        .section--news .news__item.active.new:before {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
      .section--news .news__item .title--third:after {
        display: none; }
      .section--news .news__item .link {
        display: none; }
      .section--news .news__item .description {
        display: none; }
      .section--news .news__item img {
        display: none;
        width: 100%;
        max-width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
      .section--news .news__item .link {
        background-image: url(../img/news-image/read-more_bg.svg);
        background-size: cover;
        color: #fff;
        width: 80px;
        margin: auto;
        padding: 5px 0; } }

@media screen and (max-width: 768px) {
  .header .nav {
    z-index: 103; }
    .header .nav .button {
      display: block;
      position: absolute;
      right: 0; }
    .header .nav .link {
      display: none; }
    .header .nav.active {
      position: fixed;
      max-width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      left: 0;
      top: 0;
      height: 100vh;
      padding: 20px 0;
      background-color: rgba(28, 46, 61, 0.9); }
      .header .nav.active .button {
        right: 15px;
        top: 35px;
        background-image: url(../img/news-image/close.svg); }
      .header .nav.active .link {
        display: block; } }

@media screen and (max-width: 712px) {
  .section--tabs .tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .section--tabs .tabs__item {
      width: 46%;
      margin-bottom: 20px; }
      .section--tabs .tabs__item:not(:last-child) {
        margin-right: 0; }
      .section--tabs .tabs__item:before {
        display: none; }
  .section--pre-footer .nav {
    width: 100%; }
    .section--pre-footer .nav__list {
      width: 50%;
      max-width: 300px;
      margin-bottom: 20px; }
  .footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .top .mobile-apps {
      margin-bottom: 20px; } }

@media screen and (max-width: 500px) {
  .slider-news-wrapper.active .slider-news .title .indicate-new:after,
  .slider-news-wrapper.active .slider-news .title .indicate-new:before {
    display: none; } }

/*# sourceMappingURL=style.css.map */

.news-lists li{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.news-lists li:before{
  display: none;
}
section ul li.tabs__item:before{
  margin-right: 0;
}
.logo-stub{
  max-width: 90%;
}
.tabs li.current_page_item a{
    color: #fff;
}
section ul.tabs li.tabs__item:before{
  /*display: none;*/
  content: '';
}
.tabs li:hover a{
  color: #fff;
}
.content-block .rss-news-wrap h3{
  font-size:  22px;
}
.label__text{
  font-size:  16px;
  color: #212529;
  font-weight:  400;
}
.category-wrapper input[type="checkbox"], 
.category-wrapper input[type="radio"]{
  display: block;
  outline: none !important;
}
@media(max-width: 470px){
  .slider-news-wrapper.active .slider-news__item{
    margin:0;
  }
  .slider-news-wrapper.active .slider-news .title{
    font-size: 28px;
  }
  .section--tabs .tabs__item{
    width: 100% !important;
  }
  .section--news .news__item{
    height: auto !important;
  }
  .section--news .news__item img.logo-stub {
    width: 348px;
    height: 100%;
    max-width: 240px !important;
    margin: 60px auto;
}
.section--news .news__item .link{
  margin:10px auto;
}
}