.timer {
  font: 18px mpr;
  color: white;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__hours,
  &__minutes,
  &__seconds {
    text-align: center;
    width: 25px;
  }
  &__divider {
    text-align: center;
  }
  &__time-sone {
    text-transform: uppercase;
  }
}