// ↓↓↓ BEM-blocks: timer (start) ↓↓↓

//- style
//-   include timer.css

.timer
  span.timer__hours 00
  span.timer__divider :
  span.timer__minutes 00
  span.timer__divider :
  span.timer__seconds 00
  span.timer__time-sone gmt

script
  include ../minjs/timer/timer.js

// ↑↑↑ BEM-blocks: timer (end) ↑↑↑