.timer {
  font: 14px mpr;
  color: white;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__hours,
  &__minutes,
  &__seconds {
    text-align: center;
    width: 20px;
  }
  &__divider {
    text-align: center;
  }
  &__time-sone {
    text-transform: uppercase;
  }
}


@media screen and (min-width: 1200px) {
  .timer {
    &__hours,
    &__minutes,
    &__seconds {
      width: 25px;
    }
  }
}