////////////////////////////////////////////////////////////////////////////////
/* ↓↓↓ book-panel module ↓↓↓ */
.bbp {
  // position                : fixed;
  // bottom                  : 0;
  // left                    : 0;
  width                   : 100%;
  height                  : 60px;
  padding                 : 5px 15px;
  background-color        : black;
  user-select             : none;
  &__btns-wrapper {
    display               : flex;
    justify-content       : space-between;
    align-items           : center;
    height                : 100%;
    max-width             : 400px;
    margin                : 0 auto;
  }
  &__btn {
    border                : 2px solid lightgrey;
    border-radius         : 4px;
    width                 : 50px;
    height                : 50px;
    display               : flex;
    cursor                : pointer;
    svg {
      height              : 30px;
      fill                : lightgrey;
      margin              : auto;
    }
    &_active {
      border-color        : orange;
      svg {
        fill              : orange;
      }
    }
  }
  &__color-field {
    height                : auto;
    width                 : 100%;
    padding               : 2px 15px;
    display               : grid;
    grid-template-columns : repeat(6, 50px);
    grid-gap              : 4px;
    justify-content       : center;
    align-items           : center;
  }
}

// options area
.bbp {
  &__oa {
    font-size             : 20px;
    display               : none;
    height                : auto;
    width                 : 100%;
    max-width             : 1200px;
    max-height            : 50vh;
    position              : absolute;
    left                  : 50%;
    bottom                : 60px;
    transform             : translate(-50%);
    padding               : 0;
    background-color      : white;
    border-left           : 1px solid steelblue;
    border-right          : 1px solid steelblue;
    &_active {
      display             : block;
    }
  }
  &__oa-header {
    background-color      : steelblue;
    padding               : 6px 15px;
    color                 : white;
    font-weight           : 900;
    letter-spacing        : 2px;
    svg {
      height              : 15px;
      fill                : white;
      margin-right        : 10px;
    }
  }
  &__oa-subheader {
    padding: 2px 15px;
    font-weight: 900;
  }
  &__oa-block {
    padding: 2px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__oa-options-name {
    margin-right: 10px;
    width: 50px;
  }
  &__oa-options-param {
    margin-right: 10px;
    width: calc( 50% - 35px );
    max-width: 200px;
    input {
      width: 100%;
      height: 30px;
    }
  }
  &__oa-btns-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__oa-options-result {
    flex-grow : 1;
  }
  &__oa-param-btn {
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    width: calc( 50% - 6px );
    height: 30px;
    display: inline-flex;
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 4px;
    &:first-of-type {
      margin-right: 6px;
    }
    span {
      margin: auto;
    }
    &_color {
      font: 20px gost;
      width: 100%;
    }
  }
  &__oa-block_display {
    border: 1px solid black;
    padding: 6px;
    margin: 5px 15px;
    text-align: center;
  }
  &__oa-options-font-wrapper {
    border: 1px solid lightgrey;
    cursor: pointer;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 12px;
      right: 6px;
      border-top: 9px solid black;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }
  &__oa-options-font-current-name {
    height: 30px;
    line-height: 28px;
    padding-left: 6px;
  }
  &__oa-options-font-list {
    position: absolute;
    left: -1px;
    top: calc(100% + 2px);
    z-index: 1;
    border: 1px solid lightgrey;
    width: calc(100% + 2px);
    background-color: #fff;
    max-height: 135px;
    overflow-y: auto;
    display: none;
    &_active {
      display: block;
    }
  }
  &__oa-options-font-item {
    padding-left: 6px;
    height: 30px;
    line-height: 28px;
    &:nth-of-type(even) {
      background-color: lightgrey;
    }
    &:nth-of-type(1) {
      font-family: ar;
    }
    &:nth-of-type(2) {
      font-family: cr;
    }
    &:nth-of-type(3) {
      font-family: gost;
    }
    &:nth-of-type(4) {
      font-family: rr;
    }
    &:nth-of-type(5) {
      font-family: segr;
    }
    &:nth-of-type(6) {
      font-family: tnrr;
    }
    &:nth-of-type(7) {
      font-family: bmp;
    }
  }
}

// select area
.selected {
  height                  : 50px;
  width                   : 50px;
  border                  : 1px solid black;
  border-radius           : 4px;
  text-align              : center;
  font-size               : 20px;
  line-height             : 50px;
  user-select             : none;
  cursor                  : pointer;
  &_red {
    background-color      : red;
    color                 : black;
  }
  &_tomato {
    background-color      : tomato;
    color                 : black;
  }
  &_yellow {
    background-color      : yellow;
    color                 : black;
  }
  &_springgreen {
    background-color      : springgreen;
    color                 : black;
  }
  &_yellowgreen {
    background-color      : yellowgreen;
    color                 : black;
  }
  &_turquoise {
    background-color      : turquoise;
    color                 : black;
  }
  &_steelblue {
    background-color      : steelblue;
    color                 : white;
  }
  &_rebeccapurple {
    background-color      : rebeccapurple;
    color                 : lightgrey;
  }
  &_white {
    background-color      : white;
    color                 : black;
  }
  &_white-corrector {
    background-color      : white;
    color                 : white;
  }
  &_black {
    background-color      : black;
    color                 : lightgrey;
  }
  &_black-corrector {
    background-color      : black;
    color                 : black;
  }
  &_overscored {
    text-decoration-line: line-through;
  }
  &_underscored {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
  &_double-underscored {
    text-decoration-line: underline;
    text-decoration-style: double;
  }
  &_dotted-underscored {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
  &_dashed-underscored {
    text-decoration-line: underline;
    text-decoration-style: dashed;
  }
  &_wavy-underscored {
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
}

.bookmark-in-text {
  position: absolute;
  left: 10px;
  width: 55px;
  height: 74px;
  cursor: pointer;
  svg:first-of-type {
    fill: red;
    width: 30px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  svg:last-of-type {
    fill: orange;
    width: 40px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.bookmark-in-first-screen {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 180px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  background-color: rgba(255,255,255,.7);
  svg {
    fill: orange;
    width: auto;
    height: 75px;
  }
  &__btns-wrapper {
    height: 76px;
    margin-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  &__btn {
    height: 37px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 3px 5px;
    cursor: pointer;
    svg {
      height: 25px;
      width: auto;
      margin-right: 7px;
    }
    span {
      font: 20px gost;
    }
    &:first-of-type {
      svg {
        fill: red;
      }
    }
    &:last-of-type {
      svg {
        fill: Lime;
      }
    }
  }
}
/* ↑↑↑ book-panel module ↑↑↑ */
////////////////////////////////////////////////////////////////////////////////