// ↓↓↓ modules: consol (start) ↓↓↓

style.
  #consol > p {
    padding: 0 0 0 30px !important;
    text-indent: -30px !important;
  }

#consol(style='position: fixed; left:0; bottom: 60px; border: 1px solid black; width: 100vw; height: 0px; padding: 0 5px; background-color: white; font: 14px cr; overflow-y: auto; text-align: left')
  p *** consol ***
button#consol-button(style='position: fixed; bottom: 10px; right: 10px; cursor: pointer; width: 90px') open consol
button#ls-button(style='position: fixed; bottom: 36px; right: 10px; cursor: pointer; width: 90px') clear LS

//- script
//-   include consol.min.js

// ↑↑↑ modules: consol (end) ↑↑↑