// ↓↓↓ BEM-blocks: navigation (start) ↓↓↓

//- style
//-   include navigation.css

nav.navigation
  ul.navigation__list
    li: a(href='#') Торговая платформа
    li: a(href='account_types.html') Типы аккаунтов
    li: a(href='#') Документация
    li: a(href='registration.html') Регистрация
    li: a(href='password_recovery.html') Восстановить пароль
    li: a(href='contacts.html') Контакты

script
  include ../minjs/navigation/navigation.js

// ↑↑↑ BEM-blocks: navigation (end) ↑↑↑