// ↓↓↓ BEM-blocks: navigation (start) ↓↓↓

//- style
//-   include navigation.css

nav.navigation
  button.navigation__btn
    img(src="assets/img/menu.png", alt="menu.png")
  ul.navigation__list
    li: a(href='#') Trading platform
    li: a(href='account_types_en.html') Types of accounts
    li
      a.navigation__sublist-btn(href='#') Documentation
      ul.navigation__sublist
        li: a(href="terms_and_conditions_en.html") Customer agreement
        li: a(href='privacy_policy_en.html') privacy policy
        li: a(href='notification_of_risks_en.html') Risk Notification
        li: a(href='denial_of_responsibility_en.html') Denial of responsibility
        li: a(href='refund_policy_en.html') Return policy
        li: a(href='aml_and_kyc_policies_en.html') AML and KYC Policy
    li: a(href='registration_en.html') Registration
    li: a(href='password_recovery_en.html') Restore password
    li: a(href='contacts_en.html') Contacts

script
  include ../minjs/navigation/navigation.js

// ↑↑↑ BEM-blocks: navigation (end) ↑↑↑