// ↓↓↓ BEM-blocks: navigation (start) ↓↓↓

//- style
//-   include navigation.css

nav.navigation
  ul.navigation__list
    li: a(href='#') Trading Floor
    li: a(href='#') How to trade
    li: a(href='#') Make a deposit
    li: a(href='#') Account types
    li: a(href='#') Follow the Pro
    li: a(href='#') FAQ
    li: a(href='#') Contact us

script
  include ../minjs/navigation/navigation.js

// ↑↑↑ BEM-blocks: navigation (end) ↑↑↑