/*-----------------------------------------------------------*/
/*-----Company Styles----*/
/*-----------------------------------------------------------*/
.section-company {
    padding: 5.2vw 0;
}
.section-company h2,.section-company h3 {
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    line-height: normal;
    color: #06050d;
}
.section-company .content {
    padding-bottom: 60px;
}
.btn.btn-default {
    min-width: 250px;
}
.section-company p {
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 1.4;
}
.section-company p:last-child {
    margin: 0;
}
.section-company .why-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.section-company dl {
    width: 100%;
    min-width: 250px;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 1.3;
    max-width: 550px;
}
.section-company dl dt {
    padding: 0 0 0 25px;
    background: url("../img/ls_b_gray.png") 0 5px no-repeat;
    margin-bottom: 35px;
}

.section-company dl .title {
    font-size: 18px;
    color: #E0B831;
    font-weight: 500;
    margin-bottom: 5px;
    font-family: SFBold, sans-serif;
}
.section-company dl .ddesc {
    padding: 0 0 0 25px;
    font-size: 14px;
    color: #4b5354;
    font-weight: 400;
}
.section-become {
  text-align: center;
  padding: 0 0 85px;
}
.section-become .inner {
  padding: 70px 0 55px;
  background: #1c2e3d;
}
.section-become .inner img {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}
.section-become ul {
    margin: 50px 0 20px;
    padding: 0 100px;
}
.section-become ul li {
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 0 20px 0 17px;
    border-left: 1px solid #E0B831;
    background: none;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

.section-become ul li:nth-child(5) {
    border-left: none;
}

.section-become ul li:before {
    display: none;
}

.section-become ul li:first-child {
    border: none;
}

.section-become ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

/*-----------------------------------------------------------*/
/*-----Media Styles screen and (max-width: 768px)----*/
/*-----------------------------------------------------------*/
@media screen and (max-width: 768px) {
.section-company {
    padding: 30px 0;
  }
  .section-company h2, .section-company h3 {
    font-size: 24px;
  }
  .section-company h3 {
    margin-top: 30px;
  }
  .section-company ul li {
    width: 100%;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .section-company ul li p.title {
    font-size: 16px;
  }
  .section-company ul li p {
    font-size: 14px;
  }
  .section-become .inner {
    padding: 30px 0;
  }
  .section-become ul {
    padding: 0;
  }
  .section-become img {
    max-width: 70%;
  }
  .section-become ul li a {
    font-size: 14px;
  }
  .section-become ul li {
    padding: 0 7px 0 10px;
    font-size: 14px;
  }
}