// ↓↓↓ modules: form-reset-pass (start) ↓↓↓

//- style
  include form-reset-pass.css

form.form-reset-pass#resetForm(name='reset-pass-form' action='#' method='post')

  .form-reset-pass__form-group
    label.form-reset-pass__label(for='email-reset') Email:
    input.form-reset-pass__input#email-reset(name='email' placeholder='Ваш email' type='text')

  .form-reset-pass__form-group.form-reset-pass__form-group_with-check
    label
      i.form-reset-pass__check-no.ifont-mdi-toggle-check-box-outline-blank
      i.form-reset-pass__check-yes.ifont-mdi-toggle-check-box
      input(type='checkbox')
      span Я согласен с тем, что мой аккаунт может быть не доступен на протяжении 24 часов.

  .form-reset-pass__form-group.form-reset-pass__form-group_errors-list.errors-list

    p.form-reset-pass__form-error.form-error Email обязателен
    p.form-reset-pass__form-error.form-error Не правильный email

    p.form-reset-pass__form-error.form-error Подтвердите согласие с условиями

  .form-reset-pass__form-group
    button(type='button').form-reset-pass__btn#submitPasswordReset
      i.ifont-mdi-action-lock-open
      | Сбросить пароль

//- script
  include ../minjs/form-reset-pass/form-reset-pass.js

// ↑↑↑ modules: form-reset-pass (end) ↑↑↑