// ↓↓↓ modules: form-reset-pass (start) ↓↓↓

//- style
  include form-reset-pass.css

form.form-reset-pass#resetForm(name='reset-pass-form' action='#' method='post')

  .form-reset-pass__form-group
    label.form-reset-pass__label(for='email-reset') Email address:
    input.form-reset-pass__input#email-reset(name='email' placeholder='Your Email Address' type='text')

  .form-reset-pass__form-group.form-reset-pass__form-group_with-check
    label
      i.form-reset-pass__check-no.ifont-mdi-toggle-check-box-outline-blank
      i.form-reset-pass__check-yes.ifont-mdi-toggle-check-box
      input(type='checkbox')
      span I agree that my account may not be available for 24 hours

  .form-reset-pass__form-group.form-reset-pass__form-group_errors-list.errors-list

    p.form-reset-pass__form-error.form-error Email address is required
    p.form-reset-pass__form-error.form-error Invalid email address

    p.form-reset-pass__form-error.form-error Confirm the conditions

  .form-reset-pass__form-group
    button(type='button').form-reset-pass__btn#submitPasswordReset
      i.ifont-mdi-action-lock-open
      | Reset password

//- script
  include ../minjs/form-reset-pass/form-reset-pass.js

// ↑↑↑ modules: form-reset-pass (end) ↑↑↑