// ↓↓↓ modules: footer (start) ↓↓↓

//- style
  include footer.css

footer.footer
  .footer__inner
    .footer__inner-left-column
      .footer__logo-wrapper
        img(src="assets/img/logo.png", alt="logo")
        span.company-brand
      p.footer__info
        span.company-site
        |
        | is a trademark of the company
        |
        span.company-name
        |
        |, registered at:
        |
        span.company-address
        |.

      p.footer__info
        span.company-name
        |
        | does not provide its services to residents of the United States, Canada, Syria, Iran, North Korea and Japan, as well as to other regions where services cannot be provided due to current restrictions in the law.

      p.footer__info
        span(style='font-weight:900; letter-spacing: 1px; font-size: 1.2em;') General risk warning:
        |
        | The site
        |
        |
        span.company-site
        |
        | is an online trading platform for derivative financial instruments. Trading in derivative financial instruments brings a high level of investment income, but is also associated with the possibility of losing your investment.

      p.footer__info Before you start trading, you must qualify your own trading tasks, assess the degree of your own preparation, and also carefully weigh your money and risk management. Please read carefully the general trading criteria presented on our website before making any of your investments. Before making a decision on the beginning of transactions with financial instruments on this website, you must familiarize yourself with the Terms and Conditions of Service, as well as with the Notification of risks, Refund Policy, Privacy Policy and AML and KYC Policy.

      //- p.footer__info You can contact support at:
      //-   |
      //-   |
      //-   a.company-email(href="#" data-email)

    .footer__inner-right-column
      ul.footer__nav

        li.footer__nav-item
          a.footer__nav-link(href="docs_user-verification_en.html")
            i.footer__nav-img.ifont-mdi-action-done
            span.footer__nav-name User verification
        li.footer__nav-item
          a.footer__nav-link(href="docs_agreement_en.html")
            i.footer__nav-img.ifont-mdi-action-assignment
            span.footer__nav-name End user license agreement
        li.footer__nav-item
          a.footer__nav-link(href="docs_risk_en.html")
            i.footer__nav-img.ifont-mdi-action-description
            span.footer__nav-name Notification of risk
        li.footer__nav-item
          a.footer__nav-link(href="docs_aml-kyc_en.html")
            i.footer__nav-img.ifont-mdi-action-assignment-turned-in
            span.footer__nav-name AML and KYC policy
        li.footer__nav-item
          a.footer__nav-link(href="docs_refund_en.html")
            i.footer__nav-img.ifont-mdi-action-swap-horiz
            span.footer__nav-name Cash return policy
        li.footer__nav-item
          a.footer__nav-link(href="docs_privacy_en.html")
            i.footer__nav-img.ifont-mdi-action-lock-open
            span.footer__nav-name Privacy policy
        li.footer__nav-item
          a.footer__nav-link(href="docs_contacts_en.html")
            i.footer__nav-img.ifont-mdi-action-settings-phone
            span.footer__nav-name Contacts

        li.footer__nav-item
          a.footer__nav-link(href="forms_reset-pass_en.html")
            i.footer__nav-img.ifont-mdi-communication-vpn-key
            span.footer__nav-name Reset password
        li.footer__nav-item
          a.footer__nav-link(href="forms_registration_en.html")
            i.footer__nav-img.ifont-mdi-social-person-add
            span.footer__nav-name Open an account
        li.footer__nav-item
          a.footer__nav-link(href="forms_login_en.html")
            i.footer__nav-img.ifont-mdi-action-exit-to-app
            span.footer__nav-name Log in
  .footer__rights ©
    span.company-name
    |. All Rights Reserved.

//- script
  include ../minjs/footer/footer.js

// ↑↑↑ modules: footer (end) ↑↑↑