// ↓↓↓ modules: footer (start) ↓↓↓

footer#footer
  .inner
    //- h2 Связаться с нами
    //- form(action='#' method='post')
    //-   .field.half.first
    //-     label(for='name') Имя
    //-     input#name(name='name' type='text' placeholder='Имя')
    //-   .field.half
    //-     label(for='email') Почта
    //-     input#email(name='email' type='email' placeholder='Email')
    //-   .field
    //-     label(for='message') Сообщение
    //-     textarea#message(name='message' rows='6' placeholder='Сообщение')
    //-   ul.actions
    //-     li
    //-       input.button.alt(value='Отправить' type='submit')

    ul.icons
      li
        a.icon.round.wt-whatsapp(href='#' title='Whatsapp')
          //- img(src='assets/img/messenger.webp')
          span.label Whatsapp
      li
        a.icon.round.wt-viber(href='#' title='Viber')
          span.label Viber
      li
        a.icon.round.wt-telegram(href='#' title='Telegram')
          span.label Telegram

    p.footer__info
      span.company-site
      |
      | является торговой маркой компании
      |
      span.company-name
      |
      |, зарегистрированной по адресу:
      |
      span.company-address
      |.

    p.footer__info
      span.company-name
      |
      | не предоставляет свои услуги жителям США, Канады, Сирии, Ирана, Северной Кореи и Японии, а также другим регионам, где услуги не могут быть оказаны в связи с действующими ограничениями в законодательстве.

    p.footer__info
      span(style='font-weight:900; letter-spacing: 1px; font-size: 1.2em;') Общее предупреждение о риске:
      |
      | сайт
      |
      |
      span.company-site
      |
      | является онлайн-платформой для торговли производными финансовыми инструментами. Торговля производными финансовыми инструментами приносит высокий уровень дохода от инвестиций, но также связана с возможностью потери ваших инвестиций.

    p.footer__info Перед началом торговли вы обязаны квалифицировать собственные торговые задачи, расценить степень собственной подготовки, а еще тщательно взвесить управление капиталом и рисками. Пожалуйста,  ознакомьтесь внимательно с общими критериями торговли, представленными на нашем веб-сайте, до осуществления каждого Вашего вложения Перед принятием решения о начале совершения операций с финансовыми инструментами на данном сайте вы обязаны ознакомиться с Условиями и соглашениями об оказании услуг, а также с Уведомлением о рисках, Политикой возврата, Политикой конфиденциальности и Политикой AML и KYC.

    .copyright
      | ©
      |
      span.company-name
      |
      | Все права защищены.

// ↑↑↑ modules: footer (end) ↑↑↑