doctype html
html(lang="ua" allow="clipboard-read; clipboard-write")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="../../css/parser.css")
    link(rel="stylesheet", href="../../css/books.css")
    script(defer src="../../js/parser.js")
    title Парсер
  body
    main.main
      .textareas-wrapper
        .textarea-wrapper
          label(for='plainText') plain text
          textarea#plainText
        .textarea-wrapper
          label(for='pugText') pug-formatted text
          textarea#pugText
        //- .textarea-wrapper
        //-   label(for='resultText') result
        //-   textarea#resultText
      b INFO
      p Одноабзацний конвертер придуманий безпосередньо для конвертації одного масиву адаптованого по методу Франка тексту (один або кілька абзаців), скопійованього безпосередньо з Word'а. Багатоабзацний конверер приймає відформатований текст з pug-файлів. Він шукає в рядку фрагменти від '    p ' до '\n' і конвертує тільки їх.
      .buttons-wrapper
        button(type='button' onclick='cleanAllTextArea()') очистити все
        button(type='button' onclick='convertAndCopy()') одноабзацний конвертер
        button(type='button' onclick='convertAndCopyMyltiple()') багатоабзацний конвертер
        button(type='button' disabled) вставити з буфера

      .test(style='display:flex')
        .example(style='margin-right:20px')
          p
            span.btext Ich stellte also den Projektor (mein Projektor)
            |
            |(итак, я установила проектор (мой проектор))
            |
            span.btext auf die Fensterbank
            |
            |(
            span.f-coni das Fenster, die Bank – скамья, лавка
            |)
            span.btext , legte den Drakulafilm ein
            |
            |(вложила = поставила дракула-фильм;
            |
            span.f-coni einlegen
            |)
            |
            span.btext und besorgte eine Verlängerungsschnur
            |
            |(и достала удлинитель;
            |
            span.f-coni lang – длинный, verlängern – удлинять, die Schnur, besorgen – доставать, раздобыть
            |)
            span.btext , weil ich sonst nicht bis an die Steckdose kam
            |
            |(так как иначе я не доставала до розетки;
            |
            span.f-coni kommen-kam-gekommen – доходить, stecken – вставлять, die Dose – розетка
            |)
            span.btext . Dann konnte ich mühelos
            |
            |(тогда я смогла легко (т.е. без усилий);
            |
            span.f-coni die Mühe – усилие
            |)
            |
            span.btext Drakulas Gesicht
            |
            |(лицо дракулы;
            |
            span.f-coni das Gesicht
            |)
            |
            span.btext auf die Fassade des Hochhauses
            |
            |(на фасад высотного здания)
            |
            span.btext werfen
            |
            |(бросить = спроецировать)
            span.btext . Drakula war dort
            |
            |(дракула был там)
            |
            span.btext mindestens
            |
            |(по меньшей мере)
            |
            span.btext dreimal so groß
            |
            |(втрое больше)
            |
            span.btext wie in einem echten Kino
            |
            |(чем в настоящем кино;
            |
            span.f-coni das Kíno
            |)
            span.btext . Nur war meine Lampe im Projektor nicht stark genug
            |
            |(только моя лампа в проекторе не была достаточно сильной)
            span.btext . Sein Gesicht erschien also
            |
            |(его /дракулы/ лицо появлялось, таким образом;
            |
            span.f-coni erscheinen-erschien-erschienen
            |)
            |
            span.btext wie im Nebel
            |
            |(как в тумане;
            |
            span.f-coni der Nebel
            |)
            span.btext . Verschwommen
            |
            |(расплывчато;
            |
            span.f-coni verschwimmen – расплываться, schwimmen-schwamm-geschwommen – плыть
            |)
            span.btext .
          p
            span.btext Das machte die Geschichte
            |
            |(это сделало историю)
            |
            span.btext erst mal
            |
            |(сначала = как раз-то)
            |
            span.btext richtig unheimlich
            |
            |(по-настоящему жуткой)
            span.btext .
          p
            span.btext ***
          p
            span.btext «Wieso
            |
            |(почему)
            span.btext ?» fragte ich
            |
            |(спросила я)
            span.btext . «Hat einer den Löwen auf Sie losgelassen
            |
            |(разве кто-то спустил на Вас львов)
            span.btext ?»
          p
            span.btext Sie musterte mich von oben bis unten
            |
            |(она осмотрела меня с головы до ног;
            |
            span.f-coni mustern – осматривать; обозревать; разглядывать; окидывать взглядом
            |)
            |
            span.btext und überlegte
            |
            |(и обдумывала)
            span.btext , ob ich eine Antwort wert war
            |
            |(достойна ли я была ответа;
            |
            span.f-coni wert – стоящий
            |)
            span.btext , dann hauchte sie
            |
            |(потом она прошептала)
            |
            span.btext kaum hörbar
            |
            |(чуть слышно)
            span.btext : «Man hat schon oft genug gehört
            |
            |(уже достаточно часто слышно = ходят слухи)
            span.btext , dass so eine Bestie ausgebrochen ist
            |
            |(что так один зверь вырвался; ausbrechen,
            |
            span.f-coni brechen-brach-gebrochen – ломать
            |)
            span.btext .»
          p
            span.btext «Ich finde es aber gut
            |
            |(но я нахожу, однако, что это хорошо: «это хорошим»)
            span.btext , dass die Löwen noch alle Zähne und Klauen haben
            |
            |(что у львов еще есть все зубы и когти;
            |
            span.f-coni die Klaue
            |)
            span.btext .»
          p
            span.btext «So, warum denn
            |
            |(так, почему же)
            span.btext ?»
          p
            span.btext «Ja, weil
            |
            |(да, потому что)
            |
            span.btext – weil die
            |
            |(потому что они /львы/)
            |
            span.btext auf meinen Schatz aufpassen
            |
            |(присматривают за моим сокровищем)
            span.btext .»
          p
            span.btext «Auf deinen Schatz?»
          p
            span.btext «Mhm.»
          p
            span.btext «Du hast in dem Gehege einen Schatz versteckt
            |
            |(ты спрятала в канаве какое-то сокровище)
            span.btext ?»
          p
            span.btext «Ja, aber das erzähle ich nicht
            |
            |(да, но это я не расскажу)
            span.btext , das ist nämlich mein Geheimnis
            |
            |(это, именно, моя тайна = дело в том, что это моя тайна;
            |
            span.f-coni das Geheimnis
            |)
            span.btext .»

        .result
          p
            span.btext Ich stellte also den Projektor (mein Projektor) 
            |
            |(итак, я установила проектор (мой проектор))
            |
            span.btext  auf die Fensterbank 
            |
            |(
            span.f-coni das Fenster, die Bank – скамья, лавка
            |)
            span.btext , legte den Drakulafilm ein 
            |
            |(вложила = поставила дракула-фильм; 
            |
            span.f-coni einlegen
            |)
            |
            span.btext  und besorgte eine Verlängerungsschnur 
            |
            |(и достала удлинитель; 
            |
            span.f-coni lang – длинный, verlängern – удлинять, die Schnur, besorgen – доставать, раздобыть
            |)
            span.btext , weil ich sonst nicht bis an die Steckdose kam 
            |
            |(так как иначе я не доставала до розетки; 
            |
            span.f-coni kommen-kam-gekommen – доходить, stecken – вставлять, die Dose – розетка
            |)
            span.btext . Dann konnte ich mühelos 
            |
            |(тогда я смогла легко (т.е. без усилий); 
            |
            span.f-coni die Mühe – усилие
            |)
            |
            span.btext  Drakulas Gesicht 
            |
            |(лицо дракулы; 
            |
            span.f-coni das Gesicht
            |)
            |
            span.btext  auf die Fassade des Hochhauses 
            |
            |(на фасад высотного здания)
            |
            span.btext  werfen 
            |
            |(бросить = спроецировать)
            span.btext . Drakula war dort 
            |
            |(дракула был там)
            |
            span.btext  mindestens 
            |
            |(по меньшей мере)
            |
            span.btext  dreimal so groß 
            |
            |(втрое больше)
            |
            span.btext  wie in einem echten Kino 
            |
            |(чем в настоящем кино; 
            |
            span.f-coni das Kíno
            |)
            span.btext . Nur war meine Lampe im Projektor nicht stark genug 
            |
            |(только моя лампа в проекторе не была достаточно сильной)
            span.btext . Sein Gesicht erschien also 
            |
            |(его /дракулы/ лицо появлялось, таким образом; 
            |
            span.f-coni erscheinen-erschien-erschienen
            |)
            |
            span.btext  wie im Nebel 
            |
            |(как в тумане; 
            |
            span.f-coni der Nebel
            |)
            span.btext . Verschwommen 
            |
            |(расплывчато; 
            |
            span.f-coni verschwimmen – расплываться, schwimmen-schwamm-geschwommen – плыть
            |)
            span.btext .
          p
            span.btext Das machte die Geschichte 
            |
            |(это сделало историю)
            |
            span.btext  erst mal 
            |
            |(сначала = как раз-то)
            |
            span.btext  richtig unheimlich 
            |
            |(по-настоящему жуткой)
            span.btext .
          p
            span.btext 
          p
            span.btext ***
          p
            span.btext 
          p
            span.btext «Wieso 
            |
            |(почему)
            span.btext ?» fragte ich 
            |
            |(спросила я)
            span.btext . «Hat einer den Löwen auf Sie losgelassen 
            |
            |(разве кто-то спустил на Вас львов)
            span.btext ?»
          p
            span.btext Sie musterte mich von oben bis unten 
            |
            |(она осмотрела меня с головы до ног; 
            |
            span.f-coni mustern – осматривать; обозревать; разглядывать; окидывать взглядом
            |)
            |
            span.btext  und überlegte 
            |
            |(и обдумывала)
            span.btext , ob ich eine Antwort wert war 
            |
            |(достойна ли я была ответа; 
            |
            span.f-coni wert – стоящий
            |)
            span.btext , dann hauchte sie 
            |
            |(потом она прошептала)
            |
            span.btext  kaum hörbar 
            |
            |(чуть слышно)
            span.btext : «Man hat schon oft genug gehört 
            |
            |(уже достаточно часто слышно = ходят слухи)
            span.btext , dass so eine Bestie ausgebrochen ist 
            |
            |(что так один зверь вырвался; 
            |
            span.f-coni ausbrechen, brechen-brach-gebrochen – ломать
            |)
            span.btext .»
          p
            span.btext «Ich finde es aber gut 
            |
            |(но я нахожу, однако, что это хорошо: «это хорошим»)
            span.btext , dass die Löwen noch alle Zähne und Klauen haben 
            |
            |(что у львов еще есть все зубы и когти; 
            |
            span.f-coni die Klaue
            |)
            span.btext .»
          p
            span.btext «So, warum denn 
            |
            |(так, почему же)
            span.btext ?»
          p
            span.btext «Ja, weil 
            |
            |(да, потому что)
            |
            span.btext  – weil die 
            |
            |(потому что они /львы/)
            |
            span.btext  auf meinen Schatz aufpassen 
            |
            |(присматривают за моим сокровищем)
            span.btext .»
          p
            span.btext «Auf deinen Schatz?»
          p
            span.btext «Mhm.»
          p
            span.btext «Du hast in dem Gehege einen Schatz versteckt 
            |
            |(ты спрятала в канаве какое-то сокровище)
            span.btext ?»
          p
            span.btext «Ja, aber das erzähle ich nicht 
            |
            |(да, но это я не расскажу)
            span.btext , das ist nämlich mein Geheimnis 
            |
            |(это, именно, моя тайна = дело в том, что это моя тайна; 
            |
            span.f-coni das Geheimnis
            |)
            span.btext .»


      p
        span.btext 1.Auf dem großen Passagierdampfer 
        |
        |(на большом пассажирском пароходе; 
        |
        span.f-coni der Dampfer – пароход
        |)
        span.btext , der um Mitternacht von New York nach Buenos Aires abgehen sollte 
        |
        |(который в полночь должен был отплыть из Нью-Йорка в Буэнос-Айрес; 
        |
        span.f-coni die Mitternacht; abgehen – отходить, отправляться
        |)
        span.btext , herrschte die übliche Geschäftigkeit und Bewegung der letzten Stunde 
        |
        |(царили обычные для последнего часа /перед отплытием/ суета и волнение /движение/; 
        |
        span.f-coni geschäftig – деятельный, хлопотливый; die Bewegung; bewegen – двигать, приводить в движение; sich bewegen – двигаться, передвигаться
        |)
        span.btext . Gäste vom Land drängten durcheinander 
        |
        |(гости с суши /провожающие/ проталкивались между друг другом /сквозь толпу/; 
        |
        span.f-coni der Gast, das Land; drängen – напирать, теснить; sich drängen – проталкиваться, протискиваться
        |)
        span.btext , um ihren Freunden das Geleit zu geben 
        |
        |(чтобы проводить своих друзей; 
        |
        span.f-coni das Geleit – проводы; j-m das Geleit geben – провожать, сопровождать
        |)
        span.btext , Telegraphenboys mit schiefen Mützen schossen Namen ausrufend durch die Gesellschaftsräume 
        |
        |(мальчики-телеграфисты с покосившимися фуражками объявляли имена, выкрикивая их по салонам = мальчики-телеграфисты в сдвинутых набок фуражках выкрикивали в толпу имена /пассажиров/; 
        |
        span.f-coni schief – косой, покосившийся; dieMütze; schießen – стрелять, ausrufen – выкрикивать, объявлять; der Gesellschaftsraum; die Gesellschaft – общество
        |)
        span.btext , Koffer und Blumen wurden geschleppt 
        |
        |(волочили чемоданы и цветы; 
        |
        span.f-coni der Koffer; schleppen – тащить, волочить
        |)
        span.btext , Kinder liefen neugierig treppauf und treppab 
        |
        |(дети с любопытством бегали по лестнице вверх и вниз; 
        |
        span.f-coni die Treppe – лестница; auf und ab – вверх и вниз
        |)
        span.btext , während das Orchester unerschütterlich zur Deckshow spielte 
        |
        |(в то время как оркестр непоколебимо играл для палубного шоу = для создания на палубе праздничной атмосферы; 
        |
        span.f-coni erschüttern – потрясать, колебать; die Deckshow; das Deck – палуба
        |)
        span.btext .

      br
      p.btext 1.Auf dem großen Passagierdampfer, der um Mitternacht von New York nach Buenos Aires abgehen sollte, herrschte die übliche Geschäftigkeit und Bewegung der letzten Stunde. Gäste vom Land drängten durcheinander, um ihren Freunden das Geleit zu geben, Telegraphenboys mit schiefen Mützen schossen Namen ausrufend durch die Gesellschaftsräume, Koffer und Blumen wurden geschleppt, Kinder liefen neugierig treppauf und treppab, während das Orchester unerschütterlich zur Deckshow spielte. 
      br

      p
        span.btext 2.Ich stand im Gespräch mit einem Bekannten etwas abseits von diesem Getümmel auf dem Promenadendeck 
        |
        |(я стоял, разговаривая с одним знакомым, немного в стороне от этой суматохи на прогулочной палубе; 
        |
        span.f-coni das Gespräch; das Getümmel; der Bekannte
        |)
        span.btext , als neben uns zwei- oder dreimal Blitzlicht scharf aufsprühte 
        |
        |(как вдруг рядом с нами два или три раза ярко вспыхнула фотовспышка; 
        |
        span.f-coni der Blitz – молния; das Licht – свет; scharf – острый, резкий; aufsprühen – брызнуть, разлететься
        |)
        |
        span.btext  – anscheinend war irgendein Prominenter knapp vor der Abfahrt noch rasch von Reportern interviewt und photographiert worden 
        |
        |(по-видимому, в последние минуты перед отправлением проворные репортеры брали: «репортеры проворно брали» у какой-то знаменитости /из числа пассажиров/ интервью и делали фотоснимки; 
        |
        span.f-coni prominént – видный, значительный; knapp – едва, в обрез; die Abfahrt; abfahren – отъезжать, отплывать
        |)
        span.btext . Mein Freund blickte hin und lächelte 
        |
        |(мой друг взглянул в ту сторону: «туда» и усмехнулся)
        span.btext . «Sie haben da einen raren Vogel an Bord, den Czentovic 
        |
        |(с Вами на борту редкая птица – Чентович; 
        |
        span.f-coni der Vogel
        |)
        span.btext .» Und da ich offenbar ein ziemlich verständnisloses Gesicht zu dieser Mitteilung machte 
        |
        |(и так как после этого сообщения я очевидно сделал довольно непонятливое лицо; 
        |
        span.f-coni das Verständnis – понимание; das Gesicht; die Mitteilung
        |)
        span.btext , fügte er erklärend bei 
        |
        |(он пояснил: «добавил, поясняя /вышесказанное/»; 
        |
        span.f-coni erklären – объяснять, разъяснять; beifügen – добавлять
        |)
        span.btext : «Mirko Czentovic, der Weltschachmeister 
        |
        |(Мирко Чентович, чемпион мира по шахматам)
        span.btext . Er hat ganz Amerika von Ost nach West mit Turnierspielen abgeklappert 
        |
        |(он изъездил с турнирными играми всю Америку с востока на запад; 
        |
        span.f-coni das Turnier; das Spiel; der Ost; der West; abklappern – исходить, избегать /в поисках чего-либо/
        |)
        |
        span.btext  und fährt jetzt zu neuen Triumphen nach Argentinien 
        |
        |(и теперь едет за новыми триумфами в Аргентину; 
        |
        span.f-coni der Triumph
        |)
        span.btext .»

      br
      p.btext 2.Ich stand im Gespräch mit einem Bekannten etwas abseits von diesem Getümmel auf dem Promenadendeck, als neben uns zwei- oder dreimal Blitzlicht scharf aufsprühte – anscheinend war irgendein Prominenter knapp vor der Abfahrt noch rasch von Reportern interviewt und photographiert worden. Mein Freund blickte hin und lächelte. «Sie haben da einen raren Vogel an Bord, den Czentovic.» Und da ich offenbar ein ziemlich verständnisloses Gesicht zu dieser Mitteilung machte, fügte er erklärend bei: «Mirko Czentovic, der Weltschachmeister. Er hat ganz Amerika von Ost nach West mit Turnierspielen abgeklappert und fährt jetzt zu neuen Triumphen nach Argentinien.» 
      br

      p
        span.btext 3.In der Tat erinnerte ich mich nun dieses jungen Weltmeisters 
        |
        |(на самом деле теперь я вспомнил этого молодого чемпиона мира; 
        |
        span.f-coni die Tat – дело, действие; die Welt – мир, вселенная
        |)
        |
        span.btext  und sogar einiger Einzelheiten im Zusammenhang mit seiner raketenhaften Karriere 
        |
        |(и даже некоторые подробности, связанные с его молниеносной карьерой: «ракетоподобной /по скорости/ карьерой»; 
        |
        span.f-coni die Einzelheit; der Zusammenhang – связь, связность; die Karriere
        |)
        span.btext ; mein Freund, ein aufmerksamerer Zeitungsleser als ich, konnte sie mit einer ganzen Reihe von Anekdoten ergänzen 
        |
        |(мой друг, более внимательный, читатель газет, чем я, мог дополнить их /сведения/ целым рядом анекдотов; 
        |
        span.f-coni aufmerksam; die Zeitung; der Zeitungsleser; die Reihe; die Anekdote
        |)
        span.btext . Czentovic hatte sich vor etwa einem Jahr mit einem Schlage neben die bewährtesten Altmeister der Schachkunst, wie Aljechin, Capablanca; Tartakower, Lasker, Bogoljubow, gestellt 
        |
        |(где-то около года назад Чентовичу удалось сразу стать в ряды таких опытнейших корифеев шахматного искусства, как Алехин, Капабланка, Тартаковер, Ласкер, Боголюбов; 
        |
        span.f-coni der Schlag – удар; mit einem Schlage – однимударом, сразу; bewährt – опытный; die Schachkunst
        |)
        span.btext .

      br
      p.btext 3.In der Tat erinnerte ich mich nun dieses jungen Weltmeisters und sogar einiger Einzelheiten im Zusammenhang mit seiner raketenhaften Karriere; mein Freund, ein aufmerksamerer Zeitungsleser als ich, konnte sie mit einer ganzen Reihe von Anekdoten ergänzen. Czentovic hatte sich vor etwa einem Jahr mit einem Schlage neben die bewährtesten Altmeister der Schachkunst, wie Aljechin, Capablanca; Tartakower, Lasker, Bogoljubow, gestellt. 
      br

      p
        span.btext 4.Seit dem Auftreten des siebenjährigen Wunderkindes Rzecewski bei dem Schachturnier 1922 in New York 
        |
        |(с момента появления семилетнего вундеркинда Ржецевского на шахматном турнире 1922 года в Нью-Йорке; 
        |
        span.f-coni auftreten – возникать, появляться; das Auftreten; das Wunderkind; das Schachturnier
        |)
        |
        span.btext  hatte noch nie der Einbruch eines völlig Unbekannten in die ruhmreiche Gilde derart allgemeines Aufsehen erregt 
        |
        |(ещё ни одно вторжение незнакомца /новичка/ в прославленную /шахматную/ гильдию не привлекало такого всеобщего внимания; 
        |
        span.f-coni einbrechen – врываться, вторгаться; völlig – полный, совершенный; der Ruhm – слава; reich – богатый; das Aufsehen; Aufsehen erregen – привлекать внимание, производить сенсацию
        |)
        span.btext . Denn Czentovics intellektuelle Eigenschaften schienen ihm keineswegs solch eine blendende Karriere von vornherein zu weissagen 
        |
        |(хотя интеллектуальные способности: «качества, свойства» Чентовича с самого начала, казалось, ни в коей мере не предвещали ему такой блистательной карьеры; 
        |
        span.f-coni blenden – слепить, ослеплять; scheinen
        |)
        span.btext . Bald sickerte das Geheimnis durch 
        |
        |(вскоре обнаружилась тайна; 
        |
        span.f-coni durchsickern – просачиваться, распространяться
        |)
        span.btext , dass dieser Schachmeister in seinem Privatleben außerstande war, in irgendeiner Sprache einen Satz ohne orthographischen Fehler zu schreiben 
        |
        |(что этот чемпион мира по шахматам в своей частной жизни не мог написать без орфографических ошибок ни единого предложения ни на одном из языков; 
        |
        span.f-coni das Privatleben; privat – частный, личный; außerstande sein – быть не в силах, невсостоянии; der Satz; die Sprache; der Fehler
        |)
        span.btext ,und wie einer seiner verärgerten Kollegen ingrimmig spottete 
        |
        |(и как один из его недовольных коллег злобно заметил; 
        |
        span.f-coni verärgern – рассердить, раздосадовать; spotten – насмехаться, издеваться
        |)
        span.btext , «seine Unbildung war auf allen Gebieten gleich universell 
        |
        |(его необразованность во всех отраслях /науки/ одинаково универсальна; 
        |
        span.f-coni die Unbildung; sich bilden – просвещаться, развиваться; das Gebiet – область, зона; der Kollege
        |)
        span.btext ».

      br
      p.btext 4.Seit dem Auftreten des siebenjährigen Wunderkindes Rzecewski bei dem Schachturnier 1922 in New York hatte noch nie der Einbruch eines völlig Unbekannten in die ruhmreiche Gilde derart allgemeines Aufsehen erregt. Denn Czentovics intellektuelle Eigenschaften schienen ihm keineswegs solch eine blendende Karriere von vornherein zu weissagen. Bald sickerte das Geheimnis durch, dass dieser Schachmeister in seinem Privatleben außerstande war, in irgendeiner Sprache einen Satz ohne orthographischen Fehler zu schreiben, und wie einer seiner verärgerten Kollegen ingrimmig spottete, «seine Unbildung war auf allen Gebieten gleich universell». 
      br

      p
        span.btext 5.Sohn eines blutarmen südslawischen Donauschiffers 
        |
        |(сын одного нищего югославского лодочника с Дуная; 
        |
        span.f-coni der Sohn; blutarm – /разг./ оченьбедный, der Schiffer – шкипер, капитан, мотористлодки
        |)
        span.btext , dessen winzige Barke eines Nachts von einem Getreidedampfer überrannt wurde 
        |
        |(чьё крохотное суденышко однажды ночью было потоплено грузовым пароходом; 
        |
        span.f-coni das Getreide – злаки, зерно; die Barke – барка /небольшое судно без мачты и мотора/; überrennen – сбитьсног, смять, опрокинуть
        |)
        span.btext , war der damals Zwölfjährige nach dem Tode seines Vaters vom Pfarrer des abgelegenen Ortes aus Mitleid aufgenommen worden 
        |
        |(в то время двенадцатилетний /мальчишка/ после смерти своего отца из сострадания был принят священником из глухой деревушки; 
        |
        span.f-coni der Tod; der Pfarrer; mitleiden – cочувствовать, разделять чьи-то страдания; der Ort; das Mitleid; aufnehmen; abgelegen – отдаленный, уединенный
        |)
        span.btext , und der gute Pater bemühte sich redlich, durch häusliche Nachhilfe wettzumachen
        |
        |(и добрый пастор добросовестно старался компенсировать домашней помощью в занятиях /репетиторством/; 
        |
        span.f-coni der Pater – отец, патер; die Nachhilfe
        |)
        span.btext , was das maulfaule, dumpfe, breitstirnige Kind in der Dorfschule nicht zu erlernen vermochte 
        |
        |(то, что молчаливый, туповатый, широколобый ребенок не мог освоить в деревенской школе; 
        |
        span.f-coni vermögen – быть в состоянии, мочь
        |)
        span.btext .

      br
      p.btext 5.Sohn eines blutarmen südslawischen Donauschiffers, dessen winzige Barke eines Nachts von einem Getreidedampfer überrannt wurde, war der damals Zwölfjährige nach dem Tode seines Vaters vom Pfarrer des abgelegenen Ortes aus Mitleid aufgenommen worden, und der gute Pater bemühte sich redlich, durch häusliche Nachhilfe wettzumachen, was das maulfaule, dumpfe, breitstirnige Kind in der Dorfschule nicht zu erlernen vermochte. 
      br

      p
        span.btext 6.Aber die Anstrengungen blieben vergeblich 
        |
        |(но усилия оказались напрасны; 
        |
        span.f-coni die Anstrengung; bleiben – оставаться
        |)
        span.btext . Mirko starrte die ihm schon hundertmal erklärten Schriftzeichen immer wieder fremd an 
        |
        |(Мирко снова и снова бессмысленно всматривался в буквы, объясненные ему уже раз сто; 
        |
        span.f-coni anstarren – уставиться, пристально смотреть; das Schriftzeichen; die Schrift – письмо, письменность; fremd – посторонний, чуждый
        |)
        span.btext ; auch für die simpelsten Unterrichtsgegenstände fehlte seinem schwerfällig arbeitenden Gehirn jede festhaltende Kraft 
        |
        |(но и для /запоминания/ простейших учебных понятий не хватало его неповоротливому: «медлительно, неповоротливо работающему» мозгу удерживающей силы; 
        |
        span.f-coni simpel; der Unterricht – преподавание, обучение; der Gegenstand; der Gehirn; festhalten – держать, удерживать
        |)
        span.btext . Wenn er rechnen sollte, musste er noch mit vierzehn Jahren jedesmal die Finger zu Hilfe nehmen 
        |
        |(когда ему надо было сосчитать что-либо, в свои четырнадцать лет он вынужден был каждый раз прибегать к помощи пальцев = считать на пальцах; 
        |
        span.f-coni der Finger; die Hilfe
        |)
        span.btext , und ein Buch oder eine Zeitung zu lesen bedeutete für den schon halbwüchsigen Jungen noch besondere Anstrengung 
        |
        |(а чтение книги или газеты требовало от подростка особого напряжения; 
        |
        span.f-coni das Buch; die Zeitung; bedeuten – значить, означать; halbwüchsig – невзрослый; ein halbwüchsiger Junge – подросток /мальчик/; die Anstrengung; sich anstrengen – напрягаться, прилагатьусилия
        |)
        span.btext . Dabei konnte man Mirko keineswegs unwillig oder widerspenstig nennen 
        |
        |(при этом Мирко никак нельзя было назвать нерадивым или непослушным)
        span.btext . Er tat gehorsam, was man ihm gebot 
        |
        |(он послушно исполнял все, что ему велели; 
        |
        span.f-coni gebieten – приказывать, повелевать
        |)
        span.btext , holte Wasser, spaltete Holz, arbeitete mit auf dem Felde, räumte die Küche auf 
        |
        |(носил воду, колол дрова, работал в поле, убирал кухню; 
        |
        span.f-coni das Holz; das Feld; aufräumen
        |)
        |
        span.btext  und erledigte verläßlich, wenn auch mit verärgernder Langsamkeit, jeden geforderten Dienst 
        |
        |(и в любом случае выполнял каждое данное ему поручение, хотя и с раздражающей медлительностью; 
        |
        span.f-coni verläßlich – надежно; langsam – медленно; die Langsamkeit; fordern – требовать, просить; der Dienst – работа, обязанности; verärgern – злить, сердить
        |)
        span.btext .

      br
      p.btext 6.Aber die Anstrengungen blieben vergeblich. Mirko starrte die ihm schon hundertmal erklärten Schriftzeichen immer wieder fremd an; auch für die simpelsten Unterrichtsgegenstände fehlte seinem schwerfällig arbeitenden Gehirn jede festhaltende Kraft. Wenn er rechnen sollte, musste er noch mit vierzehn Jahren jedesmal die Finger zu Hilfe nehmen, und ein Buch oder eine Zeitung zu lesen bedeutete für den schon halbwüchsigen Jungen noch besondere Anstrengung. Dabei konnte man Mirko keineswegs unwillig oder widerspenstig nennen. Er tat gehorsam, was man ihm gebot, holte Wasser, spaltete Holz, arbeitete mit auf dem Felde, räumte die Küche auf und erledigte verläßlich, wenn auch mit verärgernder Langsamkeit, jeden geforderten Dienst. 
      br