extends ../../templates/template_en.pug

block name
  .name-section
    .name-section__author
    .name-section__book
    p.tac Mabel G. Taggart
    p.tac История про трех гоблинов
    p.tac Книгу адаптировал Илья Франк
    p.tac Метод чтения Ильи Франка

block text
  section

    p
      span.btext Once upon a time there were three little goblins
      |
      |(однажды жили-были три маленьких гоблина;
      |
      span.f-coni once upon a time — однажды: «однажды во время = в одно время»; there were — были: «там были»; goblin — гоблин; goblins — гоблины
      |)
      span.btext .
    p
      span.btext Their names were
      |
      |(их звали: «их имена были»)
      |
      span.btext  Red-Cap, Blue-Cap and Yellow-Cap
      |
      |(Красный Колпак, Синий Колпак и Желтый Колпак)
      span.btext , and they lived in a mountain
      |
      |(и они жили в горе;
      |
      span.f-coni to live — жить; lived — жили
      |)
      span.btext .

    br

    p.btext Once upon a time there were three little goblins.
    p.btext Their names were Red-Cap, Blue-Cap and Yellow-Cap, and they lived in a mountain.

    br

    p
      span.btext The goblins had a great friend
      |
      |(у гоблинов был большой друг: «гоблины имели большого друга»)
      |
      span.btext —a green frog whose name was Rowley
      |
      |(зеленую лягушку по имени Роули: «чье имя было Роули»)
      span.btext .
    p
      span.btext Rowley came every year to see the little goblins
      |
      |(Роули приходил каждый год повидать маленьких гоблинов;
      |
      span.f-coni to come — приходить; came — приходил
      |)
      span.btext , and told them stories about the Big World where he lived
      |
      |(и рассказывал им истории о Большом Мире, в котором он жил: «где он жил»;
      |
      span.f-coni to tell — рассказывать; told — рассказывал
      |)
      span.btext .

    br

    p.btext The goblins had a great friend—a green frog whose name was Rowley.
    p.btext Rowley came every year to see the little goblins, and told them stories about the Big World where he lived.

    br

    p
      span.btext The goblins had never seen the Big World
      |
      |(гоблины никогда не видели Большого Мира;
      |
      span.f-coni to see — видеть; had never seen — никогда не видели: «/не/ имели никогда увиденным»
      |)
      span.btext , and often asked their father
      |
      |(и часто просили своего отца)
      |
      span.btext  to let them go with Rowley
      |
      |(разрешить им пойти с Роули = отпустить их с Роули)
      span.btext , but he always said
      |
      |(но он всегда говорил)
      span.btext , “Not yet, my sons
      |
      |(еще нет: «нет пока», мои сыновья = сыночки)
      span.btext .”

    br

    p.btext The goblins had never seen the Big World, and often asked their father to let them go with Rowley, but he always said, “Not yet, my sons.”

    br

    p
      span.btext The name of the goblins' father was Old Black-Cap
      |
      |(имя отца гоблинов было Старый Черный Колпак)
      span.btext .
    p
      span.btext He was King of the Mountain
      |
      |(он был королем Горы)
      span.btext .

    br

    p.btext The name of the goblins' father was Old Black-Cap.
    p.btext He was King of the Mountain.

    br

    p
      span.btext At last
      |
      |(наконец: «при последнем»)
      span.btext , one day
      |
      |(однажды: «один день»)
      |
      span.btext  Old Black-Cap called the three goblins
      |
      |(Старый Черный Колпак позвал троих гоблинов)
      |
      span.btext  and said to them
      |
      |(и сказал им: «к ним»)
      span.btext : “I am going
      |
      |(я собираюсь: «я есть идущий»)
      |
      span.btext  to send you into the Big World
      |
      |(послать вас в Большой Мир)
      |
      span.btext  to look for something
      |
      |(поискать что-то;
      |
      span.f-coni to look for — искать
      |)
      |
      span.btext  which the fairies stole from me
      |
      |(что феи украли у меня: «от меня»;
      |
      span.f-coni to steal — красть
      |)
      |
      span.btext  a long time ago
      |
      |(в давние времена: «долгое время тому назад»;
      |
      span.f-coni ago — тому назад /от go — идти, уходить/
      |)
      span.btext .

    br

    p.btext At last, one day Old Black-Cap called the three goblins and said to them: “I am going to send you into the Big World to look for something which the fairies stole from me a long time ago.

    br

    p
      span.btext A Red Feather
      |
      |(Красное Перо)
      |
      span.btext  which always belongs to the King of the Mountain
      |
      |(которое всегда принадлежит Королю Горы)
      span.btext . Go, my sons
      |
      |(идите, мои сыновья)
      span.btext , and the one who finds it
      |
      |(и тот, кто найдет его;
      |
      span.f-coni the one — тот, который: «тот один»
      |)
      |
      span.btext  shall be king
      |
      |(будет королем: «должен быть королем»;
      |
      span.f-coni to be — быть; shall be — станет
      |)
      |
      span.btext  of this mountain after me
      |
      |(этой горы: «от этой горы» после меня)
      span.btext .”

    br

    p.btext A Red Feather which always belongs to the King of the Mountain. Go, my sons, and the one who finds it shall be king of this mountain after me.”

    br

    p
      span.btext Red-Cap, Blue-Cap and Yellow-Cap
      |
      |(Красный Колпак, Синий Колпак и Желтый Колпак)
      |
      span.btext  said good-bye to their father
      |
      |(сказали «прощай» своему отцу: «их отцу» = попрощались со своим отцом)
      |
      span.btext  and climbed out
      |
      |(и вылезли: «выкарабкались наружу»)
      |
      span.btext  into the Big World
      |
      |(в Большой Мир)
      |
      span.btext  through a rabbit hole
      |
      |(через кроличью нору;
      |
      span.f-coni rabbit — кролик; hole — дыра; нора
      |)
      span.btext . When they had gone a little way
      |
      |(когда они прошли небольшое расстояние: «маленький путь»;
      |
      span.f-coni had gone — прошли: «имели пройденным»; to go — идти
      |)
      |
      span.btext  they saw something
      |
      |(они увидели что-то;
      |
      span.f-coni to see — видеть
      |)
      |
      span.btext  lying on the ground
      |
      |(лежащее на земле;
      |
      span.f-coni to lie — лежать
      |)
      span.btext . Something large
      |
      |(что-то большое/крупное)
      |
      span.btext  and white
      |
      |(и белое)
      |
      span.btext  and round
      |
      |(и круглое)
      span.btext .

    br

    p.btext Red-Cap, Blue-Cap and Yellow-Cap said good-bye to their father and climbed out into the Big World through a rabbit hole. When they had gone a little way they saw something lying on the ground. Something large and white and round.

    br

    p
      span.btext “What is that
      |
      |(что это: «что есть то»)
      span.btext ?” they all cried together
      |
      |(воскликнули они разом: «они все крикнули вместе»;
      |
      span.f-coni to cry — кричать
      |)
      span.btext .
    p
      span.btext Red-Cap, who was the eldest
      |
      |(Красный Колпак, который был самым старшим: «тем старейшим»;
      |
      span.f-coni old — старый; elder — старше; the eldest — самый старший
      |)
      span.btext , got inside it
      |
      |(забрался внутрь этого = внутрь этой штуки;
      |
      span.f-coni to get — получать; доходить до куда-то, добираться; забираться куда-либо
      |)
      |
      span.btext  to see
      |
      |(чтобы посмотреть)
      |
      span.btext  what it was made of
      |
      |(из чего она была сделана: «чего она была сделана из»;
      |
      span.f-coni what … of = of what — из чего; to make — делать; made — сделанный
      |)
      span.btext .
    p
      span.btext “Oh! oh!” cried Blue-Cap and Yellow-Cap
      |
      |(ой! ой! — крикнули Синий Колпак и Желтый Колпак;
      |
      span.f-coni to cry — кричать
      |)
      span.btext . “It is moving
      |
      |(оно = эта штука движется: «это есть движущееся»;
      |
      span.f-coni to move — двигаться
      |)
      span.btext ! Stop! Stop!
      |
      |(стой! стой!)
      |
      span.btext ”

    br

    p.btext “What is that?” they all cried together.
    p.btext Red-Cap, who was the eldest, got inside it to see what it was made of.
    p.btext “Oh! oh!” cried Blue-Cap and Yellow-Cap. “It is moving! Stop! Stop!”

    br

    p
      span.btext But the white thing
      |
      |(но белая штука;
      |
      span.f-coni thing — вещь
      |)
      |
      span.btext  rolled away
      |
      |(покатилась прочь;
      |
      span.f-coni to roll — катиться
      |)
      |
      span.btext  down the mountain
      |
      |(вниз по горе;
      |
      span.f-coni down — внизу; вниз по…
      |)
      |
      span.btext  with poor little Red-Cap inside it
      |
      |(с бедным маленьким Красным Колпаком внутри нее = внутри /себя/)
      span.btext ; faster and faster it went
      |
      |(/все/ быстрее и быстрее она шла = катилась;
      |
      span.f-coni fast — быстрый; faster — быстрее; to go — идти; went — шел/шла
      |)
      span.btext , and Blue-Cap and Yellow-Cap
      |
      |(а Синий Колпак и Желтый Колпак;
      |
      span.f-coni and — и; а
      |)
      |
      span.btext  were left quite behind
      |
      |(были оставлены далеко позади: «совсем позади»;
      |
      span.f-coni to leave — оставлять; left — оставленный
      |)
      span.btext .

    br

    p.btext But the white thing rolled away down the mountain with poor little Red-Cap inside it; faster and faster it went, and Blue-Cap and Yellow-Cap were left quite behind.

    br

    p
      span.btext Now little Red-Cap was a brave goblin
      |
      |(так вот, маленький Красный Колпак был смелым гоблином;
      |
      span.f-coni now — теперь; так вот/надо сказать
      |)
      span.btext , but he was rather frightened
      |
      |(но он был довольно напуган;
      |
      span.f-coni to frighten — напугать; frightened — напуганный; fright — испуг
      |)
      |
      span.btext  when the White Thing began to roll so fast
      |
      |(когда Белая Штука начала катиться так быстро;
      |
      span.f-coni to begin — начинать
      |)
      span.btext . He wondered
      |
      |(он удивлялся = спрашивал себя;
      |
      span.f-coni to wonder — удивляться; wonder — чудо, диво
      |)
      |
      span.btext  if it would ever stop
      |
      |(остановится ли она когда-нибудь: «если это будет когда-либо останавливаться»)
      span.btext , when—Bump! Splash!
      |
      |(когда — бах! плюх! = как вдруг бах! плюх!)
      |
      span.btext  —he found he was in the water
      |
      |(он оказался в воде: «он нашел /что/ он был в воде»;
      |
      span.f-coni to find — находить
      |)
      span.btext , and something big
      |
      |(и что-то большое)
      |
      span.btext  with a smooth coat
      |
      |(с гладкой шкурой)
      |
      span.btext  was close beside him
      |
      |(было прямо рядом с ним;
      |
      span.f-coni close — близко, вплотную; beside — возле; side — сторона; бок
      |)
      span.btext .

    br

    p.btext Now little Red-Cap was a brave goblin, but he was rather frightened when the White Thing began to roll so fast. He wondered if it would ever stop, when—Bump! Splash!—he found he was in the water, and something big with a smooth coat was close beside him.

    br

    p
      span.btext It was a kind water-rat
      |
      |(это была добрая водяная крыса;
      |
      span.f-coni kind — добрый, любезный, благожелательный
      |)
      |
      span.btext  who had seen
      |
      |(которая видела;
      |
      span.f-coni to see — видеть; had seen — видел/видела: «имел увиденным»
      |)
      |
      span.btext  the poor little goblin roll into the water
      |
      |(как бедный маленький гоблин скатился в воду: «/увидела/ бедного маленького гоблин скатиться в воду»)
      span.btext .
    p
      span.btext “I can swim
      |
      |(я умею плавать: «я могу плавать»)
      span.btext ,” said Mr. Rat
      |
      |(сказал мистер Крыс;
      |
      span.f-coni Mr. = mister
      |)
      span.btext . “I will hold you
      |
      |(я буду держать тебя)
      |
      span.btext  by the collar
      |
      |(за воротник/за загривок;
      |
      span.f-coni collar — воротник; загривок
      |)
      |
      span.btext  and take you
      |
      |(и вытащу тебя: «возьму тебя»)
      |
      span.btext  to dry land again
      |
      |(обратно на сушу: «к сухой земле снова»;
      |
      span.f-coni dry land — суша
      |)
      span.btext .”

    br

    p.btext It was a kind water-rat who had seen the poor little goblin roll into the water.
    p.btext “I can swim,” said Mr. Rat. “I will hold you by the collar and take you to dry land again.”

    br

    p
      span.btext Red-Cap thanked the kind water-rat very much
      |
      |(Красный Колпак поблагодарил добрую водяную крысу очень много = горячо/от всего сердца)
      span.btext , and they sat down
      |
      |(и они сели;
      |
      span.f-coni to sit down — сесть: «сесть вниз»
      |)
      |
      span.btext  on the bank of the stream
      |
      |(на берег реки;
      |
      span.f-coni stream — поток; река
      |)
      |
      span.btext  to rest
      |
      |(чтобы отдохнуть)
      span.btext . Red-Cap told the rat all about his father
      |
      |(Красный Колпак рассказал крысе все о своем отце;
      |
      span.f-coni to tell — рассказывать
      |)
      |
      span.btext  and brothers
      |
      |(и братьях)
      |
      span.btext  and the Red Feather
      |
      |(и Красном Пере)
      span.btext , and soon Blue-Cap and Yellow-Cap came running up
      |
      |(и вскоре Синий Колпак и Желтый Колпак прибежали: «прибыли, подбегая»;
      |
      span.f-coni to come — приходить, прибывать; to run — бежать; to run up — подбегать; up — вверх; по направлению к
      |)
      span.btext , quite out of breath
      |
      |(совсем /выбившись/ из дыхания = задыхаясь;
      |
      span.f-coni quite — вполне, совершенно
      |)
      span.btext , but very glad
      |
      |(но очень довольные)
      |
      span.btext  to find their brother quite safe
      |
      |(найти своего брата = что нашли своего брата вполне невредимым)
      |
      span.btext  and not even scratched
      |
      |(и даже не оцарапанным;
      |
      span.f-coni even — даже; to scratch — царапать
      |)
      span.btext .

    br

    p.btext Red-Cap thanked the kind water-rat very much, and they sat down on the bank of the stream to rest. Red-Cap told the rat all about his father and brothers and the Red Feather, and soon Blue-Cap and Yellow-Cap came running up, quite out of breath, but very glad to find their brother quite safe and not even scratched.

    br

    p
      span.btext They all
      |
      |(они все)
      |
      span.btext  soon said good-bye to the rat
      |
      |(вскоре сказали «до свидания» крысе = попрощались с крысой)
      span.btext , who wished them good luck
      |
      |(которая пожелала им доброй удачи = пожелала удачи)
      span.btext , showed them the road
      |
      |(показала им дорогу)
      |
      span.btext  and told them to look in a tree
      |
      |(и сказала им посмотреть в дереве = дала им совет заглянуть в дерево)
      |
      span.btext —which he pointed out
      |
      |(которое она указала;
      |
      span.f-coni he — он /мистер Крыс/; to point out — указывать
      |)
      |
      span.btext —where he said
      |
      |(где /как/ она сказала)
      |
      span.btext  they would find something
      |
      |(они найдут что-то/нечто;
      |
      span.f-coni would find — найдут: «будут находить»; to find — находить
      |)
      |
      span.btext  which would help them very much
      |
      |(что очень им поможет;
      |
      span.f-coni very much — очень: «очень много»
      |)
      span.btext .

    br

    p.btext They all soon said good-bye to the rat, who wished them good luck, showed them the road and told them to look in a tree—which he pointed out—where he said they would find something which would help them very much.

    br

    p
      span.btext The goblins raced to the tree
      |
      |(гоблины помчались к дереву)
      span.btext . Yellow-Cap won the race
      |
      |(Желтый Колпак выиграл забег;
      |
      span.f-coni to win — выигрывать
      |)
      |
      span.btext  and climbed up quickly
      |
      |(и залез проворно /на дерево/;
      |
      span.f-coni to climb — карабкаться, лезть; to climb up — вскарабкаться, залезть; up — наверх; quick — быстрый; quickly — быстро, проворно
      |)
      span.btext , while the others
      |
      |(пока другие = остальные)
      |
      span.btext  ran all round
      |
      |(бегали вокруг;
      |
      span.f-coni to run — бежать; all round — кругом, везде вокруг, повсюду вокруг
      |)
      |
      span.btext  looking to see
      |
      |(высматривая: «глядя, чтобы увидеть»)
      |
      span.btext  what they could find
      |
      |(что они смогут: «могли» найти)
      span.btext .

    br

    p.btext The goblins raced to the tree. Yellow-Cap won the race and climbed up quickly, while the others ran all round looking to see what they could find.

    br

    p
      span.btext They found nothing
      |
      |(они ничего не нашли: «нашли ничто»)
      span.btext , and Yellow-Cap was just coming down again
      |
      |(и Желтый Колпак как раз спускался обратно: «снова»;
      |
      span.f-coni just — как раз; was coming down — спускался: «был приходящим вниз»
      |)
      |
      span.btext  when he spied a bird's-nest
      |
      |(когда он заметил птичье гнездо;
      |
      span.f-coni to spy — заметить, обнаружить; bird — птица
      |)
      |
      span.btext  with three dear little blue eggs in it
      |
      |(с тремя миленькими маленькими голубыми яичками в нем;
      |
      span.f-coni blue — синий; голубой
      |)
      span.btext .

    br

    p.btext They found nothing, and Yellow-Cap was just coming down again when he spied a bird's-nest with three dear little blue eggs in it.

    br

    p
      span.btext He crawled along the branch
      |
      |(он пополз вдоль ветки = по ветке)
      |
      span.btext  to look at the eggs
      |
      |(чтобы посмотреть на яйца)
      span.btext , and saw something white
      |
      |(и увидел что-то белое)
      |
      span.btext  under the nest
      |
      |(под гнездом)
      span.btext . Yellow-Cap pulled it gently
      |
      |(Желтый Колпак потянул это тихонько;
      |
      span.f-coni gently — мягко, нежно; слегка
      |)
      span.btext , and out came an envelope
      |
      |(и наружу вышел = появился конверт)
      span.btext . Full of joy
      |
      |(обрадовавшись: «полный радости»)
      |
      span.btext  he slipped down to his brothers
      |
      |(он соскользнул вниз к своим братьям;
      |
      span.f-coni to slip — скользить, соскальзывать
      |)
      span.btext .

    br

    p.btext He crawled along the branch to look at the eggs, and saw something white under the nest. Yellow-Cap pulled it gently, and out came an envelope. Full of joy he slipped down to his brothers.

    br

    p
      span.btext They opened the envelope
      |
      |(они открыли конверт)
      |
      span.btext  and found a sheet of paper
      |
      |(и нашли листок бумаги)
      |
      span.btext  on which was written in gold letters
      |
      |(на котором было написано золотыми буквами: «в золотых буквах»;
      |
      span.f-coni to write — писать
      |)
      span.btext ,—
    p
      span.btext “You who seek the Feather Red
      |
      |(ты, который ищет Перо Красное)
      span.btext .
    p
      span.btext First the Serpent's blood
      |
      |(сначала Змея кровь)
      |
      span.btext  must shed
      |
      |(должен пролить;
      |
      span.f-coni to shed — проливать, лить /слезы, кровь/
      |)
      span.btext ;
    p
      span.btext In the cave where fairies dwell
      |
      |(в пещере, где живут/пребывают феи)
      span.btext .
    p
      span.btext The Feather lies
      |
      |(лежит Перо;
      |
      span.f-coni to lie — лежать
      |)
      span.btext , so search it well
      |
      |(так что ищи его хорошо;
      |
      span.f-coni to search — искать; вести поиски, разыскивать
      |)
      span.btext .”
    p
      span.btext “Hurrah!” cried Red-Cap
      |
      |(ура! — крикнул Красный Колпак)
      span.btext . “Let us make haste
      |
      |(давайте поспешим: «пустите нас сделать спешку»)
      |
      span.btext  and find the cave
      |
      |(и найдем: «и найти» пещеру)
      span.btext .”

    br

    p.btext They opened the envelope and found a sheet of paper on which was written in gold letters,—
    p.btext “You who seek the Feather Red
    p.btext First the Serpent's blood must shed;
    p.btext In the cave where fairies dwell
    p.btext The Feather lies, so search it well.”
    p.btext “Hurrah!” cried Red-Cap. “Let us make haste and find the cave.”

    br

    p
      span.btext Soon they came to a big dark forest
      |
      |(вскоре они пришли к большому темному лесу)
      span.btext , and after they had gone a little way
      |
      |(и после того как они прошли немного: «небольшой путь»)
      |
      span.btext  they saw a fence
      |
      |(они увидели забор)
      |
      span.btext  and a large board
      |
      |(и широкую доску)
      |
      span.btext  on which was written in red letters
      |
      |(на которой было написано красными буквами)
      span.btext ,—
    p
      span.btext TOM TIDDLER'S
    p
      span.btext GROUND

    br

    p
      span.btext TRESPASSERS
    p
      span.btext WILL BE
    p
      span.btext PROSECUTED.
    p
      span.btext
      |
      |(Территория Тома Тидлера, нарушители будут преследоваться = на нарушителей будет подана жалоба в суд;
      |
      span.f-coni to prosecute — преследовать судебным порядком; tiddler — колюшка /рыба/; мелкая рыбешка, рыбья мелочь; кроха, малыш /а здесь так зовется великан, что смешно/
      |)
      span.btext .
    p
      span.btext The goblins looked over the fence
      |
      |(гоблины заглянули через забор)
      |
      span.btext  and saw that the ground was covered
      |
      |(и увидели, что земля была покрыта)
      |
      span.btext  with gold and silver
      |
      |(золотом и серебром;
      |
      span.f-coni to cover — покрывать
      |)
      span.btext !

    br

    p.btext Soon they came to a big dark forest, and after they had gone a little way they saw a fence and a large board on which was written in red letters,—
    p.btext TOM TIDDLER'S
    p.btext GROUND

    br

    p.btext TRESPASSERS
    p.btext WILL BE
    p.btext PROSECUTED.
    p.btext The goblins looked over the fence and saw that the ground was covered with gold and silver!

    br

    p
      span.btext “Oh!” they cried
      |
      |(ого! — воскликнули они)
      span.btext , “let us fill our pockets
      |
      |(давайте наполним наши карманы)
      span.btext . What fun
      |
      |(что /за/ веселье = как весело;
      |
      span.f-coni fun — веселье, забава
      |)
      span.btext !” and they began to climb over the fence
      |
      |(и они начали лезть через забор = стали перелезать/полезли через забор;
      |
      span.f-coni to begin — начинать
      |)
      span.btext .

    br

    p.btext “Oh!” they cried, “let us fill our pockets. What fun!” and they began to climb over the fence.

    br

    p
      span.btext They all got safely down
      |
      |(они все добрались невредимо = благополучно вниз = слезли вниз целыми и невредимыми)
      |
      span.btext  on the other side
      |
      |(на другой стороне)
      span.btext , and seeing no one about
      |
      |(и, не видя никого вокруг;
      |
      span.f-coni no one — никто: «ни один»; about — вокруг, поблизости
      |)
      |
      span.btext  they began to fill their pockets
      |
      |(они принялись наполнять свои карманы)
      |
      span.btext  with the shining money
      |
      |(блестящими деньгами;
      |
      span.f-coni to shine — светиться; блестеть
      |)
      span.btext , singing
      |
      |(и при этом пели: «напевая»)
      span.btext , “We are on Tom Tiddler's ground
      |
      |(мы на земле/территории Тома Тидлера)
      span.btext , picking up gold and silver
      |
      |(собираем: «собирая золото и серебро»;
      |
      span.f-coni to pick up — поднимать /с земли/; подбирать; собирать
      |)
      span.btext .”

    br

    p.btext They all got safely down on the other side, and seeing no one about they began to fill their pockets with the shining money, singing, “We are on Tom Tiddler's ground, picking up gold and silver.”

    br

    p
      span.btext Suddenly they heard a big rough voice say
      |
      |(вдруг они услышали, как громкий, грубый голос сказал;
      |
      span.f-coni to hear — слышать; big — большой; громкий
      |)
      span.btext , “Yes, you are on Tom Tiddler's ground
      |
      |(да, вы на земле Тома Тидлера)
      span.btext , and Tom Tiddler will lock you all up
      |
      |(а Том Тидлер запрет всех вас)
      span.btext , you little thieves
      |
      |(вы, маленькие воры = вы, воришки;
      |
      span.f-coni thief — вор
      |)
      span.btext .”

    br

    p.btext Suddenly they heard a big rough voice say, “Yes, you are on Tom Tiddler's ground, and Tom Tiddler will lock you all up, you little thieves.”

    br

    p
      span.btext The goblins dropped
      |
      |(гоблины выронили)
      |
      span.btext  their handfuls of gold and silver
      |
      |(из своих ладошек золото и серебро: «уронили свои горсточки золота и серебра»;
      |
      span.f-coni handful — пригоршня; горсть; горстка /то есть то, что умещается в сжатой руке/; hand — рука, ладонь; full — полный
      |)
      span.btext , and found themselves caught up
      |
      |(и нашли себя пойманными = оказались пойманными/подхваченными;
      |
      span.f-coni to find — находить; to catch — ловить; to catch up — поймать, подхватить
      |)
      |
      span.btext  by a great big giant
      |
      |(здоровенным: «великим большим» великаном)
      |
      span.btext  who carried them off
      |
      |(который унес их;
      |
      span.f-coni to carry — нести; off — прочь
      |)
      span.btext , with great long strides
      |
      |(большими длинными шагами: «с большими длинными шагами»)
      span.btext , to his house
      |
      |(в свой дом: «к своему дому»)
      span.btext .

    br

    p.btext The goblins dropped their handfuls of gold and silver, and found themselves caught up by a great big giant who carried them off, with great long strides, to his house.

    br

    p
      span.btext Tom Tiddler took them into a large kitchen
      |
      |(Том Тидлер отнес их в большую кухню;
      |
      span.f-coni to take — взять; отнести
      |)
      |
      span.btext  where Mrs. Tiddler
      |
      |(где миссис Тидлер = госпожа Тидлер /жена великана/)
      |
      span.btext  was busy making the tea
      |
      |(была занята тем, что готовила чай: «была занята, делая чай»)
      span.btext .
    p
      span.btext “Wife,” said he
      |
      |(жена, — сказал он)
      span.btext , “Put these goblins in the pantry
      |
      |(сунь этих гоблинов в кладовку;
      |
      span.f-coni to put — поместить, поставить, положить; pantry — кладовая для продуктов
      |)
      span.btext , and we will have them fried on toast for breakfast
      |
      |(и мы их пожарим на гренках для завтрака: «будем иметь их поджаренными на гренке для завтрака»;
      |
      span.f-coni to fry — жарить; toast — ломтик хлеба, подрумяненный на огне, гренок, тост
      |)
      span.btext .”

    br

    p.btext Tom Tiddler took them into a large kitchen where Mrs. Tiddler was busy making the tea.
    p.btext “Wife,” said he, “Put these goblins in the pantry, and we will have them fried on toast for breakfast.”

    br

    p
      span.btext The poor little brothers were locked up in the pantry
      |
      |(бедные маленькие братья были заперты в кладовой)
      span.btext , and they sat down on the floor
      |
      |(и они сели на пол;
      |
      span.f-coni to sit down — садиться
      |)
      |
      span.btext  holding each others hands
      |
      |(держа друг друга за руки: «держа каждый другого руки»)
      |
      span.btext  very tight
      |
      |(очень крепко)
      |
      span.btext  and shaking with fear
      |
      |(и трясясь от страха: «со страхом»;
      |
      span.f-coni to shake — трястись
      |)
      span.btext .

    br

    p.btext The poor little brothers were locked up in the pantry, and they sat down on the floor holding each others hands very tight and shaking with fear.

    br

    p
      span.btext At last they grew bolder
      |
      |(наконец они стали смелее = осмелели/набрались храбрости;
      |
      span.f-coni to grow — становиться; bold — смелый
      |)
      span.btext , and began to think
      |
      |(и начали думать = и задумались)
      |
      span.btext  how they could get away
      |
      |(как им выбраться оттуда: «как они могут выбраться прочь»)
      span.btext . They tried to open the window
      |
      |(они попытались открыть окно)
      span.btext , and found to their joy
      |
      |(и обнаружили к своей радости: «к их радости»)
      |
      span.btext  that Tom Tiddler had forgotten to lock it
      |
      |(что Том Тидлер забыл его закрыть;
      |
      span.f-coni to forget — забывать; had forgotten — забыл
      |)
      span.btext . They crept out
      |
      |(они выползли наружу;
      |
      span.f-coni to creep — ползти; красться
      |)
      |
      span.btext  very quietly
      |
      |(очень тихо;
      |
      span.f-coni quiet — тихий; quietly — тихо
      |)
      |
      span.btext  and climbed down
      |
      |(и слезли вниз)
      |
      span.btext  by the thick ivy
      |
      |(по толстому плющу /вьющееся растение/)
      |
      span.btext  which grew up the wall
      |
      |(который рос вверх по стене;
      |
      span.f-coni to grow — расти
      |)
      span.btext .

    br

    p.btext At last they grew bolder, and began to think how they could get away. They tried to open the window, and found to their joy that Tom Tiddler had forgotten to lock it. They crept out very quietly and climbed down by the thick ivy which grew up the wall.

    br

    p
      span.btext The goblins ran as fast as they could
      |
      |(гоблины бежали так быстро, как они могли)
      span.btext , only stopping to fill a sack
      |
      |(только остановившись, чтобы наполнить мешок)
      |
      span.btext  which they had found
      |
      |(который они нашли)
      |
      span.btext  with gold and silver
      |
      |(золотом и серебром: «с золотом и серебром»)
      span.btext . They knew that Tom Tiddler and his wife were at tea
      |
      |(они знали, что Том Тидлер и его жена были за чаем;
      |
      span.f-coni to know — знать
      |)
      span.btext , and would not think of coming out
      |
      |(и не подумают /о том/ чтобы выйти наружу)
      |
      span.btext  for some time
      |
      |(некоторое время: «в течение некоторого времени»)
      span.btext .

    br

    p.btext The goblins ran as fast as they could, only stopping to fill a sack which they had found with gold and silver. They knew that Tom Tiddler and his wife were at tea, and would not think of coming out for some time.

    br

    p
      span.btext The brothers managed
      |
      |(братья сумели;
      |
      span.f-coni to manage — уметь обращаться; справляться
      |)
      span.btext , after a great deal of hard work
      |
      |(после немалых усилий: «после большого количества тяжелой/напряженной работы;
      |
      span.f-coni hard — жесткий; тяжелый /например, о работе/
      |)
      span.btext , to get the sack over the fence
      |
      |(перевалить: «переместить» мешок через забор)
      span.btext , and as it was too heavy
      |
      |(а поскольку он был слишко тяжел)
      |
      span.btext  to drag with them
      |
      |(чтобы утащить его с собой: «тащить его с ними»)
      |
      span.btext  they agreed to bury it in the forest
      |
      |(они условились закопать его в лесу;
      |
      span.f-coni to agree — соглашаться; договариваться, условливаться
      |)
      |
      span.btext  and dig it up
      |
      |(и выкопать его)
      |
      span.btext  as they came back
      |
      |(когда они вернутся;
      |
      span.f-coni to come back — возвращаться: «приходить обратно»
      |)
      span.btext .

    br

    p.btext The brothers managed, after a great deal of hard work, to get the sack over the fence, and as it was too heavy to drag with them they agreed to bury it in the forest and dig it up as they came back.

    br

    p
      span.btext Just when they were ready
      |
      |(как раз когда они были готовы)
      |
      span.btext  a rabbit came up to them
      |
      |(к ним подошел/подбежал кролик;
      |
      span.f-coni to come up — подходить
      |)
      span.btext . “Hullo, little chaps
      |
      |(привет, ребятки: «маленькие приятели»)
      span.btext ,” said the rabbit
      |
      |(сказал кролик;
      |
      span.f-coni to say — говорить, сказать
      |)
      span.btext , “where are you off to
      |
      |(куда вы направляетесь;
      |
      span.f-coni where — где; where … to = to where — куда; to be off — уходить; начинать движение, отправляться
      |)
      span.btext ?”
    p
      span.btext “We are on our way
      |
      |(мы идем: «мы на пути»)
      |
      span.btext  to the fairies' cave
      |
      |(к пещере фей)
      span.btext ,” they replied
      |
      |(ответили они;
      |
      span.f-coni to reply — отвечать
      |)
      span.btext .

    br

    p.btext Just when they were ready a rabbit came up to them. “Hullo, little chaps,” said the rabbit, “where are you off to?”
    p.btext “We are on our way to the fairies' cave,” they replied.

    br

    p
      span.btext “You have a long way to go yet
      |
      |(вам еще долго нужно/придется идти: «вы имеете долгий путь идти еще»)
      span.btext ,” said the rabbit
      |
      |(сказал кролик)
      span.btext ; “the cave is on an island in the sea
      |
      |(пещера находится на острове в море)
      span.btext ; but I am going that way
      |
      |(но я иду туда же = нам по пути: «я есть идущий тем путем»)
      span.btext , and if you jump on my back
      |
      |(и если вы запрыгнете на мою спину)
      |
      span.btext  I will give you a lift
      |
      |(я вас подвезу;
      |
      span.f-coni to give a lift — подвезти: «дать подъем»; to lift — поднимать
      |)
      span.btext .”

    br

    p.btext “You have a long way to go yet,” said the rabbit; “the cave is on an island in the sea; but I am going that way, and if you jump on my back I will give you a lift.”

    br

    p
      span.btext The little brothers thanked the rabbit very much
      |
      |(братишки: «маленькие братья» горячо: «очень много» поблагодарили кролика)
      span.btext , as they were feeling tired
      |
      |(поскольку они чувствовали себя уставшими: «были чувствующими уставшими»;
      |
      span.f-coni to feel — чувствовать
      |)
      |
      span.btext  after their hard work
      |
      |(после своей: «их» тяжелой работы)
      span.btext . As soon as they were safely seated
      |
      |(как только они надежно уселись: «были надежно усажены»;
      |
      span.f-coni as soon as — как только: «так скоро как»
      |)
      |
      span.btext  the rabbit started off
      |
      |(кролик отправился /в путь/;
      |
      span.f-coni to start — начинать; отправляться; off — прочь; to start off — начинать путешествие
      |)
      span.btext .

    br

    p.btext The little brothers thanked the rabbit very much, as they were feeling tired after their hard work. As soon as they were safely seated the rabbit started off.

    br

    p
      span.btext On and on they went
      |
      |(/все/ дальше и дальше шли они)
      |
      span.btext  until they had left the dark forest far behind
      |
      |(пока /не/ оставили темный лес далеко позади;
      |
      span.f-coni to leave — оставлять
      |)
      span.btext , and were on the sea-shore
      |
      |(и /не/ оказались на берегу моря: «были /уже/ на берегу моря»)
      span.btext . Here the rabbit stopped
      |
      |(тут кролик остановился)
      span.btext , saying
      |
      |(говоря = сказав;
      |
      span.f-coni to say — говорить
      |)
      span.btext , “I can take you no farther
      |
      |(я не могу отвезти вас дальше: «я могу отвезти вас не дальше»)
      span.btext ; you have now to cross the water
      |
      |(вам надо теперь пересечь воду: «вы имеете теперь пересечь воду»)
      span.btext , and must consult the Great Fish
      |
      |(и /вы/ должны спросить совета у Большой Рыбы;
      |
      span.f-coni to consult — спрашивать совета, советоваться
      |)
      span.btext .

    br

    p.btext On and on they went until they had left the dark forest far behind, and were on the sea-shore. Here the rabbit stopped, saying, “I can take you no farther; you have now to cross the water, and must consult the Great Fish.

    br

    p
      span.btext He will appear
      |
      |(он /мистер Рыба/ появится)
      |
      span.btext  if you knock three times on the rock
      |
      |(если вы постучите трижды: «три раза» по скале;
      |
      span.f-coni time — время; раз
      |)
      span.btext . Take also this red dust
      |
      |(возьмите также эту красную пыль)
      span.btext , you will find it useful
      |
      |(вы найдете ее полезной = она вам пригодится)
      span.btext ;” and putting a little bag of red dust into Red-Cap's hand
      |
      |(и, сунув мешочек: «маленький мешок» с красной пылью в руку Красного Колпака = Красному Колпаку в руку;
      |
      span.f-coni to put — класть, помещать
      |)
      |
      span.btext  the rabbit ran off
      |
      |(кролик убежал прочь;
      |
      span.f-coni to run — бежать
      |)
      span.btext .

    br

    p.btext He will appear if you knock three times on the rock. Take also this red dust, you will find it useful;” and putting a little bag of red dust into Red-Cap's hand the rabbit ran off.

    br

    p
      span.btext The goblins did as the rabbit had told them
      |
      |(гоблины сделали /так/, как сказал им кролик)
      span.btext , and when they had knocked three times on a rock
      |
      |(и когда они постучали трижды по скале)
      |
      span.btext  a large fish raised itself
      |
      |(большая рыба поднялась: «подняла себя»;
      |
      span.f-coni large — крупный; to raise — поднимать
      |)
      |
      span.btext  slowly
      |
      |(медленно;
      |
      span.f-coni slow — медленный; slowly — медленно
      |)
      |
      span.btext  out of the water
      |
      |(из воды: «наружу из воды»)
      |
      span.btext  and said
      |
      |(и сказала)
      span.btext , “Why have you called me
      |
      |(почему вы позвали меня;
      |
      span.f-coni to call — звать; have called — позвали
      |)
      span.btext ?”

    br

    p.btext The goblins did as the rabbit had told them, and when they had knocked three times on a rock a large fish raised itself slowly out of the water and said, “Why have you called me?”

    br

    p
      span.btext “Please will you tell us
      |
      |(будь добр, скажи нам, пожалуйста: «пожалуйста, захочешь ли ты сказать нам/скажешь ты нам»)
      |
      span.btext  how to get to the fairies' cave
      |
      |(как добраться до пещеры фей)
      span.btext ?” said Blue-Cap
      |
      |(сказал Синий Колпак)
      span.btext .
    p
      span.btext “Look between the rocks so green
      |
      |(посмотрите между скал, столь зеленых)
      span.btext ,
    p
      span.btext There a boat will soon be seen
      |
      |(там лодка скоро будет видна = там скоро появится лодка;
      |
      span.f-coni to see — видеть; to be seen — быть увиденным
      |)
      span.btext ;
    p
      span.btext In the boat you all must sail
      |
      |(в лодке вы все должны поплыть;
      |
      span.f-coni sail — парус; to sail — плыть под парусом
      |)
      span.btext ,
    p
      span.btext Wafted gently by the gale
      |
      |(подгоняемые тихонько ветерком;
      |
      span.f-coni to waft — гнать, нести /корабль, о ветре/; waft — струя воздуха, дуновение; gale — ветерок
      |)
      span.btext .”
    p
      span.btext said the fish
      |
      |(сказала рыба)
      span.btext , and sank again
      |
      |(и опустилась/погрузилась снова;
      |
      span.f-coni to sink — опускаться, погружаться
      |)
      |
      span.btext  beneath the blue waves
      |
      |(в голубые волны: «под голубые волны»)
      span.btext .

    br

    p.btext “Please will you tell us how to get to the fairies' cave?” said Blue-Cap.
    p.btext “Look between the rocks so green,
    p.btext There a boat will soon be seen;
    p.btext In the boat you all must sail,
    p.btext Wafted gently by the gale.”
    p.btext said the fish, and sank again beneath the blue waves.

    br

    p
      span.btext The brothers, after looking about for a little while
      |
      |(братья, после того как осмотрелись вокруг какое-то время;
      |
      span.f-coni to look — смотреть; to look about — осмотреться: «посмотреть вокруг»; after looking about — осмотревшись: «после того, как посмотрев вокруг»; a little while — недолгое время: «маленький промежуток времени»; while — промежуток времени
      |)
      span.btext , found a white boat
      |
      |(нашли белую лодку)
      |
      span.btext  between two big rocks
      |
      |(между двумя большими скалами)
      |
      span.btext  covered with green seaweed
      |
      |(покрытую зелеными водорослями;
      |
      span.f-coni to cover — покрывать; seaweed — водоросль; водоросли: «sea — море + weed — /сорная/ трава; водоросль»
      |)
      span.btext .

    br

    p.btext The brothers, after looking about for a little while, found a white boat between two big rocks covered with green seaweed.

    br

    p
      span.btext They pulled it out
      |
      |(они вытащили ее /из водорослей/)
      |
      span.btext  and got in
      |
      |(и залезли в нее;
      |
      span.f-coni to get in — заходить, залезать, проникать
      |)
      span.btext , and no sooner had they sat down
      |
      |(и как только они сели: «не раньше /чем/ они сели»;
      |
      span.f-coni they had sat down — они сели; they had — они имели /здесь эти слова показывают, что они сели до того, как случилось то, о чем рассказывается дальше/; to sit down — садиться: «садиться вниз»; to sit — сидеть; садиться
      |)
      |
      span.btext  than a gentle wind
      |
      |(как тихий/легкий ветер;
      |
      span.f-coni gentle — мягкий, нежный, тихий
      |)
      |
      span.btext  sprang up
      |
      |(начался: «возник»;
      |
      span.f-coni to spring up — возникать, появляться /например, о ветерке/: «прыгать/бросаться наверх»
      |)
      |
      span.btext  and blew them steadily out to sea
      |
      |(и выдувал = стал выдувать их равномерно/постепенно в открытое море: «наружу к морю»;
      |
      span.f-coni to blow — дуть; blew — дул; steadily — неизменно; неуклонно; steady — устойчивый; прочный, твердый
      |)
      span.btext .

    br

    p.btext They pulled it out and got in, and no sooner had they sat down than a gentle wind sprang up and blew them steadily out to sea.

    br

    p
      span.btext They were rather frightened
      |
      |(они были весьма напуганы)
      |
      span.btext  as they had never been on the sea before
      |
      |(поскольку они никогда не были на море прежде;
      |
      span.f-coni never — никогда; they had never been — никогда не были /до этого/; to bee — быть
      |)
      span.btext , but soon they saw
      |
      |(вскоре они увидели)
      |
      span.btext  that they were coming to land
      |
      |(что они приближаются: «были приходящими» к суше;
      |
      span.f-coni to come — приходить /а также приезжать, приплывать/
      |)
      span.btext .

    br

    p.btext They were rather frightened as they had never been on the sea before, but soon they saw that they were coming to land.

    br

    p
      span.btext The land proved to be an island
      |
      |(суша оказалась островом: «оказалась быть островом»)
      span.btext , and when the boat stopped on the yellow sand
      |
      |(и когда лодка остановилась на желтом песке = врезалась в желтый песок)
      |
      span.btext  the goblins all jumped out
      |
      |(все гоблины выпрыгнули наружу;
      |
      span.f-coni to jump — прыгать
      |)
      span.btext .

    br

    p.btext The land proved to be an island, and when the boat stopped on the yellow sand the goblins all jumped out.

    br

    p
      span.btext They made the boat fast
      |
      |(они прикрепили/привязали лодку: «сделали лодку прикрепленной»;
      |
      span.f-coni to make — делать; fast — крепкий, закрепленный
      |)
      |
      span.btext  by tying the rope
      |
      |(привязав веревку;
      |
      span.f-coni to tie — привязывать
      |)
      |
      span.btext  to a large piece of rock
      |
      |(к большому куску скалы)
      span.btext , and feeling
      |
      |(и, чувствуя;
      |
      span.f-coni to feel — чувствовать
      |)
      |
      span.btext  that their hardest work was coming
      |
      |(что их самая тяжелая работа еще впереди: «была приходящей»;
      |
      span.f-coni hard — жесткий; тяжелый /о работе/; hardest — самый тяжелый
      |)
      |
      span.btext  walked bravely over the sands
      |
      |(пошли смело по пескам: «через пески»;
      |
      span.f-coni to walk — идти пешком, брести; sand — песок
      |)
      span.btext , carrying a boat-hook
      |
      |(неся лодочный крюк;
      |
      span.f-coni to carry — нести
      |)
      |
      span.btext  which they had found in the boat
      |
      |(который они нашли в лодке;
      |
      span.f-coni to find — находить; they had found — они нашли: «имели найденным» /до этого/
      |)
      span.btext .

    br

    p.btext They made the boat fast by tying the rope to a large piece of rock, and feeling that their hardest work was coming walked bravely over the sands, carrying a boat-hook which they had found in the boat.

    br

    p
      span.btext They soon came to a dark cave in the rocks
      |
      |(вскоре они пришли к темной пещере в скалах)
      span.btext . In front of the cave
      |
      |(перед пещерой)
      |
      span.btext  was a big dragon
      |
      |(был большой дракон)
      |
      span.btext  which breathed fire out of its mouth
      |
      |(который выдыхал огонь из своей пасти;
      |
      span.f-coni to breathe — дышать; out — наружу; mouth — рот
      |)
      |
      span.btext  and roared like hundreds of lions
      |
      |(и рычал подобно сотням львов)
      span.btext .

    br

    p.btext They soon came to a dark cave in the rocks. In front of the cave was a big dragon which breathed fire out of its mouth and roared like hundreds of lions.

    br

    p
      span.btext The goblins, after trying many times
      |
      |(гоблины, попробовав много раз: «после попробовав много раз»;
      |
      span.f-coni to try — пробовать; пытаться
      |)
      span.btext , managed to creep over the rocks
      |
      |(сумели прокрасться через скалы;
      |
      span.f-coni to creep — ползти; красться; over — сверху; поверх
      |)
      |
      span.btext  behind the dragon
      |
      |(за спину дракону: «позади дракона»)
      span.btext , and throwing the dust
      |
      |(и, бросая пыль;
      |
      span.f-coni to throw — бросать
      |)
      |
      span.btext  which the rabbit had given them
      |
      |(которую им дал кролик;
      |
      span.f-coni to give — давать; had given — дал /раньше, до этого/
      |)
      |
      span.btext  into its flaming eyes
      |
      |(в его пылающие = испускающие огонь глаза;
      |
      span.f-coni flame — пламя; to flame — гореть ярким пламенем, пылать
      |)
      |
      span.btext  they at last
      |
      |(они наконец)
      span.btext , after a hard fight
      |
      |(после тяжелой битвы)
      span.btext , killed the monster
      |
      |(убили чудовище;
      |
      span.f-coni to kill — убивать
      |)
      |
      span.btext  and entered the cave
      |
      |(и вошли в пещеру)
      span.btext .

    br

    p.btext The goblins, after trying many times, managed to creep over the rocks behind the dragon, and throwing the dust which the rabbit had given them into its flaming eyes they at last, after a hard fight, killed the monster and entered the cave.

    br

    p
      span.btext The goblins looked round in the darkness for the serpent
      |
      |(гоблины осмотрелись вокруг в темноте в поисках змеи)
      |
      span.btext  of which they had heard
      |
      |(о которой они слышали;
      |
      span.f-coni to hear — слышать
      |)
      span.btext , but they could not find it
      |
      |(но они не смогли ее найти)
      span.btext .
    p
      span.btext At last, when they were sadly thinking
      |
      |(наконец, когда они /уже/ печально собирались: «были печально думающими»;
      |
      span.f-coni to think — думать
      |)
      |
      span.btext  of going back to the boat
      |
      |(вернуться к лодке;
      |
      span.f-coni to go back — вернуться: «пойти назад/обратно»
      |)
      span.btext , Red-Cap cried out
      |
      |(Красный Колпак крикнул: «выкрикнул»;
      |
      span.f-coni to cry — кричать; to cry out — выкрикнуть
      |)
      |
      span.btext  that he saw something yellow
      |
      |(что он увидел что-то желтое)
      |
      span.btext  in the dark shadow of a rock
      |
      |(в темной тени скалы)
      span.btext .
    p
      span.btext It was the serpent's tail
      |
      |(это был хвост змеи;
      |
      span.f-coni serpent — змея
      |)
      span.btext !

    br

    p.btext The goblins looked round in the darkness for the serpent of which they had heard, but they could not find it.
    p.btext At last, when they were sadly thinking of going back to the boat, Red-Cap cried out that he saw something yellow in the dark shadow of a rock.
    p.btext It was the serpent's tail!

    br

    p
      span.btext They all ran after it
      |
      |(они все побежали за ней)
      span.btext , shouting loudly
      |
      |(громко крича;
      |
      span.f-coni to shout — кричать, орать; loud — громкий; loudly — громко
      |)
      span.btext , and it led them some way
      |
      |(и она завела их на какое-то расстояние;
      |
      span.f-coni to lead — вести; way — путь; расстояние
      |)
      |
      span.btext  down a rocky passage
      |
      |(вниз по скалистому проходу;
      |
      span.f-coni rock — скала
      |)
      span.btext .

    br

    p.btext They all ran after it, shouting loudly, and it led them some way down a rocky passage.

    br

    p
      span.btext It went very quickly
      |
      |(она продвигалась очень проворно;
      |
      span.f-coni went — шел, шла; to go — идти; quick — живой, быстрый, проворный
      |)
      span.btext , and they had to run very fast
      |
      |(и им пришлось: «они имели» бежать очень быстро;
      |
      span.f-coni fast — быстро; крепко
      |)
      |
      span.btext  to keep it in sight
      |
      |(чтобы удержать ее в видимости/на виду = не потерять ее из виду;
      |
      span.f-coni sight — вид
      |)
      span.btext ; but at last they caught it
      |
      |(но наконец они поймали ее;
      |
      span.f-coni to catch — ловить
      |)
      span.btext , and after a sharp struggle
      |
      |(и после жаркой битвы;
      |
      span.f-coni sharp — острый; жаркий/напряженный /например, о битве/
      |)
      |
      span.btext —in which poor little Red-Cap nearly lost his life
      |
      |(в которой бедный маленький Красный Колпак едва не потерял: «почти потерял» свою жизнь = едва не лишился жизни;
      |
      span.f-coni to lose — терять, утрачивать; nearly — почти; near — близкий, близко
      |)
      |
      span.btext —killed it
      |
      |(убили ее)
      span.btext .

    br

    p.btext It went very quickly, and they had to run very fast to keep it in sight; but at last they caught it, and after a sharp struggle—in which poor little Red-Cap nearly lost his life—killed it.

    br

    p
      span.btext The three little brothers stood looking at the dead serpent
      |
      |(три братца стояли, глядя на мертвую змею)
      span.btext , and while they were looking
      |
      |(и пока они смотрели на нее)
      |
      span.btext  it seemed to change
      |
      |(стало казаться, что она меняется: «она казалась меняться»;
      |
      span.f-coni to seem — казаться
      |)
      span.btext ! It moved
      |
      |(она двигалась;
      |
      span.f-coni to move
      |)
      span.btext ! and grew thinner and darker
      |
      |(и становилась тоньше и темнее;
      |
      span.f-coni to grow — расти; становиться
      |)
      span.btext , and the bright yellow colour turned to orange
      |
      |(и яркий желтый цвет превратился в оранжевый)
      span.btext , and from orange colour to red
      |
      |(а из оранжевого цвета — в красный)
      span.btext , and then redder
      |
      |(и затем краснее = стал еще краснее)
      span.btext ! and redder!! and redder!!! until they saw
      |
      |(пока они не увидели: «пока они увидели»)
      |
      span.btext —that it was no longer the serpent
      |
      |(что это не была больше змея;
      |
      span.f-coni no longer — больше не; long — длинный
      |)
      span.btext , but the Red Feather
      |
      |(а Красное Перо)
      |
      span.btext  for which they had come so far to look
      |
      |(за которым они пришли так далеко, чтобы искать = чтобы найти которое им пришлось проделать такой дальний путь;
      |
      span.f-coni to look — смотреть; to look for something — искать что-то; for which … to look — искать которого …
      |)
      span.btext !

    br

    p.btext The three little brothers stood looking at the dead serpent, and while they were looking it seemed to change! It moved! and grew thinner and darker, and the bright yellow colour turned to orange, and from orange colour to red, and then redder! and redder!! and redder!!! until they saw—that it was no longer the serpent, but the Red Feather for which they had come so far to look!

    br

    p
      span.btext At that moment
      |
      |(в это мгновение)
      |
      span.btext  a bright light seemed to shine
      |
      |(показалось, что засиял яркий свет: «яркий свет показался сиять = показалось, что сияет»)
      span.btext , and standing near the goblins was a lovely lady
      |
      |(и стоящей возле гоблинов была прекрасная дама;
      |
      span.f-coni to stand — стоять; near — близко; возле; lovely — красивый, прекрасный, привлекательный: «достойный любви»; to love — любить
      |)
      span.btext .

    br

    p.btext At that moment a bright light seemed to shine, and standing near the goblins was a lovely lady.

    br

    p
      span.btext “Goblins,” she cried
      |
      |(гоблины, — воскликнула она)
      span.btext , “welcome
      |
      |(добро пожаловать)
      |
      span.btext  to the cave of the fairies
      |
      |(в пещеру фей)
      span.btext . Long have I waited for this happy day
      |
      |(долго ждала я этого счастливого дня)
      span.btext , when my kingdom should be
      |
      |(когда мое королевство должно было стать)
      |
      span.btext  once more
      |
      |(еще раз = снова: «однажды больше»)
      |
      span.btext  restored to me
      |
      |(возвращенным ко мне = когда мое королевство снова будет мне возвращено;
      |
      span.f-coni to restore — отдавать обратно; возвращать на прежнее место; восстанавливать
      |)
      span.btext . You must know
      |
      |(вы должны знать)
      |
      span.btext  that many years ago
      |
      |(что много лет тому назад)
      |
      span.btext  the wicked wizard, Tom Tiddler
      |
      |(злой колдун, Том Тидлер)
      span.btext , cast over me a cruel spell
      |
      |(набросил = навел на меня жестокое колдовство;
      |
      span.f-coni to cast — бросать
      |)
      span.btext .

    br

    p.btext “Goblins,” she cried, “welcome to the cave of the fairies. Long have I waited for this happy day, when my kingdom should be once more restored to me. You must know that many years ago the wicked wizard, Tom Tiddler, cast over me a cruel spell.

    br

    p
      span.btext I and my people
      |
      |(я и мой народ)
      |
      span.btext  were forced to leave our fairy isle
      |
      |(были принуждены оставить наш волшебный остров;
      |
      span.f-coni force — сила; to force — заставлять силой, принуждать
      |)
      span.btext , and wander in the shape of birds
      |
      |(и скитаться в облике птиц;
      |
      span.f-coni shape — форма; облик
      |)
      |
      span.btext  in the Big World
      |
      |(в большом мире)
      span.btext . We were told
      |
      |(нам сказали: «мы были сказаны = извещены»;
      |
      span.f-coni to tell — говорить; рассказывать
      |)
      |
      span.btext  that never would the spell be broken
      |
      |(что никогда не будет колдовство нарушено/разрушено: «сломано»;
      |
      span.f-coni to break — ломать; to be broken — быть сломанным
      |)
      |
      span.btext  until three goblins should enter the cave
      |
      |(покуда три гоблина не войдут в пещеру)
      |
      span.btext  in search of a feather
      |
      |(в поисках пера = ища перо;
      |
      span.f-coni search — поиск; to search — искать, разыскивать
      |)
      span.btext .

    br

    p.btext I and my people were forced to leave our fairy isle, and wander in the shape of birds in the Big World. We were told that never would the spell be broken until three goblins should enter the cave in search of a feather.

    br

    p
      span.btext We therefore stole your Royal Red Feather
      |
      |(мы поэтому украли ваше Королевское Красное Перо;
      |
      span.f-coni to steal — красть
      |)
      span.btext , and hid it in our cave
      |
      |(и спрятали его в нашей пещере;
      |
      span.f-coni to hide — прятать
      |)
      span.btext . No sooner had we done so
      |
      |(не успели мы это проделать: «не ранее мы сделали так»;
      |
      span.f-coni to do — делать; we had done — мы сделали /прежде, до этого/
      |)
      |
      span.btext  than the cruel wizard turned it into a yellow serpent
      |
      |(как жестокий колдун превратил его в желтую змею)
      |
      span.btext  and put a terrible dragon at the entrance of the cave
      |
      |(и поставил ужасного дракона у входа в пещеру)
      span.btext .

    br

    p.btext We therefore stole your Royal Red Feather, and hid it in our cave. No sooner had we done so than the cruel wizard turned it into a yellow serpent and put a terrible dragon at the entrance of the cave.

    br

    p
      span.btext Our friend Rowley the frog
      |
      |(наш друг, лягушка Роули)
      |
      span.btext  told your father
      |
      |(сказал вашему отцу;
      |
      span.f-coni to tell — говорить, рассказывать
      |)
      |
      span.btext  that we had stolen the feather
      |
      |(что мы украли перо;
      |
      span.f-coni to steal — красть; we had stolen the feather — мы украли перо: «мы имели перо украденным» /до этого, ранее/
      |)
      span.btext , and as soon as you were old enough
      |
      |(и как только вы будете достаточно взрослыми: «взрослыми достаточно»;
      |
      span.f-coni enough — достаточно
      |)
      |
      span.btext  we gave you the wish
      |
      |(мы дадим вам желание = мы внушим вам желание;
      |
      span.f-coni to give — давать; we gave — мы дали /здесь: дадим/
      |)
      |
      span.btext  to undertake this journey
      |
      |(предпринять это путешествие)
      span.btext . But for your courage
      |
      |(если бы не ваша смелость)
      |
      span.btext  I should still be in Tom Tiddler's power
      |
      |(я бы все еще была: «должна еще быть» во власти Тома Тидлера;
      |
      span.f-coni still — все еще, по-прежнему
      |)
      span.btext .

    br

    p.btext Our friend Rowley the frog told your father that we had stolen the feather, and as soon as you were old enough we gave you the wish to undertake this journey. But for your courage I should still be in Tom Tiddler's power.

    br

    p
      span.btext In return for your bravery
      |
      |(в благодарность за вашу отвагу;
      |
      span.f-coni return — возвращение; in return — в ответ, в обмен, взамен; brave — отважный; bravery — отвага
      |)
      |
      span.btext  I now charm your Red Feather
      |
      |(я сейчас околдую Красное Перо)
      span.btext . Henceforth
      |
      |(с этого времени/впредь;
      |
      span.f-coni hence — отсюда, прочь; с этих пор, с этого времени, впредь; forth — вперед, дальше; впредь, далее
      |)
      |
      span.btext  any goblin holding it in his hand
      |
      |(любой гоблин, держащий его в руке;
      |
      span.f-coni to hold — держать
      |)
      |
      span.btext  shall have his wish
      |
      |(будет иметь свое желание)
      |
      span.btext —whatever it may be
      |
      |(какое бы оно ни было)
      |
      span.btext —granted
      |
      |(исполненным = любому гоблину, держащему в руке Красное Перо, будет исполнено любое его желание;
      |
      span.f-coni to grant — дарить, жаловать, даровать; предоставлять
      |)
      span.btext .” As the Princess said these words
      |
      |(когда принцесса сказала эти слова = говоря это)
      |
      span.btext  she touched the Feather with her wand
      |
      |(она дотронулась до Пера: «тронула Перо» своей волшебной палочкой;
      |
      span.f-coni wand — палочка, прутик; волшебная палочка /также говорят: magic wand — волшебная палочка/
      |)
      span.btext .

    br

    p.btext In return for your bravery I now charm your Red Feather. Henceforth any goblin holding it in his hand shall have his wish—whatever it may be—granted.” As the Princess said these words she touched the Feather with her wand.

    br

    p
      span.btext The goblins thanked the lovely Princess many times
      |
      |(гоблины сердечно поблагодарили прекрасную Принцессу;
      |
      span.f-coni many times — много раз, многократно
      |)
      span.btext , and asked her to send for them
      |
      |(и попросили ее послать за ними)
      |
      span.btext  at once
      |
      |(сразу же)
      |
      span.btext  if they could ever help her
      |
      |(если они смогут когда-либо помочь ей = если ей вдруг понадобится их помощь)
      span.btext . They then took leave of the fairies
      |
      |(затем они попрощались с феями;
      |
      span.f-coni to take leave of somebody — попрощаться с кем-либо: «взять уход = позволение на уход от кого-либо»
      |)
      |
      span.btext  and started for home
      |
      |(и отправились домой)
      span.btext .

    br

    p.btext The goblins thanked the lovely Princess many times, and asked her to send for them at once if they could ever help her. They then took leave of the fairies and started for home.

    br

    p
      span.btext They sailed again over the sea
      |
      |(они вновь поплыли по морю: «через море»)
      |
      span.btext  and found the rabbit waiting for them
      |
      |(и обнаружили, что кролик их ждет: «нашли кролика ждущим их»)
      span.btext . They jumped on the rabbit's back
      |
      |(они запрыгнули кролику на спину: «на спину кролика»)
      |
      span.btext  and off they went
      |
      |(и отправились: «и прочь они пошли»;
      |
      span.f-coni to go — идти, уходить
      |)
      span.btext .

    br

    p.btext They sailed again over the sea and found the rabbit waiting for them. They jumped on the rabbit's back and off they went.

    br

    p
      span.btext When they got to the place
      |
      |(когда они добрались до места;
      |
      span.f-coni to get — получать; добираться
      |)
      |
      span.btext  where they had left the sack of gold and silver
      |
      |(где они оставили мешок с золотом и серебром;
      |
      span.f-coni to leave — оставлять
      |)
      |
      span.btext  they found it had been dug up ready for them
      |
      |(они обнаружили /что/ он был вырыт уже для них: «был вырыт готовым для них»;
      |
      span.f-coni to find — находить, обнаруживать; to dig — рыть; to dig up — вырыть; it had been dug up — он уже был вырыт
      |)
      span.btext , and standing by it was a big blue bird
      |
      |(и, стоя возле него, была большая синяя птица = а возле него стояла большая синяя птица)
      |
      span.btext  with a red beak and red legs
      |
      |(с красным клювом и красными лапками;
      |
      span.f-coni leg — нога; лапа
      |)
      span.btext .

    br

    p.btext When they got to the place where they had left the sack of gold and silver they found it had been dug up ready for them, and standing by it was a big blue bird with a red beak and red legs.

    br

    p
      span.btext “Jump on
      |
      |(запрыгивайте /на меня/: «прыгайте на»)
      span.btext ,” said he
      |
      |(сказал он /Мистер Птица/)
      span.btext , “and I will pull you
      |
      |(и я повезу вас: «потащу вас»)
      span.btext ; I am Swamp-hen
      |
      |(я Болотная Куропатка;
      |
      span.f-coni swamp — болото; hen — курица; куропатка /дикая курица/
      |)
      span.btext , the fairies' servant
      |
      |(слуга фей;
      |
      span.f-coni fairy — фея; волшебница; эльф /маленькое существо, наделенное волшебной силой/
      |)
      span.btext , sent to take you back to the mountain
      |
      |(посланный, чтобы отвезти вас обратно в гору: «к горе»;
      |
      span.f-coni to send — посылать; sent — посланный
      |)
      span.btext .”

    br

    p.btext “Jump on,” said he, “and I will pull you; I am Swamp-hen, the fairies' servant, sent to take you back to the mountain.”

    br

    p
      span.btext They thanked the kind rabbit
      |
      |(они поблагодарили доброго кролика)
      span.btext , and jumping on the sack
      |
      |(и, прыгнув на мешок)
      |
      span.btext  went on their way
      |
      |(отправились в путь: «пошли на своем пути»)
      span.btext . They had not gone far
      |
      |(они не отъехали далеко;
      |
      span.f-coni to go — идти; ехать
      |)
      |
      span.btext  when they heard
      |
      |(как услыхали: «когда они услышали»;
      |
      span.f-coni to hear — слышать
      |)
      |
      span.btext  a great noise behind them
      |
      |(громкий шум за своей спиной: «большой шум за ними»)
      span.btext , and looking round
      |
      |(и, оглянувшись;
      |
      span.f-coni to look round — оглянуться: «посмотреть вокруг»
      |)
      |
      span.btext  saw Tom Tiddler trying hard to catch them
      |
      |(увидели Тома Тидлера, старающегося изо всех сил догнать их: «поймать их»;
      |
      span.f-coni to try — стараться, пытаться; hard — жесткий; требующий напряжения; изо всех сил, с большим усилием
      |)
      span.btext .

    br

    p.btext They thanked the kind rabbit, and jumping on the sack went on their way. They had not gone far when they heard a great noise behind them, and looking round saw Tom Tiddler trying hard to catch them.

    br

    p
      span.btext Before Tom Tiddler could touch them, however
      |
      |(прежде чем Том Тидлер смог тронуть их, однако = однако прежде чем Том Тидлер смог тронуть их)
      span.btext , Blue-Cap pointed the Red Feather at him
      |
      |(Синий Колпак навел на него Красное Перо;
      |
      span.f-coni to point — указывать, наводить
      |)
      span.btext , and said
      |
      |(и сказал)
      span.btext , “I wish you to become a snail
      |
      |(я желаю, чтобы ты превратился в улитку: «я желаю тебя стать улиткой»;
      |
      span.f-coni to become — стать
      |)
      span.btext !” and Tom Tiddler turned at once into a crawling snail
      |
      |(и Том Тидлер превратился тотчас в ползущую улитку;
      |
      span.f-coni at once — тотчас: «к однажды»; to crawl — ползать
      |)
      span.btext .

    br

    p.btext Before Tom Tiddler could touch them, however, Blue-Cap pointed the Red Feather at him, and said, “I wish you to become a snail!” and Tom Tiddler turned at once into a crawling snail.

    br

    p
      span.btext “He can never hurt any one again
      |
      |(он никогда больше не сможет навредить кому-либо = не сможет тронуть кого-либо;
      |
      span.f-coni to hurt — навредить /кому-либо/; сделать /кому-либо/ больно, тронуть /кого-либо/; again — снова
      |)
      span.btext ,” the goblins cried with joy
      |
      |(воскликнули гоблины с радостью)
      span.btext . “His treasure now is ours
      |
      |(его сокровище теперь наше)
      span.btext . Hurrah
      |
      |(ура)
      span.btext !”

    br

    p.btext “He can never hurt any one again,” the goblins cried with joy. “His treasure now is ours. Hurrah!”

    br

    p
      span.btext They soon reached home
      |
      |(они вскоре добрались до дома;
      |
      span.f-coni to reach — достигать; добираться /до куда-либо/
      |)
      span.btext , and Old Black-Cap was very pleased to have them back safe and sound
      |
      |(и Старый Черный Колпак был очень доволен, что они вернулись живыми и невредимыми: «был очень доволен иметь их обратно невредимыми и здоровыми»)
      span.btext .

    br

    p.btext They soon reached home, and Old Black-Cap was very pleased to have them back safe and sound.

    br

    p
      span.btext “My dear sons
      |
      |(мои дорогие сыновья)
      span.btext ,” said he
      |
      |(сказал он)
      span.btext , taking them in his arms
      |
      |(беря их в свои руки = заключая их в свои объятия;
      |
      span.f-coni to take — брать; arm — рука /от плеча од кисти/, сравните: hand — рука /кисть руки/
      |)
      span.btext , “the kingdom is yours
      |
      |(королевство /теперь/ ваше)
      span.btext . Rule it well together
      |
      |(управляйте им хорошо вместе)
      span.btext , as together you have found the Feather
      |
      |(так же, как вместе вы нашли Перо;
      |
      span.f-coni to find — находить
      |)
      span.btext . I am an old man now
      |
      |(я теперь уже старик;
      |
      span.f-coni an old man — старик: «старый мужчина»
      |)
      span.btext , and shall be glad to see you on the throne
      |
      |(и буду рад видеть вас на троне)
      span.btext .”

    br

    p.btext “My dear sons,” said he, taking them in his arms, “the kingdom is yours. Rule it well together, as together you have found the Feather. I am an old man now, and shall be glad to see you on the throne.”

    br

    p
      span.btext Old Black-Cap and his sons gave a mushroom feast
      |
      |(Старый Черный Колпак и его сыновья устроили грибной пир: «дали грибной пир»;
      |
      span.f-coni to give — давать; mushroom — гриб
      |)
      |
      span.btext  to celebrate the goblins' safe return
      |
      |(чтобы отпраздновать благополучное возвращение гоблинов;
      |
      span.f-coni safe — невредимый; благополучный
      |)
      span.btext . They invited the rat
      |
      |(они пригласили крысу;
      |
      span.f-coni to invite — приглашать
      |)
      span.btext , the rabbit, the swamp-hen
      |
      |(кролика, болотную куропатку)
      span.btext , and Rowley the frog
      |
      |(и лягушку Роули)
      span.btext , and they all enjoyed it very much
      |
      |(и они все получили большое удовольствие от него = от пира;
      |
      span.f-coni to enjoy something — получать удовольствие/радость от чего-либо; joy — радость
      |)
      |
      span.btext  and lived happily ever after
      |
      |(и жили с тех пор счастливо:
      |
      span.f-coni ever after — с тех пор, все остальное время: «всегда после»
      |)
      span.btext .

    br

    p.btext Old Black-Cap and his sons gave a mushroom feast to celebrate the goblins' safe return. They invited the rat, the rabbit, the swamp-hen, and Rowley the frog, and they all enjoyed it very much and lived happily ever after.