// ↓↓↓ BEM-blocks: header (start) ↓↓↓

//- style
//-   include header.css

header.header
  .header__1-block-wrapper
    img.header__1-block-wrapper-img(src="assets/img/bg-header.jpg", alt="bg-header.jpg")
    .header__1-block
      .header__logo-block
        a.header__logo-link(href="index_en.html")
          img.header__logo-link-img(src="assets/img/logo.png", alt="logo")
      .header__login-block
        //- include ../login-form/login-form_en.pug
      .header__lang-block
        include ../language-switcher/language-switcher_en.pug
  .header__nav-block
    include ../navigation/navigation_en.pug

script
  include ../minjs/header/header.js

// ↑↑↑ BEM-blocks: header (end) ↑↑↑