// @font-face {font-family: gostAU; src: url('../fonts/GOST_Type_AU.ttf');}

@font-face { font-family : small; src : url('../fonts/gost_type_au.ttf'); }
@font-face { font-family : bold; src : url('../fonts/gost_bold.ttf'); }
@font-face { font-family : semibold_regular; src : url('../fonts/gost_semibold_regular.ttf'); }
@font-face { font-family : regular_italic; src : url('../fonts/gost_regular_italic.ttf'); }
@font-face { font-family : monotype; src : url('../fonts/gost_monotype.ttf'); }
@font-face { font-family : monotype_italic; src : url('../fonts/gost_monotype_italic.ttf'); }
@font-face { font-family : regular; src : url('../fonts/gost_regular.ttf'); }
@font-face { font-family : semibold_small; src : url('../fonts/gost_semibold_small.ttf'); }
@font-face { font-family : condensed_small; src : url('../fonts/gost_condensed_small.ttf'); }
@font-face { font-family : condensed_italic; src : url('../fonts/gost_condensed_italic.ttf'); }