// ↓↓↓ BEM-blocks: footer (start) ↓↓↓

//- style
//-   include footer.css
.footer-wrapper
  footer.footer
    .footer__column-wrapper
      .footer__column
        h4.footer__subheader GlobalTradeInvesting
        a(href="about_company.html").footer__link О компании
        a(href="account_types.html").footer__link Типы аккаунтов
        a(href="contacts.html").footer__link Контакты
        a(href="verification.html").footer__link Верификация

      .footer__column
        h4.footer__subheader Документация
        a(href="terms_and_conditions.html").footer__link Клиентское соглашение
        a(href="privacy_policy.html").footer__link Политика конфиденциальности
        a(href="notification_of_risks.html").footer__link Уведомление о рисках
        a(href="denial_of_responsibility.html").footer__link Отказ от ответственности
        a(href="refund_policy.html").footer__link Политика возврата
        a(href="aml_and_kyc_policies.html").footer__link Политика AML и KYC

      .footer__column
        h4.footer__subheader Учетная запись
        a(href="registration.html").footer__link Зарегистрироваться
        a(href="password_recovery.html").footer__link Восстановить пароль
        a(href="contacts.html").footer__link Обратная связь

      .footer__column
        h4.footer__subheader Наши партнеры
        a(href="https://www.tradingview.com").footer__link TradingView
        a(href="https://www.investing.com").footer__link Investing
        a(href="https://www.blockchain.com").footer__link Blockchain
        a(href="https://www.cbr.ru").footer__link Центробанк РФ

    .footer__info
      p
        strong Предупреждение о рисках:
        |
        | Операции, предлагаемые данным сайтом, могут совершаться исключительно совершеннолетними лицами (в возрасте с 18 лет), которые достигли полной дееспособности. Операции с финансовыми инструментами, предлагаемыми на этом сайте, могут рассматриваться как операции с высоким уровнем риска. Возможна частичная или полная потеря средств при проведении таких операций. Соответственно, настоятельно рекомендуется не инвестировать и не торговать средствами, потерю которых в случае неблагоприятных результатов таких торгов вы не можете себе позволить.

      p Сайт https://globaltradeinvesting.com и бренд GlobalTradeInvesting - является товарным знаком и собственностью международной бизнес компании  в Управлении по финансовым услугам CORPINVEST LTD. Suite 305, Griffith Corporate Centre, P.O. Box 1510, Beachmont, Kingstown, St. Vincent and The Grenadines

      p Мы рекомендуем вам внимательно прочитать нашу Юридическую документацию: Клиентское соглашение, Политику конфиденциальности, Уведомление о рисках, Отказ от ответственности, Политика возврата, Политику AML и KYC, прежде чем приступить к выполнению операций на этом сайте.

      p Компания и веб-сайт https://globaltradeinvesting.com не оказывают никаких услуг гражданам и резидентам США, Канады, Австралии, Израиля, Сирии, Судана, Ирана, Северной Кореи, Японии и другим странам, и юрисдикциям, где эти услуги не могут быть предоставлены в связи с действующим законодательством или определенными ограничениями.
      p © 2019 CORPINVEST LTD. Все права зарегистрированы. 18+



script
  include ../minjs/footer/footer.js

// ↑↑↑ BEM-blocks: footer (end) ↑↑↑