// ↓↓↓ BEM-blocks: footer (start) ↓↓↓

//- style
//-   include footer.css
.footer-wrapper
  footer.footer
    .footer__column-wrapper
      .footer__column
        h4.footer__subheader GlobalTradeInvesting
        a(href="about_company_en.html").footer__link About the company
        a(href="account_types_en.html").footer__link Account Types
        a(href="contacts_en.html").footer__link Contacts
        a(href="verification_en.html").footer__link Verification

      .footer__column
        h4.footer__subheader Documentation
        a(href="terms_and_conditions_en.html").footer__link Customer agreement
        a(href="privacy_policy_en.html").footer__link Privacy policy
        a(href="notification_of_risks_en.html").footer__link Notification of risks
        a(href="denial_of_responsibility_en.html").footer__link Denial of responsibility
        a(href="refund_policy_en.html").footer__link Return policy
        a(href="aml_and_kyc_policies_en.html").footer__link AML and KYC Policy

      .footer__column
        h4.footer__subheader Account
        a(href="registration_en.html").footer__link Open an account
        a(href="password_recovery_en.html").footer__link Restore password
        a(href="contacts_en.html").footer__link Feedback

      .footer__column
        h4.footer__subheader Our partners
        a(href="https://www.tradingview.com").footer__link TradingView
        a(href="https://www.investing.com").footer__link Investing
        a(href="https://www.blockchain.com").footer__link Blockchain
        a(href="https://www.cbr.ru").footer__link Центробанк РФ

    .footer__info
      p
        strong Risk Warning:
        |
        | The operations offered by this site may be carried out exclusively by adults (aged 18 years), who have reached full capacity. Transactions with financial instruments offered on this site may be considered as transactions with a high level of risk. Possible partial or complete loss of funds during such operations. Accordingly, it is strongly recommended not to invest and not to trade funds, the loss of which in the event of adverse results of such trades you can not afford.

      p The site https://globaltradeinvesting.com and the brand GlobalTradeInvesting is a trademark and property of an international business company in the Financial Services Authority CORPINVEST LTD. Suite 305, Griffith Corporate Centre, P.O. Box 1510, Beachmont, Kingstown, St. Vincent and The Grenadines

      p We recommend that you carefully read our Legal Documentation: Customer Agreement, Privacy Policy, Risk Disclaimer, Disclaimer, Refund Policy, AML Policy and KYC, before proceeding to perform operations on this site.

      p The company and the website https://globaltradeinvesting.com do not provide any services to citizens and residents of the United States, Canada, Australia, Israel, Syria, Sudan, Iran, North Korea, Japan and other countries, and jurisdictions where these services cannot be provided in connection with current legislation or certain restrictions.
      p © 2019 CORPINVEST LTD. All rights are registered. 18+



script
  include ../minjs/footer/footer.js

// ↑↑↑ BEM-blocks: footer (end) ↑↑↑