// ↓↓↓ BEM-blocks: footer (start) ↓↓↓

//- style
//-   include footer.css
.footer-wrapper
  footer.footer
    .footer__column
      h4.footer__subheader GreenZone
      a(href="#").footer__link Letter from CEO
      a(href="#").footer__link Why You Can Trust Us
      a(href="#").footer__link Customer Testimonials

    .footer__column
      h4.footer__subheader Binary Options
      a(href="#").footer__link What Are Binary Options?
      a(href="#").footer__link How to Trade
      a(href="#").footer__link Glossary
      a(href="#").footer__link Trading Academy

    .footer__column
      h4.footer__subheader Traders Resources
      a(href="#").footer__link Account Types
      a(href="#").footer__link Market News
      a(href="#").footer__link Asset Index
      a(href="#").footer__link Expiry Rates

    .footer__column
      h4.footer__subheader Useful Information
      a(href="#").footer__link Banking
      a(href="#").footer__link Disclaimer
      a(href="#").footer__link FAQ
      a(href="#").footer__link Privacy Policy


script
  include ../minjs/footer/footer.js

// ↑↑↑ BEM-blocks: footer (end) ↑↑↑