.footer-wrapper {
  margin                : 0 auto;
  width                 : 100%;
  background-color      : #65941c;
}
.footer {
  max-width             : 1000px;
  min-height            : 200px;
  margin                : 0 auto;
  position              : relative;
  background            : url('../img/bg-footer.jpg') left top repeat;
  padding               : 20px 15px;
  &__column-wrapper {
    display               : grid;
    grid-template-columns : 1fr;
    grid-gap              : 12px;
  }
  &__subheader {
    font                : 18px mpb;
    color               : white;
    padding-bottom      : 14px;
    text-align          : center;
  }
  &__link {
    font                : 14px mpr;
    color               : white;
    text-decoration     : none;
    display             : block;
    padding-bottom      : 14px;
    text-align          : center;
    &:hover {
      color             : lightgrey;
    }
  }
  &__info {
    font                : 12px mpr;
    color               : white;
    padding-bottom      : 14px;
    text-align          : justify;
    border-top          : 2px solid white;
    padding-top         : 10px;
    p {
      padding-bottom    : 10px;
      color             : white;
    }
    strong {
      font-weight       : 600;
    }
  }
}

@media screen and (min-width: 576px) {
  .footer {
    &__column-wrapper {
      grid-template-columns : repeat(2, 1fr);
    }
    &__subheader {
      text-align          : left;
    }
    &__link {
      text-align          : left;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding               : 20px 33px;
    &__column-wrapper {
      grid-template-columns : repeat(4, 1fr);
    }
  }
}