// ↓↓↓ BEM-blocks: language-switcher (start) ↓↓↓

//- style
//-   include language_switcher.css

.language-switcher(data-lang='ru')

  .language-switcher__visible
    span.language-switcher__name язык:
    .language-switcher__current-lang
      img(src="assets/img/lang-ru.png", alt="lang")
      span русский
    button.language-switcher__btn: i.fas.fa-caret-down

  .language-switcher__toggle
    .language-switcher__lang
      img(src="assets/img/lang-ru.png", alt="lang")
      span русский
    .language-switcher__lang
      img(src="assets/img/lang-en.png", alt="lang")
      span english

script
  include ../minjs/language-switcher/language-switcher.js

// ↑↑↑ BEM-blocks: language-switcher (end) ↑↑↑