////////////////////////////////////////////////////////////////////////////////
/* ↓↓↓ registration form module ↓↓↓ */
.form-registration {
  min-width            : 300px;
  max-width            : 600px;
  background-color     : rgba(94, 143, 166, 0.5);
  padding              : 15px;
  font                 : 14px infotext;
  &__form-group {
    margin-bottom      : 10px;
    display            : flex;
    flex-direction     : column;
    position           : relative;
    &_with-check {
      min-height       : 30px;
      position         : relative;
      overflow         : hidden;
      label {
        display        : flex;
        align-items    : center;
        i {
          font-size    : 30px;
          color        : black;
          margin-right : 3px;
          cursor       : pointer;
        }
        input[type='checkbox'] {
          position     : absolute;
          left         : -100%;
          top          : -100%;
        }
      }
    }
    &_errors-list {
      display          : none;
      border           : 1px solid maroon;
      background-color : maroon;
      padding          : 0 6px;
      color            : white;
    }
  }
  &__label {
    font-family        : mainsub;
    color              : white;
  }
  &__input {
    display            : block;
    height             : 30px;
    padding            : 0 6px;
    border             : none;
    background-color   : #fff;
  }
  &__phone-wrapper {
    display            : block;
    height             : 30px;
    background-color   : #fff;
    display            : flex;
    position           : relative;
  }
  &__current-country-wrapper {
    display            : flex;
    align-items        : center;
    cursor             : pointer;
    svg {
      height           : 15px;
      margin-right     : 3px;
    }
  }
  &__country-wrapper {
    width              : 30px;
    height             : 20px;
    position           : relative;
    overflow           : hidden;
    margin-right       : 3px;
  }
  &__country-flag {
    height             : 34px;
    width              : auto;
    position           : absolute;
    top                : 50%;
    left               : 50%;
    transform          : translate(-50%,-50%);
  }
  &__country-list {
    display            : none;
    position           : absolute;
    z-index            : 1;
    top                : 100%;
    left               : 0;
    width              : 270px;
    height             : 205px;
    background-color   : #fff;
    overflow-y         : scroll;
  }
  &__country-item {
    border-bottom      : 1px dotted lightgrey;
    display            : flex;
    align-items        : center;
    cursor             : pointer;
  }
  &__country-code {
    width              : 40px;
  }
  &__form-error {
    display            : none;
  }
  #ccode {
    display            : block;
    width              : 50px;
    height             : 30px;
    background-color   : lightgrey;
    text-align         : center;
  }
  #phone {
    flex-grow          : 1;
  }
  &__btn {
    height             : 30px;
    cursor             : pointer;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    i {
      margin-right     : 6px;
      font-size        : 20px;
      color            : #1c2e3d;
    }
  }
  &__check-yes {
    display            : none;
  }
}
/* ↑↑↑ registration form module ↑↑↑ */
////////////////////////////////////////////////////////////////////////////////