.contactform {
  background-color: rgba(0,0,0,.5);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin : 0 0 20px 20px;

  &__input {
    width: 100%;
    height: 30px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0 6px;
    line-height: 28px;
    color: grey;
  }
  #input-firstName {
    margin-bottom: 10px;
  }
  &__phone-wrapper {
    margin: 10px 0;
    display: flex;
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  &__flag-wrapper {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 1px solid white;
    border-radius: 4px 0 0 4px / 4px 0 0 4px;
    height: 30px;
    width: 55px;
  }
  &__flag-wrapper-cover-for-click {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  &__img-flag-wrapper {
    height: 30px;
    width: 45px;
    position: relative;
    overflow: hidden;
  }
  &__flag-img {
    height: 40px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &__countries-wrapper {
    display: none;
    max-width: 318px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: white;
  }
  &__country {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__country-name {
    font: 14px mpc;
  }
  &__input_ccode {
    border: 1px solid #9dd840;
    border-radius: 0px;
    background-color: #9dd840;
    width: 55px;
    user-select: none;
    color: white;
    font: 16px mpbc;
    text-align: center;
    letter-spacing: 1px;
  }
  &__input_phone {
    width: calc(100% - 110px);
    border-radius: 0 4px 4px 0 / 0 4px 4px 0;
  }

  &__textarea {
    min-width: 100%;
    max-width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 10px;
    min-height: 50px;
    max-height: 200px;
    padding: 6px;
    font: 14px mpr;
  }
  &__btn {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    border: 1px solid grey;
    border-bottom: 2px solid #016032;
    border-radius: 6px;
    padding: 0 10px;
    text-align: center;
    font: 18px mpr;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 2px 2px grey;
    text-transform: uppercase;
    background-image: linear-gradient(#5a9020, #8fb934);
    cursor: pointer;
  }
  &__error {
    min-height: 30px;
    min-width: 320px;
    max-width: 680px;
    position: absolute;
    top: 0;
    left: 10px;
    font: 16px mpbc;
    text-align: justify;
    background-color: white;
    padding: 6px;
    border: 1px solid #23cd45;
    border-radius: 4px;
  }
  .error-triangle {
    position: absolute;
    z-index: 1;
    top: -10px;
    border: {
      bottom: 10px solid #23cd45;
      left: 10px solid transparent;
      right: 10px solid transparent;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      left: -8px;
      top: 2px;
      border: {
        bottom: 8px solid white;
        left: 8px solid transparent;
        right: 8px solid transparent;
      }
    }
  }
}