extends ../../templates/template_en.pug

block name
  .name-section
    .name-section__author
    .name-section__book
    p.tac Уильям Сомерсет Моэм
    p.tac Мистер Всезнайка
    p.tac адаптировала Надежда Белова
    p.tac Метод чтения Ильи Франка

block text
  section
    p
      span.btext I was prepared to dislike Max Kelada
      |
      |(я был готов испытывать неприязнь к Максу Келада)
      |
      span.btext  even before I knew him
      |
      |(даже до того, как познакомился с ним;
      |
      span.f-coni to know — знать; быть знакомым
      |)
      span.btext . The war had just finished
      |
      |(война только что закончилась)
      |
      span.btext  and the passenger traffic in the ocean-going liners was heavy
      |
      |(и перевозки пассажиров на океанских лайнерах были интенсивными:
      |
      span.f-coni traffic — движение, транспорт; перевозки; heavy — тяжелый; интенсивный
      |)
      span.btext . Accommodation was very hard to get
      |
      |(получить место на пароходе было очень трудно: а
      |
      span.f-coni ccommodation – жилье; место /на пароходе/
      |)
      |
      span.btext  and you had to put up with whatever the agents chose to offer you
      |
      |(и вы должны были мириться со всем, что бы агенты ни решили предложить вам;
      |
      span.f-coni to put up — поднимать; терпеть, мириться /with – с/; whatever — любой, что бы ни; to choose – выбирать; решать
      |)
      span.btext . You could not hope for a cabin to yourself
      |
      |(вы не могли надеяться на отдельную каюту: «каюту для себя»)
      |
      span.btext  and I was thankful to be given one
      |
      |(и я был благодарен получить одну: «быть данным/одаренным»;
      |
      span.f-coni to give
      |)
      span.btext , in which there were only two berths
      |
      |(в которой было только два места)
      span.btext .

    br

    p.btext prepared [prIpeqd], passenger [pxsInGq], berth [bq:T]

    br

    p.btext I was prepared to dislike Max Kelada even before I knew him. The war had just finished and the passenger traffic in the ocean-going liners was heavy. Accommodation was very hard to get and you had to put up with whatever the agents chose to offer you. You could not hope for a cabin to yourself and I was thankful to be given one in which there were only two berths.

    br

    p
      span.btext But when I was told the name of my companion
      |
      |(но когда мне сказали имя моего попутчика)
      |
      span.btext  my heart sank
      |
      |(мое сердце упало;
      |
      span.f-coni to sink — тонуть; низко падать
      |)
      span.btext . It suggested closed portholes
      |
      |(это означало закрытые иллюминаторы;
      |
      span.f-coni to suggest — предлагать; означать
      |)
      |
      span.btext  and the night air rigidly excluded
      |
      |(и духота ночью: «ночной воздух жестко исключенный»)
      span.btext . It was bad enough
      |
      |(довольно плохо было)
      |
      span.btext  to share a cabin for fourteen days with anyone
      |
      |(делить каюту в течение четырнадцати дней с кем-то)
      span.btext . I was going from San Francisco to Yokohama
      |
      |(я ехал из Сан-Франциско в Йокогаму)
      span.btext , but I should have looked upon it with less dismay
      |
      |(но я смотрел бы на это с меньшей тревогой)
      |
      span.btext  if my fellow passenger`s name had been Smith or Brown
      |
      |(если бы имя моего попутчика было Смит или Браун)
      span.btext .

    br

    p.btext companion [kqmpxnjqn], heart [hQ:t], suggest [sqGest], porthole [pO:thqul]

    br

    p.btext But when I was told the name of my companion my heart sank. It suggested closed portholes and the night air rigidly excluded. It was bad enough to share a cabin for fourteen days with anyone. I was going from San Francisco to Yokohama, but I should have looked upon it with less dismay if my fellow passenger`s name had been Smith or Brown.

    br

    p
      span.btext When I went on board
      |
      |(когда я поднялся на борт;
      |
      span.f-coni to go — идти
      |)
      span.btext ; I found Mr Kelada`s luggage already below
      |
      |(я обнаружил, что багаж мистера Келада /был/ уже внизу = в каюте;
      |
      span.f-coni to find — найти; обнаруживать
      |)
      span.btext . I did not like the look of it
      |
      |(мне не понравился его вид)
      span.btext ; there were too many labels on the suit-cases
      |
      |(было слишком много ярлыков на чемоданах)
      span.btext , and the wardrobe trunk was too big
      |
      |(и кофр был очень большой:
      |
      span.f-coni wardrobe trunk — кофр, сундук-шкаф для верхней одежды
      |)
      span.btext . He had unpacked his toilet things
      |
      |(он распаковал свои туалетные принадлежности)
      span.btext , and I observed that he was a patron of the excellent Monsieur Coty
      |
      |(и я отметил, что он был клиентом великолепного мсье Коти:
      |
      span.f-coni to observe — наблюдать, понять; отметить
      |)
      span.btext ; for I saw on the washing-stand his scent
      |
      |(потому что я увидел на умывальнике его духи = /от Коти/;
      |
      span.f-coni scent — аромат; духи
      |)
      span.btext , his hair-wash
      |
      |(его шампунь)
      |
      span.btext  and his brilliantine
      |
      |(и его бриллиантин)
      span.btext .

    br

    p.btext luggage [lAgIG], toilet [tOIlIt], observe [qbzq:v], patron [peItrqn], Monsieur [mqsjq:]

    br

    p.btext When I went on board I found Mr Kelada`s luggage already below. I did not like the look of it; there were too many labels on the suit-cases, and the wardrobe trunk was too big. He had unpacked his toilet things, and I observed that he was a patron of the excellent Monsieur Coty; for I saw on the washing-stand his scent, his hair-wash and his brilliantine.

    br

    p
      span.btext Mr Kelada`s brushes
      |
      |(щетки мистера Келада)
      span.btext , ebony with his monogram in gold
      |
      |(эбеновые = из черного дерева с его монограммой из золота)
      span.btext , would have been all the better for a scrub
      |
      |(были бы лучше после чистки = не мешало бы помыть)
      span.btext . I did not at all like Mr Kelada
      |
      |(мне совсем не нравился мистер Келада)
      span.btext . I made my way into the smoking-room
      |
      |(я отправился в курительную комнату;
      |
      span.f-coni to make way = продвигаться
      |)
      span.btext . I called for a pack of cards
      |
      |(я попросил принести колоду карт:
      |
      span.f-coni to call — звать, звонить; призывать
      |)
      |
      span.btext  and began to play patience
      |
      |(и начал раскладывать пасьянс)
      span.btext . I had scarcely started
      |
      |(я только начал)
      |
      span.btext  before a man came up to me and asked me
      |
      |(как ко мне подошел мужчина и спросил меня;
      |
      span.f-coni to come
      |)
      |
      span.btext  if he was right in thinking my name was so and so
      |
      |(верно ли он думает: «если он был прав, думая», /что/ меня зовут так-то и так-то)
      span.btext .

    br

    p.btext patience [peISqns], scarcely [skeqslI], right [raIt]

    br

    p.btext Mr Kelada`s brushes, ebony with his monogram in gold, would have been all the better for a scrub. I did not at all like Mr Kelada. I made my way into the smoking-room. I called for a pack of cards and began to play patience. I had scarcely started before a man came up to me and asked me if he was right in thinking my name was so and so.

    br

    p
      span.btext "I am Mr Kelada," he added
      |
      |(он добавил)
      span.btext , with a smile that showed a row of flashing teeth
      |
      |(с улыбкой, которая показала ряд сверкающих зубов)
      span.btext , and sat down
      |
      |(и сел)
      span.btext .
    p
      span.btext "Oh, yes, we`re sharing a cabin
      |
      |(ах, да, мы делим каюту:
      |
      span.f-coni to share — делить; использовать совместно
      |)
      span.btext , I think
      |
      |(я думаю)
      span.btext ."

    br

    p.btext showed [Squd], teeth [tI:T], share [Seq]

    br

    p.btext "I am Mr Kelada," he added, with a smile that showed a row of flashing teeth, and sat down.
    p.btext "Oh, yes, we`re sharing a cabin, I think."

    br

    p
      span.btext "Bit of luck, I call it
      |
      |(счастливый случай: «кусочек счастья», я называю это)
      span.btext . You never know
      |
      |(никогда не знаешь)
      |
      span.btext  who you`re going to be put in with
      |
      |(с кем будешь поселен;
      |
      span.f-coni to put – класть/помещать
      |)
      span.btext . I was jolly glad when I heard you were English
      |
      |(я был очень рад, когда узнал, что вы англичанин:
      |
      span.f-coni to hear — услышать; узнать
      |)
      span.btext . I`m all for us English sticking together
      |
      |(я — за то, /чтобы/ мы, англичане, держались вместе:
      |
      span.f-coni to be all for = одобрять; to stick — втыкать; держать/ся/
      |)
      |
      span.btext  when we`re abroad
      |
      |(пока мы вне дома:
      |
      span.f-coni abroad — за границей; вне дома
      |)
      span.btext , if you understand what I mean
      |
      |(если вы понимаете, что я имею в виду)
      span.btext ."
    p
      span.btext I blinked
      |
      |(я мигнул /глазами/)
      span.btext .

    br

    p.btext jolly [GO:lI], heard [hq:d], together [tqgeðq], abroad [qbrO:d]

    br

    p.btext "Bit of luck, I call it. You never know who you`re going to be put in with. I was jolly glad when I heard you were English. I`m all for us English sticking together when we`re abroad, if you understand what I mean."
    p.btext I blinked.

    br

    p
      span.btext "Are you English
      |
      |(вы англичанин)
      span.btext ?" I asked, perhaps tactlessly
      |
      |(спросил я, пожалуй, бестактно)
      span.btext .
    p
      span.btext "Rather
      |
      |(конечно, да)
      span.btext . You don`t think I look like an American, do you
      |
      |(вы ведь не думаете, что я похож на американца, не так ли)
      span.btext ? British to the backbone
      |
      |(англичанин до мозга костей)
      span.btext , that`s what I am
      |
      |(вот кто я)
      span.btext ."
    p
      span.btext To prove it, Mr Kelada took out of his pocket a passport
      |
      |(чтобы подтвердить это, мистер Келада вынул из своего кармана паспорт)
      |
      span.btext  and airily waved it under my nose
      |
      |(и слегка помахал им перед моим носом)
      span.btext .

    br

    p.btext rather [rQ:ðq], prove [pru:v], airily [eqrIlI]

    br

    p.btext "Are you English?" I asked, perhaps tactlessly.
    p.btext "Rather. You don`t think I look like an American, do you? British to the backbone, that`s what I am."
    p.btext To prove it, Mr Kelada took out of his pocket a passport and airily waved it under my nose.

    br

    p
      span.btext King George has many strange subjects
      |
      |(у короля Георга много странных подданных:
      |
      span.f-coni subject — тема, предмет; подданный
      |)
      span.btext . Mr Kelada was short and of a sturdy build
      |
      |(мистер Келада был низкий и крепкого телосложения)
      span.btext , clean-shaven and dark-skinned
      |
      |(чисто выбритый и смуглый: «темнокожий»)
      span.btext , with a fleshy hooked nose
      |
      |(с мясистым крючковатым носом)
      |
      span.btext  and very large, lustrous and liquid eyes
      |
      |(и очень большими, блестящими и влажными глазами)
      span.btext . His long black hair was sleek and curly
      |
      |(его длинные темные волосы были лоснящимися и кудрявыми)
      span.btext . He spoke with a fluency in which there was nothing English
      |
      |(он говорил бегло: «с беглостью», в которой не было ничего английского)
      |
      span.btext  and his gestures were exuberant
      |
      |(и его жесты были многочисленными: «бьющими через край»)
      span.btext . I fell pretty sure
      |
      |(я был почти уверен:
      |
      span.f-coni pretty — в значительной степени
      |)
      |
      span.btext  that a closer inspection of that British passport would have betrayed the fact
      |
      |(что более тщательная проверка того британского паспорта вскрыла бы факт:
      |
      span.f-coni close — близкий; тщательный
      |)
      |
      span.btext  that Mr Kelada was born under a bluer sky than is generally seen in England
      |
      |(что мистер Келада был рожден под более синим небом, чем /то, которое/ обычно видят в Англии)
      span.btext .

    br

    p.btext sturdy [stq:dI], lustrous [lAstrqs], gesture [GestSq], exuberant [Igzju:bqrqnt]

    br

    p.btext King George has many strange subjects. Mr Kelada was short and of a sturdy build, clean-shaven and dark-skinned, with a fleshy hooked nose and very large, lustrous and liquid eyes. His long black hair was sleek and curly. He spoke with a fluency in which there was nothing English and his gestures were exuberant. I fell pretty sure that a closer inspection of that British passport would have betrayed the fact that Mr Kelada was born under a bluer sky than is generally seen in England.

    br

    p
      span.btext "What will you have
      |
      |(что вы будете)
      span.btext ?" he asked me.
    p
      span.btext I looked at him doubtfully
      |
      |(я взглянул на него недоверчиво/с недоумением:
      |
      span.f-coni to doubt — сомневаться/не доверять
      |)
      span.btext . Prohibition was in force
      |
      |(сухой закон: «запрет» был в силе)
      |
      span.btext  and to all appearance the ship was bone-dry
      |
      |(и, судя по всему, на судне не было спиртного: «судно было сухим»)
      span.btext . When I am not thirsty
      |
      |(когда я не испытываю жажды: «не есть жаждущий»)
      |
      span.btext  I do not know which I dislike more
      |
      |(я не знаю, что я не люблю больше)
      span.btext , ginger ale
      |
      |(имбирный эль)
      |
      span.btext  or lemon squash
      |
      |(или лимонад)
      span.btext . But Mr Kelada flashed an oriental smile at me
      |
      |(но мистер Келада сверкнул мне восточной улыбкой)
      span.btext .

    br

    p.btext doubtfully [dautfulI], prohibition ["prquIbISqn], appearance [qpIqrqns], thirsty [Tq:stI], oriental [O:rIentl]

    br

    p.btext "What will you have?" he asked me.
    p.btext I looked at him doubtfully. Prohibition was in force and to all appearance the ship was bone-dry. When I am not thirsty I do not know which I dislike more, ginger ale or lemon squash. But Mr Kelada flashed an oriental smile at me.

    br

    p
      span.btext "Whisky and soda or a dry martini
      |
      |(виски с содовой или сухой мартини)
      span.btext , you have only to say the word
      |
      |(вам нужно только сказать слово)
      span.btext ."
    p
      span.btext From each of his hip pockets
      |
      |(из каждого заднего кармана)
      |
      span.btext  he fished a flask and laid it on the table before me
      |
      |(он достал по фляжке и положил на стол передо мной)
      span.btext . I chose the martini
      |
      |(я выбрал мартини)
      span.btext , and calling the steward
      |
      |(и подозвав стюарда)
      |
      span.btext  he ordered a tumbler of ice and a couple of glasses
      |
      |(он заказал бокал со льдом и пару стаканов)
      span.btext .

    br

    p.btext flask [flQ:sk], steward [stjuqd], tumbler [tAmblq], couple [kApl]

    br

    p.btext "Whisky and soda or a dry martini, you have only to say the word."
    p.btext From each of his hip pockets he fished a flask and laid it on the table before me. I chose the martini, and calling the steward he ordered a tumbler of ice and a couple of glasses.

    br

    p
      span.btext "A very good cocktail
      |
      |(очень хороший коктейль)
      span.btext ," I said.
    p
      span.btext "Well, there are plenty more where that came from
      |
      |(ну, есть гораздо лучше /там/ откуда этот;
      |
      span.f-coni to come — приходить; поставляться
      |)
      span.btext , and if you`ve got any friends on board
      |
      |(и если у вас есть друзья на борту)
      span.btext , you tell them you`ve got a pal
      |
      |(вы говорите им, /что/ у вас есть приятель)
      |
      span.btext  who`s got all the liquor in the world
      |
      |(у которого есть все/любые спиртные напитки в мире)
      span.btext ."

    br

    p.btext board [bO:d], liquor [lIkq], world [wq:ld]

    br

    p.btext "A very good cocktail," I said.
    p.btext "Well, there are plenty more where that came from, and if you`ve got any friends on board, you tell them you`ve got a pal who`s got all the liquor in the world."

    br

    p
      span.btext Mr Kelada was chatty
      |
      |(мистер Келада был словоохотлив)
      span.btext . He talked of New York and of San Francisco
      |
      |(он говорил о Нью-Йорке и о Сан-Франциско)
      span.btext . He discussed plays
      |
      |(он обсуждал спектакли:
      |
      span.f-coni play — игра; спектакль/драма
      |)
      span.btext , pictures
      |
      |(картины)
      span.btext , and politics
      |
      |(и политику)
      span.btext . He was patriotic
      |
      |(он был патриотичен)
      span.btext . The Union Jack is an impressive piece of drapery
      |
      |(британский флаг – волнующее полотнище: «кусок материи»)
      span.btext , but when it is nourished by a gentleman from Alexandria or Beirut
      |
      |(но когда он поддерживается джентльменом из Александрии или Бейрута)
      span.btext , I cannot but feel that it loses somewhat in dignity
      |
      |(я не могу не чувствовать: «не могу, но чувствую», что он теряет часть своего достоинства: «что-то в своем достоинстве»)
      span.btext . Mr Kelada was familiar
      |
      |(мистер Келада был фамильярен)
      span.btext .

    br

    p.btext drapery [dreIpqrI], nourish [nArIS], familiar [fqmIljq]

    br

    p.btext Mr Kelada was chatty. He talked of New York and of San Francisco. He discussed plays, pictures, and politics. He was patriotic. The Union Jack is an impressive piece of drapery, but when it is nourished by a gentleman from Alexandria or Beirut, I cannot but feel that it loses somewhat in dignity. Mr Kelada was familiar.

    br

    p
      span.btext I do not wish to put on airs
      |
      |(я не хочу напускать на себя важность/задирать нос)
      span.btext , but I cannot help feeling
      |
      |(но я не могу не чувствовать:
      |
      span.f-coni to help — помогать; удерживаться
      |)
      |
      span.btext  that it is seemly in a total stranger
      |
      |(что совершенно незнакомому человеку подобает: «это есть подобающе/благопристойно»)
      |
      span.btext  to put "mister" before my name when he addresses me
      |
      |(ставить /слово/ «мистер» перед моим именем, когда он обращается ко мне)
      span.btext . Mr Kelada, doubtless to set me at my case
      |
      |(мистер Келада, несомненно, /чтобы/ поставить меня на место:
      |
      span.f-coni case — случай; положение
      |)
      span.btext , used no such formality
      |
      |(не использовал такой формальности)
      span.btext . I did not like Mr Kelada
      |
      |(мне не нравился мистер Келада)
      span.btext . I had put aside the cards when he sat down
      |
      |(я отложил в сторону карты, когда он сел)
      span.btext , but now, thinking that for this first occasion
      |
      |(но теперь, думая, что на /этот/ первый раз)
      |
      span.btext  our conversation had lasted long enough
      |
      |(наш разговор продолжался достаточно долго)
      span.btext , I went on with my game
      |
      |(я продолжил свою игру)
      span.btext .

    br

    p.btext doubtless [dautlIs], formality [fO: mxlItI], enough [InAf]

    br

    p.btext I do not wish to put on airs, but I cannot help feeling that it is seemly in a total stranger to put "mister" before my name when he addresses me. Mr Kelada, doubtless to set me at my case, used no such formality. I did not like Mr Kelada. I had put aside the cards when he sat down, but now, thinking that for this first occasion our conversation had lasted long enough, I went on with my game.

    br

    p
      span.btext "The three on the four
      |
      |(тройку на четверку)
      span.btext ," said Mr Kelada.
    p
      span.btext There is nothing more exasperating
      |
      |(нет ничего более невыносимого)
      |
      span.btext  when you are playing patience
      |
      |(когда вы раскладываете пасьянс)
      |
      span.btext  than to be told where to put the card you have turned up
      |
      |(чем когда вам говорят, куда класть карту, /которую/ вы подняли/перевернули)
      |
      span.btext  before you have had a chance to look for yourself
      |
      |(до того как вы имели возможность поискать /место для карты/ самому)
      span.btext .
    p
      span.btext "It`s coming out
      |
      |(получается:
      |
      span.f-coni to come out — выходить; получаться, складываться
      |)
      span.btext , it`s coming out," he cried
      |
      |(закричал он)
      span.btext . "The ten on the knave
      |
      |(десятку на валета)
      span.btext ."
    p
      span.btext With rage and hatred in my heart I finished
      |
      |(с гневом и ненавистью в моем сердце я закончил)
      span.btext .

    br

    p.btext exasperating [IgzQ:spqreItIN], patience [peISqns], knave [neIv], hatred [heItrId], heart [hQ:t]

    br

    p.btext "The three on the four," said Mr Kelada.
    p.btext There is nothing more exasperating when you are playing patience than to be told where to put the card you have turned up before you have had a chance to look for yourself.
    p.btext "It`s coming out, it`s coming out," he cried. "The ten on the knave."
    p.btext With rage and hatred in my heart I finished.

    br

    p
      span.btext Then he seized the pack
      |
      |(потом он схватил колоду)
      span.btext .
    p
      span.btext "Do you like card tricks
      |
      |(вы любите карточные фокусы)
      span.btext ?"
    p
      span.btext "No, I hate card tricks
      |
      |(нет, я ненавижу карточные фокусы)
      span.btext ," I answered
      |
      |(ответил я)
      span.btext .
    p
      span.btext "Well, I`ll just show you this one
      |
      |(хорошо, я только покажу вам вот этот)
      span.btext ."
    p
      span.btext He showed me three
      |
      |(он показал мне три)
      span.btext . Then I said I would go down to the dining-room and get my seat at table
      |
      |(потом я сказал, что спущусь в столовую и займу место за столом)
      span.btext .
    p
      span.btext "Oh, that`s all right,
      |
      |(о, /это/ хорошо = не беспокойтесь)
      span.btext " he said. "I`ve already taken a seat for you
      |
      |(я уже занял место для вас)
      span.btext . I thought that as we were in the same state-room
      |
      |(я подумал, что раз мы /путешествуем/ в одной каюте)
      |
      span.btext  we might just as well sit at the same table
      |
      |(мы могли бы так же сидеть за одним: «тем же» столом:
      |
      span.f-coni just as well — с тем же успехом/также
      |)
      span.btext ".
    p
      span.btext I did not like Mr Kelada.

    br

    p.btext seize [sI:z], answer [Q:nsq], show [Squ], already [O:lredI], thought [TO:t]

    br

    p.btext Then he seized the pack.
    p.btext "Do you like card tricks?"
    p.btext "No, I hate card tricks," I answered.
    p.btext "Well, I`ll just show you this one."
    p.btext He showed me three. Then I said I would go down to the dining-room and get my seat at table.
    p.btext "Oh, that`s all right," he said. "I`ve already taken a seat for you. I thought that as we were in the same state-room we might just as well sit at the same table."
    p.btext I did not like Mr Kelada.

    br

    p
      span.btext I not only shared a cabin with him
      |
      |(я не только делил с ним каюту)
      |
      span.btext  and ate three meals a day at the same table
      |
      |(и ел три раза: «три еды» в день за одним: «за тем же» столом)
      span.btext , but I could not walk round the deck without his joining me
      |
      |(но я не мог прогуляться по палубе без его сопровождения: «без того, чтобы он ко мне присоединился»)
      span.btext . It was impossible to snub him
      |
      |(было невозможно дать ему отпор)
      span.btext . It never occurred to him
      |
      |(ему никогда не приходило на ум:
      |
      span.f-coni to occur — случаться; приходить на ум
      |)
      |
      span.btext  that he was not wanted
      |
      |(что его не хотят видеть: «он не желаем = нежелателен»)
      span.btext . He was certain that you were as glad to see him as he was to see you
      |
      |(он был уверен, что вы /были/ так же рады видеть его, как он был /рад/ — видеть вас)
      span.btext .

    br

    p.btext ate [et], could [kud], walk [wO:k], certain [sq:tn]

    br

    p.btext I not only shared a cabin with him and ate three meals a day at the same table, but I could not walk round the deck without his joining me. It was impossible to snub him. It never occurred to him that he was not wanted. He was certain that you were as glad to see him as he was to see you.

    br

    p
      span.btext In your own house
      |
      |(в своем собственном доме)
      |
      span.btext  you might have kicked him downstairs
      |
      |(вы могли бы спустить его с лестницы: «иметь столкнутым его вниз по ступенькам»)
      |
      span.btext  and slammed the door in his face
      |
      |(и захлопнуть дверь перед его лицом: «в его лицо»)
      |
      span.btext  without the suspicion dawning on him that he was not a welcome visitor
      |
      |(без того, чтобы сомнение прокралось в его сердце, что он не был желанным гостем:
      |
      span.f-coni to dawn — светать; становиться ясным, доходить
      |)
      span.btext . He was a good mixer
      |
      |(он был общительным человеком;
      |
      span.f-coni to mix — смешивать/ся/
      |)
      span.btext , and in three days knew everyone on board
      |
      |(и через три дня знал каждого на борту)
      span.btext . He ran everything
      |
      |(он участвовал во всем;
      |
      span.f-coni to run — бежать; участвовать
      |)
      span.btext . He managed the sweeps
      |
      |(он принимал ставки: «руководил/управлял тотализатором»:
      |
      span.f-coni sweep — подметание; пари на скачках/тотализатор
      |)
      span.btext , conducted the auctions
      |
      |(проводил аукционы)
      span.btext , collected money for prizes at the sports
      |
      |(собирал деньги на призы в спортивных состязаниях)
      span.btext , got up quoit and golf matches
      |
      |(организовывал матчи по метанию колец в цель и гольфу;
      |
      span.f-coni to get up — вставать; организовывать, подготавливать
      |)
      span.btext , organized the concert and arranged the fancy-dress ball
      |
      |(организовал концерт и устроил маскарад:
      |
      span.f-coni fancy-dress ball — маскарад
      |)
      span.btext .

    br

    p.btext downstairs [daunsteqz], suspicion [sqspISqn], dawning [dO:nIN], auction [O:kSqn], quoit [kOIt], organize ['O:gqnaIz], arrange [q'reInG]

    br

    p.btext In your own house you might have kicked him downstairs and slammed the door in his face without the suspicion dawning on him that he was not a welcome visitor. He was a good mixer, and in three days knew everyone on board. He ran everything. He managed the sweeps, conducted the auctions, collected money for prizes at the sports, got up quoit and golf matches, organized the concert and arranged the fancy-dress ball.

    br

    p
      span.btext He was everywhere and always
      |
      |(он был везде и всегда)
      span.btext . He was certainly the best hated man in the ship
      |
      |(он был несомненно самым ненавистным человеком на судне)
      span.btext . We called him Mr Know-All, even to his face
      |
      |(мы называли его мистер Всезнайка, даже в лицо)
      span.btext . He took it as a compliment
      |
      |(он воспринял это как комплимент;
      |
      span.f-coni to take — брать; воспринимать
      |)
      span.btext . But it was at mealtimes that he was most intolerable
      |
      |(но наиболее невыносимым он был во время еды: «но это было во время принятия пищи, что он был наиболее невыносимым»)
      span.btext . For the better part of an hour
      |
      |(почти в течение часа: «большей части часа»;
      |
      span.f-coni the better part — «лучшая часть»
      |)
      |
      span.btext  then he had us at his mercy
      |
      |(тогда мы были в его власти: «он имел нас в своей милости»)
      span.btext . He was hearty
      |
      |(он был энергичным:
      |
      span.f-coni hearty — сердечный; энергичный
      |)
      span.btext , jovial
      |
      |(веселым/общительным)
      span.btext , loquacious and argumentative
      |
      |(словоохотливым и любящим спорить)
      span.btext . He knew everything better than anybody else
      |
      |(он знал все лучше, чем кто-то еще)
      span.btext , and it was an affront to his overweening vanity
      |
      |(и /это/ было оскорблением/унижением его самоуверенного самолюбия:
      |
      span.f-coni vanity — суета; самолюбие/тщеславие
      |)
      |
      span.btext  that you should disagree with him
      |
      |(/что/ если вы не согласитесь с ним)
      span.btext .

    br

    p.btext certainly ['sWtnlI], intolerable [In'tLlqrqbl], jovial ['Gquvjql], loquacious [lqu'kweISqs], argumentative ["Rgju:'mentqtIv], affront [q'frAnt]

    br

    p.btext He was everywhere and always. He was certainly the best hated man in the ship. We called him Mr Know-All, even to his face. He took it as a compliment. But it was at mealtimes that he was most intolerable. For the better part of an hour then he had us at his mercy. He was hearty, jovial, loquacious and argumentative. He knew everything better than anybody else, and it was an affront to his overweening vanity that you should disagree with him.

    br

    p
      span.btext He would not drop a subject
      |
      |(он никогда не оставлял тему разговора:
      |
      span.f-coni to drop — капать, бросать; оставлять
      |)
      span.btext , however unimportant
      |
      |(насколько бы незначительной /она ни была/:
      |
      span.f-coni important — важный
      |)
      span.btext , till he had brought you round to his way of thinking
      |
      |(пока он не склонит вас к своей точке зрения: «приведет вас вокруг к его способу думать»;
      |
      span.f-coni to bring — приносить; заставлять/убеждать
      |)
      span.btext . The possibility that he could be mistaken
      |
      |(вероятность, что он мог ошибаться: «быть ошибающимся»;
      |
      span.f-coni to mistake
      |)
      |
      span.btext  never occurred to him
      |
      |(никогда не приходила ему /в голову/)
      span.btext . He was the chap who knew
      |
      |(он был тем парнем, кто знает)
      span.btext . We sat at the doctor`s table
      |
      |(мы сидели за столом /судового/ врача)
      span.btext . Mr Kelada would certainly have had it all his own way
      |
      |(мистер Келада, несомненно, навязал бы всем /сидящим за столом/ свое мнение: «имел бы все это по-своему»)
      span.btext , for the doctor was lazy
      |
      |(так как доктор был ленив)
      |
      span.btext  and I was frigidly indifferent
      |
      |(подчеркнуто: «холодно» равнодушен/безразличен)
      span.btext , except for a man called Ramsay who sat there also
      |
      |(за исключением человека по имени = называемого Рэмзи, который также сидел там)
      span.btext . He was as dogmatic as Mr Kelada
      |
      |(он был таким же самоуверенным, как мистер Келада)
      |
      span.btext  and resented bitterly the Levantine`s cocksureness
      |
      |(и негодовал сильно по поводу самоуверенности левантинца;
      |
      span.f-coni to resent — негодовать, возмущаться; cocksure — совершенно уверенный
      |)
      span.btext . The discussions they had
      |
      |(дискуссии, которые они вели: «имели»)
      |
      span.btext  were acrimonious and interminable
      |
      |(были язвительными и бесконечными:
      |
      span.f-coni terminable — срочный/могущий быть прекращенным
      |)
      span.btext .

    br

    p.btext frigidly ['frIGIdlI], except [Ik'sept], resented [rI'zentId], Levantine ['levqntaIn], acrimonious ["xkrI'mqunjqs], interminable [In'tWmInqbl]

    br

    p.btext He would not drop a subject, however unimportant, till he had brought you round to his way of thinking. The possibility that he could be mistaken never occurred to him. He was the chap who knew. We sat at the doctor`s table. Mr Kelada would certainly have had it all his own way, for the doctor was lazy and I was frigidly indifferent, except for a man called Ramsay who sat there also. He was as dogmatic as Mr Kelada and resented bitterly the Levantine`s cocksureness. The discussions they had were acrimonious and interminable.

    br

    p
      span.btext Ramsay was in the American Consular Service
      |
      |(Рэмзи был = служил в Американском Консульстве)
      |
      span.btext  and was stationed at Kobe
      |
      |(и был размещенным = и проживал в Кобе)
      span.btext . He was a great heavy fellow from the Middle West
      |
      |(он был большим грузным человеком со Среднего Запада)
      span.btext , with loose fat under a tight skin
      |
      |(со свисающим: «свободно свисающим/разрыхленным» жиром под толстой кожей)
      span.btext , and he bulged out of this really-made clothes
      |
      |(и он едва помещался: «выпирал из» в своем дешевом костюме:
      |
      span.f-coni really — натурально/истинно; made — сделанный/изготовленный
      |)
      span.btext . He was on his way back to resume his post
      |
      |(он возвращался, чтобы продолжить службу)
      span.btext , having been on a flying visit to New York to retake his wife
      |
      |(после недолгого визита в Нью-Йорк, чтобы снова взять с собой жену)
      |
      span.btext  who had been spending a year at home
      |
      |(которая провела год дома)
      span.btext . Mrs Ramsay was a very pretty little thing
      |
      |(миссис Рэмзи была прелестным маленьким созданием)
      span.btext , with pleasant manners and a sense of humour
      |
      |(с приятными манерами и чувством юмора)
      span.btext .

    br

    p.btext heavy ['hevI], year [jW], humour ['hjHmq]

    br

    p.btext Ramsay was in the American Consular Service and was stationed at Kobe. He was a great heavy fellow from the Middle West, with loose fat under a tight skin, and he bulged out of this really-made clothes. He was on his way back to resume his post, having been on a flying visit to New York to retake his wife who had been spending a year at home. Mrs Ramsay was a very pretty little thing, with pleasant manners and a sense of humour.

    br

    p
      span.btext The Consular Service is ill-paid
      |
      |(консульская служба плохо оплачивается:
      |
      span.f-coni ill — нездоровый; плохо; to pay — платить
      |)
      span.btext , and she was dressed always very simply
      |
      |(и она была одета всегда очень просто)
      span.btext ; but she knew how to wear her clothes
      |
      |(но она знала, как носить = умела носить свою одежду)
      span.btext . She achieved an effect of quiet distinction
      |
      |(она достигала эффекта элегантности: «спокойной оригинальности»)
      span.btext .

    br

    p.btext clothes [klquDz], quiet ['kwaIqt], particular [pq'tIkjulq]

    br

    p.btext The Consular Service is ill-paid, and she was dressed always very simply; but she knew how to wear her clothes. She achieved an effect of quiet distinction.

    br

    p
      span.btext I should not have paid any particular attention to her
      |
      |(я не обратил бы на нее особого внимания:
      |
      span.f-coni to pay — платить; оказывать/обращать
      |)
      |
      span.btext  but that she possessed a quality that may be common enough in women
      |
      |(но она обладала качеством, которое, может быть, обычно свойственно женщинам;
      |
      span.f-coni common — частый/обыкновенный
      |)
      span.btext , but nowadays is not obvious in their demeanour
      |
      |(но в настоящее время не проявляется: «не есть явно» в их поведении)
      span.btext . You could not look at her without being struck by her modesty
      |
      |(вы не могли смотреть на нее, не будучи пораженными ее скромностью;
      |
      span.f-coni to strike — бить; поражать
      |)
      span.btext . It shone in her
      |
      |(она/скромность/ светилась в ней)
      |
      span.btext  like a flower on a coat
      |
      |(как цветок на /лацкане/ пальто/пиджака)
      span.btext .

    br

    p.btext enough [I'nAf], women ['wImIn], obvious ['ObvIqs], demeanour [dI'mJnq]

    br

    p.btext I should not have paid any particular attention to her but that she possessed a quality that may be common enough in women, but nowadays is not obvious in their demeanour. You could not look at her without being struck by her modesty. It shone in her like a flower on a coat.

    br

    p
      span.btext One evening at dinner
      |
      |(однажды вечером за ужином)
      |
      span.btext  the conversation by chance drifted to the subject of pearls
      |
      |(разговор случайно коснулся темы жемчуга: «был снесен к предмету жемчуга»
      |
      span.f-coni to drift — дрейфовать
      |)
      span.btext . There had been in the papers a good deal of talk
      |
      |(в газетах было большое количество разговоров/слухов = много писалось)
      |
      span.btext  about the culture pearls which the cunning Japanese were making
      |
      |(о /способе/ выращивания жемчуга, который хитроумные японцы создавали/разрабатывали)
      span.btext , and the doctor remarked
      |
      |(и доктор заметил)
      |
      span.btext  that they must inevitably diminish the value of real ones
      |
      |(что они /искусственные жемчужины/ должны неизбежно уменьшить ценность настоящих)
      span.btext . They were very good already
      |
      |(они /жемчужины, жемчуг/ были уже очень хороши)
      span.btext ; they would soon be perfect
      |
      |(они скоро будут превосходными)
      span.btext .

    br

    p.btext pearls [pWlz], culture ['kAlCq], Japanese ["Gxpq'nJz], value ['vxljH]

    br

    p.btext One evening at dinner the conversation by chance drifted to the subject of pearls. There had been in the papers a good deal of talk about the culture pearls which the cunning Japanese were making, and the doctor remarked that they must inevitably diminish the value of real ones. They were very good already; they would soon be perfect.

    br

    p
      span.btext Mr Kelada, as was his habit, rushed the new topic
      |
      |(мистер Келада, как была его привычка = по привычке, ухватился за новую тему:
      |
      span.f-coni to rush — бросаться; тараторить; встревать
      |)
      span.btext . He told us all that was to be known about pearls
      |
      |(он рассказал нам все, что нужно было знать о жемчуге)
      span.btext . I do not believe
      |
      |(я не верю)
      |
      span.btext  Ramsay knew anything about them at all
      |
      |(/что/ Рэмзи знал что-либо о них /жемчужинах/ вообще)
      span.btext , but he could not resist the opportunity
      |
      |(но он не мог устоять перед возможностью)
      |
      span.btext  to have a fling at the Levantine
      |
      |(сделать выпад на Левантинца)
      span.btext , and in five minutes
      |
      |(и через пять минут)
      |
      span.btext  we were in the middle of a heated argument
      |
      |(мы были в центре горячего спора:
      |
      span.f-coni argument — довод/аргумент; спор
      |)
      span.btext . I had seen Mr Kelada vehement and voluble before
      |
      |(я видел мистера Келада неистовым и речистым ранее)
      span.btext , but never so voluble and vehement as now
      |
      |(но никогда настолько речистым и неистовым, как теперь)
      span.btext .

    br

    p.btext argument ['Rgjumqnt], vehement ['vJImqnt], voluble ['vOljubl]

    br

    p.btext Mr Kelada, as was his habit, rushed the new topic. He told us all that was to be known about pearls. I do not believe Ramsay knew anything about them at all, but he could not resist the opportunity to have a fling at the Levantine, and in five minutes we were in the middle of a heated argument. I had seen Mr Kelada vehement and voluble before, but never so voluble and vehement as now.

    br

    p
      span.btext At last something that Ramsay said stung him
      |
      |(наконец, что-то, что сказал Рэмзи, уязвило его:
      |
      span.f-coni to sting — жалить; причинять острую боль
      |)
      span.btext , for he thumped the table and shouted
      |
      |(так как он ударил /кулаком/ по столу и закричал)
      span.btext :
    p
      span.btext "Well, I ought to know what I am talking about
      |
      |(ну, я, должно быть знаю, о чем я говорю)
      span.btext . I`m going to Japan just to look into this Japanese pearl business
      |
      |(я еду в Японию как раз взглянуть на этот японский жемчужный бизнес)
      span.btext . I`m in the trade
      |
      |(это моя специальность: «я есть в этом ремесле/профессии»)
      |
      span.btext  and there`s not a man in it
      |
      |(и нет ни одного человека в нем /в это деле/)
      |
      span.btext  who won`t tell you that what I say about pearls goes
      |
      |(кто не сказал бы вам, что то, что я говорю о жемчуге, идет = является достоверным:
      |
      span.f-coni to go — идти; иметь успех, быть принятым
      |)
      span.btext . I know all the best pearls in the world
      |
      |(я знаю все лучшие жемчужины в мире)
      span.btext , and what I don`t know about pearls isn`t worth knowing
      |
      |(и то, чего я не знаю о жемчуге, не стоит знания = того и знать не стоит)
      span.btext ."

    br

    p.btext said [sed], thumped [TAmpqd], world [wWld], worth [wWT]

    br

    p.btext At last something that Ramsay said stung him, for he thumped the table and shouted:
    p.btext "Well, I ought to know what I am talking about. I`m going to Japan just to look into this Japanese pearl business. I`m in the trade and there`s not a man in it who won`t tell you that what I say about pearls goes. I know all the best pearls in the world, and what I don`t know about pearls isn`t worth knowing."

    br

    p
      span.btext Here was news for us
      |
      |(здесь была новость = это было новостью для нас)
      span.btext , for Mr Kelada, with all his loquacity
      |
      |(потому что мистер Келада, несмотря на всю его болтливость)
      span.btext , had never told anyone what his business was
      |
      |(никогда не говорил кому-либо, каким его дело было = чем он занимался)
      span.btext . We only knew vaguely
      |
      |(мы только знали приблизительно/смутно)
      |
      span.btext  that he was going to Japan on some commercial errand
      |
      |(что он направлялся в Японию по какому-то коммерческому делу:
      |
      span.f-coni errand — поручение, командировка
      |)
      span.btext . He looked round the table triumphantly
      |
      |(он оглядел стол = сидевших за столом торжествующе)
      span.btext .

    br

    p.btext loquacity [lqu'kwxsItI], business ['bIznIs], vaguely ['veIglI], errand ['erqnd], triumphantly ['traIqmfqntlI]

    br

    p.btext Here was news for us, for Mr Kelada, with all his loquacity, had never told anyone what his business was. We only knew vaguely that he was going to Japan on some commercial errand. He looked round the table triumphantly.

    br

    p
      span.btext "They`ll never be able to get a culture pearl
      |
      |(они никогда не смогут получить выращенную жемчужину)
      |
      span.btext  that an expert like me can`t tell with half an eye
      |
      |(которую эксперт вроде меня не сможет сказать = определить/распознать с полувзгляда)
      span.btext ." He pointed to a chain that Mrs Ramsay wore
      |
      |(он указал на цепочку = ожерелье, которое носила миссис Рэмзи)
      span.btext . "You take my word for it
      |
      |(вы возьмите мое слово за это = вот вам мое слово)
      span.btext , Mrs Ramsay, that chain you`re wearing will never be worth a cent less than it is now
      |
      |(что ожерелье, которое вы носите, никогда не будет стоить и на цент меньше, чем теперь)
      span.btext ."

    br

    p.btext culture ['kAlCq], half [hRf], eye [aI], wore [wL]

    br

    p.btext "They`ll never be able to get a culture pearl that an expert like me can`t tell with half an eye." He pointed to a chain that Mrs Ramsay wore. "You take my word for it, Mrs Ramsay, that chain you`re wearing will never be worth a cent less than it is now."

    br

    p
      span.btext Mrs Ramsay in her modest way flushed a little
      |
      |(миссис Рэмзи ее скромным образом = со свойственной ей скромностью немного покраснела)
      |
      span.btext  and slipped the chain inside her dress
      |
      |(и незаметно спрятала ожерелье под платье:
      |
      span.f-coni to slip — скользить, двигаться легко, не привлекая внимания
      |)
      span.btext . Ramsay leaned forward
      |
      |(Рэмзи подался вперед)
      span.btext . He gave us all a look
      |
      |(он взглянул на нас: «он дал нам всем взгляд»)
      |
      span.btext  and a smile flickered in his eyes
      |
      |(и улыбка сверкнула в его глазах)
      span.btext .

    br

    p.btext modest ['mLdIst], forward ['fLwqd], flickered ['flIkqd]

    br

    p.btext Mrs Ramsay in her modest way flushed a little and slipped the chain inside her dress. Ramsay leaned forward. He gave us all a look and a smile flickered in his eyes.

    br

    p
      span.btext "That`s a pretty chain of Mrs Ramsay`s, isn`t it
      |
      |(прелестное ожерелье у миссис Рэмзи, не так ли)
      span.btext ?"
    p
      span.btext "I noticed it at once
      |
      |(я заметил его сразу)
      span.btext ," answered Mr Kelada
      |
      |(ответил мистер Келада)
      span.btext . "Gee, I said to myself
      |
      |(да, сказал я сам себе)
      span.btext , those are pearls all right
      |
      |(это жемчуг что надо: «в порядке»)
      span.btext ."
    p
      span.btext "I didn`t buy it myself, of course
      |
      |(я его не покупал лично, конечно)
      span.btext . I`d be interested to know how much you think it cost
      |
      |(/мне/ было бы интересно знать, сколько, вы думаете, это стоит)
      span.btext ."

    br

    p.btext pretty ['prItI], once [wAns], course [kLs]

    br

    p.btext "That`s a pretty chain of Mrs Ramsay`s, isn`t it?"
    p.btext "I noticed it at once," answered Mr Kelada. "Gee, I said to myself, those are pearls all right."
    p.btext "I didn`t buy it myself, of course. I`d be interested to know how much you think it cost."

    br

    p
      span.btext "Oh, in the trade somewhere round fifteen thousand dollars
      |
      |(о, в продаже где-то около пятнадцати тысяч долларов)
      span.btext . But if it was bought on Fifth Avenue
      |
      |(но если оно было куплено на Пятой Авеню)
      |
      span.btext  shouldn`t be surprised to hear that anything up to thirty thousand was paid for it
      |
      |(/я/ бы не удивился, услышав, что около тридцати тысяч было уплачено за него)
      span.btext ."
    p
      span.btext Ramsay smiled grimly
      |
      |(Рэмзи улыбнулся зловеще)
      span.btext .

    br

    p.btext thousand ['Tauzqnd], bought [bLt], surprised [sq'praIzd]

    br

    p.btext "Oh, in the trade somewhere round fifteen thousand dollars. But if it was bought on Fifth Avenue shouldn`t be surprised to hear that anything up to thirty thousand was paid for it."
    p.btext Ramsay smiled grimly.

    br

    p
      span.btext "You`ll be surprised to hear
      |
      |(вы будете удивлены узнать)
      |
      span.btext  that Mrs Ramsay bought that string at a department store
      |
      |(что миссис Рэмзи купила эту нитку в универсальном магазине)
      |
      span.btext  the day before we left New York, for eighteen dollars
      |
      |(за день до нашего отъезда: «мы уехали» из Нью-Йорка за восемнадцать долларов)
      span.btext ."
    p
      span.btext Mr Kelada flushed
      |
      |(мистер Келада покраснел/вспыхнул)
      span.btext .

    br

    p.btext hear [hIq], string [strIN], store [stL]

    br

    p.btext "You`ll be surprised to hear that Mrs Ramsay bought that string at a department store the day before we left New York, for eighteen dollars."
    p.btext Mr Kelada flushed.

    br

    p
      span.btext "Rot
      |
      |(чушь/вздор)
      span.btext . It`s not only real
      |
      |(она не только настоящая)
      span.btext , but it`s as fine a string for its size as I`ve ever seen
      |
      |(но это такая превосходная нитка для своего размера, какую я когда-либо видел)
      span.btext ."
    p
      span.btext "Will you bet on it
      |
      |(спорим)
      span.btext ? I`ll bet you a hundred dollars it`s imitation
      |
      |(я поставлю вам сто долларов – это имитация)
      span.btext ."
    p
      span.btext "Done
      |
      |(сделано = идет)
      span.btext ."

    br

    p.btext hundred ['hAndrqd], ['hAndrId], imitation ["ImI'teISqn], done [dAn]

    br

    p.btext "Rot. It`s not only real, but it`s as fine a string for its size as I`ve ever seen."
    p.btext "Will you bet on it? I`ll bet you a hundred dollars it`s imitation."
    p.btext "Done."

    br

    p
      span.btext "Oh, Elmer, you can`t bet on a certainty
      |
      |(о, Элмер, ты не можешь спорить о несомненных фактах;
      |
      span.f-coni certainty — определенность
      |)
      span.btext ," said Mrs Ramsay.
    p
      span.btext She had a little smile on her lips
      |
      |(она чуть улыбнулась: «имела маленькую улыбку на своих губах»)
      |
      span.btext  and her tone was gently deprecating
      |
      |(и ее интонация была слегка извиняющейся;
      |
      span.f-coni to deprecate — протестовать, выступать против, резко осуждать, возражать; преуменьшать, умалять; deprecating — /об отношении, жесте, высказывании/ указывает на что-то не очень хорошее, по поводу чего человек чувствует смущение; gently — мягко, нежно, кротко; осторожно, спокойно, умеренно
      |)
      span.btext .
    p
      span.btext "Can`t I
      |
      |(я не могу)
      span.btext ? If I get a chance of easy money like that
      |
      |(если у меня есть шанс /получить/ легкие деньги, как эти)
      |
      span.btext  I should be all sorts of a fool not to take it
      |
      |(я буду дураком: «всеми видами дурака» не взять = воспользоваться им)
      span.btext ."
    p
      span.btext "But how can it be proved
      |
      |(но как это может быть доказано)
      span.btext ?" she continued
      |
      |(продолжила она)
      span.btext . "It`s only my word against Mr Kelada`s
      |
      |(/есть/ только мое слово против /слова/ мистера Келада)
      span.btext ."

    br

    p.btext certainty ['sWtqntI], deprecating [deprI'keItIN], money ['mAnI], proved [prHvd]

    br

    p.btext "Oh, Elmer, you can`t bet on a certainty," said Mrs Ramsay.
    p.btext She had a little smile on her lips and her tone was gently deprecating.
    p.btext "Can`t I? If I get a chance of easy money like that I should be all sorts of a fool not to take it."
    p.btext "But how can it be proved?" she continued. "It`s only my word against Mr Kelada`s."

    br

    p
      span.btext "Let me look at the chain
      |
      |(позвольте мне взглянуть на цепочку)
      span.btext , and if it`s imitation I`ll tell you quickly enough
      |
      |(и если это имитация/подделка, я сразу скажу вам: «скажу вам быстро довольно»)
      span.btext . I can afford to lose a hundred dollars
      |
      |(я могу позволить себе потерять сотню долларов)
      span.btext ," said Mr Kelada.
    p
      span.btext "Take it off, dear
      |
      |(сними ее, дорогая)
      span.btext . Let the gentleman look at it as much as he wants
      |
      |(дай джентльмену посмотреть на нее столько, сколько он хочет)
      span.btext ."

    br

    p.btext enough [I'nAf], lose [lHz], dear [dIq]

    br

    p.btext "Let me look at the chain, and if it`s imitation I`ll tell you quickly enough. I can afford to lose a hundred dollars," said Mr Kelada.
    p.btext "Take it off, dear. Let the gentleman look at it as much as he wants."

    br

    p
      span.btext Mrs Ramsay hesitated a moment
      |
      |(миссис Рэмзи колебалась мгновение)
      span.btext . She put her hands to the clasp
      |
      |(она положила руки на застежку)
      span.btext .
    p
      span.btext "I can`t undo it
      |
      |(я не могу расстегнуть ее)
      span.btext ," she said. "Mr Kelada will just have to take my word for it
      |
      |(мистер Келада должен просто поверить мне на слово: «взять мое слово»)
      span.btext ."

    br

    p.btext hesitated ['hezIteItId], undo ['An'dH], just [GAst]

    br

    p.btext Mrs Ramsay hesitated a moment. She put her hands to the clasp.
    p.btext "I can`t undo it," she said. "Mr Kelada will just have to take my word for it."

    br

    p
      span.btext I had a sudden suspicion
      |
      |(у меня было неожиданное предчувствие/подозрение)
      |
      span.btext  that something unfortunate was about to occur
      |
      |(что нечто печальное/плохое вот-вот случится:
      |
      span.f-coni to be about — быть поблизости
      |)
      span.btext , but I could think of nothing to say
      |
      |(но я не мог придумать, что сказать)
      span.btext .
    p
      span.btext Ramsay jumped up
      |
      |(Рэмзи вскочил)
      span.btext .
    p
      span.btext "I`ll undo it
      |
      |(я расстегну)
      span.btext ."

    br

    p.btext suspicion [sqs'pISqn], unfortunate [An'fLCnIt], occur [q'kW]

    br

    p.btext I had a sudden suspicion that something unfortunate was about to occur, but I could think of nothing to say.
    p.btext Ramsay jumped up.
    p.btext "I`ll undo it."

    br

    p
      span.btext He handed the chain to Mr Kelada
      |
      |(он передал ожерелье мистеру Келада)
      span.btext . The Levantine took a magnifying glass from his pocket
      |
      |(левантинец достал увеличительное стекло из своего кармана;
      |
      span.f-coni to take — взять
      |)
      |
      span.btext  and closely examined it
      |
      |(и тщательно рассмотрел его /ожерелье/:
      |
      span.f-coni closely — близко; тщательно/внимательно
      |)
      span.btext . A smile of triumph
      |
      |(торжествующая улыбка)
      |
      span.btext  spread over his smooth and swarthy face
      |
      |(появилась на его гладком и смуглом лице:
      |
      span.f-coni to spread — распространяться
      |)
      span.btext . He handed back the chain
      |
      |(он передал обратно = вернул ожерелье)
      span.btext . He was about to speak
      |
      |(он был готов говорить)
      span.btext .

    br

    p.btext magnifying ['mxgnIfaIIN], triumph ['traIqmf], swarthy ['swLDI]

    br

    p.btext He handed the chain to Mr Kelada. The Levantine took a magnifying glass from his pocket and closely examined it. A smile of triumph spread over his smooth and swarthy face. He handed back the chain. He was about to speak.

    br

    p
      span.btext Suddenly he caught sight of Mrs Ramsay`s face
      |
      |(вдруг он поймал выражение: «вид» лица миссис Рэмзи)
      span.btext . It was so white
      |
      |(оно было столь бледным:
      |
      span.f-coni white — белый; бледный
      |)
      |
      span.btext  that she looked as though she were about to faint
      |
      |(что она выглядела /так/, будто она была готова упасть в обморок)
      span.btext . She was staring at him with wide and terrified eyes
      |
      |(она пристально глядела на него широко /открытыми/ и испуганными глазами)
      span.btext . They held a desperate appeal
      |
      |(они содержали в себе = в них была отчаянная мольба)
      span.btext ; it was so clear
      |
      |(это было так ясно)
      |
      span.btext  that I wondered why her husband did not see it
      |
      |(что я удивился, почему ее муж не видел этого)
      span.btext .

    br

    p.btext caught [kLt], though [Dqu], desperate ['despqrIt]

    br

    p.btext Suddenly he caught sight of Mrs Ramsay`s face. It was so white that she looked as though she were about to faint. She was staring at him with wide and terrified eyes. They held a desperate appeal; it was so clear that I wondered why her husband did not see it.

    br

    p
      span.btext Mr Kelada stopped with his mouth open
      |
      |(мистер Келада остановился = застыл с открытым ртом)
      span.btext . He flushed deeply
      |
      |(он сильно/густо покраснел)
      span.btext . You could almost see
      |
      |(вы могли почти видеть)
      |
      span.btext  the effort he was making over himself
      |
      |(усилие, /которое/ он над собой делал)
      span.btext .

    br

    p.btext mouth [mauT], flush [flAS], over ['quvq]

    br

    p.btext Mr Kelada stopped with his mouth open. He flushed deeply. You could almost see the effort he was making over himself.

    br

    p
      span.btext "I was mistaken
      |
      |(я ошибался)
      span.btext ," he said. "It`s a very good imitation
      |
      |(это очень хорошая имитация)
      span.btext , but of course as soon as I looked through my glass
      |
      |(но, разумеется, как только я посмотрел через мое стекло)
      |
      span.btext  I saw that it wasn`t real
      |
      |(я увидел, что оно было не настоящее)
      span.btext . I think eighteen dollars
      |
      |(я думаю, восемнадцать долларов)
      |
      span.btext  is just about as much as the damned thing`s worth
      |
      |(как раз около того, сколько эта дурацкая вещица = безделушка стоит)
      span.btext ."

    br

    p.btext course [kLs], through [TrH], saw [sL]

    br

    p.btext "I was mistaken," he said. "It`s a very good imitation, but of course as soon as I looked through my glass I saw that it wasn`t real. I think eighteen dollars is just about as much as the damned thing`s worth."

    br

    p
      span.btext He took out his pocket book
      |
      |(он вынул свой бумажник)
      |
      span.btext  and from it a hundred-dollar bill
      |
      |(и из него сто долларовую банкноту:
      |
      span.f-coni bill — счет; банкнота
      |)
      span.btext . He handed it to Ramsay without a word
      |
      |(он передал его Рэмзи без единого слова)
      span.btext .

    br

    p.btext pocket ['pOkIt], without [wI'Daut], word [wWd]

    br

    p.btext He took out his pocket book and from it a hundred-dollar bill. He handed it to Ramsay without a word.

    br

    p
      span.btext "Perhaps
      |
      |(возможно)
      |
      span.btext  that`ll teach you not to be so cocksure another time
      |
      |(это научит вас не быть столь самоуверенным в другой раз)
      span.btext , my young friend
      |
      |(мой юный друг)
      span.btext ," said Ramsay as he took the note
      |
      |(сказал Рэмзи, беря банкноту)
      span.btext .
    p
      span.btext I noticed that Mr Kelada`s hands were trembling
      |
      |(я заметил, что руки мистера Келада дрожали: «были дрожащими»)
      span.btext .

    br

    p.btext perhaps [pq'hxps], cocksure ["kOk'Suq], another [q'nADq]

    br

    p.btext "Perhaps that`ll teach you not to be so cocksure another time, my young friend," said Ramsay as he took the note.
    p.btext I noticed that Mr Kelada`s hands were trembling.

    br

    p
      span.btext The story spread over the ship as stories do
      |
      |(эта история распространилась по всему кораблю, как истории делают = как обычно бывает)
      span.btext , and he had to put up with
      |
      |(и он вынужден был претерпеть)
      |
      span.btext  a good deal of chaff that evening
      |
      |(большое количество = много насмешек в тот вечер)
      span.btext . It was a fine joke
      |
      |(это было хорошим анекдотом)
      |
      span.btext  that Mr Know-All had been caught out
      |
      |(что мистер Всезнайка был уличен во лжи:
      |
      span.f-coni to catch out — поймать на лжи, завалить
      |)
      span.btext . But Mrs Ramsay retired to her state-room
      |
      |(только миссис Рэмзи удалилась к себе в каюту:
      |
      span.f-coni but — но; только/лишь
      |)
      |
      span.btext  with a headache
      |
      |(с головной болью)
      span.btext .

    br

    p.btext spread [spred], caught [kLt], retired [rI'taIqd], headache ['hedeIk]

    br

    p.btext The story spread over the ship as stories do, and he had to put up with a good deal of chaff that evening. It was a fine joke that Mr Know-All had been caught out. But Mrs Ramsay retired to her state-room with a headache.

    br

    p
      span.btext Next morning I got up and began to shave
      |
      |(на следующее утро я встал и начал бриться)
      span.btext . Mr Kelada lay on his bed smoking a cigarette
      |
      |(мистер Келада лежал на своей постели, куря сигарету)
      span.btext . Suddenly there was a small scraping sound
      |
      |(вдруг там был = послышался скребущийся звук = шорох)
      |
      span.btext  and I saw a letter pushed under the door
      |
      |(и я увидел письмо, просунутое под дверью)
      span.btext . I opened the door and looked out
      |
      |(я открыл дверь и выглянул)
      span.btext . There was nobody there
      |
      |(там никого не было: «там был никто»)
      span.btext . I picked up the letter
      |
      |(я подобрал письмо)
      |
      span.btext  and saw that it was addressed to Max Kelada
      |
      |(и увидел, что оно было адресовано Максу Келада)
      span.btext . The name was written in block letters
      |
      |(имя было написано печатными буквами)
      span.btext . I handed it to him
      |
      |(я передал это ему)
      span.btext .

    br

    p.btext cigarette ["sIgq'ret], suddenly ['sAdnlI], written ['rItn]

    br

    p.btext Next morning I got up and began to shave. Mr Kelada lay on his bed smoking a cigarette. Suddenly there was a small scraping sound and I saw a letter pushed under the door. I opened the door and looked out. There was nobody there. I picked up the letter and saw that it was addressed to Max Kelada. The name was written in block letters. I handed it to him.

    br

    p
      span.btext "Who`s this from
      |
      |(от кого это)
      span.btext ?" He opened it
      |
      |(он открыл его)
      span.btext . "Oh!"
    p
      span.btext He took out of the envelope
      |
      |(он вынул из конверта)
      span.btext , not a letter
      |
      |(не письмо)
      span.btext , but a hundred-dollar bill
      |
      |(а стодолларовую банкноту)
      span.btext . He looked at me
      |
      |(он посмотрел на меня)
      |
      span.btext  and again he reddened
      |
      |(и снова покраснел)
      span.btext . He tore the envelope into little bits
      |
      |(он разорвал конверт на мелкие кусочки)
      |
      span.btext  and gave them to me
      |
      |(и дал их мне)
      span.btext .
    p
      span.btext "Do you mind
      |
      |(вас не затруднит: «вы не возражаете»)
      |
      span.btext  just throwing them out of the porthole
      |
      |(только выбросить их в иллюминатор)
      span.btext ?" I did as he asked
      |
      |(я сделал, как он просил)
      span.btext , and then I looked at him with a smile
      |
      |(и потом взглянул на него с улыбкой)
      span.btext .

    br

    p.btext envelope ['envqlqup], again [q'gen], tore [tL], porthole ['pLthqul]

    br

    p.btext "Who`s this from?" He opened it. "Oh!"
    p.btext He took out of the envelope, not a letter, but a hundred-dollar bill. He looked at me and again he reddened. He tore the envelope into little bits and gave them to me.
    p.btext "Do you mind just throwing them out of the porthole?" I did as he asked, and then I looked at him with a smile.

    br

    p
      span.btext "No one likes
      |
      |(никому не нравится)
      |
      span.btext  being made to look a perfect damned fool
      |
      |(быть выставленным: «быть сделанным выглядеть» полным дураком)
      span.btext ," he said.
    p
      span.btext "Were the pearls real
      |
      |(жемчуг был настоящим)
      span.btext ?"
    p
      span.btext "If I had a pretty little wife
      |
      |(если бы у меня была прелестная юная жена:
      |
      span.f-coni little — маленький; младший/юный
      |)
      |
      span.btext  I shouldn`t let her spend a year in New York
      |
      |(я не позволил бы ей провести год в Нью-Йорке)
      |
      span.btext  while I stayed at Kobe," said he
      |
      |(пока я бы оставался в Кобе, — сказал он;
      |
      span.f-coni to say
      |)
      span.btext .
    p
      span.btext At that moment
      |
      |(в тот момент)
      |
      span.btext  I did not entirely dislike Mr Kelada
      |
      |(я не испытывал всецело неприязнь к мистеру Келада)
      span.btext . He reached out for his pocket book
      |
      |(он достал свой бумажник)
      |
      span.btext  and carefully put in it the hundred-dollar note
      |
      |(и аккуратно положил в него стодолларовую банкноту)
      span.btext .

    br

    p.btext perfect ['pWfIkt], year [jW], entirely [In'taIqlI]

    br

    p.btext "No one likes being made to look a perfect damned fool," he said.
    p.btext "Were the pearls real?"
    p.btext "If I had a pretty little wife I shouldn`t let her spend a year in New York while I stayed at Kobe," said he.
    p.btext At that moment I did not entirely dislike Mr Kelada. He reached out for his pocket book and carefully put in it the hundred-dollar note.