extends ../../templates/template_en.pug

//- block first-screen
  .first-screen
    img(src="img/title.jpg", alt="title image")

block name
  .name-section
    .name-section__author
    .name-section__book

block text
  section
    p
      span.btext The door of Henry’s lunch-room opened
      |
      |(дверь закусочной Генри отворилась)
      |
      |
      span.btext and two men came in
      |
      |(и двое мужчин вошли /внутрь/;
      |
      |
      span.f-coni to come in — входить
      |).
      |
      |
      span.btext They sat down at the counter
      |
      |(они сели у стойки;
      |
      |
      span.f-coni to sit down — садиться
      |).
    p
      span.btext “What’s yours
      |
      |(что для вас/что будете брать: «что ваше»)?”
      |
      |
      span.btext George asked them
      |
      |(спросил их Джордж).
    p
      span.btext “I don’t know
      |
      |(я не знаю),”
      |
      |
      span.btext one of the men said
      |
      |(сказал один из мужчин;
      |
      |
      span.f-coni to say
      |).
      |
      |
      span.btext “What do you want to eat, Al
      |
      |(что ты хочешь съесть, Эл)?”
    p
      span.btext “I don’t know,” said All. “I don’t know what I want to eat.”
    p
      span.btext Outside it was getting dark
      |
      |(на улице темнело: «снаружи становилось темно»).
      |
      |
      span.btext The street-light came on outside the window
      |
      |(уличный фонарь зажегся за окном;
      |
      |
      span.f-coni light — свет; to come on — появиться /на сцене/, возникнуть
      |).
      |
      |
      span.btext The two men at the counter read the menu
      |
      |(двое мужчин у стойки читали меню;
      |
      |
      span.f-coni to read
      |).
      |
      |
      span.btext From the other end of the counter
      |
      |(с другого конца стойки)
      |
      |
      span.btext Nick Adams watched them
      |
      |(Ник Адамс глядел на них).
      |
      |
      span.btext He had been talking to George
      |
      |(он разговаривал с Джорджем)
      |
      |
      span.btext when they came in
      |
      |(когда они вошли).

    br
    p.tac counter [`kaunt∂] menu [`menju:]

    br
    p.btext The door of Henry’s lunch-room opened and two men came in. They sat down at the counter.
    p.btext “What’s yours?” George asked them.
    p.btext “I don’t know,” one of the men said. “What do you want to eat, Al?”
    p.btext “I don’t know,” said All. “I don’t know what I want to eat.”
    p.btext Outside it was getting dark. The street-light came on outside the window. The two men at the counter read the menu. From the other end of the counter Nick Adams watched them. He had been talking to George when they came in.
    br

    p
      span.btext “I’ll have a roast pork tenderloin
      |
      |(я возьму жареное свиное филе;
      |
      |
      span.f-coni tenderloin — филе, вырезка: tender — нежный, мягкий + loin — поясница; филейная часть
      |)
      |
      |
      span.btext with apple sauce
      |
      |(с яблочным соусом)
      |
      |
      span.btext and mashed potatoes
      |
      |(и картофельным пюре;
      |
      |
      span.f-coni to mash — раздавливать, разминать
      |),”
      |
      |
      span.btext the first man said
      |
      |(сказал первый мужчина).
    p
      span.btext “It isn’t ready yet
      |
      |(оно еще не готово).”
    p
      span.btext “What the hell
      |
      |(какого черта: «ада»)
      |
      |
      span.btext do you put it on the card for
      |
      |(ты помещаешь, ставишь это в меню;
      |
      |
      span.f-coni what for — для чего
      |)?”
    p
      span.btext “That’s the dinner
      |
      |(это обед;
      |
      |
      span.f-coni dinner — обед /главный прием пищи в течение дня, часто вечером/
      |),”
      |
      |
      span.btext George explained
      |
      |(объяснил Джордж).
      |
      |
      span.btext “You can get that at six o’clock
      |
      |(ты можешь получить это в шесть часов).”
    p
      span.btext George looked at the clock on the wall behind the counter
      |
      |(Джордж посмотрел на часы на стене за стойкой).
    p
      span.btext “It’s five o’clock
      |
      |(/сейчас/ пять часов).”
    p
      span.btext “The clock says twenty minutes past five
      |
      |(часы показывают: «говорят» двадцать минут после пяти = двадцать минут шестого),”
      |
      |
      span.btext the second man said
      |
      |(сказал второй мужчина).
    p
      span.btext “It’s twenty minutes fast
      |
      |(они спешат на двадцать минут;
      |
      |
      span.f-coni fast — быстрый
      |).”
    p
      span.btext “Oh, to hell with the clock
      |
      |(к черту часы),”
      |
      |
      span.btext the first man said
      |
      |(сказал первый мужчина).
      |
      |
      span.btext “What have you got to eat
      |
      |(что у тебя есть поесть)?”
    p
      span.btext “I can give you any kind of sandwiches
      |
      |(могу дать вам разные сандвичи: «любой вид сандвича»),”
      |
      |
      span.btext George said. “You can have ham and eggs
      |
      |(вы можете взять: «иметь» яичницу с с ветчиной;
      |
      |
      span.f-coni egg — яйцо
      |),
      |
      |
      span.btext bacon and eggs
      |
      |(яичницу с бэконом),
      |
      |
      span.btext liver and bacon
      |
      |(печенку с бэконом),
      |
      |
      span.btext or a steak
      |
      |(или бифштекс).”

    br
    p.tac sauce [so:s] potato [p∂`teıt∂u] liver [`lıv∂]

    br
    p.btext “I’ll have a roast pork tenderloin with apple sauce and mashed potatoes,” the first man said.
    p.btext “It isn’t ready yet.”
    p.btext “What the hell do you put it on the card for?”
    p.btext “That’s the dinner,” George explained. “You can get that at six o’clock.”
    p.btext George looked at the clock on the wall behind the counter.
    p.btext “It’s five o’clock.”
    p.btext “The clock says twenty minutes past five,” the second man said.
    p.btext “It’s twenty minutes fast.”
    p.btext “Oh, to hell with the clock,” the first man said. “What have you got to eat?”
    p.btext “I can give you any kind of sandwiches,” George said. “You can have ham and eggs, bacon and eggs, liver and bacon, or a steak.”
    br

    p
      span.btext “Give me chicken croquettes
      |
      |(дай мне куриные крокеты)
      |
      |
      span.btext with green peas
      |
      |(с зеленым горошком)
      |
      |
      span.btext and cream sauce
      |
      |(под белым: «сливочным» соусом)
      |
      |
      span.btext and mashed potatoes
      |
      |(и /с/ картофельным пюре).”
    p
      span.btext “That’s the dinner
      |
      |(это обед).”
    p
      span.btext “Everything we want’s the dinner, eh
      |
      |(все, что мы хотим — обед, ясно;
      |
      |
      span.f-coni eh — а?, как?, так ведь?)?
      |
      |
      span.btext That’s the way you work it
      |
      |(так: «таким путем» ты это делаешь: «срабатываешь/устраиваешь» = ну и порядки).”
    p
      span.btext “I can give you ham and eggs, bacon and eggs, liver
      |
      |(я могу дать вам яичницe с ветчиной, и яичницу с с бэконом, /сандвич/ с печенью = печеночным паштетом) — ”
    p
      span.btext “I’ll take ham and eggs
      |
      |(я возьму яичницу с ветчиной),”
      |
      |
      span.btext the man called Al said
      |
      |(сказал мужчина, которого звали Эл).
      |
      |
      span.btext He wore a derby hat
      |
      |(на нем был: «он носил» котелок;
      |
      |
      span.f-coni to wear — носить
      |)
      |
      |
      span.btext and a black overcoat
      |
      |(и черное пальто)
      |
      |
      span.btext buttoned across the chest
      |
      |(застегнутое наглухо: «через грудь»;
      |
      |
      span.f-coni button — пуговица
      |).
      |
      |
      span.btext His face was small and white
      |
      |(его лицо было маленьким и белым)
      |
      |
      span.btext and he had tight lips
      |
      |(и у него были сжатые губы;
      |
      |
      span.f-coni tight — плотный, тугой
      |).
      |
      |
      span.btext He wore a silk muffler
      |
      |(на нем было шелковое кашне;
      |
      |
      span.f-coni to muffle — закутывать, укутывать; глушить /звук/
      |)
      |
      |
      span.btext and gloves
      |
      |(и перчатки).
    p
      span.btext “Give me bacon and eggs
      |
      |(дай мне яичницу с бэконом),”
      |
      |
      span.btext said the other man
      |
      |(сказал другой мужчина).
      |
      |
      span.btext He was about the same size as Al
      |
      |(он был примерно того же роста: «размера», что и Эл).
      |
      |
      span.btext Their faces were different
      |
      |(лица были различны),
      |
      |
      span.btext but they were dressed like twins
      |
      |(но они были одеты, как близнецы).
      |
      |
      span.btext Both wore overcoats too tight for them
      |
      |(на обоих были пальто, слишком узкие для них).
      |
      |
      span.btext They sat leaning forward
      |
      |(они сидели наклонившись вперед),
      |
      |
      span.btext their elbows on the counter
      |
      |(их локти на стойке = поставив локти на стойку).

    br
    p.tac eh [eı] croquette [kro`ket] button [btn] glove [glv]

    br
    p.btext “Give me chicken croquettes with green peas and cream sauce and mashed potatoes.”
    p.btext “That’s the dinner.”
    p.btext “Everything we want’s the dinner, eh? That’s the way you work it.”
    p.btext “I can give you ham and eggs, bacon and eggs, liver — ”
    p.btext “I’ll take ham and eggs,” the man called Al said. He wore a derby hat and a black overcoat buttoned across the chest. His face was small and white and he had tight lips. He wore a silk muffler and gloves.
    p.btext “Give me bacon and eggs,” said the other man. He was about the same size as Al. Their faces were different, but they were dressed like twins. Both wore overcoats too tight for them. They sat leaning forward, their elbows on the counter.
    br

    p
      span.btext “Got anything to drink
      |
      |(есть что-нибудь выпить)?”
      |
      |
      span.btext Al asked
      |
      |(спросил Эл).
    p
      span.btext “Silver beer
      |
      |(серебряное пиво /сорт пива/),
      |
      |
      span.btext bevo
      |
      |(морс/напиток /итальянское слово/),
      |
      |
      span.btext ginger-ale
      |
      |(имбирное пиво),”
      |
      |
      span.btext George said.
    p
      span.btext “I mean
      |
      |(я имею в виду)
      |
      |
      span.btext you got anything to drink?”
    p
      span.btext “Just those I said
      |
      |(только то: «те», что я сказал).”
    p
      span.btext “This is a hot town
      |
      |(веселый городок, ну и городок: «это жаркий городок»),”
      |
      |
      span.btext said the other
      |
      |(сказал другой).
      |
      |
      span.btext “What do they call it
      |
      |(как он там называется: «как они его называют»)?”
    p
      span.btext “Summit
      |
      |(Саммит /поселок к юго-западу от Чикаго/).”
    p
      span.btext “Ever hear of it
      |
      |(когда-нибудь слышал о нем)?”
      |
      |
      span.btext Al asked his friend
      |
      |(спросил Эл своего друга).
    p
      span.btext “No,” said the friend.
    p
      span.btext “What do you do here nights
      |
      |(что вы здесь делаете по вечерам)?”
      |
      |
      span.btext Al asked.
    p
      span.btext “They eat the dinner
      |
      |(они обедают: «едят обед»),”
      |
      |
      span.btext his friend said
      |
      |(сказал его друг).
      |
      |
      span.btext “They all come here and eat the big dinner
      |
      |(они все приходят сюда и едят большой обед).”
    p
      span.btext “That’s right
      |
      |(это так/верно),”
      |
      |
      span.btext George said.
    p
      span.btext “So you think that’s right
      |
      |(так ты думаешь/считаешь, что это правильно)?”
      |
      |
      span.btext Al asked George.
    p
      span.btext “Sure
      |
      |(конечно).”
    p
      span.btext “You’re a pretty bright boy
      |
      |(ты очень умный: «светлый» парень;
      |
      |
      span.f-coni pretty — красивый, симпатичный; довольно, весьма
      |),
      |
      |
      span.btext aren’t you
      |
      |(не правда ли: «не есть ли ты»)?”
    p
      span.btext “Sure,” said George.
    p
      span.btext “Well, you’re not
      |
      |(ну, так вот, ты вовсе не умный парень),”
      |
      |
      span.btext said the other little man
      |
      |(другой маленький = низенький человек).
      |
      |
      span.btext “Is he, Al
      |
      |(умный ли он, Эл)?”
    p
      span.btext “He’s dumb
      |
      |(он тупой: «немой»),”
      |
      |
      span.btext said Al. He turned to Nick
      |
      |(повернулся к Нику).
      |
      |
      span.btext “What’s your name
      |
      |(как тебя зовут: «каково твое имя»)?”
    p
      span.btext “Adams.”
    p
      span.btext “Another bright boy
      |
      |(другой = еще один умник),”
      |
      |
      span.btext Al said. “Ain’t he a bright boy, Max
      |
      |(/ну/ не умник ли он; ain't = isn't; aren't)?”
    p
      span.btext “The town’s full of bright boys
      |
      |(город полон умников),”
      |
      |
      span.btext Max said.

    br
    p.tac dumb [dm] pretty [`prıtı]
    br

    p.btext “Got anything to drink?” Al asked.
    p.btext “Silver beer, bevo, ginger-ale,” George said.
    p.btext “I mean you got anything to drink?”
    p.btext “Just those I said.”
    p.btext “This is a hot town,” said the other. “What do they call it?”
    p.btext “Summit.”
    p.btext “Ever hear of it?” Al asked his friend.
    p.btext “No,” said the friend.
    p.btext “What do you do here nights?” Al asked.
    p.btext “They eat the dinner,” his friend said. “They all come here and eat the big dinner.”
    p.btext “That’s right,” George said.
    p.btext “So you think that’s right?” Al asked George.
    p.btext “Sure.”
    p.btext “You’re a pretty bright boy, aren’t you?”
    p.btext “Sure,” said George.
    p.btext “Well, you’re not,” said the other little man. “Is he, Al?”
    p.btext “He’s dumb,” said Al. He turned to Nick. “What’s your name?”
    p.btext “Adams.”
    p.btext “Another bright boy,” Al said. “Ain’t he a bright boy, Max?”
    p.btext “The town’s full of bright boys,” Max said.
    br

    p
      span.btext George put the two platters
      |
      |(Джордж поставил две тарелки),
      |
      |
      span.btext one of ham and eggs
      |
      |(одну с яичницей и ветчиной),
      |
      |
      span.btext the other of bacon and eggs
      |
      |(другую с яичницей и бэконом),
      |
      |
      span.btext on the counter
      |
      |(на стойку).
      |
      |
      span.btext He set down two side-dishes of fried potatoes
      |
      |(он поставил две порции жареного картофеля;
      |
      |
      span.f-coni siede-dish — боковое = сопровождающее блюдо — блюдо с гарниром
      |)
      |
      |
      span.btext and closed the wicket into the kitchen
      |
      |(и закрыл окошечко в кухню;
      |
      |
      span.f-coni wicket — калитка; задвижное окошко
      |).
    p
      span.btext “Which is yours
      |
      |(которая ваша)?”
      |
      |
      span.btext he asked Al
      |
      |(спросил он Эла).
    p
      span.btext “Don’t you remember
      |
      |(ты не помнишь)?”
    p
      span.btext “Ham and eggs.”
    p
      span.btext “Just a bright boy
      |
      |(просто умница/ну разве не умник),”
      |
      |
      span.btext Max said. He leaned forward and took the ham and eggs
      |
      |(он наклонился вперед и взял яичницу с ветчиной).
      |
      |
      span.btext Both men ate with their gloves on
      |
      |(оба ели с надетыми перчатками).
      |
      |
      span.btext George watched them eat
      |
      |(Джордж смотрел/наблюдал, как они едят).
    p
      span.btext “What are you looking at
      |
      |(на что ты /так/ смотришь)?”
      |
      |
      span.btext Max looked at George
      |
      |(Макс посмотрел на Джорджа).
    p
      span.btext “Nothing
      |
      |(ни на что: «/на/ ничто»).”
    p
      span.btext “The hell you were
      |
      |(как же, рассказывай/черта-с-два ты не смотрел).
      |
      |
      span.btext You were looking at me
      |
      |(ты смотрел на меня).”
    p
      span.btext “Maybe the boy meant it for a joke, Max
      |
      |(может быть, парень пошутил: «имел в виду это/высказал это мнение для шутки = как шутку», Макс),”
      |
      |
      span.btext Al said.
    p
      span.btext George laughed
      |
      |(Джордж засмеялся).
    p
      span.btext “You don’t have to laugh
      |
      |(тебе-то нечего смеяться: «тебе не надо смеяться»),”
      |
      |
      span.btext Max said to him. “You don’t have to laugh at all, see
      |
      |(тебе-то вовсе нечего смеяться, понял: «видишь»)?”
    p
      span.btext “All right
      |
      |(хорошо/ладно),”
      |
      |
      span.btext said George.
    p
      span.btext “So he thinks it’s all right
      |
      |(итак, он полагает, что это в порядке, правильно).”
      |
      |
      span.btext Max turned to Al
      |
      |(Макс повернулся к Элу).
      |
      |
      span.btext He thinks it’s all right. That’s a good one
      |
      |(хорош он).”
    p
      span.btext “Oh, he’s a thinker
      |
      |(о, он мыслитель),”
      |
      |
      span.btext Al said. They went on eating
      |
      |(они продолжали есть).

    br
    p.tac meant [ment] laugh [lα:f]
    br

    p.btext George put the two platters, one of ham and eggs, the other of bacon and eggs, on the counter. He set down two side-dishes of fried potatoes and closed the wicket into the kitchen.
    p.btext “Which is yours?” he asked Al.
    p.btext “Don’t you remember?”
    p.btext “Ham and eggs.”
    p.btext “Just a bright boy,” Max said. He leaned forward and took the ham and eggs. Both men ate with their gloves on. George watched them eat.
    p.btext “What are you looking at?” Max looked at George.
    p.btext “Nothing.”
    p.btext “The hell you were. You were looking at me.”
    p.btext “Maybe the boy meant it for a joke, Max,” Al said.
    p.btext George laughed.
    p.btext “You don’t have to laugh,” Max said to him. “You don’t have to laugh at all, see?”
    p.btext “All right,” said George.
    p.btext “So he thinks it’s all right.” Max turned to Al. He thinks it’s all right. That’s a good one.”
    p.btext “Oh, he’s a thinker,” Al said. They went on eating.
    br

    p
      span.btext “What’s the bright boy’s name down the counter
      |
      |(как зовут того умника, что с другой стороны стойки;
      |
      |
      span.f-coni down — внизу; ниже по /расположенный внизу или в более отдаленном месте/
      |)?”
      |
      |
      span.btext Al asked Max.
    p
      span.btext “Hey, bright boy
      |
      |(эй, умник),”
      |
      |
      span.btext Max said to Nick. “You go around on the other side of the counter
      |
      |(зайди за стойку: «иди вокруг на другую сторону стойки»)
      |
      |
      span.btext with your boy friend
      |
      |(с твоим дружком = туда, где твой дружок).”
    p
      span.btext “What’s the idea
      |
      |(а в чем дело, зачем это: «что за идея/в чем идея»)?”
      |
      |
      span.btext Nick asked
      |
      |(спросил Ник).
    p
      span.btext “There isn’t any idea
      |
      |(тут нет никакой идеи = просто так/да ни в чем).”
    p
      span.btext “You better go around, bright boy
      |
      |(лучше зайди, умник),”
      |
      |
      span.btext Al said.
    p
      span.btext Nick went around behind the counter
      |
      |(Ник зашел за стойку).
    p
      span.btext “What’s the idea?” George asked.
    p
      span.btext “None of your damn business
      |
      |(не твое чертово: «проклятое» дело;
      |
      |
      span.f-coni none — ничто, ни один, никакой
      |),”
      |
      |
      span.btext Al said. “Who’s out in the kitchen
      |
      |
      span.btext (кто там: «снаружи» на кухне)?”
    p
      span.btext “The nigger
      |
      |(негр).”
    p
      span.btext “What do you mean the nigger
      |
      |(что ты хочешь сказать: «имеешь в виду», негр = какой такой негр)?”
    p
      span.btext “The nigger that cooks
      |
      |(негр, который готовит/стряпает).”
    p
      span.btext “Tell him to come in
      |
      |(скажи ему, чтобы зашел).”
    p
      span.btext “What’s the idea?”
    p
      span.btext “Tell him to come in.”
    p
      span.btext “Where do you think you are
      |
      |(где, вы думаете, вы находитесь)?”
    p
      span.btext “We know damn well where we are
      |
      |(мы знаем чертовски хорошо, где мы находимся),”
      |
      |
      span.btext the man called Max said
      |
      |(сказал человек, которого звали Макс).
      |
      |
      span.btext “Do we look silly
      |
      |(мы выглядим дурачками/глупо)?”
    p
      span.btext “You talk silly
      |
      |(ты разговариваешь глупо),”
      |
      |
      span.btext Al said to him. “What the hell do you argue with this kid for
      |
      |(какого черта ты споришь с этим ребенком)?
      |
      |
      span.btext Listen
      |
      |(послушай),”
      |
      |
      span.btext he said to George, “tell the nigger to come out here
      |
      |(скажи негру выйти сюда = чтобы вышел сюда).”
    p
      span.btext “What are you going to do to him
      |
      |(что вы собираетесь с ним: «ему» сделать)?”
    p
      span.btext “Nothing
      |
      |(ничего).
      |
      |
      span.btext Use your head, bright boy
      |
      |(пошевели мозгами: «используй свою голову», умник).
      |
      |
      span.btext What would we do to a nigger
      |
      |(что бы мы сделали негру)?”
    p
      span.btext George opened the slit
      |
      |(открыл окошечко;
      |
      |
      span.f-coni slit — длинный разрез, щель; to slit — разрезать в длину
      |)
      |
      |
      span.btext that opened back into the kitchen
      |
      |(которое открывалось назад = вовнутрь в кухню).
      |
      |
      span.btext “Sam,” he called
      |
      |(позвал он).
      |
      |
      span.btext “Come in here a minute
      |
      |(зайди-ка сюда на минутку).”

    br
    p.tac idea [aı`dı∂] argue [`α:gju:] minute [`mınıt]
    br

    p.btext “What’s the bright boy’s name down the counter?” Al asked Max.
    p.btext “Hey, bright boy,” Max said to Nick. “You go around on the other side of the counter with your boy friend.”
    p.btext “What’s the idea?” Nick asked.
    p.btext “There isn’t any idea.”
    p.btext “You better go around, bright boy,” Al said. Nick went around behind the counter.
    p.btext “What’s the idea?” George asked.
    p.btext “None of your damn business,” Al said. “Who’s out in the kitchen?”
    p.btext “The nigger.”
    p.btext “What do you mean the nigger?”
    p.btext “The nigger that cooks.”
    p.btext “Tell him to come in.”
    p.btext “What’s the idea?”
    p.btext “Tell him to come in.”
    p.btext “Where do you think you are?”
    p.btext “We know damn well where we are,” the man called Max said. “Do we look silly?”
    p.btext “You talk silly,” Al said to him. “What the hell do you argue with this kid for? Listen,” he said to George, “tell the nigger to come out here.”
    p.btext “What are you going to do to him?”
    p.btext “Nothing. Use your head, bright boy. What would we do to a nigger?”
    p.btext George opened the slit that opened back into the kitchen. “Sam,” he called. “Come in here a minute.”
    br

    p
      span.btext The door to the kitchen opened and the nigger came in
      |
      |(дверь на кухню открылась и негр зашел).
      |
      |
      span.btext “What was it
      |
      |(в чем дело: «что это было»)?”
      |
      |
      span.btext he asked. The two men at the counter took a look at him
      |
      |(двое мужчин у стойки оглядели его;
      |
      |
      span.f-coni to take a look — посмотреть: «взять взгляд»
      |).
    p
      span.btext “All right, nigger
      |
      |(все в порядке/нормально, негр).
      |
      |
      span.btext You stand right there
      |
      |(стой тут: «прямо здесь»),”
      |
      |
      span.btext Al said.
    p
      span.btext Sam, the nigger, standing in his apron
      |
      |(Сэм, негр, стоя в своем фартуке),
      |
      |
      span.btext looked at the two men sitting at the counter
      |
      |(посмотрел на двоих мужчин, сидящих у стойки).
      |
      |
      span.btext “Yes, sir
      |
      |(да = хорошо, сэр),”
      |
      |
      span.btext he said. Al got down from his stool
      |
      |(Эл слез со своего стула/табурета).
    p
      span.btext “I’m going back to the kitchen
      |
      |(я пойду назад = туда на кухню)
      |
      |
      span.btext with the nigger and bright boy
      |
      |(с негром и умником),”
      |
      |
      span.btext he said. “Go on back to the kitchen, nigger
      |
      |(иди обратно = возвращайся на кухню, негр).
      |
      |
      span.btext You go with him, bright boy
      |
      |(ты иди с ним, умник).”
      |
      |
      span.btext The little man walked after Nick and Sam, the cook
      |
      |(маленький человек прошел вслед за Ником и Сэмом, поваром),
      |
      |
      span.btext back into the kitchen
      |
      |(обратно на кухню).
      |
      |
      span.btext The door shut after them
      |
      |(дверь за ними закрылась;
      |
      |
      span.f-coni to shut — закрывать, запирать, затворять; закрываться).
      |
      |The man called Max sat at the counter opposite George
      |
      |(мужчина, которого звали Максом, сел за стойку напротив Джорджа).
      |
      |
      span.btext He didn’t look at George
      |
      |(он не смотрел на Джорджа)
      |
      |
      span.btext but looked in the mirror
      |
      |(а смотрел в зеркало)
      |
      |
      span.btext that ran along back of the counter
      |
      |(которое тянулось: «бежало» вдоль за стойкой;
      |
      |
      span.f-coni to run
      |).
      |
      |
      span.btext Henry’s had been made over
      |
      |(заведение Генри было переделано;
      |
      |
      span.f-coni to make over
      |)
      |
      |
      span.btext from a saloon into a lunch-counter
      |
      |(из салуна/бара в закусочную).

    br
    p.tac apron [`eıpr∂n] opposite [`op∂zıt]
    br

    p.btext The door to the kitchen opened and the nigger came in. “What was it?” he asked. The two men at the counter took a look at him.
    p.btext “All right, nigger. You stand right there,” Al said.
    p.btext Sam, the nigger, standing in his apron, looked at the two men sitting at the counter. “Yes, sir,” he said. Al got down from his stool.
    p.btext “I’m going back to the kitchen with the nigger and bright boy,” he said. “Go on back to the kitchen, nigger. You go with him, bright boy.” The little man walked after Nick and Sam, the cook, back into the kitchen. The door shut after them. The man called Max sat at the counter opposite George. He didn’t look at George but looked in the mirror that ran along back of the counter. Henry’s had been made over from a saloon into a lunch-counter.
    br

    p
      span.btext “Well, bright boy
      |
      |(ну, умник),”
      |
      |
      span.btext Max said, looking into the mirror
      |
      |(глядя в зеркало),
      |
      |
      span.btext “why don’t you say something
      |
      |(почему ты не скажешь что-нибудь)?”
    p
      span.btext “What’s it all about
      |
      |(что все это значит: «о чем все это»)?”
    p
      span.btext “Hey, Al,” Max called
      |
      |(позвал Макс),
      |
      |
      span.btext “bright boy wants to know what’s all about
      |
      |(умник хочет знать, что все это значит).”
    p
      span.btext “Why don’t you tell him
      |
      |(что же ты ему не скажешь)?”
      |
      |
      span.btext Al’s voice came from the kitchen
      |
      |(отозвался голос Эла из кухни).
    p
      span.btext “What do you think it’s all about
      |
      |(а ты как думаешь, что все это значит)?”
    p
      span.btext “I don’t know
      |
      |(я не знаю).”
    p
      span.btext “What do you think
      |
      |(как ты думаешь)?”
    p
      span.btext Max looked into the mirror all the time he was talking
      |
      |(Макс все время смотрел в зеркало, пока говорил).
    p
      span.btext “I wouldn’t say
      |
      |(я бы не сказал/не скажу, пожалуй/не знаю).”
    p
      span.btext “Hey, Al, bright boy says he wouldn’t what he thinks it’s all about
      |
      |(эй, Эл, умник говорит, что он, пожалуй, не скажет, что он думает, что это значит).”
    p
      span.btext “I can hear you, all right
      |
      |(я могу слышать тебя, в порядке, хорошо = не кричи, я и так слышу),”
      |
      |
      span.btext Al said from the kitchen
      |
      |(сказал Эл из кухни).
      |
      |
      span.btext He had propped open the slit
      |
      |(он подпер, чтобы оставалось открытым, окошечко/отверстие: «щель»)
      |
      |
      span.btext that dishes passed through into the kitchen
      |
      |(через которое передавались блюда на кухню)
      |
      |
      span.btext with a catsup bottle
      |
      |(бутылкой кетчупа).
      |
      |
      span.btext “Listen, bright boy
      |
      |(послушай, умник),”
      |
      |
      span.btext he said from the kitchen to George
      |
      |(сказал он Джорджу из кухни).
      |
      |
      span.btext “Stand a little further
      |
      |(стань немного дальше)
      |
      |
      span.btext along the bar
      |
      |(вдоль бара).
      |
      |
      span.btext You move a little to the left, Max
      |
      |(подвинься немного влево, Макс).”
      |
      |
      span.btext He was like a photographer arranging for a group picture
      |
      |(он был точно фотограф, расставляющий /людей/ для групповой фотографии;
      |
      |
      span.f-coni to arrange — приводить в порядок; расставлять
      |).

    br
    p.tac move [mu:v] arrange [∂`reınʤ] picture [`pıkt∫∂]
    br

    p.btext “Well, bright boy,” Max said, looking into the mirror, “why don’t you say something?”
    p.btext “What’s it all about?”
    p.btext “Hey, Al,” Max called, “bright boy wants to know what’s all about.”
    p.btext “Why don’t you tell him?” Al’s voice came from the kitchen.
    p.btext “What do you think it’s all about?”
    p.btext “I don’t know.”
    p.btext “What do you think?”
    p.btext Max looked into the mirror all the time he was talking.
    p.btext “I wouldn’t say.”
    p.btext “Hey, Al, bright boy says he wouldn’t what he thinks it’s all about.”
    p.btext “I can hear you, all right,” Al said from the kitchen. He had propped open the slit that dishes passed through into the kitchen with a catsup bottle. “Listen, bright boy,” he said from the kitchen to George. “Stand a little further along the bar. You move a little to the left, Max.” He was like a photographer arranging for a group picture.
    br

    p
      span.btext “Talk to me, bright boy
      |
      |(поговори со мной = побеседуем, умник),”
      |
      |
      span.btext Max said. “What do you think’s going to happen
      |
      |(что, как ты думаешь, сейчас произойдет)?”
    p
      span.btext George did not say anything
      |
      |(Джордж ничего не сказал).
    p
      span.btext “I’ll tell you
      |
      |(я скажу тебе),”
      |
      |
      span.btext Max said. “We’re going to kill a Swede
      |
      |(мы сейчас убьем шведа/мы собираемся убить шведа).
      |
      |
      span.btext Do you know a big Swede named Ole Andreson
      |
      |(ты знаешь большого = здорового/длинного шведа по имени Оле Андресон)?”
    p
      span.btext “Yes.”
    p
      span.btext “He comes here to eat every night, don’t he
      |
      |(он приходит сюда поесть каждый вечер, не так ли)?”
    p
      span.btext “Sometimes he comes here
      |
      |(иногда он сюда приходит).”
    p
      span.btext “He comes here at six o’clock, don’t he
      |
      |(он приходит сюда в шесть часов, не так ли)?”
    p
      span.btext “If he comes
      |
      |(если приходит).”
    p
      span.btext “We know all that, bright boy
      |
      |(мы все это знаем, умник),”
      |
      |
      span.btext Max said.
    p
      span.btext “Talk about something else
      |
      |(поговорим о чем-нибудь другом).
      |
      |
      span.btext Ever go to the movies
      |
      |(когда-нибудь ходишь в кино)?”
    p
      span.btext “Once in a while
      |
      |(изредка: «иногда в промежуток времени»;
      |
      |
      span.f-coni once — однажды; когда-нибудь; while — время; промежуток времени
      |).”
    p
      span.btext “You ought to go to the movies more
      |
      |(ты должен бы ходить в кино больше = чаще).
      |
      |
      span.btext The movies are fine
      |
      |(кино — это прекрасно/отлично)
      |
      |
      span.btext for a bright boy like you (для умника, как ты).”
    p
      span.btext “What are you going to kill Ole Andreson for
      |
      |(за что, для чего вы хотите убить Оле Андресона)?
      |
      |
      span.btext What did he ever do to you
      |
      |(что он вам такого: «когда-либо» сделал)?”
    p
      span.btext “He never had a chance to do anything to us
      |
      |(у него никогда не было возможности сделать что-нибудь нам).
      |
      |
      span.btext He never even seen us
      |
      |(он даже никогда не видел нас).”
    p
      span.btext “And he’s only going to see us once
      |
      |(и он увидит нас только однажды),”
      |
      |
      span.btext Al said from the kitchen
      |
      |(сказал Эл из кухни).
    p
      span.btext “What are you going to kill him for, then
      |
      |(за что же вы его тогда хотите убить)?”
      |
      |
      span.btext George asked.
    p
      span.btext “We’re killing him for a friend
      |
      |(мы убиваем его для друга).
      |
      |
      span.btext Just to oblige a friend, bright boy
      |
      |(просто/всего лишь чтобы услужить/сделать приятное другу, умник;
      |
      |
      span.f-coni to oblige — обязывать; делать одолжение, угождать; оказывать услугу
      |).”
    p
      span.btext “Shut up
      |
      |(заткнись),”
      |
      |
      span.btext said Al from the kitchen. You talk too goddam much
      |
      |(ты говоришь слишком чертовски много;
      |
      |
      span.f-coni goddam = goddamn — чертовский: «Бог /пусть/ проклянет»
      |).”
    p
      span.btext “Well, I got to keep bright boy amused
      |
      |(ну, мне же надо/я же должен развлекать умника: «сохранять, держать его развлекаемым»;
      |
      |
      span.f-coni to amuse — развлекать
      |).
      |
      |
      span.btext Don’t I, bright boy
      |
      |(не так ли, умник)?”
    p
      span.btext “You talk too damn much,” Al said. “The nigger and my bright boy are amused by themselves
      |
      |(негр и мой умник сами развлекаются).
      |
      |
      span.btext I got them tied up
      |
      |(я их связал)
      |
      |
      span.btext like a couple of girl friends in the convent
      |
      |(как парочку подружек в монастыре/в монастырской школе).”
    p
      span.btext “I suppose you were in a convent
      |
      |(значит, ты был в монастыре: «я предполагаю, ты был в монастыре»)?”
    p
      span.btext “You never know
      |
      |(может, и был: «никогда не знаешь»).”
    p
      span.btext “You were in a kosher convent
      |
      |(ты был в кошерном монастыре = в хедере /в школе при синагоге/).
      |
      |
      span.btext That’s where you were
      |
      |(вот где ты был).”

    br
    p.tac Swede [swi:d] oblige [∂`blaıʤ] convent [`konv∂nt]
    br

    p.btext “Talk to me, bright boy,” Max said. “What do you think’s going to happen?”
    p.btext George did not say anything.
    p.btext “I’ll tell you,” Max said. “We’re going to kill a Swede. Do you know a big Swede named Ole Andreson?”
    p.btext “Yes.”
    p.btext “He comes here to eat every night, don’t he?”
    p.btext “Sometimes he comes here.”
    p.btext “He comes here at six o’clock, don’t he?”
    p.btext “If he comes.”
    p.btext “We know all that, bright boy,” Max said.
    p.btext “Talk about something else. Ever go to the movies?”
    p.btext “Once in a while.”
    p.btext “You ought to go to the movies more. The movies are fine for a bright boy like you.”
    p.btext “What are you going to kill Ole Andreson for? What did he ever do to you?”
    p.btext “He never had a chance to do anything to us. He never even seen us.”
    p.btext “And he’s only going to see us once,” Al said from the kitchen.
    p.btext “What are you going to kill him for, then?” George asked.
    p.btext “We’re killing him for a friend. Just to oblige a friend, bright boy.”
    p.btext “Shut up,” said Al from the kitchen. You talk too goddam much.”
    p.btext “Well, I got to keep bright boy amused. Don’t I, bright boy?”
    p.btext “You talk too damn much,” Al said. “The nigger and my bright boy are amused by themselves. I got them tied up like a couple of girl friends in the convent.”
    p.btext “I suppose you were in a convent?”
    p.btext “You never know.”
    p.btext “You were in a kosher convent. That’s where you were.”
    br

    p
      span.btext George looked up at the clock
      |
      |(Джордж посмотрел на часы).
    p
      span.btext “If anybody comes in you tell them the cook is off
      |
      |(если кто-нибудь придет, ты им скажешь, что повар ушел: «свободен /от работы/, на перерыве»;
      |
      |
      span.f-coni off — указывает на удаление или прекращение чего-либо),
      |
      |
      span.btext and if they keep after it
      |
      |(а если они будут настаивать),
      |
      |
      span.btext you tell them you’ll go back
      |
      |(что ты пойдешь на кухню: «в заднюю комнату»)
      |
      |
      span.btext and cook yourself
      |
      |(и приготовишь сам).
      |
      |
      span.btext Do you get that, bright boy
      |
      |(ты понял: «получил» это, умник)?”
    p
      span.btext “All right,” George said. “What you going to do with us afterward
      |
      |(что вы сделаете с нами после)?”
    p
      span.btext “That’s depend
      |
      |(это зависит = смотря по обстоятельствам),”
      |
      |
      span.btext Max said. “That’s one of those things you never know at the time
      |
      |(это одна из вещей, которые никогда не знаешь в данное время = заранее)."
    p
      span.btext George looked up at the clock
      |
      |(Джордж посмотрел на часы).
      |
      |
      span.btext It was a quarter past six
      |
      |(была четверть после шести = четверть седьмого).
      |
      |
      span.btext The door from the street opened
      |
      |(дверь с улицы открылась).
      |
      |
      span.btext A street-car motorman came in
      |
      |(вошел трамвайный вожатый).
    p
      span.btext “Hello, George,” he said. “Can I get supper
      |
      |(поужинать можно: «могу я получить ужин»)?”
    p
      span.btext “Sam’s gone out
      |
      |(Сэм вышел),”
      |
      |
      span.btext George said. “He’ll be back in about half an hour
      |
      |(он вернется примерно через полчаса).”
    p
      span.btext “I’d better go up the street
      |
      |(я, пожалуй, лучше пойду вверх по улице = пойду еще куда-нибудь),”
      |
      |
      span.btext the motorman said. George looked at the clock. It was twenty minutes past six
      |
      |(было двадцать минут после шести = двадцать минут седьмого).
    p
      span.btext “That was nice, bright boy
      |
      |(это было славно /проделано/, умник),”
      |
      |
      span.btext Max said. “You’re a regular little gentleman
      |
      |(ты настоящий маленький джентельмен).”
    p
      span.btext “He knew I’d blow his head off
      |
      |(он знал, что я ему голову снесу = прострелю;
      |
      |
      span.f-coni to blow — дуть
      |),”
      |
      |
      span.btext Al said from the kitchen.
    p
      span.btext “No,” said Max. “It ain’t that
      |
      |(не поэтому, не в этом дело).
      |
      |
      span.btext Bright boy is nice. He’s a nice boy. I like him
      |
      |(он мне нравится).”

    br
    p.tac depend [dı`pend] regular [`regjul∂]
    br

    p.btext George looked up at the clock.
    p.btext “If anybody comes in you tell them the cook is off, and if they keep after it, you tell them you’ll go back and cook yourself. Do you get that, bright boy?”
    p.btext “All right,” George said. “What you going to do with us afterward?”
    p.btext “That’s depend,” Max said. “That’s one of those things you never know at the time."
    p.btext George looked up at the clock. It was a quarter past six. The door from the street opened. A street-car motorman came in.
    p.btext “Hello, George,” he said. “Can I get supper?”
    p.btext “Sam’s gone out,” George said. “He’ll be back in about half an hour.”
    p.btext “I’d better go up the street,” the motorman said. George looked at the clock. It was twenty minutes past six.
    p.btext “That was nice, bright boy,” Max said. “You’re a regular little gentleman.”
    p.btext “He knew I’d blow his head off,” Al said from the kitchen.
    p.btext “No,” said Max. “It ain’t that. Bright boy is nice. He’s a nice boy. I like him.”
    br

    p
      span.btext At six-fifty-five
      |
      |(в шесть /часов/ пятьдесят пять)
      |
      |
      span.btext George said: “He’s not coming
      |
      |(он не придет).”
    p
      span.btext Two other people had been in the lunch-room
      |
      |(двое других людей побывали в закусочной).
      |
      |
      span.btext Once George had gone out to the kitchen
      |
      |(один раз Джордж вышел на кухню)
      |
      |
      span.btext and made a ham-and-egg sandwich “to go”
      |
      |(и сделал сандвич с ветчиной и яичницей на вынос)
      |
      |
      span.btext that a man wanted to take with him
      |
      |(который человек хотел взять с собой).
      |
      |
      span.btext Inside the kitchen he saw Al
      |
      |(внутри кухни он увидел Эла),
      |
      |
      span.btext his derby hat tipped back
      |
      |(его котелок /был/ сдвинут назад;
      |
      |
      span.f-coni to tip — наклонять/ся/; запрокидываться
      |),
      |
      |
      span.btext sitting on a stool beside the wicket
      |
      |(сидящим на табурете возле окошечка)
      |
      |
      span.btext with the muzzle of of a sawed-off shotgun
      |
      |(с дулом отпиленного ружья = обреза;
      |
      |
      span.f-coni muzzle — морда; дуло
      |)
      |
      |
      span.btext resting on the ledge
      |
      |(лежащим/покоящимся на планке/краю /окошечка/).
      |
      |
      span.btext Nick and the cook were back in the corner
      |
      |(Ник с поваром были в дальнем углу),
      |
      |
      span.btext a towel tied in each of their mouths
      |
      |(полотенце, завязанное = заткнутое в каждом из их ртов = во рту у каждого было заткнуто полотенце).
      |
      |
      span.btext George had cooked the sandwich, wrapped it up in oiled paper
      |
      |(Джордж приготовил сандвич, завернул его в пергаментную бумагу;
      |
      |
      span.f-coni oil — растительное или минеральное масло; oiled — пропитанный маслом, промасленный
      |),
      |
      |
      span.btext put it in a bag
      |
      |(положил его в пакет),
      |
      |
      span.btext brought it in
      |
      |(вынес из кухни: «занес в комнату»;
      |
      |
      span.f-coni to bring — приносить
      |),
      |
      |
      span.btext and the man had paid for it and gone out
      |
      |(мужчина заплатил за него и ушел).
    p
      span.btext “Bright boy can do everything
      |
      |(умник все умеет: «может делать все»),”
      |
      |
      span.btext Max said. “He can cook and everything
      |
      |(он умеет готовить и все такое).
      |
      |
      span.btext You’d make some girl a nice wife, bright boy
      |
      |(ты бы сделал какую-нибудь девушку славной женой = повезло твоей будущей жене, умник).”
    p
      span.btext “Yes?” George said. “Your friend, Ole Andreson, isn’t going to come
      |
      |(ваш друг, Оле Андресон, не придет).”
    p
      span.btext “We’ll give him ten minutes
      |
      |(мы дадим ему десять минут),”
      |
      |
      span.btext Max said.
    p
      span.btext Max watched the mirror and the clock
      |
      |(Макс посмотрел на зеркало и на часы).
      |
      |
      span.btext The hands of the clock marked seven o’clock
      |
      |(стрелки часов показали семь;
      |
      |
      span.f-coni to mark — отмечать
      |),
      |
      |
      span.btext and then five minutes past seven
      |
      |(а затем пять минут после семи = пять минут восьмого).

    br
    p.tac wicket [`wıkıt], mouth [mauθ]
    br

    p.btext At six-fifty-five George said: “He’s not coming.”
    p.btext Two other people had been in the lunch-room. Once George had gone out to the kitchen and made a ham-and-egg sandwich “to go” that a man wanted to take with him. Inside the kitchen he saw Al, his derby hat tipped back, sitting on a stool beside the wicket with the muzzle of of a sawed-off shotgun resting on the ledge. Nick and the cook were back in the corner, a towel tied in each of their mouths. George had cooked the sandwich, wrapped it up in oiled paper, put it in a bag, brought it in, and the man had paid for it and gone out.
    p.btext “Bright boy can do everything,” Max said. “He can cook and everything. You’d make some girl a nice wife, bright boy.”
    p.btext “Yes?” George said. “Your friend, Ole Andreson, isn’t going to come.”
    p.btext “We’ll give him ten minutes,” Max said.
    p.btext Max watched the mirror and the clock. The hands of the clock marked seven o’clock, and then five minutes past seven.
    br

    p
      span.btext “Come on
      |
      |(да ладно, давай),
      |
      |
      span.btext Al,” said Max. “We better go
      |
      |(лучше пойдем).
      |
      |
      span.btext He’s not coming
      |
      |(он не придет).”
    p
      span.btext “Better give him five minutes
      |
      |(лучше дай ему /еще/ пять минут),”
      |
      |
      span.btext Al said from the kitchen.
    p
      span.btext In the five minutes a man came in
      |
      |(через пять минут зашел /еще один/ мужчина),
      |
      |
      span.btext and George explained that the cook was sick
      |
      |(и Джордж объяснил, что повар болен).
    p
      span.btext “Why don’t you get another cook
      |
      |(почему же вы не возьмете другого повара)?”
      |
      |
      span.btext the man asked. “Aren’t you running a lunch-counter
      |
      |(разве вы не держите закусочную)?”
      |
      |
      span.btext He went out
      |
      |(он вышел).
    p
      span.btext “Come on, Al
      |
      |(давай, Эл),”
      |
      |
      span.btext Max said.
    p
      span.btext “What about the two bright boys and the nigger
      |
      |(а как быть с двумя умниками и негром: «а что насчет…»)?”
    p
      span.btext “The’re all right
      |
      |(пусть их: «они в порядке/нормально»; the’re = they’re).”
    p
      span.btext “You think so
      |
      |(ты так полагаешь)?”
    p
      span.btext “Sure. We’re through with it
      |
      |(здесь уже все /закончено/: «мы /уже/ сквозь/через это»).”
    p
      span.btext “I don’t like it
      |
      |(мне это не нравится),”
      |
      |
      span.btext said Al. It’s sloppy
      |
      |(нечистая работа;
      |
      |
      span.f-coni slop — жидкая грязь; sloppy — покрытый лужами; неряшливый, небрежный).
      |
      |
      span.btext You talk too much
      |
      |(ты слишком много болтаешь).”
    p
      span.btext “Oh, what the hell
      |
      |(какого черта),”
      |
      |
      span.btext said Max. “We got to keep amused, haven’t we
      |
      |(мы должны развлекать, не так ли;
      |
      |
      span.f-coni to keep — держать; удерживать, сохранять
      |)?”
    p
      span.btext “You talk too much, all the same
      |
      |(все равно, ты слишком много болтаешь),”
      |
      |
      span.btext Al said. He came out from the kitchen
      |
      |(он вышел из кухни).
      |
      |
      span.btext The cut-off barrels of the shotgun
      |
      |(обрезанные стволы ружья;
      |
      |
      span.f-coni barrel — бочка, бочонок; ствол, дуло /оружия/
      |)
      |
      |
      span.btext made a slight bulge
      |
      |(делали легкую выпуклость)
      |
      |
      span.btext under the waist of his too tight-fitting overcoat
      |
      |(под талией = на боку его слишком узкого/облегающего пальто;
      |
      |
      span.f-coni to fit — быть в пору/в самый раз; tight — тугой, туго натянутый, туго завязанный; плотно прилегающий, тесный /о платье, обуви/
      |).
      |
      |
      span.btext He straightened his coat
      |
      |(он одернул свое пальто;
      |
      |
      span.f-coni to straighten — выпрямлять
      |)
      |
      |
      span.btext with his gloved hands
      |
      |(руками в перчатках).
    p
      span.btext “So long, bright boy
      |
      |(пока, умник),”
      |
      |
      span.btext he said to George. “You got a lot of luck
      |
      |(везет тебе: «имеешь много удачи = большую удачу»).”
    p
      span.btext “That’s the truth
      |
      |(это правда),”
      |
      |
      span.btext Max said. You ought to play the races, bright boy
      |
      |(тебе надо бы играть на скачках, умник).”
    p
      span.btext The two of them went out the door
      |
      |(и они: «оба они» вышли на улицу: «из двери»).
      |
      |
      span.btext George watched them, through the window
      |
      |(Джордж наблюдал за ними в окно: «через окно»),
      |
      |
      span.btext pass under the arc-light
      |
      |(как они прошли под /дуговым/ фонарем;
      |
      |
      span.f-coni arc — /электрическая/ дуга
      |)
      |
      |
      span.btext and cross the street
      |
      |(и пересекли улицу).
      |
      |
      span.btext In their tight overcoats and derby hats they looked like a vaudeville team
      |
      |(в своих облегающих/узких плащах и котелках они выглядели, как водевильная команда = эстрадная пара).
      |
      |
      span.btext George went back through the swinging-door
      |
      |(Джордж вернулся через вращающуюся /двустворчатую, открывающуюся в обе стороны/ дверь;
      |
      |
      span.f-coni to swing — качаться; вертеться, поворачиваться
      |)
      |
      |
      span.btext into the kitchen and untied Nick and the cook
      |
      |(на кухню и развязал Ника с поваром).

    br
    p.tac vaudeville [`v∂ud∂vıl]
    br

    p.btext “Come on, Al,” said Max. “We better go. He’s not coming.”
    p.btext “Better give him five minutes,” Al said from the kitchen.
    p.btext In the five minutes a man came in, and George explained that the cook was sick.
    p.btext “Why don’t you get another cook?” the man asked. “Aren’t you running a lunch-counter?” He went out.
    p.btext “Come on, Al,” Max said.
    p.btext “What about the two bright boys and the nigger?”
    p.btext “The’re all right.”
    p.btext “You think so?”
    p.btext “Sure. We’re through with it.”
    p.btext “I don’t like it,” said Al. It’s sloppy. You talk too much.”
    p.btext “Oh, what the hell,” said Max. “We got to keep amused, haven’t we?”
    p.btext “You talk too much, all the same,” Al said. He came out from the kitchen. The cut-off barrels of the shotgun made a slight bulge under the waist of his too tight-fitting overcoat. He straightened his coat with his gloved hands.
    p.btext “So long, bright boy,” he said to George. “You got a lot of luck.”
    p.btext “That’s the truth,” Max said. You ought to play the races, bright boy.”
    p.btext The two of them went out the door. George watched them, through the window, pass under the arc-light and cross the street. In their tight overcoats and derby hats they looked like a vaudeville team. George went back through the swinging-door into the kitchen and untied Nick and the cook.
    br

    p
      span.btext “I don’t want any more of that
      |
      |(я не хочу больше ничего подобного = с меня довольно),”
      |
      |
      span.btext said Sam, the cook
      |
      |(сказал Сэм, повар).
      |
      |
      span.btext “I don’t want any more of that.”
    p
      span.btext Nick stood up
      |
      |(Ник встал;
      |
      |
      span.f-coni to stand up
      |).
      |
      |
      span.btext He had never had a towel in his mouth before
      |
      |(у него никогда раньше не было полотенца во рту).
    p
      span.btext “Say
      |
      |(послушай: «скажи»),”
      |
      |
      span.btext he said. “What the hell
      |
      |(какого черта)?”
      |
      |
      span.btext He was trying to swagger it off
      |
      |(он пытался отмахнуться от этого /от происшедшего/ = сделать вид, что ему все нипочем;
      |
      |
      span.f-coni to swagger — расхаживать с важным видом; чваниться; хвастать
      |).
    p
      span.btext “They were going to kill Ole Andreson
      |
      |(они собираются убить Оле Андресона),”
      |
      |
      span.btext George said. “They were going to shoot him
      |
      |(они собирались застрелить его)
      |
      |
      span.btext when he came in to eat
      |
      |(когда он придет обедать).”
    p
      span.btext “Ole Andreson?”
    p
      span.btext “Sure
      |
      |(да: «конечно»).”
    p
      span.btext The cook felt the corners of his mouth with his thumbs
      |
      |(повар потрогал углы своего рта большими пальцами;
      |
      |
      span.f-coni to feel — чувствовать; ощупывать; thumb — большой палец /руки/
      |).
    p
      span.btext “They all gone
      |
      |(они ушли)?”
      |
      |
      span.btext he asked.
    p
      span.btext “Yeah
      |
      |(да),”
      |
      |
      span.btext said George. “They’re gone now
      |
      |(они теперь все ушли).”
    p
      span.btext “I don’t like it
      |
      |(мне это не нравится),”
      |
      |
      span.btext said the cook. “I don’t like any of it at all
      |
      |(мне это совсем не нравится: «ничего из этого совсем не нравится»).”
    p
      span.btext “Listen
      |
      |(послушай),”
      |
      |
      span.btext George said to Nick. “You better go see Ole Andreson
      |
      |(тебе лучше повидать Оле Андресона/сходить к Оле Андресону).”
    p
      span.btext “All right
      |
      |(хорошо/ладно).”
    p
      span.btext “You better not have anything to do with it at all
      |
      |(лучше не связывайся: «не имей никакого дела с этим всем»),”
      |
      |
      span.btext Sam, the cook, said. “You better stay way out of it
      |
      |(лучше держись подальше от этого: «оставайся вне этого»).”
    p
      span.btext “Don’t go if you don’t want to
      |
      |(не ходи, если не хочешь),”
      |
      |
      span.btext George said.
    p
      span.btext “Mixing up in this
      |
      |(вмешательство в это)
      |
      |
      span.btext ain’t going to get you anywhere
      |
      |(никуда тебя не приведет = ни к чему хорошему не приведет),”
      |
      |
      span.btext the cook said. “You stay out of it.”
    p
      span.btext “I’ll go see him
      |
      |(я схожу к нему),”
      |
      |
      span.btext Nick said to George. “Where does he live
      |
      |(где он живет)?”
    p
      span.btext The cook turned away
      |
      |(повар отвернулся).
    p
      span.btext “Little boys always know what they want to do
      |
      |(маленькие мальчики всегда знают, что они хотят делать),”
      |
      |
      span.btext he said.
    p
      span.btext “He lives up
      |
      |(он живет вверх по улице)
      |
      |
      span.btext at Hirsch’s rooming-house
      |
      |(в доходном доме Хирш/в меблированных комнатах /госпожи/ Хирш),”
      |
      |
      span.btext George said to Nick.
    p
      span.btext “I’ll go up there
      |
      |(я схожу туда).”

    br
    p.tac thumb [θm]
    br

    p.btext “I don’t want any more of that,” said Sam, the cook. “I don’t want any more of that.”
    p.btext Nick stood up. He had never had a towel in his mouth before.
    p.btext “Say,” he said. “What the hell?” He was trying to swagger it off.
    p.btext “They were going to kill Ole Andreson,” George said. “They were going to shoot him when he came in to eat.”
    p.btext “Ole Andreson?”
    p.btext “Sure.”
    p.btext The cook felt the corners of his mouth with his thumbs.
    p.btext “They all gone?” he asked.
    p.btext “Yeah,” said George. “They’re gone now.”
    p.btext “I don’t like it,” said the cook. “I don’t like any of it at all.”
    p.btext “Listen,” George said to Nick. “You better go see Ole Andreson.”
    p.btext “All right.”
    p.btext “You better not have anything to do with it at all,” Sam, the cook, said. “You better stay way out of it.”
    p.btext “Don’t go if you don’t want to,” George said.
    p.btext “Mixing up in this ain’t going to get you anywhere,” the cook said. “You stay out of it.”
    p.btext “I’ll go see him,” Nick said to George. “Where does he live?”
    p.btext The cook turned away.
    p.btext “Little boys always know what they want to do,” he said.
    p.btext “He lives up at Hirsch’s rooming-house,” George said to Nick.
    p.btext “I’ll go up there.”
    br

    p
      span.btext Outside the arc-light shone through the bare branches of a tree
      |
      |(на улице дуговой фонарь светил сквозь голые ветки дерева).
      |
      |
      span.btext Nick walked up the street beside the car-tracks
      |
      |(Ник пошел по улице возле = вдоль трамвайных путей)
      |
      |
      span.btext and turned at the next arc-light down a side-street
      |
      |(и свернул у ближайшего фонаря в боковую улицу/в переулок).
      |
      |
      span.btext Three houses up the street was Hirsch’s rooming-house
      |
      |(через три дома был доходный дом Хирш).
      |
      |
      span.btext Nick walked up the two steps
      |
      |(Ник поднялся на две ступеньки)
      |
      |
      span.btext and pushed the bell
      |
      |(и надавил кнопку звонка).
      |
      |
      span.btext A woman came to the door
      |
      |(к двери подошла женщина = открыла женщина).
    p
      span.btext “Is Ole Andreson here
      |
      |(Оле Андресон здесь = у себя)?”
    p
      span.btext “Do you want to see him
      |
      |(вы хотите его видеть)?”
    p
      span.btext “Yes, if he’s in
      |
      |(да, если он дома).”
    p
      span.btext Nick followed the woman up a flight of stairs
      |
      |(Ник последовал за женщиной вверх по пролету лестницы)
      |
      |
      span.btext and back to the end of a corridor
      |
      |(и назад в конец коридора = и вглубь коридора/в конец длинного коридора).
      |
      |
      span.btext She knocked on the door
      |
      |(она постучала в дверь).
    p
      span.btext “Who is it
      |
      |(кто там: «кто это»)?”
    p
      span.btext “It’s somebody to see you, Mr. Andreson
      |
      |(тут вас спрашивают: «кто-то, чтобы повидать вас», господин Андресон),”
      |
      |
      span.btext the woman said.
    p
      span.btext “It’s Nick Adams
      |
      |(я Ник Адамс: «это Ник Адамс»).”
    p
      span.btext “Come in
      |
      |(заходи).”
    p
      span.btext Nick opened the door and went into the room
      |
      |(Ник открыл дверь и прошел в комнату).
      |
      |
      span.btext Ole Andreson was lying on the bed
      |
      |(Оле Андресон лежал на кровати)
      |
      |
      span.btext with all his clothes on
      |
      |(одетый: «с одеждой на нем»).
      |
      |
      span.btext He had been a heavyweight prize-fighter
      |
      |(он был /когда-то/ боксером-тяжеловесом;
      |
      |
      span.f-coni heavy — тяжелый; weight — вес; prize — награда, премия; to fight — драться, биться
      |)
      |
      |
      span.btext and he was too long for the bed
      |
      |(и он был слишком длинным для кровати).
      |
      |
      span.btext He lay with his head on two pillows
      |
      |(он лежал головой на двух подушках;
      |
      |
      span.f-coni to lie — лежать
      |).
      |
      |
      span.btext He did not look at Nick
      |
      |(он не посмотрел/не взглянул на Ника).

    br
    p.tac heavy [`hevı] weight [weıt]
    br

    p.btext Outside the arc-light shone through the bare branches of a tree. Nick walked up the street beside the car-tracks and turned at the next arc-light down a side-street. Three houses up the street was Hirsch’s rooming-house. Nick walked up the two steps and pushed the bell. A woman came to the door.
    p.btext “Is Ole Andreson here?”
    p.btext “Do you want to see him?”
    p.btext “Yes, if he’s in.”
    p.btext Nick followed the woman up a flight of stairs and back to the end of a corridor. She knocked on the door.
    p.btext “Who is it?”
    p.btext “It’s somebody to see you, Mr. Andreson,” the woman said.
    p.btext “It’s Nick Adams.”
    p.btext “Come in.”
    p.btext Nick opened the door and went into the room. Ole Andreson was lying on the bed with all his clothes on. He had been a heavyweight prize-fighter and he was too long for the bed. He lay with his head on two pillows. He did not look at Nick.
    br

    p
      span.btext “What was it
      |
      |(в чем дело: «что это было»)?”
      |
      |
      span.btext he asked.
    p
      span.btext “I was up at Henry’s
      |
      |(я был в закусочной Генри),”
      |
      |
      span.btext Nick said, “and two fellows came in
      |
      |(пришли два парня/типа)
      |
      |
      span.btext and tied me and the cook
      |
      |(и связали меня и повара),
      |
      |
      span.btext and they said they were going to kill you
      |
      |(и они сказали, что собираются убить вас).”
    p
      span.btext It sounded silly when he said it
      |
      |(прозвучало глупо, когда он это сказал).
      |
      |
      span.btext Ole Andreson said nothing
      |
      |(Оле Андресон ничего не сказал).
    p
      span.btext “George thought I better come and tell you about it
      |
      |(Джордж подумал, что мне лучше придти и рассказать вам об этом).”
    p
      span.btext “There isn’t anything I can do about it
      |
      |(я ничего не могу поделать с этим),”
      |
      |
      span.btext Ole Andreson said.
    p
      span.btext “I’ll tell you what they were like
      |
      |(я расскажу вам, как они выглядели: «на что они были похожи»).”
    p
      span.btext “I don’t want to know what they were like
      |
      |(я не хочу знать, как они выглядели),”
      |
      |
      span.btext Ole Andreson said. He looked at the wall
      |
      |(он смотрел на стену).
      |
      |
      span.btext “Thanks for coming to tell me about it
      |
      |(спасибо, что пришел рассказать мне об этом).”
    p
      span.btext “That’s all right
      |
      |(не стоит /благодарности/: «это в порядке»).”
    p
      span.btext Nick looked at the big man lying on the bed
      |
      |(Ник посмотрел на большого/крупного мужчину, лежащего на постели).
    p
      span.btext “Don’t you want me to go and see the police
      |
      |(не хотите, чтобы я сходил и заявил в полицию)?”
    p
      span.btext “No,” Ole Andreson said. “That wouldn’t do any good
      |
      |(это бесполезно: «это не сделало бы ничего хорошего»).”
    p
      span.btext “Isn’t there something I could do
      |
      |(есть тут что-нибудь, что бы я мог сделать = могу я чем-нибудь помочь)?”
    p
      span.btext “No. There ain’t anything to do
      |
      |(тут нечего делать = нет смысла что-либо делать/ничего не поделаешь).”
    p
      span.btext “Maybe it was just a bluff
      |
      |(может быть, это был просто блеф).”
    p
      span.btext “No. It ain’t just a bluff.”
    p
      span.btext Ole Andreson rolled over
      |
      |(Оле Андресон перевернулся: «перекатился»)
      |
      |
      span.btext toward the wall
      |
      |(к стене),
      |
      |
      span.btext “I just can’t make up my mind
      |
      |(я просто не могу решиться/собраться с духом;
      |
      |
      span.f-coni mind — разум; дух, душа
      |)
      |
      |
      span.btext to go out
      |
      |(выйти /на улицу/).
      |
      |
      span.btext I been in here all day (я был здесь внутри = в доме целый день).”
    p
      span.btext “Couldn’t you get out of town
      |
      |(не могли бы вы уехать из города)?”
    p
      span.btext “No,” Ole Andreson said. “I’m through with all that running around
      |
      |(я покончил со всей этой беготней: «беганьем вокруг/повсюду»).”
    p
      span.btext He looked at the wall
      |
      |(он смотрел на стену).
    p
      span.btext “There ain’t anything to do now
      |
      |(тут теперь ничего не поделаешь).”
    p
      span.btext “Couldn’t you fix it up some way
      |
      |(не могли бы вы это уладить как-нибудь;
      |
      |
      span.f-coni to fix — укрепить; починить
      |)?”
    p
      span.btext “No. I got in wrong
      |
      |(я сделал ошибку/влип = теперь уже поздно;
      |
      |
      span.f-coni to get — попасть /например, в какую-либо ситуацию/; wrong — неверный, неправильный
      |).”
      |
      |
      span.btext He talked in the same flat voice
      |
      |(он говорил тем же плоским = ровным/унылым голосом).
      |
      |
      span.btext “There ain’t anything to do. After a while
      |
      |(через некоторое время)
      |
      |
      span.btext I’ll make up my mind to go out
      |
      |(я возьму себя в руки и выйду: «чтобы выйти»).”
    p
      span.btext “I better go back and see George
      |
      |(я лучше пойду обратно = вернусь и повидаю Джорджа = я, пожалуй, вернусь к Джорджу),”
      |
      |
      span.btext Nick said.
    p
      span.btext “So long
      |
      |(пока),”
      |
      |
      span.btext said Ole Andreson. He did not look toward Nick
      |
      |(он не смотрел к Нику = в сторону Ника).
      |
      |
      span.btext “Thanks for coming around
      |
      |(спасибо, что зашел).”

    br
    p.tac police [p∂`li:s]
    br

    p.btext “What was it?” he asked.
    p.btext “I was up at Henry’s,” Nick said, “and two fellows came in and tied me and the cook, and they said they were going to kill you.”
    p.btext It sounded silly when he said it. Ole Andreson said nothing.
    p.btext “George thought I better come and tell you about it.”
    p.btext “There isn’t anything I can do about it,” Ole Andreson said.
    p.btext “I’ll tell you what they were like.”
    p.btext “I don’t want to know what they were like,” Ole Andreson said. He looked at the wall. “Thanks for coming to tell me about it.”
    p.btext “That’s all right.”
    p.btext Nick looked at the big man lying on the bed.
    p.btext “Don’t you want me to go and see the police?”
    p.btext “No,” Ole Andreson said. “That wouldn’t do any good.”
    p.btext “Isn’t there something I could do?”
    p.btext “No. There ain’t anything to do.”
    p.btext “Maybe it was just a bluff.”
    p.btext “No. It ain’t just a bluff.”
    p.btext Ole Andreson rolled over toward the wall, “I just can’t make up my mind to go out. I been in here all day.”
    p.btext “Couldn’t you get out of town?”
    p.btext “No,” Ole Andreson said. “I’m through with all that running around.”
    p.btext He looked at the wall.
    p.btext “There ain’t anything to do now.”
    p.btext “Couldn’t you fix it up some way?”
    p.btext “No. I got in wrong.” He talked in the same flat voice. “There ain’t anything to do. After a while I’ll make up my mind to go out.”
    p.btext “I better go back and see George,” Nick said.
    p.btext “So long,” said Ole Andreson. He did not look toward Nick. “Thanks for coming around.”
    br

    p
      span.btext Nick went out
      |
      |(Ник вышел).
      |
      |
      .btext As he shut the door he saw Ole Andreson with all his clothes on, lying on the bed looking at the wall
      |
      |(когда он закрывал дверь = закрывая дверь, он увидел Оле Андресона в полной одежде: «со всей его одеждой на нем», лежащим на постели и смотрещим на стену).
    p
      span.btext “He’s been in his room all day
      |
      |(он пробыл в своей комнате весь день),”
      |
      |
      span.btext the landlady said downstairs
      |
      |(сказала хозяка комнат внизу /лестницы/).
      |
      |
      span.btext “I guess he don’t feel well
      |
      |(я думаю, уж не заболел ли: «он не чувствует себя хорошо»;
      |
      |
      span.f-coni to guess — угадывать; предполагать
      |).
      |
      |
      span.btext I said to him: ‘Mr. Andreson, you ought to go out and take a walk
      |
      |(господин Андресон, вам надо бы выйти и прогуляться: «взять = сделать прогулку»)
      |
      |
      span.btext on a nice fall day like this
      |
      |(в такой прекрасный осенний день;
      |
      |
      span.f-coni fall — осень
      |),’
      |
      |
      span.btext but he didn’t feel like it
      |
      |(ему не захотелось;
      |
      |
      span.f-coni to feel — чувствовать; to feel like — быть склонным; хотеть
      |).”
    p
      span.btext “He doesn’t want to go out
      |
      |(он не хочет выходить из дому).”
    p
      span.btext “I’m sorry he don’t feel well
      |
      |(мне жаль, что он чувствует себя неважно),”
      |
      |
      span.btext the woman said
      |
      |(сказала женщина).
      |
      |
      span.btext “He’s an awfully nice man
      |
      |(он ужасно славный человек).
      |
      |
      span.btext He was in the ring, you know
      |
      |(он был на ринге = был боксером, знаете ли).”
    p
      span.btext “I know it
      |
      |(я знаю это).”
    p
      span.btext “You’d never know it
      |
      |(никогда бы не догадаться: «вы бы никогда этого не узнали»)
      |
      |
      span.btext except from the way his face is
      |
      |(за исключением/кроме как по тому, каково его лицо = разве что по его лицу),”
      |
      |
      span.btext the woman said. They stood talking just inside the street door
      |
      |(они стояли, разговаривая, прямо в двери на улицу).
      |
      |
      span.btext “He’s just as gentle
      |
      |(настолько он мягкий/кроткий).”
    p
      span.btext “Well, good-night, Mrs. Hirsch
      |
      |(ну, прощайте: «доброго вечера, ночи», госпожа Хирш),”
      |
      |
      span.btext Nick said.
    p
      span.btext “I’m not Mrs. Hirsch
      |
      |(я не госпожа Хирш),”
      |
      |
      span.btext the woman said. “She owns the place
      |
      |(она владеет этим местом).
      |
      |
      span.btext I just look after it for her
      |
      |(я просто присматриваю за ним для нее).
      |
      |
      span.btext I’m Mrs. Bell.”
    p
      span.btext “Well, good-night, Mrs. Bell,” Nick said.
    p
      span.btext “Good-night,” the woman said.

    br
    p.tac guess [ges]
    br

    p.btext Nick went out. As he shut the door he saw Ole Andreson with all his clothes on, lying on the bed looking at the wall.
    p.btext “He’s been in his room all day,” the landlady said downstairs. “I guess he don’t feel well. I said to him: ‘Mr. Andreson, you ought to go out and take a walk on a nice fall day like this,’ but he didn’t feel like it.”
    p.btext “He doesn’t want to go out.”
    p.btext “I’m sorry he don’t feel well,” the woman said. “He’s an awfully nice man. He was in the ring, you know.”
    p.btext “I know it.”
    p.btext “You’d never know it except from the way his face is,” the woman said. They stood talking just inside the street door. “He’s just as gentle.”
    p.btext “Well, good-night, Mrs. Hirsch,” Nick said.
    p.btext “I’m not Mrs. Hirsch,” the woman said. “She owns the place. I just look after it for her. I’m Mrs. Bell.”
    p.btext “Well, good-night, Mrs. Bell,” Nick said.
    p.btext “Good-night,” the woman said.
    br

    p
      span.btext Nick walked up the dark street to the corner under the arc-light
      |
      |(Ник прошел по темной улице до угла под фонарем),
      |
      |
      span.btext and then along the car-tracks to Henry’s eating house
      |
      |(а затем вдоль трамвайных путей к закусочной Генри).
      |
      |
      span.btext George was inside, back of the counter
      |
      |(Джордж был там: «внутри», за стойкой).
    p
      span.btext “Did you see Ole
      |
      |(ты видел = застал Оле)?”
    p
      span.btext “Yes,” said Nick. “He’s in his room and he won’t go out
      |
      |(он в своей комнате и не хочет выходить).”
    p
      span.btext The cook opened the door from the kitchen when he heard Nick’s voice
      |
      |(повар открыл дверь кухни, когда он услышал голос Ника;
      |
      |
      span.f-coni to hear — слышать
      |).
    p
      span.btext “I don’t even listen to it
      |
      |(я даже не слушаю это),”
      |
      |
      span.btext he said and shut the door
      |
      |(сказал он и закрыл дверь).
    p
      span.btext “Did you tell him about it
      |
      |(ты ему рассказал об этом)?”
      |
      |
      span.btext George asked.
    p
      span.btext “Sure
      |
      |(конечно).
      |
      |
      span.btext I told him but he knows what it’s all about
      |
      |(я рассказал ему, но он в курсе дела: «знает, о чем все это»).”
    p
      span.btext “What’s he going to do
      |
      |(что он собирается делать)?”
    p
      span.btext “Nothing
      |
      |(ничего).”
    p
      span.btext “They’ll kill him
      |
      |(они его убьют).”
    p
      span.btext “I guess they will
      |
      |(думаю, да).”
    p
      span.btext “He must have not mixed up in something in Chicago
      |
      |(ему не надо было впутываться во что-то там в Чикаго).”
    p
      span.btext “I guess so
      |
      |(полагаю, что так),”
      |
      |
      span.btext said Nick.
    p
      span.btext “It’s a hell of a thing
      |
      |(скверное: «адское» дело;
      |
      |
      span.f-coni hell — ад
      |).”
    p
      span.btext “It’s an awful thing
      |
      |(ужасное дело),”
      |
      |
      span.btext Nick said.
    p
      span.btext They did not say anything
      |
      |(/больше/ они ничего не говорили).
      |
      |
      span.btext George reached down for a towel
      |
      |(Джордж достал полотенце: «потянулся вниз за полотенцем»)
      |
      |
      span.btext and wiped the counter
      |
      |(и вытер стойку).
    p
      span.btext “I wonder what he did
      |
      |(интересно, что же он такое сделал;
      |
      |
      span.f-coni to wonder — удивляться; задаваться вопросом
      |)?”
      |
      |
      span.btext Nick said.
    p
      span.btext “Double-crossed somebody
      |
      |(обошел кого-то/перебежал кому-то дорогу;
      |
      |
      span.f-coni to double-cross — надуть, перехитрить, обмануть
      |).
      |
      |
      span.btext That’s what they kill them for
      |
      |(вот за что они их убивают = именно за это обычно убивают).”
    p
      span.btext “I’m going to get out of this town
      |
      |(я уеду из этого города),”
      |
      |
      span.btext Nick said.
    p
      span.btext “Yes,” said George. “That’s a good thing to do
      |
      |(это хорошо бы: «это хорошая штука, чтобы сделать = хорошо бы так сделать»).”
    p
      span.btext “I can’t stand
      |
      |(я не могу вынести/терпеть)
      |
      |
      span.btext to think about him waiting in the room
      |
      |(когда подумаю, как он ждет в комнате)
      |
      |
      span.btext and knowing he’s going to get it
      |
      |(и знает, что получит/поймает это = что до него доберутся).
      |
      |
      span.btext It’s too damned awful
      |
      |(это ужасно: «это слишком проклято = чертовски ужасно»).”
    p
      span.btext “Well,” said George, “you better not think about it
      |
      |(а ты лучше не думай об этом).”

    br
    p.tac awful [`ɔf(ə)l], double [dʌbl]
    br

    p.btext Nick walked up the dark street to the corner under the arc-light, and then along the car-tracks to Henry’s eating house. George was inside, back of the counter.
    p.btext “Did you see Ole?”
    p.btext “Yes,” said Nick. “He’s in his room and he won’t go out.”
    p.btext The cook opened the door from the kitchen when he heard Nick’s voice.
    p.btext “I don’t even listen to it,” he said and shut the door.
    p.btext “Did you tell him about it?” George asked.
    p.btext “Sure. I told him but he knows what it’s all about.”
    p.btext “What’s he going to do?”
    p.btext “Nothing.”
    p.btext “They’ll kill him.”
    p.btext “I guess they will.”
    p.btext “He must have not mixed up in something in Chicago.”
    p.btext “I guess so,” said Nick.
    p.btext “It’s a hell of a thing.”
    p.btext “It’s an awful thing,” Nick said.
    p.btext They did not say anything. George reached down for a towel and wiped the counter.
    p.btext “I wonder what he did?” Nick said.
    p.btext “Double-crossed somebody. That’s what they kill them for.”
    p.btext “I’m going to get out of this town,” Nick said.
    p.btext “Yes,” said George. “That’s a good thing to do.”
    p.btext “I can’t stand to think about him waiting in the room and knowing he’s going to get it. It’s too damned awful.”
    p.btext “Well,” said George, “you better not think about it.”