// ↓↓↓ BEM-blocks: login-form (start) ↓↓↓

//- style
//-   include login-form.css

form.login-form
  input#login-form-login(type="text" placeholder="имя")
  input#login-form-password(type="password" placeholder="пароль")
  span.greeting
  button#login-form-button(type="button") войти

script
  include ../minjs/login-form/login-form.js

// ↑↑↑ BEM-blocks: login-form (end) ↑↑↑