// ↓↓↓ modules: header (start) ↓↓↓

header#header
  .logo
    a(href='index.html')
      | Road Trip
      span by TEMPLATED
  a.wt-whatsapp(href='#' title='Whatsapp')
  a.wt-viber(href='#' title='Viber')
  a.wt-telegram(href='#' title='Telegram')
  a(href='#menu')
    span Menu

// ↑↑↑ modules: header (end) ↑↑↑
