// ↓↓↓ modules: header (start) ↓↓↓

//- style
  include header.css

header.header
  .header__inner
    a.header__logo(href="index_en.html")
      img.header__logo-img(src="assets/img/logo.png", alt="logo")
      span.header__logo-name.company-brand
    .header__btns-wrapper
      button.btn(type='button')
        a.btn__link(href="forms_registration_en.html")
          i.ifont-mdi-social-person-add
          span Open account
      button.btn(type='button')
        a.btn__link(href="forms_login_en.html")
          i.ifont-mdi-action-exit-to-app
          span Log In
    .header__lang EN

  include ../nav/nav_en.pug

//- script
  include ../minjs/header/header.js

// ↑↑↑ modules: header (end) ↑↑↑