doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content=".")

    title Политика AML и KYC
    link(rel='icon', href='assets/img/logo.png')
    include ../modules/version-control/version-control.pug

  body
    include ../modules/header/header.pug
    include ../modules/nav/nav.pug

    section.docs-section
      .inner

        h2 политика AML и KYC

        p В целях регистрации Торгового счета в Компании, Клиент обязан предоставить Компании идентификационные данные и должен подтвердить свой адрес электронной почты и номер телефона, без чего Компания не предоставит Клиенту доступ к Торговой платформе. Уровень запрашиваемой Компанией информации будет зависеть от различных обстоятельств и уровня участия Клиента, а также при первом пополнении счета, когда Клиент будет обязан предоставить Компании дополнительную информацию KYC, такую ​​как экономическая информация, анкета и копия паспорта и подтверждение адреса для проверки личности. Без соблюдения вышеуказанных условий Клиент не сможет приступить к завершению проверки своей учетной записи и началу использования услуг.
        p В случае, если Клиент регистрирует кредитную или дебетовую карту, Компания запросит скан-копию лицевой и оборотной сторон карты. Клиент должен обеспечить, чтобы оставались доступными только первые 6 и последние 4 цифры номера карты. Все остальные цифры и код CCV на обратной стороне должны быть защищены для защиты Клиента. Клиенту категорически запрещено использовать какой-либо документ, удостоверяющий личность, и / или кредитную или дебетовую карту третьих лиц, и ему разрешено использовать только собственные документы, удостоверяющие личность Клиента, и / или кредитную или дебетовую карту.
        p Стороны понимают, что в соответствии с применимыми правилами Компания не обязана принимать лицо в качестве Клиента до тех пор, пока все документы, требуемые Компанией, не будут получены, должным образом и полностью заполнены лицом, и все внутренние проверки не будут выполнены.
        p Компания оставляет за собой право использовать информацию Клиента для того, чтобы следовать процедурам регулирования противодействия отмыванию денег, применимым к Компании, и Клиент уполномочивает Компанию использовать такую ​​информацию для проведения внутренних проверок и мировых проверок, а также для передачи личных данных в соответствующие государственные органы по законному требованию либо суда, либо правоохранительных органов.
        p Клиент прямо соглашается с тем, что Компания имеет право записывать все телефонные разговоры между Клиентом и сотрудниками или представителями Компании и использовать такие записи в качестве действительного юридического доказательства любого спора, возникшего в суде или на переговорах.
        p Персональные данные клиента. Компания собирает и хранит данные Клиента, как указано Клиентом в вопроснике и предоставлено Компании, и которые используются на Торговом счете Клиента. Данные Клиента будут храниться Компанией в течение не менее 5 (пяти) лет после прекращения действия настоящего Соглашения и во всех случаях будут использоваться и храниться в соответствии с соответствующими Международными правилами о защите данных. Персональные данные раскрываются только в случае необходимости соблюдения Компанией требований соответствующих регулирующих органов или профессиональных третьих сторон, связанных такими же положениями о конфиденциальности.

    include ../modules/footer/footer.pug