extends templates/documents_ru.pug

block title
  | политика по защите персональных данных

block page-header
  h2 политика по защите персональных данных

block page-text
  p  Настоящая Политика содержит положения, применимые к настоящему сайту Компании.
  p  Контролером и обработчиком персональных данных пользователей настоящего сайта является компания
    |
    |
    span.company-name
    |
    | (далее по тексту - «Компания» или «мы»).
  p  Субъекты персональных данных – это посетители настоящего сайта и/ или лица, которые используют функциональные возможности настоящего сайта (далее по тексту – «Пользователи» или «Вы»).
  p  «Компания» и «Пользователь» при совместном упоминании далее именуются «Стороны», а каждый отдельно - «Сторона».
  p  Настоящая Политика объясняет, как мы используем и защищаем любые персональные данные, которые мы собираем о наших пользователях.
  p  Мы соблюдаем принципы, установленные General Data Protection Regulation (Regulation (EU) 2016/679), а именно персональные данные:
  p  Обрабатываются нами законно, честно и «прозрачно» в отношении пользователей;
  p  Собираются для определенных, явных и законных целей и не обрабатываются в дальнейшем таким образом, который несовместим с этими целями («ограничение цели»);
  p  Являются адекватными, соответствующими и ограниченными тем, что необходимо в отношении целей, для которых они обрабатываются («принцип минимизации данных»);
  p  Точные и, при необходимости, обновленные; каждый разумный шаг должен быть предпринят для обеспечения того, чтобы персональные данные, которые были неточными, с учетом целей, для которых они были обработаны, были стерты или исправлены без задержки («точность»);
  p  Хранятся в форме, которая позволяет идентифицировать пользователей не дольше, чем это необходимо для целей, для которых обрабатываются персональные данные; («ограничение хранения»);
  p  Обрабатываются таким образом, который обеспечивает надлежащую защиту персональных данных, включая защиту от несанкционированной или незаконной обработки, а также от случайной потери, уничтожения или повреждения с использованием соответствующих технических или организационных мер («целостность и конфиденциальность»).
  p  Перечень информации, которая собирается и обрабатывается Компанией в отношении пользователей:
  p  ФИО, адрес проживания и контактная информация, действующий адрес электронной почты, место проживания, соответствующая платежная информация, логин (имя пользователя). Компания с целью идентификации личности пользователя имеет право запросить скан-копию его паспорта. Вся предоставляемая Вами информация должна быть правильной и действительной. Вы несете личную ответственность за достоверность, полноту и правильность предоставленной Вами информации.
  p  Как мы будем использовать Ваши персональные данные. Мы используем Ваши персональные данные для идентификации личности пользователя при регистрации на нашем сайте, для идентификации Вашей личности для правильности осуществления платежей от пользователя Компании и от Компании пользователю. Мы используем Ваши платежные данные (такие как ФИО держателя карты, номер кредитной карты и дата окончания срока действия карты) для целей предоставления Вам услуг на нашем сайте.
  p  Мы используем Ваши персональные данные для таких главных целей: для предоставления Вам наших услуг; для поддержания Вашего аккаунта и записей; для коммуникаций с Вами в рамках предоставления услуг; для предоставления ответов на Ваши вопросы и комментарии; для мониторинга динамики и уровней использования нашего сайта и качества наших услуг; для определения заинтересованности нашими услугами; для улучшения качества услуг и нашего веб-сайта; для уведомления Вас о наших специальных предложениях и услугах, которые могут быть интересны для Вас; для определения Вашего опыта на нашем сайте; для перечисления Вам выигрыша (в случае наличия оснований для такого действия); для получения информации от Вас, в том числе путем проведения опросов; для разрешения споров; для взимания платы (в случае наличия оснований); для устранения проблем и ошибок на нашем сайте; для предотвращения потенциально запрещенной или незаконной деятельности; для обеспечения соблюдения Условий предоставления наших услуг и наших Политик.
  p  Раскрытие Ваших персональных данных. Ваши персональные данные для целей, описанных выше, могут раскрываться (передаваться) Компанией любой нашей аффилированной компании или бизнес партнерам (не зависимо от их территориального расположения). Мы гарантируем, что такие компании осведомлены о правильности обработки персональных данных, согласно General Data Protection Regulation (Regulation (EU) 2016/679), и соблюдают положения данного нормативного акта. Мы и указанные выше компании можем время от времени привлекать третьих лиц для обработки Ваших персональных данных для целей, указанных выше, при условии, если такая обработка будет регулироваться договорными отношениями, оформленными в установленной законом форме. В случае, если это требуется или разрешено законом, Ваши персональные данные могут быть также раскрыты соответствующему государственному, регулирующему или исполнительному органу.
  p  Права и обязанности Сторон.
  p  Права Пользователя:
  p  требовать от Компании исправления или стирания персональных данных или предоставлять Компании возражения против такой обработки;
  p  предоставлять неполные персональные данные Компании (при условии предоставления дополнительного заявления с пояснением причин);
  p  устанавливать ограничение обработки, если имеет место одно из следующих условий:
  p  точность персональных данных оспаривается Вами в течение периода, позволяющего Компании проверить точность персональных данных;
  p  обработка является незаконной, и Вы выступаете против стирания персональных данных и вместо этого требует ограничения их использования;
  p  Компании больше не нужны персональные данные для целей обработки, но они требуются Вами для установления, реализации или защиты юридических требований;
  p  Вы возражали против обработки своих персональных данных до проверки законных оснований для обработки таких данных у Компании;
  p  запрашивать и получать персональные данные о Вас, которые были предоставлены Вами Компании, в структурированном, обычно используемом и машиночитаемом формате путем оформления соответствующего запроса и передавать эти данные другому контролеру без помех со стороны Компании;
  p  быть проинформированным на предмет того, хранит ли Компания информацию о Вас;
  p  запрашивать у Компании точную цель (цели) обработки и категории Ваших персональных данных, которые обрабатываются Компанией;
  p  запрашивать доступ к персональным данным, которые Компания хранит в отношении Вас;

  p  Обязанности Пользователя:
  p  предоставлять свои точные и правдивые персональные данные в полном объеме, согласно Условиям предоставления услуг, размещенным на нашем сайте, и настоящей Политики;
  p  незамедлительно предоставлять Компании свои обновленные персональные данные в случае их изменения путем, указанным в разделе «Доступ, исправления, стирание и удаление данных» настоящей Политики;
  p  незамедлительно уведомлять Компанию о факте несанкционированного получения третьим лицом Ваших персональных данных, если ему стало известно о таком факте;
  p  Пользователь полностью осознает, что отправка уведомления о несогласии с какой-либо из целей обработки персональных данных Компанией и/ или о намерении прекратить обработку своих персональных данных, является основанием для прекращения взаимоотношений Сторон в рамках Условий предоставления услуг, размещенных на настоящем сайте.
  p  Вы самостоятельно несете ответственность за правдивость, точность и актуальность своих персональных данных, предоставленных Компании.
  p  Права Компании:
  p  расторгнуть с Вами договорные отношения, предусмотренные Условиями предоставления услуг, размещенными на сайте Компании, в случае непредоставления Вами согласия на обработку Ваших персональных данных для целей, указанных в настоящей Политике;
  p  вносить изменения в условия настоящей Политики в одностороннем порядке без предварительного согласования с Вами.
  p  Обязанности Компании:
  p  Компания обязана сообщать о любом исправлении или стирании персональных данных, или ограничении обработки персональных данных пользователя каждому третьему лицу, ранее получившему персональные данные пользователя от Компании в целях реализации целей обработки данных, установленных настоящим соглашением, если это не является невозможным и не требует применения несоизмеримых усилий Компанией;
  p  информировать пользователя о получателях его персональных данных (третьих лицах), если от такого пользователя поступил соответствующий запрос;
  p  по запросу пользователя предоставлять ему в структурированном, обычно используемом и машиночитаемом формате его персональные данные, которые хранятся Компанией;
  p  в случае факта утечки персональных данных пользователя уведомить надзорный орган в течение 72 часов с момента получения информации о наличии такого факта. Если уведомление надзорного органа в течение 72 часов является невозможным, Компания обязана сообщить надзорному органу причины задержки в уведомлении;
  p  незамедлительно уведомить пользователя об утечке его персональных данных в случае, если такая утечка может создать угрозу правам и свободам такого пользователя.
  p  Стороны также имеют все права и обязанности, предусмотренные General Data Protection Regulation.
  p  Сроки хранения полученных Компанией персональных данных распространяются на всё время отношений сторон, определенных Условиями предоставления услуг, размещенными на сайте Компании, а также на три последующих года с момента прекращения отношений Сторон (для решения возможных спорных вопросов).
  p  Доступ, исправления, стирание и удаление данных.
  p  Если Вы желаете просмотреть какую-либо персональную информацию, которую мы храним в отношении Вас или если Вы хотите внести изменения в Ваши персональные данные или удалить их, если Вы хотите получить информацию о том, как Ваши персональные данные используются, как мы обеспечиваем конфиденциальность Ваших персональных данных, Вы можете подать нам соответствующий запрос. Такой запрос должен быть подан Вами Компании в письменном виде, а также должен содержать Ваше имя, адрес и описание информации, с которой Вы желаете ознакомиться/ исправить или удалить.
  //- p Данный запрос может быть подан Вами по электронному адресу
  //-   |
  //-   |
  //-   span.company-email
  //-   |.
  p С целью соблюдения конфиденциальности, при подаче запроса, Вам также необходимо подать подтверждение, идентифицирующее Вашу личность. Для данной цели Вам необходимо приложить к запросу копию Вашего паспорта.
  p  Мы оставляем за собой право на взыскание разумной платы за повторяющиеся запросы, запросы на дополнительные копии тех же данных и/ или запросы, которые считаются явно необоснованными или чрезмерными. Мы также можем отказаться от предоставления ответов на запросы, которые посчитаем явно необоснованными или чрезмерными.
  p  Куки, теги и другие идентификаторы («Cookies»).
  p  Куки-файлы - это текстовые файлы, размещенные на Вашем компьютере или мобильном устройстве, для сбора стандартной информации в интернет-журнале и информации о поведении посетителей. Наши веб-сайты создают Cookies для каждого сеанса, когда вы посещаете их.
  p  Мы используем Cookies с такими целями:
  p  чтобы обеспечить регистрацию любых действий, которые Вы осуществляете на нашем веб-сайте;
  p  для анализа трафика на сайте Компании, чтобы мы могли сделать соответствующие улучшения.
  p  Помните, что этот сайт нельзя использовать без Cookies. Если вам нужна дополнительная информация о целях использования Компанией Cookies, Вы можете подать нам соответствующий запрос.