extends templates/documents_en.pug

block title
  | Contacts

block page-header
  h2(style='text-align: center') Our contacts

block page-text
  .contacts
    p.contacts__text
      span.company-brand
      |
      | has a highly professional support service.
    .contacts__phone
      span mail:
      img(src="assets/img/mail-img.jpg", style='position:relative; top:6px; cursor: pointer')
    .contacts__phone
      span address:
      span.company-address