extends templates/documents_ru.pug

block title
  | Документация

block page-header
  h2(style='text-align: center') Документация

block page-text
  .content
    a.content__link(href="docs_agreement_ru.html")
      i.content__img.ifont-mdi-content-content-paste
      span.content__text Лицензионное соглашение с конечным пользователем
    a.content__link(href="docs_aml-kyc_ru.html")
      i.content__img.ifont-mdi-editor-insert-drive-file
      span.content__text Политика AML и KYC
    a.content__link(href="docs_privacy_ru.html")
      i.content__img.ifont-mdi-action-lock
      span.content__text Политика по защите персональных данных
    a.content__link(href="docs_refund_ru.html")
      i.content__img.ifont-mdi-action-account-balance-wallet
      span.content__text Политика возврата денежных средств
    a.content__link(href="docs_risk_ru.html")
      i.content__img.ifont-mdi-action-description
      span.content__text Предупреждение о рисках
    a.content__link(href="docs_user-verification_ru.html")
      i.content__img.ifont-mdi-action-account-box
      span.content__text Верификация пользователя