extends templates/documents_ru.pug

block title
  | Центр обучения

block page-header
  h2 Центр обучения

block page-text

  link(rel="stylesheet" type="text/css" href="assets/css/learning.css")
  script(src='assets/js/learning.js' defer)
  .learning__container

    .learning__headers-wrapper
      .learning__header.learning__header_active(data-learn-group='books')
        span.learning__header-name Книги
      .learning__header(data-learn-group='videos')
        span.learning__header-name Видео
      .learning__header(data-learn-group='webinars')
        span.learning__header-name Вебинары

    .learning__bodies-wrapper
      .learning__body.learning__body_active(data-learn-group='books')

        .learning__book
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__book.learning__book_blocked
          img.learning__book-logo(src="assets/img/book-logo.webp", alt="")
          p.learning__book-author Тимофей Фадеев
          p.learning__book-name Как отыметь лоха 100500 раз
          .learning__book-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")

      .learning__body(data-learn-group='videos')
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")

      .learning__body(data-learn-group='webinars')
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")
        .learning__video.learning__video_blocked
          img.learning__video-logo(src="assets/img/video-logo.jpg", alt="")
          p.learning__video-name Как отыметь лоха 100500 раз
          p.learning__time 12:41
          .learning__video-cover
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"): path( d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z")



