extends templates/documents_ru.pug

block title
  | Верификация пользователя

block page-header
  h2 Верификация пользователя

block page-text
  p Для получения доступа к торговле Вам необходимо пройти обязательную верификацию счета, предоставив следующую информацию:
  p 1. Скан/фото паспорта.
  p 2. Ваше фото с раскрытым на странице фото паспортом.
  p 3. Скан/фото карты с двух сторон, которую Вы использовали для пополнения счета на платформе. Средние цифры счета закройте, оставив видимыми только первые и последние четыре цифры счета.