extends templates/documents_en.pug

block title
  | User verification

block page-header
  h2 User verification

block page-text
  p To gain access to trade, you must pass an obligatory account verification, providing the following information:
  p 1. Scan / passport photo.
  p 2. Your photo with the passport opened on the photo page.
  p 3. Scan / photo card from two sides, which you used to replenish an account on the platform. Close the average numbers of the account, leaving only the first and last four figures of the account visible.