extends templates/documents_en.pug

block title
  | Privacy policy

block page-header
  h2 Privacy policy

block page-text
  p This Policy contains provisions applicable to this Company site.
  p The controller and processor of personal data of users of this site is
    |
    |
    span.company-name
    |
    | (hereinafter referred to as “Company” or “we”).
  p The personal data subjects are visitors to this site and / or individuals who use the functionality of this site (hereinafter referred to as "Users" or "You").
  p “Company” and “User” when jointly referred to hereinafter referred to as “Parties”, and each separately - “Party”.
  p This Policy explains how we use and protect any personal data we collect about our users.
  p We comply with the principles established by the General Data Protection Regulation (Regulation (EU) 2016/679), namely personal data:
  p We process it lawfully, honestly and “transparently” with respect to users;
  p They are collected for specific, explicit and legitimate goals and are not processed further in a way that is incompatible with these goals (“goal restriction”);
  p Are adequate, relevant and limited to what is needed in relation to the purposes for which they are processed ("the principle of data minimization");
  p Exact and, if necessary, updated; every reasonable step should be taken to ensure that personal data that were inaccurate, taking into account the purposes for which they were processed, were erased or corrected without delay (“accuracy”);
  p Stored in a form that allows users to be identified for no longer than is necessary for the purposes for which personal data are processed; ("Storage restriction");
  p They are processed in a manner that ensures adequate protection of personal data, including protection against unauthorized or unlawful processing, as well as against accidental loss, destruction or damage, using appropriate technical or organizational measures (“integrity and confidentiality”).
  p The list of information that is collected and processed by the Company in relation to users:
  p Full name, residential address and contact information, a valid email address, place of residence, relevant payment information, login (user name). In order to identify the user's identity, the company has the right to request a scanned copy of his passport. All information you provide must be correct and valid. You are personally responsible for the accuracy, completeness and correctness of the information you provide.
  p How we will use your personal data. We use your personal data to identify the user’s identity when registering on our website, to identify your identity in order to correctly make payments from the Company’s user and from the Company to the user. We use your payment information (such as your cardholder's full name, credit card number, and card expiration date) for the purpose of providing services to you on our website.
  p We use your personal data for the following main purposes: to provide you with our services; to maintain your account and records; to communicate with you in the provision of services; to provide answers to your questions and comments; to monitor the dynamics and levels of use of our site and the quality of our services; to determine interest in our services; to improve the quality of services and our website; to notify you about our special offers and services that may be of interest to you; to determine your experience on our site; to transfer your winnings (if there are grounds for such an action); to receive information from you, including by conducting surveys; to resolve disputes; for charging (if there are grounds); to troubleshoot problems and errors on our site; to prevent potentially prohibited or illegal activities; to enforce our Terms of Service and our Policies.
  p Disclosure of your personal data. Your personal data for the purposes described above may be disclosed (transmitted) by the Company to any of our affiliated companies or business partners (regardless of their geographical location). We guarantee that such companies are aware of the correctness of personal data processing, in accordance with the General Data Protection Regulation (Regulation (EU) 2016/679), and comply with the provisions of this regulation. We and the companies mentioned above may from time to time involve third parties to process your personal data for the purposes indicated above, provided that such processing will be governed by contractual relationships executed in the form prescribed by law. In the event that this is required or permitted by law, your personal data may also be disclosed to the relevant state, regulatory or executive body.
  p Rights and obligations of the parties.
  p Права Пользователя:
  p require the Company to correct or erase personal data or to provide the Company with objections to such processing;
  p provide incomplete personal data of the Company (subject to the provision of an additional statement explaining the reasons);
  p set the processing limit if one of the following conditions occurs:
  p The accuracy of your personal data is disputed by you for a period that allows the Company to verify the accuracy of personal data;
  p processing is illegal and you oppose the deletion of personal data and instead requires restricting their use;
  p Companies no longer need personal data for processing purposes, but they are required by you to establish, implement or protect legal requirements;
  p You objected to the processing of your personal data before checking the legal grounds for processing such data with the Company;
  p request and receive personal information about you that was provided by you to the Company in a structured, commonly used and machine-readable format by issuing a request and transfer this data to another controller without interference from the Company;
  p Be informed about whether the Company stores information about you;
  p request from the Company the exact purpose (s) of processing and the categories of your personal data that are processed by the Company;
  p request access to personal data that the Company stores in relation to you;
  p User Responsibilities:
  p provide your accurate and truthful personal data in full, in accordance with the Terms of Service posted on our website and this Policy;
  p to immediately provide the Company with its updated personal data in the event of their change by the method indicated in the section “Access, corrections, erasure and deletion of data” of this Policy;
  p Immediately notify the Company of the fact of unauthorized receipt by the third party of your personal data if it became aware of such a fact;
  p The User is fully aware that sending a notice of disagreement with any of the objectives of the processing of personal data by the Company and / or the intention to stop processing their personal data is the basis for terminating the relationship of the Parties under the Terms of Service posted on this website.
  p You are solely responsible for the veracity, accuracy and relevance of your personal data provided to the Company.
  p Company Rights:
  p terminate the contractual relationship with you stipulated by the Terms of Service, posted on the Company's website, if you do not give consent to the processing of your personal data for the purposes specified in this Policy;
  p make changes to the terms of this Policy unilaterally without prior agreement with you.
  p Company Responsibilities:
  p The Company is obliged to report any correction or erasure of personal data, or restriction of the processing of personal user data to any third party who previously received personal user data from the Company in order to realize the purposes of data processing established by this agreement, if this is not impossible and does not require the use of disparate efforts by the Company;
  p inform the user about the recipients of his personal data (third parties), if the corresponding request is received from such user;
  p at the request of the user to provide him in a structured, commonly used and machine-readable format of his personal data that is stored by the Company;
  p In the event of a leak of personal user data, notify the supervisor within 72 hours of receiving information about the presence of such a fact. If it is not possible to notify the supervisor within 72 hours, the Company must inform the supervisor of the reasons for the delay in the notice;
  p Immediately notify the user of the leakage of his personal data in the event that such a leakage may endanger the rights and freedoms of that user.
  p The parties also have all the rights and obligations provided for by the General Data Protection Regulation.
  p The retention periods for the personal data received by the Company apply to the entire relationship of the parties defined by the Terms of Service posted on the Company's website, as well as for the next three years from the date of termination of the relations of the Parties (to resolve potential issues).
  p Access, fix, erase and delete data.
  p If you want to see any personal information we hold about you or if you want to make changes to your personal data or delete it, if you want to get information about how your personal data is used, how we provide confidentiality of your personal data, you can send us an appropriate request. Such a request must be submitted by you to the Company in writing, and must also contain your name, address and description of the information with which you wish to review / correct or delete it.
  //- p This request can be submitted by you to the email address
  //-   |
  //-   |
  //-   span.company-email
  //-   |.
  p In order to maintain confidentiality, when submitting a request, you also need to submit a confirmation identifying your identity. For this purpose, you need to attach a copy of your passport to the request.
  p We reserve the right to charge reasonable fees for repeated requests, requests for additional copies of the same data and / or requests that are deemed to be manifestly unfounded or excessive. We may also refuse to respond to requests that we consider to be clearly unreasonable or excessive.
  p Cookies, tags and other identifiers ("Cookies").
  p Cookies are text files placed on your computer or mobile device to collect standard information in an online journal and information about the behavior of visitors. Our websites create cookies for each session when you visit them.
  p We use cookies for the following purposes:
  p to ensure that any activities you perform on our website are recorded;
  p to analyze the traffic on the Company's website so that we can make appropriate improvements.
  p Remember that this site cannot be used without cookies. If you need additional information about the use of cookies by the Company, you can send us a request.