extends templates/documents_en.pug

block title
  | Contacts

block page-header
  h2(style='text-align: center') Our contacts

block page-text
  .contacts
    p.contacts__text
      span.company-brand
      |
      | has a highly professional support service. You can also contact us at the numbers listed below.
    p.contacts__text GMT 9:00–19:00
    .contacts__phone
      span Moscow:
      a(href="tel:+74993713384") +74993713384
    .contacts__phone
      span London:
      a(href="tel:++442038690724") +442038690724