doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content=".")

    title Политика возврата денежных средств
    link(rel='icon', href='assets/img/logo.png')
    include ../modules/version-control/version-control.pug

  body
    include ../modules/header/header.pug
    include ../modules/nav/nav.pug

    section.docs-section
      .inner

        h2 политика возврата денежных средств

        p 1.1. Для осуществления вывода Клиент должен сделать запрос из «личной зоны» Клиента на Сайте. Для завершения запроса Клиент должен выбрать любой из способов вывода средств из списка и заполнить все необходимые данные.

        p 1.2. После запроса на снятие он получает статус «Запрошенный». После того, как запрос поступает в процесс, он получает статус «В процессе». После получения статуса «В процессе» средства снимаются с баланса. Средства будут переведены на кошелек платежной системы после того, как запрос получит статус «Обработано».

        p 1.3. Запросы на снятие средств обрабатываются финансовым отделом Компании по одному. Время процесса может занять до двух (2) рабочих дней. Компания оставляет за собой право увеличить время обработки.

        p 1.4. Средства могут быть выведены только на счет платежной системы, использованной для пополнения счета. В случае, если нет технической возможности вывести средства на счет платежной системы, используемый для внесения депозита, Компания выберет способ в соответствии с возможностями Клиента. В этом случае реквизиты платежа должны совпадать с персональными данными Клиента.

        p 1,5. Клиент несет полную ответственность за информацию, предоставленную Клиентом при запросе на снятие средств.

        p 1.6. Если Клиент использовал банковскую карту для внесения депозита, снятие средств производится на ту же банковскую карту. Клиент сможет снять деньги любым другим способом оплаты только после того, как сумма вывода превысит сумму депозита.

        p 1.7. Если Клиент после внесения депозита создал запрос на снятие средств без выполнения каких-либо торговых операций, депозит должен быть выполнен с использованием тех же учетных данных и той же платежной системы, которая использовалась для внесения депозита. Компания оставляет за собой право взимать комиссию за возврат средств, а также за обработку транзакции системой обработки.

        p 1.8. Если счет Клиента закрыт из-за нарушения Условий, Компания оставляет за собой право удерживать и удерживать любую и всю прибыль, полученную клиентом.

        p 1.9. Если счет Клиента закрыт из-за нарушения Условий, Компания по своему усмотрению может принять решение о возврате средств, депонированных клиентом. В таких случаях все применимые расходы будут вычтены из суммы, которую должен получить клиент.

    include ../modules/footer/footer.pug