extends templates/documents_ru.pug

block title
  | Контакты

block page-header
  h2(style='text-align: center') Наши контакты

block page-text
  .contacts
    p.contacts__text
      span.company-brand
      |
      | располагает высокопрофессиональной службой поддержки. Вы также можете связаться с нами по телефонам, которые указаны ниже.
    p.contacts__text GMT 9:00–19:00
    .contacts__phone
      span Москва:
      a(href="tel:+74993713384") +74993713384
    .contacts__phone
      span Лондон:
      a(href="tel:++442038690724") +442038690724