// ↓↓↓ modules: nav (start) ↓↓↓

nav#menu
  ul.links
    li
      a(href='index.html') Домашняя
    li
      a(href='form_login.html') Войти
    li
      a(href='form_registration.html') Зарегистрироваться
    li
      a(href='form_reset.html') Восстановить пароль
    li
      a(href='docs_account-types.html') Типы счетов
    li
      a(href='docs_contacts.html') Контакты
    li
      a(href='docs_training-center.html') Центр обучения
    li
      a(href='docs_verification.html') Верификация пользователя
    li
      a(href='docs_agreement.html') Лицензионное соглашение
    li
      a(href='docs_risk.html') Предупреждение о рисках
    li
      a(href='docs_aml-kyc.html') Политика AML и KYC
    li
      a(href='docs_refund.html') Возврат средств
    li
      a(href='docs_privacy.html') Защита данных

// ↑↑↑ modules: nav (end) ↑↑↑