// ↓↓↓ modules: navigation (start) ↓↓↓

//- style
  include navigation.css

nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="docs_main_ru.html")
        span Документация
    li.navigation__item
      a.navigation__link(href="docs_contacts_ru.html")
        span Контакты
    li.navigation__item
      a.navigation__link(href="forms_reset-pass_ru.html")
        span Восстановить пароль

//- script
  include ../minjs/navigation/navigation.js

// ↑↑↑ modules: navigation (end) ↑↑↑